@{
    ViewBag.Title = "AppTester";
    Layout = "~/Views/Shared/_RoleLayout.cshtml";
}

<h2>AppTester</h2>

@section MVCSettings {
    {
        "appClass": "chlk.AppTesterApp",
        "settings": {
            

        }
    }
}