@model dynamic

@{
    ViewBag.Title = "System Admin";
    Layout = "~/Views/Shared/_RoleLayout.cshtml";
}

@*@section LogoSection {
  <a href="#" data-href="#schools/view" id="home-logo" title="Home"></a>
}*@


@section MVCSettings {
    {
        "appClass": "chlk.SysAdminApp",
        "settings": {

        }
    }
}

@*@section SidebarControls {
	<div class="buttons-row">
		<a class="one-third-button peoples" href="#" action="view" controller="schools" title="View Schools">Schools</a
		><a class="one-third-button apps" href="#" action="index" controller="applications" title="View Applications">Apps</a
		><a class="one-third-button settings" href="#" action="dashboard" controller="settings" title="View System Types">Settings</a
		>
	</div>
	<div class="buttons-row">
        <a class="one-third-button statistic" href="#" action="list" controller="funds" title="View Purchase Order">Purchase Order</a
        ><a class="one-third-button attendance" href="#" action="signup" controller="settings" title="View Signups"><div class="title">Signups</div></a
        >
    </div>
}*@






