@import "compass/css3/transition";
BODY {
  DIV.page {
     #content {
        > DIV {
          #main-wrapper {
            #main {
              DIV.api-explorer{

                .api-key{
                  margin-right: 100px;
                }

                .buttons-toolbar{
                  .toolbar-btn{
                    padding: 0 7px;
                    color: #828282;
                    font-size: 12px;
                    margin: 0;
                    display: inline-block;
                    font-style: normal !important;
                    border-left: 1px solid white;
                    text-align: center;
                    border-right: 1px solid #cfcfcf;
                    @include background(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #d8d8d8));

                    &:hover{
                      @include background(linear-gradient(top, #f6f6f6,#d8d8d8));
                    }
                  }
                }

                .api-description{
                  color: rgb(167, 167, 167);
                  margin-bottom: 18px;
                  @include text-shadow(0px 1px 0px white);
                }
                .text-title{
                  color: #767676;
                  @include text-shadow(1px 1px 0px white);
                }
                .controller{
                    margin-bottom: 25px;
                    .controller-header{
                      //position: relative;
                      display: table;
                      height: 40px;
                      width: 100%;
                      .name{
                        color: #36859F;
                        font-size: 16px;
                        font-weight: bold;
                        font-family: Arial, serif;
                        text-transform: uppercase;
                        vertical-align: middle;
                        padding-right: 10px;
                        display: table-cell;
                      }
                      .fill{
                          width: 100%;
                          vertical-align: middle;
                          display: table-cell;


                        >DIV{
                          background: #d6d6d6;
                          height: 15px;
                        }
                      }

                      .collapse-all{
                        background: url(images/developer/collapseToggle.png) 0 0 no-repeat;
                        width: 128px;
                        height: 26px;
                        cursor: pointer;
                        margin-left: 10px;
                        margin-top: 14px;
                      }

                    }

                    .content {

                    .method{
                        display: inline-block;
                        width: 660px;
                        position: relative;
                        margin-bottom: 5px;
                        height: auto;

                      .try-button{
                        width: 64px;
                        height: 30px;
                        border: 2px solid black;
                        border-radius: 8px;
                        text-align: center;
                        cursor: pointer;
                      }

                      .header{
                          .header-line{
                            background: url(images/developer/method-header.png) 0 0 no-repeat;
                            height: 8px;
                            display: block;
                          }

                          margin-top: 2px;
                          position:relative;


                        .header-body{
                          cursor: pointer;
                          min-height: 39px;
                          margin-top: -2px;
                          width: 656px;
                          margin-left: auto;
                          margin-right: auto;
                          background-color: white;
                          border-bottom-left-radius: 5px;
                          border-bottom-right-radius: 5px;
                          @include box-shadow(0 0 5px #777);
                        }

                        .action{
                          font-weight: bold;
                          font-size: 14px;
                          color: #9D9D9D;
                          margin-top: 7px;
                          margin-left: 100px;
                          display: inline-block;




                        }
                        .call-type{
                          position: absolute;
                          left: 28px;
                          top: 6px;
                          color: white;
                          font-weight: bold;
                          text-align: center;
                          width: 71px;
                          height: 32px;
                          &.get{
                            background:  url(images/developer/type.png) 0 0 no-repeat;

                          }
                          &.post{
                            background:  url(images/developer/type.png) 0 -33px no-repeat;

                          }
                          &.put{
                            background:  url(images/developer/type.png) 0 -66px no-repeat;

                          }
                          &.delete{
                            background:  url(images/developer/type.png) 0 -100px no-repeat;
                          }
                        }
                        .description{
                          font-size: 11px;
                          color: #9D9D9D;
                          float: right;
                          margin-right: 35px;
                          font-style: italic;
                          text-overflow: ellipsis;
                          font-weight: bold;
                          font-family: georgia;
                          overflow: hidden;
                          width: 107px;
                          white-space: nowrap;
                          margin-top: 8px;
                          vertical-align: top;
                          display: inline-block;
                          &.long{
                            width: 595px;
                            margin-left: 31px;
                            float: none;
                            margin-top: 15px;
                            padding-bottom: 10px;
                            white-space: normal;
                            overflow: visible;
                            text-overflow: clip;
                          }
                        }

                        .toggle{
                          position:absolute;
                          width: 22px;
                          height: 22px;
                          float: right;
                          background: url(images/developer/toggle.png) 0 0 no-repeat;
                          right: 12px;
                          top: 12px;
                        }
                      }



                    .details{
                      display: none;
                      width: 654px;
                      margin-left: auto;
                      margin-right: auto;
                      border-bottom-left-radius: 5px;
                      border-bottom-right-radius: 5px;
                      @include box-shadow(0 0 5px #777);

                      .det-content{
                        background-color: white;
                        padding: 10px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        .try-btn{
                          margin-left: 15px;
                          button{
                            width: 100px;
                          }
                        }

                        .code-examples{
                          .text-title{
                            color: #c46d26;
                            font-weight: bold;
                            left: 17px;
                            top: 11px;
                            position: absolute;
                            text-transform: uppercase;
                            font-size: 14px;
                          }
                          position: relative;
                          height: 189px;

                          .tab-headers{
                            width: 480px;
                            margin-left: auto;
                            margin-right: 17px;
                            cursor: pointer;

                            .tab-header{
                              width: 102px;
                              font-weight: bold;
                              background-color: #ffffff;
                              color: #cfcfcf;
                              position: absolute;
                              top: 6px;
                              z-index: 777;
                              height: 21px;
                              font-size: 12px;
                              text-transform: uppercase;

                              .triangle{
                                background: url(images/developer/tab-triangle.png) -10px 0px no-repeat;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                right: 12px;
                                top: 6px;
                              }

                              border-left: 2px solid #c0c0c0;
                              border-right: 2px solid #c0c0c0;
                              border-top: 2px solid #c0c0c0;
                              border-bottom: 2px solid #86CBD3;
                              color: #c0c0c0;

                              text-align: center;
                              padding-top: 5px;

                              &.active{
                                border-left: 2px solid #86CBD3;
                                border-right: 2px solid #86CBD3;
                                border-top: 2px solid #86CBD3;
                                color: #6EA9B1;
                                border-bottom: 2px solid #DCEEF0;
                                background-color: #DCEEF0;


                                .triangle{
                                  background: url(images/developer/tab-triangle.png) 0px 0px no-repeat;
                                }
                              }

                            }

                          }

                          .tab-content{
                            height: 125px;
                            margin-bottom: 24px;
                            width: 599px;
                            background-color: #DCEEF0;
                            border: 2px solid #86CBD3;
                            border-right: 2px solid #86CBD3;
                            border-bottom: 2px solid #86CBD3;
                            position: absolute;
                            bottom: 2px;
                            left: 15px;
                            }
                        }



                      }

                      .no-params{
                        margin-bottom: 10px;
                        font-family: Georgia;
                        font-size: 13px;
                        border-bottom: 1px solid #BEBEBE;
                      }

                      table{
                        width: 94%;
                        border-collapse: collapse;
                        margin-bottom: 15px;
                        margin-left: auto;
                        margin-right: auto;
                        tr{
                          border-bottom: 1px solid #bebebe;
                          margin-bottom: 5px;
                        }

                        th{
                          height: 25px;
                          width: 33%;
                          color: #36859F;
                          font-family: Arial;
                          font-weight: bold;
                          font-size: 11px;
                          text-transform: uppercase;
                        }

                        td{
                          width: 33%;
                          height: 45px;
                          color: #9D9D9D;
                          font-family: Arial;
                          font-weight: bold;
                          font-size: 13px;
                        }

                        .param-name{
                          font-weight: bold;

                        }

                        .param-value{
                          .error{
                            color: red;
                            display: inline-block;
                          }
                        }

                        .value-field
                          {
                            line-height: 25px;
                            border-radius: 0;
                            border: 1px solid #BEBEBE;
                            @include box-shadow(0 0 2px #786);
                            &.error{
                              border: 1px solid red;
                            }

                        }
                      }



                      .response{
                        width: 590px;
                        margin-top: 8px;
                        padding: 8px;
                        word-wrap: break-word;
                        margin-left: auto;
                        margin-right: auto;

                      }

                    }
                  }
                }
              }
            }
          }
        }
     }
    }
  }
}
