@import "compass/css3/transition";
BODY {
  DIV.page {
     #content {
        > DIV {
          #main-wrapper {
            #main {
              DIV.app-info{

                form{
                  .submit-btn{
                    width: 125px;
                    text-align: center;
                    position: absolute;
                    top: 35px;
                    right: 78px;
                    button{
                      text-transform: uppercase;
                      font-size: 13px;
                    }
                  }


                  .submit-draft-btn{
                    margin-left: 189px;
                  }
                }
                .action-bar{
                  label{
                    font: normal 14px Arial;
                    color: #818181;
                    margin-left: 8px;
                  }
                  .api-key{
                    background: none;
                    border: none;
                    color: #818181;
                  }


                }
                .section{
                  padding-top: 5px;
                  border-bottom: 1px solid #bbb;
                  margin-bottom: 1px;
                  min-height: 90px;

                  border-top: 1px solid #bbb;
                  margin-top: 1px;


                  .app-pricing{
                    .elem{
                      .price-box{
                        width: 50px;
                      }
                    }

                    .price-elem{
                      display: inline-block;
                      font-weight: normal;
                      font-size: 12px;
                      color: #444;
                      margin-bottom: 12px;
                      margin-top: 15px;


                      .slide-checkbox{
                        margin-left: 57px;
                      }

                      span{
                        width: 290px;
                        display: inline-block;
                      }
                    }

                  }

                  .elem{
                    .hint{
                      padding-left: 80px;
                      font: bold 14px tahoma, arial, helvetica, sans-serif;
                      display: inline-block;
                      width: 100px;
                      color: black;
                      text-align: right;
                      margin-right: 10px;

                      &.wide{
                        width: 140px;
                        padding-left: 41px;
                      }
                      &.top{
                        margin-top: 15px;
                      }

                      &.top-align{
                        vertical-align: top;
                      }

                    }

                    &.screenshots{
                      margin-top: 60px;
                      margin-bottom: 25px;
                    }

                    &.icons{
                      margin-top: 15px;

                      .icon{
                        float: left;
                      }
                    }

                    .icons, .screenshot-pictures, .screenshots{
                      display: inline-block;
                      vertical-align: top;


                      .thumbnail{
                        position: relative;
                          img{
                            vertical-align: top;
                          }

                          &.small-icon-item{
                            width: 74px;
                            height: 74px;
                            margin: 0 85px 0 31px;

                            img{
                              width: 74px;
                              height: 74px;
                            }
                          }

                          &.big-icon-item{

                            img{
                              width: 170px;
                              height: 110px;
                            }
                          }

                          &.screenshot-item{
                            width: 170px;
                            height: 104px;
                            display: inline-block;
                            float: left;
                            margin-bottom: 30px;
                            margin-right: 19px;

                            img{
                              width: 170px;
                              height: 104px;
                              max-height: 104px;
                            }
                          }
                      }

                      .upload-img-block {
                        border: 6px dashed silver;
                        border-radius: 6px !important;
                        display: inline-block;
                        margin-right: 60px;
                        height: 100px;
                        width: 117px;
                        position: relative;
                        text-align: center;

                        .top, .bottom{
                          color: #808080;
                          font: normal 11px Arial;
                          position: absolute;
                          left: 0;
                          right: 0;

                          &.top{
                            top: 9px
                          }

                          button{
                            width: 101px;
                            height: 30px;
                          }


                          &.bottom{
                            bottom: 9px;

                          }
                        }

                        .action-link{
                          display: inline-block;
                          margin-top: 9px;
                        }
                      }
                    }

                    .icons{
                      margin-top: 5px;

                      DIV{
                        display: inline-block;
                      }
                    }

                    .screenshots{
                      margin-top: 0px;


                    }

                    .screenshot-pictures{
                      margin-left: 190px;
                      margin-top: -15px;

                      .upload-img-block{
                        float: left;
                      }

                    }





                    .price-checkbox{
                      &.slide-checkbox{
                        >DIV{
                          &:after {
                            content: 'PAID';
                            font: 10px/24px Arial, sans-serif;
                            right: 13px;


                          }

                          &:before {
                            content: 'FREE';
                            font: 10px/24px Arial, sans-serif;
                            left: 8px;
                          }

                          >input{
                            &[type=checkbox]:checked + .app-pricing{
                                display: block;
                            }
                          }
                        }
                      }
                    }
                    .permissions, .categories{
                      width: 416px;
                      margin-left: 190px;
                      margin-top: -17px;
                      margin-bottom: 10px;
                    }


                    .permissions{
                      .checkbox-list{
                        .labeled-checkbox{
                          margin-right: 60px;
                        }

                      }
                    }


                    .grade-levels{
                      margin-left: 190px;
                      margin-top: -17px;
                      margin-bottom: 8px;
                      width: 350px;
                      .labeled-checkbox{
                        width: 69px;
                        margin-right: 35px;

                      }
                    }


                    .my-apps{
                      margin-top: -23px;
                      margin-left: -36px;
                      .myapps-permission{

                        margin-left: 225px;
                        display: inline-block;
                        margin-top: -18px;
                        font-weight: normal;
                        font-size: 12px;
                        color: #444;
                        margin-bottom: 12px;

                        .slide-checkbox{
                          margin-top: -5px;
                        }

                        label{
                          width: 123px;
                          text-align: left;
                          display: inline-block;
                          padding: 0;
                          margin: 0;
                          font-size: 12px;
                          font-weight: normal;
                        }
                        .app-name{
                          display: inline-block;
                          width: 190px;
                          max-width: 190px;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          margin-right: 5px;
                        }
                      }
                    }

                    textarea{
                      border-radius: 0;
                      width: 300px;
                      margin: 6px 6px 4px 0;
                      height: 66px;
                    }
                    .text{
                      border-radius: 0;
                      width: 300px;
                      margin: 6px 6px 4px 0;
                    }
                  }
                  &.first{
                    border-top: 0;
                    padding-top: 20px;
                  }
                  &.last{
                    border-bottom: 0;
                    padding-bottom: 20px;
                  }
                  &.small{
                    margin-top: 1px;
                    min-height: 80px;
                    .elem{
                      &.first{
                        margin-top: 10px;
                      }

                      .permission{
                        margin-bottom: 4px;
                      }
                    }
                  }




              }
            }
          }
        }
     }
    }
  }
}
