BODY {
  DIV.page {
     #content {
        > DIV {
          #main-wrapper {
            #main {
              DIV.app-general-info{
                .app-header{
                  .app-icon{
                    display: inline-block;
                    img{
                      max-height: 100px;
                      max-width: 100px;
                      padding: 0 0 20px 20px;

                    }

                  }
                  .app-description{
                    margin-left: 5px;
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px;

                    .title{
                      color: #51595d;
                      font-size: 30px;

                      .chlk-button{
                        font-size: 18px;
                        margin-top: 10px;
                        width: 90px;
                      }
                    }
                    .app-status{
                      padding-top: 2px;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
        }
     }
    }
  }
}
