@import "compass/css3/transition";
BODY {
  DIV.page {
     #content {
         #dev-docs{
           display: none;
           width: 100%;
           min-width: 1000px;
           margin-top: -11px;
           border: none;
           overflow: visible;
         }

       &.developer-docs {
         DIV.page {
           #content {
             padding-left: 297px;

             #dev-docs{
               display: block;
             }

             #content-wrapper{
               display: none;
             }

             .ribbon{
               position: absolute;
               top: 0;
               left: 267px;
               width: 105px;
               height: 58px;
               display: block;
               background: url(images/developer/ribbon.png) 0 0 no-repeat;
             }
           }
         }
       }
    }
  }
}
