#chlk-dialogs{

  .dialog{
    &.add-app{
      position: fixed;
      bottom: 6px;
      left: 5px;
      width: 247px;
      background: url(images/demo/demo-bg.png) 0 0 repeat;
      height: 79px;

      .your-app-name{
        width: 247px;
        height: 129px;
        margin-top: -129px;
        background: url(images/app/your-app-name.png) center center no-repeat;
      }

      .add, .cancel{
        margin-top: 8px;
      }

      .add{
        margin-right: 20px;
        margin-left: 6px;
      }

      button{
        width: 90px;
        font-size: 17px;
        font-weight: bold;



      }

      input{
        margin-top: 5px;
        width: 225px;
        margin-left: 6px;
        border-radius: 0;
      }
    }

  }
}