#chlk-dialogs{

  .dialog{
    &.add-district{
      min-height: 290px;
      .x-window-body{


        .submit-btn{
          margin-left: 180px;
          margin-top: 25px;
          margin-right: 5px;
        }
        .cancel-btn{

        }

        .x-form-field{
          margin-bottom: 4px;
          label{
            width: 125px;
            display: inline-block;
            text-align: right;
            height: 18px;
            color: #808080;
            font: normal 14px tahoma, arial, helvetica, sans-serif;
            padding: 3px;
            padding-left: 0;
          }


          input{
            width: 222px;
            border-radius: 5px;
          }
        }

      }
    }
  }
}