mixin MarkingPeriodSelect(markingPeriods, studentId, currentMp)
    +Select('markingPeriodSelect', 'students', 'attendance', studentId.valueOf())
        each mp,i in markingPeriods
            +Option(mp.getId().valueOf(), mp.getName(), mp.getId() == currentMp.getId())


mixin AttendanceSection(data)
    boxesData = data.buildGlanceBoxesData()
    .glance-container
        each boxData in boxesData
            +GlanceBox(null, null, boxData, null, null)

summaryInfo = self.getSummaryInfo()
personId = summaryInfo.getId()
actions = {currentAction: 'attendanceMonth'}
calendar = self.getAttendanceCalendar()
.profile-calendar.student-attendance-view
    .loader-container
        .loader
        +UserProfileTopBar(self, 'attendance')
        .profile-info.attendance-view
            .summary-info
                .person-info.standard-short-info
                    .avarar-container.standard-small-container
                        .img-container
                            +PersonImg(summaryInfo, 64, true)
                    h1.profile-person-name=summaryInfo.getDisplayName()
                h2.mp-conteiner.profile-drop-down-container
                    +MarkingPeriodSelect(self.getMarkingPeriods(), personId, summaryInfo.getMarkingPeriod())
                .glance-section.attendance-info
                    +AttendanceSection(self)
            #attendance-calendar-info.calendar-info
                +RenderWith(self.getAttendanceCalendar(), chlk.templates.calendar.attendance.StudentAttendanceMonthCalendarTpl)

