+LeftRightToolbar()(baseMargin = 10)
        each classGrading in self.getStudentGradings()
            .class-item
                +GlanceBox(null, null, {value: classGrading.getStudentAvg().getCalculatedAvg(), title: classGrading.getClazz().getName()})
                -var gradingsByAnnouncementTypes = classGrading.getGradingByAnnouncementTypes() || []
                if gradingsByAnnouncementTypes.length > 0
                    .announcement-types-info
                        .announcement-types-info-2
                            each typeItem in gradingsByAnnouncementTypes
                                +ActionLink('students', 'showGradingActivitiesForStudent', typeItem.getAnnouncementType().getId(), classGrading.getClazz().getId()).type-link
                                    +GlanceBox(null, null, {value: typeItem.getStudentItemTypeAvg(), title: typeItem.getAnnouncementType().getName()}).small
                else
                    .grades-avg-by-type-no-data No Data Available

