.grading-popup.popup-bubble.top
    -var announcements = self.getAnnouncements();
    .items-list
        if announcements.length > 0
                each item in announcements
                    -var title = self.getNormalValue(item)
                    -var cls = item.getStudentAnnouncements().getItems()[0].isDropped() ? 'dropped' : ''
                    if item.isOwner()
                        +ActionLink('announcement', 'view', item.getId(), item.getType()).pop-up-item
                            .icon
                            .name(data-tooltip = item.getTitle(), data-tooltip-type="overflow")= item.getTitle()
                            .value(class=cls)=title
                    else
                        .pop-up-item
                            .icon
                            .name(data-tooltip = item.getTitle(), data-tooltip-type="overflow")= item.getTitle()
                            .value(class=cls)=title



