user = self.getUser()
.loader-container
    .loader
    +UserProfileTopBar(self, 'grading')
    .profile-info.grading-view
        .summary-info
            .person-info.standard-short-info
                .avarar-container.standard-small-container
                    .img-container
                        +PersonImg(user, 64)
                h1.profile-person-name=user.getDisplayName()
            h2.mp-conteiner
                div
            .grading-info