.departments
    .action-bar.not-transparent
        .container.panel-bg
            +ActionLink('departments', 'addDepartment').chlk-add.opacity-button Add Department
    +Grid('departments', 'list', self).not-transparent
        +GridHead()
            .th Name
            .th keywords
            .th
        +GridBody()
            each item in self.items
                +GridRow()
                    .td= item.getName()
                    .td= item.getKeywords().join(',')
                    .td.action-links
                        +ActionLink('departments', 'details', item.getId()).profile
                        +ActionLink('departments', 'delete', item.getId()).remove

