.funds-history-view
    +Grid().not-transparent
        +GridBody()
            each item in self.items
                .row.separator
                +GridRow()
                    .td.title=item.getTitle() + ' - ' + item.getCreated().format('mm/dd/yy')
                    .td.amount=self.convertNumberToMoney(item.getAmount())
                    .td.balance=self.convertNumberToMoney(item.getBalance())
    if self.isHasNextPage()
        +Button().show-more-btn Show More
