-var schools = self.getItems()
-var isNotEmptyStatistic = self.isNotEmptyStatistic()

each school in schools
    .grid-row
        .cell.name
            .icon
                .pic
            +ActionLink('schools', 'classesSummary', school.getId(), school.getName())=school.getName()
        .cell.students=school.getStudentsCount()
        if isNotEmptyStatistic
            .cell.attendance
                .circle(
                data-tooltip = school.getStudentsCount() + ' Students, ' + school.getAbsences() + ' Absent',
                class = school.getAbsencesClass()
                )=school.getAbsences()
            .cell.discipline
                .circle(
                data-tooltip=school.getInfractionsCount() + ' Discipline Infractions Today',
                class = school.getInfractionsClass()
                )=school.getInfractionsCount()
            .cell.grades
                .circle(
                data-tooltip=school.getAvg() && (school.getAvg() + '% Average'),
                class = school.getAvgClass()
                )=school.getAvg()