mixin ToolbarButton(btn, announcementAppId, announcementId)
    btnTarget = btn.isTargetBlank() ? "_blank" : undefined
    url = btn.getUrl() ? btn.getUrl() : "javascript:void(0)"
    cls = btn.getCls()
    -attributes['data-announcement-app-id'] = announcementAppId ? announcementAppId : undefined
    -attributes['data-announcement-id'] = announcementId ? announcementId: undefined
    a(class= cls, id= btn.getId(), href= url, target= btnTarget)(attributes)=btn.getTitle()


mixin Toolbar(buttons, announcementAppId, announcementId)
    .toolbar
        each btn in buttons
            +ToolbarButton(btn, announcementAppId, announcementId)
    .x-close-btn.close

mixin AttachmentDialog(url, buttons, announcementId, announcementAppId)
    .base-attachment-dialog
        .x-window-header
            +Toolbar(buttons, announcementAppId, announcementId)
        .iframe-wrap
            iframe(src=url)
                attributes.class




mixin AttachmentDialogMsg(title, text)
    .base-attachment-dialog
        .x-window-header
            +Toolbar([], null, null)
        .iframe-wrap
            .window-error-message
                h2.error-title=title
                span.error-text=text


mixin AppBannedDialog()
    .base-attachment-dialog.app-error-dialog
        .x-window-header
            .toolbar
            .x-close-btn.close
        .iframe-wrap
            .window-error-message
                h2.error-title ooops!
                span.error-text this app has been banned.
