mixin ToolbarButton(btn, announcementAppId, announcementId, advancedApp, announcementType)
    btnTarget = btn.isTargetBlank() ? "_blank" : undefined
    url = btn.getUrl() ? btn.getUrl() : "javascript:void(0)"
    cls = btn.getCls()
    -attributes['data-announcement-app-id'] = announcementAppId ? announcementAppId : undefined
    -attributes['data-announcement-id'] = announcementId ? announcementId: undefined
    -attributes['data-announcement-type'] = announcementType ? announcementType.valueOf(): undefined
    -attributes['data-advanced-app'] = advancedApp ? 'true' : 'false'
    if btn.getController()
        +ActionLinkWithPrepend(btn.getController(), btn.getAction(), btn.getParams())(class= cls, id= btn.getId(), target= btnTarget)=btn.getTitle()
    else
        a(class= cls, id= btn.getId(), href= url, target= btnTarget)(attributes)=btn.getTitle()


mixin Toolbar(buttons, announcementAppId, announcementId, advancedApp, announcementType)
    leftButtons = buttons.filter(function(item){return !item.isRight()})
    rightButtons = buttons.filter(function(item){return item.isRight()})
    .toolbar
        each btn in leftButtons
            +ToolbarButton(btn, announcementAppId, announcementId, advancedApp, announcementType)
    .toolbar.right-toolbar
        each btn in rightButtons
            +ToolbarButton(btn, announcementAppId, announcementId, advancedApp, announcementType)
    .x-close-btn.close

mixin AttachmentDialog(url, buttons, announcementId, announcementAppId, type, advancedApp, announcementType)
    .base-attachment-dialog
        .x-window-header
            +Toolbar(buttons, announcementAppId, announcementId, advancedApp, announcementType)
        if type == chlk.models.announcement.ApplicationOrAttachmentEnum.PICTURE
            .iframe-wrap.picture-wrap
                .picture-container
                    .picture-container-2
                        img(src=url)
        else
            .iframe-wrap
                iframe.fixed-height(src=url, allowfullscreen)
                    attributes.class




mixin AttachmentDialogMsg(title, text)
    .base-attachment-dialog.permission-error-dialog
        .x-window-header
            +Toolbar([], null, null, null)
        .iframe-wrap
            .error-msg-block
                h2.error-title=title
                span.error-text=text


mixin AppErrorDialog()
    .base-attachment-dialog.app-error-dialog
        .x-window-header
            .toolbar
            .x-close-btn.close
        .iframe-wrap
            .error-msg-block
                h2.error-title ooops!
                span.error-text There seems to be problem with this app, please try later
                .report-problem
                    a(href="mailto:errors@chalkable.com").grey-link Report problem

mixin AppBannedDialog()
    .base-attachment-dialog.app-error-dialog
        .x-window-header
            .toolbar
            .x-close-btn.close
        .iframe-wrap
            .error-msg-block
                h2.error-title ooops!
                span.error-text this app has been banned.
