
DIV.page {
  #content {
    > DIV {
      #main-wrapper {
        #main {
          DIV.my-apps{


            .toolbar-btn{
              &.app-store{
                margin-left: 177px;
              }

              &.edit{
                width: 35px;
              }
            }

            .market-search-box{
              margin-left: 74px;
              width: 115px;
            }


            .apps{
              width: 670px;

              .my-app-icon-link{
                display: inline-block;
                text-decoration: none;
                position: relative;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                margin-bottom: 15px;
                width: 220px;
                height: 106px;

                .app-list-item{
                  width: 220px;
                  height: 106px;


                  .close-btn{
                    right: 60px;
                    border: 0;
                  }

                  .icon{
                    width: 80px;
                    height: 80px;
                    display: inline-block;
                    background: url(images/app/photo-store-container.png) 0 0 no-repeat;
                    position: relative;

                    >IMG, >DIV{
                      width: 74px;
                      height: 74px;
                      margin: 3px;
                    }
                  }
                  .name{
                    color: #51595d;
                    font-weight: bold;
                    font-size: 16px;
                  }
                }
              }
            }



          }
        }
      }
    }
  }
}



@-moz-keyframes jiggle {
  0% {
    -moz-transform: rotate(-1deg);
  }
  50% {
    -moz-transform: rotate(1deg);
  }
}

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
  }
}

.jiggly {
  -webkit-animation: jiggle 0.2s infinite;
  -moz-animation-duration: 0.2s;
  -moz-animation-name: jiggle;
  -moz-animation-iteration-count: infinite;
  -moz-transform: rotate(-1deg);
  -o-animation: jiggle 0.2s infinite;
}





