
DIV.page {
  #content {
    > DIV {
      #main-wrapper {
        #main {
          DIV.my-apps{

            .panel-bg{
              .toolbar-btn{
                padding: 0 7px;
                color: #828282;
                font-size: 12px;
                margin: 0;
                display: inline-block;
                @include background(linear-gradient(top, #f6f6f6,#d8d8d8));
              }
            }

            .apps{
              width: 670px;
              margin-left: 70px;

              .my-app-icon-link{
                display: inline-block;
                text-decoration: none;
                vertical-align: top;

                .app-list-item{
                  width: 220px;
                  height: 106px;

                  .icon{
                    width: 80px;
                    height: 80px;
                    display: inline-block;
                    background: url(images/app/photo-store-container.png) 0 0 no-repeat;
                    position: relative;

                    >IMG, >DIV{
                      width: 74px;
                      height: 74px;
                      margin: 3px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

