.feed-container
    isNotStudent = true
    topData = self.getTopData();
    topItems = topData.getTopItems();
    selectedId = topData.getSelectedItemId();
    +LeftRightToolbar(topItems, chlk.templates.classes.TopBar, 'feed', 'list', [true])(
        selectedItemId=selectedId
        ).classes-bar
    .action-bar.not-transparent
        .container.panel-bg
            .feed-notifications Notifications
    +Grid('feed', 'list', self, [true, selectedId ? selectedId.valueOf() : null]).not-transparent
        +GridBody()
            each item in self.items
                .feed-item
                    if isNotStudent
                        .grades
                    .bullet
                        +ActionLink('announcement', 'star', item.getId()).star
                        +ActionLink('announcement', 'view', item.getId()).d-b.t-d.not-blue
                            .item-type
                                .tooltip-announcement.ann-type
                                    .tooltip-content
                                        Tooltip
                                .attachment
                                    div(class="announcement-type-" + item.getAnnouncementTypeId()).icon.blue
                                    .icon.black
                                    h2.animated-header=item.getSubject()
                                    p.animated=item.getShortContent()
                                    .animated=item.getExpiresDate().toString('d/m/y')
                                    .attachment-icon
                                    .apps-icon