.add-message {
  padding:0;
  border-radius: 0;
  border: 0;
  left: 191px;
  top: 75px;
  width: 541px;
  background: #e7e7e7;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

  .bg-top {
    height: 21px;
    background: url(images/private-messages/top-bg.png) 0 0 no-repeat;
  }

  .bg-middle{
    background: url(images/private-messages/center-bg.png) 0 0 repeat-y;
    padding: 18px 25px 20px 25px;
    -moz-background-size: 543px auto;
    -webkit-background-size: 543px auto;
    -o-background-size: 543px auto;
    background-size: 543px auto;
    label {
      width: 75px;
      text-align: right;
      display: inline-block;
      margin: 2px 16px;
      font-size: 13px;
      color: #654a16;
      vertical-align: top;
    }
    .body-text, .subject-text{
      word-wrap: break-word;
    }
    textarea{
      height: 60px;
      width: 320px;
    }
    input{
      width: 320px;
    }
    .x-form-field{
      margin: 20px 0px;
    }

    .form-buttons{
      margin-left:auto;
      margin-right:auto;
      text-align: center;
    }

    .close{
      margin-left: 20px;
    }
  }

  .bg-bottom{
    height: 20px;
    background: url(images/private-messages/bottom-bg.png) 0 bottom no-repeat;
  }
}