#search-message-btn
{
  SPAN
  {
    SPAN
    {
      BUTTON
      {
        background: url(images/icons/search.png) 0% 50% no-repeat;
        width: 24px;
        height: 24px;
      }
    }
  }
}