.base-attachment-dialog.app-error-dialog
    .x-window-header
        .toolbar
        .x-close-btn.close
    .iframe-wrap
        .broken-link
        .window-error-message
            h2.error-title ooops!
            span.error-text There seems to be problem with this app, please try later
            .report-problem
                a(href="mailto:errors@chalkable.com").report-btn.simple-gray-button Report problem