+LeftRightToolbar(self.getTopData().getTopItems(), chlk.templates.classes.TopBar, self.getController(), self.getAction()).classes-bar
+RenderWith(self.getError(), chlk.templates.chlkerror.GeneralErrorTpl)