+LeftRightToolbar(self.getTopData().getTopItems(), chlk.templates.classes.TopBar)(
    disabledClass = 'x-hidden'
).classes-bar
+RenderWith(self.getError(), chlk.templates.chlkerror.GeneralErrorTpl)