
@model Chalkable.Api.SampleApp.Models.DefaultJsonViewData
@{
    ViewBag.Title = "App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Person Data</h3><br/>
    <pre> @ViewBag.CurrentUser.JsonData</pre>
    
    @if (Model != null)
    {
        <h3>Other Data</h3><br />
        <pre> @Model.JsonData</pre>
    }

</div>


<h2>Wellcome to Chalkable Api Sample App</h2>
