@{
    ViewBag.Title = "App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Person Data</h3><br/>
    <pre> @ViewBag.CurrentUser.JsonData</pre>
</div>


<h2>Wellcome to Chalkable Api Sample App</h2>
