@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h2 style="margin-top: 200px; font-size: 42px">
            You've successfully installed Chalkable.Sample.Api application
        </h2>
    </div>
</body>
</html>
