A
  font-size: 13px
  font-family: 'Open Sans', sanf-serif
  font-weight: normal
  color: #56554f
  +text-shadow(transparentize(#fff, .5) 0 1px 0)

  //text-decoration: none
  //&:hover
    text-decoration: underline