button, input[type=button], input[type=submit], input[type=reset]
  outline: none
  border-radius: 3px
  border: 1px solid #c8c7c3
  background-color: #f2f1ed
  +background-image(linear-gradient(top, #fff 0%, transparentize(#fff, 1) 100%))
  +box-shadow(transparentize(#000, .74) 0 1px 3px, transparentize(#fff, .22) 0 1px 0px inset)

  font-family: 'Open Sans', sanf-serif
  font-size: 13px
  line-height: 29px
  font-weight: 600
  color: #56554f
  +text-shadow(transparentize(#fff, .5) 0 1px 0px)

  padding: 0 10px
  cursor: pointer

  &.blue-button
    border-color: #29596e
    background-color: #2e657c
    +box-shadow(transparentize(#000, .55) 0 1px 3px, transparentize(#fff, .6) 0 1px 0px inset)
    +background-image(linear-gradient(top, #568ea8 0%, transparentize(#568ea8, 1) 100%))
    color: #fff
    +text-shadow(transparentize(#000, .8) 0 1px 1px)

  &.green-button
    border-color: #327e30
    background-color: #2e7c35
    +box-shadow(transparentize(#000, .55) 0 1px 3px, transparentize(#fff, .6) 0 1px 0px inset)
    +background-image(linear-gradient(top, #6dbb72 0%, transparentize(#6dbb72, 1) 100%))
    color: #fff
    +text-shadow(transparentize(#000, .8) 0 1px 1px)


  &.disabled, &[disabled]
    background-color: #999
    color: #eee


