button, input[type=button], input[type=submit], input[type=reset]
  outline: none
  border-radius: 3px
  border: 1px solid #c8c7c3
  background-color: #f2f1ed
  +background-image(linear-gradient(top, #fff 0%, transparentize(#fff, 1) 100%))
  +box-shadow(transparentize(#000, .74) 0 1px 3px, transparentize(#fff, .22) 0 1px 0px inset)

  font-family: 'Open Sans', sanf-serif
  font-size: 13px
  line-height: 29px
  font-weight: 600
  color: #56554f
  +text-shadow(transparentize(#fff, .5) 0 1px 0px)