.table
  display: table
  vertical-align: top
  > div
    display: table-cell
    vertical-align: top

  .table-row
    display: table-row

    > DIV
      display: table-cell
      vertical-align: top