BODY {
  DIV.page {
    #content {
      > DIV {
        #main-wrapper {
          #main {
            DIV.chlk-calendar {
              &.admin-day-calendar{

                display: inline-block;

                .calendar-today-container{
                  width: 90px;

                  &.admin{
                    width: 143px;
                    position: relative;
                    right: 34px;
                  }

                    .admin-day-classes{
                      background: url(images/calendar/teacher-classes-sprite.png) 0 0 no-repeat;
                      display: inline-block;
                      border: none;
                      width: 71px;
                      height: 27px;
                      cursor: pointer;

                      &:hover{
                        background-position: 0px -37px;
                      }

                      &:active{
                        background-position: 0px -74px;
                      }

                      &.pressed{
                        background-position: 0px -74px;
                      }
                    }
                    .admin-day-teachers{
                      background: url(images/calendar/teacher-classes-sprite.png) -71px 0 no-repeat;
                      display: inline-block;
                      border: none;
                      width: 71px;
                      height: 27px;
                      cursor: pointer;

                      &:hover{
                        background-position: -71px -37px;
                      }

                      &:active{
                        background-position: -71px -74px;
                      }

                      &.pressed{
                        background-position: -71px -74px;
                      }
                    }

                }

                .calendar-body{

                  display: inline-block;
                  overflow: scroll;
                  width: 660px;
                  text-shadow: 0px 1px 0px white;
                  color: #535353;
                  font-family: arial bold;

                  @include background(linear-gradient(top, #f4f4f4, #e5e5e5));

                  .inner-conteiner{
                    display: table;
                  }

                  .day-names{
                    width: auto;
                    display: table-row;
                    .week{
                      display: table-cell;
                      color: #535353;
                      text-shadow: 0px 1px 0px white;
                      height: 36px;
                      text-align: center !important;
                      @include background(linear-gradient(top, #f5f5f5, #e6e6e6));
                      border-right: 1px solid #cacaca;
                      border-bottom: 1px solid #b8b8b8;
                      padding: 0px;

                      >DIV{
                      }
                    }
                  }
                  .items{
                    width: auto;
                    display: table-row-group;
                    font-size: 13px;
                    .calendar-day-row{
                      display: table-row;

                      .calendar-day-item{
                        text-align: center;
                        display: table-cell;
                        border-left: 1px solid #ffffff;
                        border-right: 1px solid #cbcbcb;
                        border-top: 1px solid #ffffff;
                        border-bottom: 1px solid #cbcbcb;
                        outline: 1px solid rgba(255,255,255,0.41);
                        outline-offset: -1px;
                        vertical-align: middle;

                        .calendar-day-item-info{
                          display: inline-block;
                          min-height: 76px;
                          min-width: 84px;
                          white-space: nowrap;
                          padding: 5px;
                          vertical-align: middle;
                          text-align: center !important;

                          .calss-info{
                            vertical-align: middle;
                          }
                          //todo: move this to some base scss
                          .period-info{
                            left: 52px;

                            &:active{
                              opacity: 0.4;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#chlk-pop-up-container{
  .admin-day-calendar-popup{
    .calendar-popup{
      text-shadow: 1px -1px 1px #fff;
      .class-name{
        padding: 0px;
        .day-day{
          padding: 0px;
          margin: 0px;
          height: auto;
          padding-bottom: 2px;
        }
      }
      .info{
        .img-box{
          max-width: 44px;
          max-height: 44px;
          display: inline-block;
          position: absolute;
          left: 4px;
        }
        .title-holder{
          left: 16px;
          position: relative;
          .day-down{
            padding-left: 5px;
            padding-right: 5px;
            A{
              white-space: nowrap;
            }
            &.teacher-name{
              top: 0px;
              A{
                font-size: 16px;
                color: #474747;
                font-family: Arial;
                font-style: normal;
              }
            }
          }
        }
      }
      .popup-footer{
        .day-down{
          text-align: center;
          A{
            text-decoration: none !important;
            font-size: 12px;
            color: #7c7c7c;
            font-family: Georgia;
            font-style: italic;
            cursor: pointer;
            line-height: 18px;
          }
        }
      }
    }
  }
}