@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/background-size";
@import "compass/css3/images";
@import "compass/css3/transition";

@mixin transition($transition-property, $transition-time, $method, $transition-time) {
  -webkit-transition: $transition-property $transition-time $method $transition-time;
  -moz-transition: $transition-property $transition-time $method $transition-time;
  -ms-transition: $transition-property $transition-time $method $transition-time;
  -o-transition: $transition-property $transition-time $method $transition-time;
  transition: $transition-property $transition-time $method $transition-time;
}

$gray-font: #7b7b7b;
$txt-shadow: 0px 1px 0px white;



//TODO make separate partial for different calendars

BODY {

  DIV.page {
    #content {
      > DIV {
        &.calendar {
          #main-top, #footer {
            background-image: url(images/calendar/paper-top-bottom.jpg) !important;
          }

          #main-wrapper {
            background-image: url(images/calendar/paper-bg.jpg) !important;
          }
        }

        &.profile, &.settings{
          #main-wrapper {
            #main {
              DIV.chlk-calendar {
                DIV.header {
                  background-size: 660px 100%;
                  background: url(images/calendar/toolbar-bg-yellow.png) 0 0 no-repeat;

                  .prev-month {
                    background-image: url(images/calendar/prev-month-yellow.png);
                  }

                  .next-month, .prev-month{
                    width: 17px;
                    height: 17px;
                  }

                  .next-month {
                    background-image: url(images/calendar/next-month-yellow.png)
                  }

                  .header-container{
                    .buttons-container{
                      .buttons{
                        >DIV{
                          LABEL.current-month {
                            color: #957633;
                            text-shadow: 1px 1px 1px #dfcea9;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        #main-wrapper {
          #main {
            DIV.chlk-calendar {
              border: none;

              &.attendance, &.discipline, &.profile-calendar{
                .calendar-today-container{
                  position: absolute;
                  top: 42px;
                  left: 95px;
                }
              }

              DIV.header {
                background: url(images/calendar/toolbar-bg.png) 0 0 no-repeat;
                height: 81px;
                position: relative;
                width: 660px;
                @include background-size(660px auto);

                .header-container{
                  padding-top: 31px;
                  text-align: center;

                  .buttons-container{
                    display: inline-block;

                      .buttons{
                        display: table;
                        height: 50px;

                        >DIV{
                          display: table-cell;
                          text-align: center;
                          vertical-align: middle;

                          &.calendar-today-container{
                            width: 90px;
                            &.admin{
                              width: 143px;
                              position: relative;
                              right: 34px;
                            }
                          }

                          &.prev-month-container, &.next-month-container{
                            width: 30px;
                          }

                          &.calendar-day-container{
                            width: 45px;
                            text-align: right;
                          }

                          &.calendar-week-container, &.calendar-month-container{
                            width: 29px;
                          }
                        }

                        LABEL.current-month {
                          color: #0c4358;
                          text-shadow: 1px 1px 1px #87B7C6;
                          font: {
                            weight: bold;
                            family: Arial;
                            size: 20px;
                          }
                          display: block;
                          height: 28px;
                        }

                        .calendar-day {
                          background: url(images/calendar/days-button.png) 0 0 no-repeat;
                          height: 28px;
                          width: 30px;
                          cursor: pointer;
                          display: block;
                          float: right;

                          &:hover{
                            background-position: -90px 0;
                          }

                          &:active, &.pressed{
                            background-position: -180px 0;
                          }

                          SPAN.tooltip{
                            background: url(images/calendar/day-pop-up.png) 0 0 no-repeat;
                            left: -20px;
                          }
                        }

                        .calendar-week {
                          display: block;
                          background: url(images/calendar/days-button.png) -30px 0 no-repeat;
                          cursor: pointer;
                          width: 29px;

                          &:hover{
                            background-position: -120px 0;
                          }

                          &:active, &.pressed{
                            background-position: -210px 0;
                          }

                          SPAN.tooltip{
                            background: url(images/calendar/week-pop-up.png) 0 0 no-repeat;
                            left: -6px;
                          }
                        }

                        .calendar-month {
                          display: block;
                          background: url(images/calendar/days-button.png) -59px 0 no-repeat;
                          cursor: pointer;
                          width: 31px;

                          &:hover{
                            background-position: -149px 0;
                          }

                          &:active, &.pressed{
                            background-position: -239px 0;
                          }

                          SPAN.tooltip{
                            background: url(images/calendar/month-pop-up.png) 0 0 no-repeat;
                            left: 10px;
                          }
                        }

                        .calendar-today {

                          background: url(images/calendar/today-button3.png) 0 0 no-repeat;
                          width: 63px;
                          height: 26px;
                          border: none;
                          cursor: pointer;
                          display: inline-block;

                          &:hover{
                            background-position: -63px 0;
                          }

                          &:active{
                            background-position: -126px 0;
                          }
                        }

                        .calendar-today.week {
                          left: 127px;
                        }


                      }
                    }
                  }
                }
                .calendar-day,
                .calendar-week,
                .calendar-month{
                  position: relative;
                  height: 27px;
                  &:hover{
                    SPAN.tooltip{
                      display : block;
                    }
                  }

                  SPAN.tooltip{
                    top: -21px;
                    position: absolute;
                    height: 21px;
                    width: 40px;
                    display : none;
                    border: none;
                  }
                }

                .prev-month {
                  background-image: url(images/calendar/prev-month.png);
                }

                .prev-month,
                .next-month{
                  height: 16px;
                  width: 16px;
                  cursor: pointer;
                  display: inline-block;
                }

                .next-month {
                  background-image: url(images/calendar/next-month.png);
                }

              DIV.day-names {
                display: table;
                border-right: 1px solid #114d64;
                border-left: 1px solid #114d64;
                width: 658px;


                &.day {

                  @include background(linear-gradient(top, #e9e9e9, #d9d9d9));
                  >DIV {
                    border-bottom: 1px solid #a9a9a9;
                    border-top: 1px solid white;
                    //width: 14.27%;
                    width: 92px !important;
                  }

                  >P{
                    margin: 0;
                  }
                }

                >DIV {

                  background: url(images/calendar/item-bg.png) 0 top repeat;
                  height: 28px;
                  text-align: center;
                  display: inline-block;
                  color: #a5a5a5;
                  text-shadow: #EDEDED 0 1px 1px;
                  font-weight: bold;
                  font-family: Arial;
                  font-size: 12px;
                  text-transform:uppercase;
                  border-left: 1px solid #ffffff;
                  border-right: 1px solid #cbcbcb;
                  border-bottom: 1px solid #cbcbcb;
                  vertical-align: middle;
                  padding-top: 13px;
                  width: 90px;
                  padding-left: 1px;
                  padding-right: 1px;

                  &.week {
                    background: url(images/common/week-header-bg.png) repeat-x;
                    padding-top: 6px;
                    height: 34px;
                  }

                  &.day {
                    @include background(linear-gradient(top, #e9e9e9, #d9d9d9));
                    border-left: none;
                    border-right: none;

                    &.today {
                      @include background(linear-gradient(top, #f5f5f5, #e5e5e5));
                    }
                  }

                  &.today{
                    color: #7bb7d5;
                  }
                }
              }

              DIV.tb-announcements {
                display: table;
                border-right: 1px solid #114d64;
                border-left: 1px solid #114d64;
                width: 658px;

                >DIV {
                  background-color: #dcdcdc;
                  height: 26px;
                  width: 92px;
                  text-align: center;
                  display: table-cell;
                  border-left: 1px solid #ffffff;
                  border-right: 1px solid #cbcbcb;
                  border-top: 1px solid #ffffff;
                  border-bottom: 1px solid #cbcbcb;

                  >.bar-item {
                    display: block;
                    height: 24px;
                    width: 24px;
                    margin: 0 auto;
                    cursor: pointer;
                    background: url(images/calendar/tb-announcements-icon.png) no-repeat;
                  }
                }
              }

              DIV.items {
                border: 1px solid #114d64;
                border-top: none;
                height: auto;
                display: table;
                width: 658px;
                text-shadow: white 0px 1px 1px;

                > DIV, >A {
                  display: inline-block;
                  vertical-align: top;
                }

                .item {
                  cursor: pointer;
                  text-decoration: none;

                  border-left: 1px solid #ffffff;
                  border-right: 1px solid #cbcbcb;
                  border-top: 1px solid #ffffff;
                  border-bottom: 1px solid #cbcbcb;

                  background: url(images/calendar/item-bg.png) 0 top repeat-x;

                  overflow: hidden;
                  width: 92px;
                  height: 93px;

                  &.not-current-month  {
                    > DIV {
                      > H2 {
                        color: #ccc !important;
                      }

                      * {
                        color: #999 !important;
                      }
                    }
                  }

                  &.today  {
                    background-position: 0 bottom;
                    > DIV {
                      > H2 {
                        color: #3c95c3 !important;
                      }

                      * {
                        color: #3c95c3 !important;
                      }
                    }
                  }

                  &.sunday  {
                    > DIV {
                      > H2 {
                        //color:red;
                      }
                    }
                  }

                  > DIV {
                    width: 92px;
                    height: 93px;

                    position: relative;
                    overflow: hidden;

                    * {
                      color: #333;
                    }

                    > H2 {
                      position: absolute;
                      top: 5px;
                      right: 5px;
                      color: #666;
                      font-size: 16px;
                    }

                    > DIV.space{
                      height: 9px;
                    }

                    > UL.day-announcements {
                      padding: 0px 3px 5px 3px;

                      &.no-admin {
                        background: url(images/calendar/month-day-separator.png) bottom no-repeat;
                      }

                      >LI.items{
                        padding-left: 11px;
                        height: 11px;
                        background: url(images/calendar/month-day-standard.png) 0px 2px no-repeat;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      }
                    }

                    > UL.day-items {
                      padding: 0px 3px;
                    }

                    > UL {

                      margin: 0;
                      display:block;

                      > LI {
                        font-size: 11px;
                        padding: 0;
                        margin: 0 3px 0 0;
                        letter-spacing: -1px;
                      }
                    }
                  }

                  &.week-day {
                    display: table-cell;
                    &.day {
                      display: table-cell;
                      border: none;
                      background: #dddddd;
                      color: black !important;
                      font-size: 13pt;
                      font-family: Arial;
                      font-weight: bold;

                      &.today{
                          .period-item{
                              @include background(linear-gradient(top, #eeeeee, #e5e5e5));
                          }
                      }

                      .period-item{

                        border-bottom: 1px solid #a9a9a9;
                        height: 50px;
                        text-align: center;
                        @include background(linear-gradient(top, #e2e2e2, #d9d9d9));

                        >DIV.period-info {
                          top: 17px;
                        }

                        >SPAN.time {
                          font-size: 8pt;
                          color: #aaa;
                          top: 38px;
                          position: absolute;
                          left: 7px;
                        }

                        >LI {
                          padding-top: 16px;
                          position:relative;

                          >DIV{
                            position: absolute;
                            display: inline-block;
                            overflow: hidden;
                            background: transparent;

                            &.p-container{
                              top: 0;
                              right: 0;
                              width: 63px;
                              padding-right: 3px;

                              P.title {
                                color: black !important;
                                text-shadow: white 0px 1px 1px;
                                width: 62px;
                                overflow: hidden;
                                font-size: 12px;
                                display: table-cell;
                                vertical-align: middle;
                                height: 48px;

                                SPAN{
                                  word-wrap: break-word;
                                  width: 62px;
                                  display: block;
                                  white-space: nowrap;
                                  overflow: hidden;
                                  text-overflow: ellipsis;
                                }
                              }
                            }

                            &.course-icon{
                              width: 30px;
                              height: 30px;
                              left: 0;
                              top: 5px;

                              IMG{
                                width: 24px;
                                margin: 7px 0 0 4px;
                              }
                            }
                          }
                        }
                      }
                    }

                    overflow: visible;

                    height: 100%;
                    @include background(linear-gradient(top, #f4f4f4, #e5e5e5));

                    &.week.today {
                      @include background(linear-gradient(top, #eaeaea, #e5e5e5));
                    }

                    >H2.number{
                      height: 20px;
                    }

                    >DIV {
                      min-height: 450px
                    }

                    .period-item {
                      padding-top:3px;
                      height: 61px;
                      position: relative;
                      display: block;

                      >DIV.period-info{
                         //color: #be8145;
                         position: absolute;
                         left: -10px;
                         font-size: 16px;
                         color: #DE9155;
                         background: url(images/common/week-period-bg.png) no-repeat;
                         height: 25px;
                         width: 30px;
                         font-family: Arial;
                         font-weight: bold;
                         text-align: center;
                         padding-top: 1px;
                       }

                      >LI{
                        >DIV{
                          @include border-radius(5px);
                          text-shadow: none;
                          background: url(images/common/week-item-bg.png) no-repeat;
                          padding-top: 5px;
                          height: 40px;
                          position: relative;
                          text-shadow: #415a67 1px 1px 1px;

                          P{
                            display: block;
                            height: 15px;
                            white-space: nowrap;
                          }

                          P.title{
                            color: white !important;
                            text-align: center;
                            font-family: Arial;
                            font-size: 8.67px;
                          }

                          P.typename{
                            color: white !important;
                            text-align: center;
                            font-family: Arial;
                            font-weight: bold;
                            font-size: 12px;
                          }

                          >DIV{
                            display: inline-block;
                            position: absolute;

                            &.course-icon{
                              width: 32px;
                              height: 30px;
                              overflow: hidden;
                              display: inline-block;

                              IMG{
                                width: 26px;
                                margin: 4px 0 0 6px;
                              }
                            }

                            &.text-container{
                              overflow: hidden;
                              right: 9px;
                              top: 5px;
                              width: 48px;
                            }
                          }
                        }
                      }

                      .title{
                        color: #009;
                        font-size: 14px;
                      }

                      .more{
                        color: #000;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}

.calendar-popup{
  width: 177px;
  margin: 0 -7px;

  .items-list{
    position: relative;
    top: 7px;
  }

  >DIV.class-name {
    font-size: 18px;
    color: #959595;
    font-family: Georgia;
    text-align: center;
    font-style: italic;
    padding-bottom: 8px;
  }

  H3.day-day{
    text-align: center;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
    width: 177px;

    >A{
      cursor: pointer;
      text-decoration: none !important;
      font-size: 16px;
      color: #7b7b7b;
      font: bold 16px Arial !important;
      font-style: normal !important;
      text-shadow: 1px -1px 1px white;

      &:hover {
        color: #0c4358;
        @include transition-property("all");
        @include transition-duration("0.5s");
      }
    }
  }

  >DIV.info, >DIV.class-name {
    background: url(images/common/dialog-separator.png) bottom  no-repeat;
  }

  .info{
    font-weight: normal;
    background: none;
    color: #939393;
    text-align: center;
    padding: 5px 5px 15px 5px;
    >P.up {
      font-size: 12px;
    }
    >P.down {
      font-size: 10px;
    }
    position: relative;

    &.month{
      cursor: pointer;

      &:hover{
        background: url(images/calendar/popup-select-triangle.png) 167px center no-repeat, #f8f8f8;
      }
    }

    H2.student-day, H3.day-day{
      text-align: center;
      background: url(images/common/dialog-separator.png) bottom  no-repeat;
      height: 40px;
      vertical-align: middle;
      display: table-cell;
      width: 177px;

      >A{
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        color: #7b7b7b;
        font: bold 16px Arial;
        font-style: normal;
        text-shadow: 1px -1px 1px white;

        &:hover {
          color: #0c4358;
          @include transition-property("all");
          @include transition-duration("0.5s");
        }
      }
    }

    >DIV{

      >UL{
        >LI{
          background: url(images/common/dialog-separator.png) bottom  no-repeat;
          position: relative;
          padding: 6px;
          height: 44px;

          >DIV{

            text-align: center;

            >.img-box{
              padding: 0px 5px;
              position: absolute;
              overflow: hidden !important;
              max-width: 36px;
              max-height: 44px;


              A{
                IMG{
                  float: left;
                  display: inline-block;
                  @include box-shadow(0 1px 1px 0px #989897);
                }
              }
            }

            > .title-holder{
              display: inline-block;
              position: relative;

              >P.title{
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                >A{
                  text-decoration: none !important;
                  font-size: 16px;
                  color: #474747;
                  font-family: Arial;
                  font-style: normal;
                  cursor: pointer;
                  &:hover {
                    @include transition-property("all");
                    @include transition-duration("0.5s");
                    color: #0c4358;
                  }
                }
              }
              >P.under{
                display: inline-block;
                width: 53px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                position: relative;
                top: 7px;

                >A{
                  text-decoration: none !important;
                  font-size: 12px;
                  color: #7c7c7c;
                  font-family: Georgia;
                  font-style: italic;
                  cursor: pointer;
                  &:hover {
                    color: #0c4358;
                    @include transition-property("all");
                    @include transition-duration("0.5s");
                  }
                }
              }
            }
          }
        }
        DIV{
          text-align: center;

          >P.count{
            font-size: 12px;
            color: #7c7c7c;
            font-family: Georgia;
            font-style: italic;
            display: inline-block;
            height: 24px;
            padding-top: 6px;

            >A{
              text-decoration: none !important;
              font-size: 12px;
              color: #7c7c7c;
              font-family: Georgia;
              font-style: italic;
              cursor: pointer;
              &:hover {
                color: #0c4358;
                @include transition-property("all");
                @include transition-duration("0.5s");
              }
            }
          }
        }
      }
    }

    .up{
      padding-bottom: 8px;
      font-size: 18px !important;
      font-family: Georgia  !important;
      font-style: italic;
      background: url(images/common/dialog-separator.png) bottom no-repeat;
    }
    .day-down{
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      top: 7px;

      &.low{
        background: url(images/common/dialog-separator.png) bottom no-repeat;
        padding-bottom: 8px;
        width: 100%;
      }

      >A{
        text-decoration: none !important;
        font-size: 12px;
        color: #7c7c7c;
        font-family: Georgia;
        font-style: italic;
        cursor: pointer;
        line-height: 18px;
        &:hover {
          color: #0c4358;
          @include transition-property("all");
          @include transition-duration("0.5s");
        }
      }
    }
  }

  .ann-button{
    width: 129px;
    line-height: 35px;
    border: 1px solid #b3b3b3;
    @include border-radius(4px);
    @include background(linear-gradient(top, #f5f5f5, #e0e0e0));
    @include box-shadow(0 1px 0 0 #fff inset, 0 1px 2px 0px #999);
    text-align: center;
    font: bold 12px Arial;
    display: block;
    text-decoration: none;
    color: #3d3d3d;
    text-shadow: 1px 1px 0 white;
    padding: 9px 0;
    margin: 12px auto;

    &:hover{
      @include background(linear-gradient(top, #e5e5e5, #d0d0d0));
    }

    &.plus-ann{
      margin-top: 28px;
      @include background(url(images/grading/plus.png) center center no-repeat,linear-gradient(top, #f5f5f5, #e0e0e0));
      height: 14px;

      &:hover{
        @include background(url(images/grading/plus.png) center center no-repeat,linear-gradient(top, #e5e5e5, #d0d0d0));
      }
    }
  }
}

