/* line 2, ../../assets/sass2/6_popups/discipline-popup.sass */
.profile-calendar-popup.discipline-popup .discipline-table {
  display: table;
  table-layout: fixed;
  width: 640px;
}
/* line 6, ../../assets/sass2/6_popups/discipline-popup.sass */
.profile-calendar-popup.discipline-popup .discipline-table .row {
  display: table-row;
  padding-bottom: 1em;
}
/* line 10, ../../assets/sass2/6_popups/discipline-popup.sass */
.profile-calendar-popup.discipline-popup .discipline-table .row .disciplines-text {
  width: 95%;
}
/* line 13, ../../assets/sass2/6_popups/discipline-popup.sass */
.profile-calendar-popup.discipline-popup .discipline-table .row .class-name-td, .profile-calendar-popup.discipline-popup .discipline-table .row .discipline-description-td, .profile-calendar-popup.discipline-popup .discipline-table .row .disciplines-td, .profile-calendar-popup.discipline-popup .discipline-table .row span {
  display: table-cell;
  vertical-align: top;
}
