clazz = self.getClazz()
.class-apps-view.class-profile.loader-container
    .loader
    +ProfileTopBar(self, 'apps')
    .info-view
        .top-panel
            h1.info.with-line
                .class-icon-container
                    +ClassImg(clazz.getCourse(), 45, 80)
                =clazz.getName()
            +AppsBudgetPanel(clazz.getAppsBudget(), self)