sectionsInfo  = self.prepareDetailedInfo()
classInfo = self.getClassInfo()
.profile-page
    h2.page-title=Msg.Class_profile

    +ProfileTopBar(self, 'info')
    .info-view
        #top-panel
            #avatar-photo-conainer.left-block.panel-block
                .class-image
                    .img-container
                        +ClassImg(classInfo, 92, 164)
            #info-panel.central-block.panel-block
                h1.display-name(data-tooltip=classInfo.getFullClassName(), data-tooltip-type="overflow")=classInfo.getName()
        +CloseOpen(' ').detail-info
            each item in sectionsInfo
                .section
                    .title=item.title
                    .value=item.value
