-var clazz = self.getClazz()
.profile-page.class-profile
    h2.page-title=clazz.getName()
    +ProfileTopBar(self, 'attendance')
    .summary-view
        #top-panel.attendances-chart
            +RenderWith(clazz.getStats(), chlk.templates.attendance.ClassAttendanceStatsTpl)(
                currentUser = self.getCurrentUser()
                userRole = self.getUserRole()
            )
        .attendances-container
            +RenderWith(clazz.getAttendances(), chlk.templates.attendance.SeatingChartTpl)(
                currentUser = self.getCurrentUser()
                userRole = self.getUserRole()
            )