+CloseOpen('Standardized Tests')
    .stats-container
        .top-bar
            .title Standardized Tests
        if self.getTestsChartOptions_()
            +Chart()(
                data-options = self.getTestsChartOptions_()
            ).standardized-tests-chart
+CloseOpen('Class Distribution')
    +Tabs.class-distribution-tabs.stats-container
        .top-bar
            UL.tab-headers
                LI(data-tab=1).tab-header.active=Msg.Grade_Average
                LI(data-tab=2).tab-header=Msg.Absences
                LI(data-tab=3).tab-header=Msg.Discipline
        .charts-content
            .chart-content(data-tab=1).active.relative
                if self.getGradeAverageDistributionChartOptions()
                    +Chart()(
                        data-options=self.getGradeAverageDistributionChartOptions()
                    ).distribution-chart.grade-average
            .chart-content(data-tab=2).relative
                if self.getAbsencesDistributionChartOptions()
                    +Chart()(
                        data-options=self.getAbsencesDistributionChartOptions()
                    ).distribution-chart.absences
            .chart-content(data-tab=3).relative
                if self.getDisciplineDistributionChartOptions()
                    +Chart()(
                        data-options=self.getDisciplineDistributionChartOptions()
                    ).distribution-chart.discipline