-var clazz = self.getClazz()

.profile-page.class-profile.panorama-page
    h2.page-title=clazz.getName()
    +ProfileTopBar(self, 'panorama')
    .summary-view
        +ActionForm('class', 'panoramaSubmit').class-panorama-form.no-working
            +Hidden('classId', clazz.getId().valueOf())
            +Hidden('selectedStudents').selected-students
            +Hidden('highlightedStudents').highlighted-students
            BUTTON(type='submit', name="submitType", value="check").x-hidden.submit-by-check
            +CloseOpen('Filter', !clazz.isShowFilters())
                +PanoramaFilter(clazz.getYears(), clazz.getStandardizedTests(), clazz.getFilterSettings(), 'class', 'restorePanorama', [clazz.getId()])
            .charts-part
                +RenderWith(clazz, chlk.templates.classes.ClassProfilePanoramaChartsTpl)(
                    userRole=self.getUserRole()
                )





