+ActionLink(configs.controller, configs.action, self.getId())(class=self.isPressed() ? "pressed" : "").item.class-button
    .img-wrapper
        img(href="http://local.chalkable.com:8080/chalkable/Course/GetIcon?courseInfoId=10")
    SPAN.text-container= self.getName()

