actions = {currentAction: 'disciplineMonth'}
div
    +Calendar(self, chlk.templates.calendar.discipline.StudentDisciplineCalendarBodyTpl, self.getModel(), 'students', actions, null).student-discipline-calendar
