-var actions = {currentAction: 'disciplineMonth'}
-var params = [self.getMinDate().format('mm-dd-yy'), self.getMaxDate().format('mm-dd-yy'), self.getStudentId()]

+Calendar(self, chlk.templates.calendar.discipline.StudentDisciplineCalendarBodyTpl, self.getModel(), 'students', actions, params).student-discipline-calendar
