.setup-page.start.loader-container
    .loader
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                -action = (self.getType() > 0 ? 'teacherSettings' : 'video');
                -params = (self.getType() > 0 ? [self.getType() - 1] : []);
                +ActionLink('setup', action, params)=Msg.Go_Back
            .right
                +ActionLink('feed', 'list')=Msg.Done
    .blue-arrow.right-up-arrow=Msg.Click.toLowerCase()
    .blue-arrow.div.bottom-text.center
        |You're all set. Great job!
        br
        |Go try Chalkable

