.bg-tasks
    +Grid('backgroundtask', 'logsPage', self.items, [self.bgTaskId.valueOf(), true]).not-transparent
        +GridHead()
            .th Type
            .th Message
            .th Added
        +GridBody()
            each item in self.items.getItems()
                +GridRow()
                    .td= item.getLevel().valueOf()
                    .td= item.getMessage()
                    .td= item.getTimeStamp() ? item.getTimeStamp().toString('dd/m/yy hh:min:ss') : ""

