mixin DemoRoleButton(name)
    a.demo-role-button(rolename=name)
        span
            .mark.left
            .mark.right
            =name


-apps = self.getApps()
-currentApp = self.getCurrentApp()

#dev-apps
    +AppsList('dev-apps-list', apps, currentApp)#dev-apps-list
.border.demo-end.hidden
.demo-end.hidden
    h3 Demo
    #demo-end-container
.border
#roles-buttons
    +DemoRoleButton('Developer')
    +DemoRoleButton('Student')
    +DemoRoleButton('Teacher')
    +DemoRoleButton('Admin')
    +DemoRoleButton('Parent').coming
    +DemoRoleButton('District').coming