$blue-color: #2f7790;
$gray-color: #737373;

BODY {
  DIV.page{
    >DIV#content {
      DIV#content-wrapper{
        #main-wrapper {
          #main{
            .panel-header{
              color: #989898;
              text-shadow: 1px 1px 0 white;
              font: normal 13px Arial;
              text-align: center;
              padding: 5px 3px 4px 5px;
            }

            #admin-second-block, #admin-home-charts, #grades-chart-container {
              .panel-header{
                margin-bottom: 5px;
              }
            }

            #admin-home-charts{
              .panel-header{
                padding-left: 30px;
              }
            }

            #admin-second-block{
              margin-top: 35px;
              margin-left: -7px;

              .button-block{
                &:hover, &.hovered{
                  position: relative;
                  top: -1px;
                }
              }

              .budget-block{

                #budget-chart{
                  >DIV{
                    margin-left: -10px;
                    margin-top: 10px;
                  }
                }

                .absolute{
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;

                  .inside{
                    display: inline-block;
                    position: absolute;
                    background: url(images/feed/budget-inner.png) -2px -2px no-repeat;
                    width: 130px;
                    height: 131px;
                    z-index: 3;
                    border-radius: 200px;
                    top: 36px;
                    left: 49px;
                    border: 1px solid #9C9C9C;
                    box-shadow: 0 0 11px 1px #9C9C9C;

                    >DIV{
                      text-align: center;

                      &.big{
                        margin: 40px 0 -6px 0;
                        font: bold 30px Arial;
                        color: $blue-color;
                      }

                      &.small{
                        color: $gray-color;
                        font-size: 14px;
                        font-family: Georgia;
                        font-style: italic;
                      }
                    }
                  }

                  .outside{
                    display: inline-block;
                    position: absolute;
                    background: #D9D9D9;
                    width: 170px;
                    height: 169px;
                    z-index: 0;
                    border-radius: 300px;
                    top: 17px;
                    left: 29px;
                    border: 1px solid #9C9C9C;
                    box-shadow: inset 0 0 11px 1px #9C9C9C;
                  }

                  .hover-area{
                    position: absolute;
                    left: 16px;
                    padding: 0;
                    top: 3px;
                    height: 197px;
                    width: 197px;
                    z-index: 5;
                    @include border-radius(1000px);
                  }
                }
              }

              .button-block {
                padding: 10px;
              }

              .images-wrapper{
                .avatar-wrapper{
                  width: 52px;

                  >DIV{
                    width: 58px;
                    height: 58px;
                    margin-left: -3px;
                  }
                }
              }
            }

            .button-block{
              cursor: pointer;

              &:not(.block){
                display: inline-block;
              }

              &.with-padding{
                padding: 10px 0;
              }

              &:hover, &.hovered{
                box-shadow: 0 1px 4px 1px #C8C8C8;
                border-top: 1px solid white;
                top: -1px;
              }
            }

            .admin-home{
              .chart-bg {
                z-index: 1;
                position: absolute;
              }

              .chart-bg:hover{
                color: transparent;
                text-shadow: none;
                top: -19px;
              }
            }

            #grades-chart-container{
              margin-left: -6px;
              margin-top: 16px;

              .chart-bg{
                background-size: 644px 235px;
              }

              .panel-header{
                margin-bottom: 20px;
              }
            }

            #admin-home-charts{
              margin-left: -25px;

              .chart-container {
                position: relative;
                height: 166px;
                overflow: hidden;
              }

              .chart-block{
                height: 181px;
              }

              .chart-bg {
                background: url(images/feed/chart-bg.png) 15px center no-repeat;
                height: 176px;
                width: 212px;
                z-index: 1;
                top: -7px;
                left: 20px;
                line-height: 176px;

                &:hover{
                  top: -8px;
                }
              }
            }

            .third-blocks-container {
              width: 684px;

              .block{
                width:228px;
                display: inline-block;
                text-align: center;
                vertical-align: top;
              }

              .w218{
                width:218px;
              }

              .w225{
                width:225px;
              }
            }
          }
        }
      }
    }
  }
}
