BODY {
  DIV.page{
    >DIV#content {
      DIV#content-wrapper{
        .export-btn {
          background: url(images/buttons/export.png) center center no-repeat;
          height: 26px;
          width: 28px;
        }

        &.attendance{
          #main{
            .admin-attendance-summary-page{
              position: relative;

              .now-chart-block{
                width: 550px;
                margin-left: 20px;
              }

              .student{
                display: inline-block;
                background: rgba(202, 139, 139, 0.8);
                border-radius: 7px;
                height: 75px;
                width: 86px;
                vertical-align: top;
                text-align: center;
                position: relative;
                margin-bottom: 14px;
                @include transition-property("all");
                @include transition-duration("0.2s");
                overflow: hidden;

                &.absolute{
                  position: absolute;
                }

                &.plus{
                  cursor: pointer;
                  overflow: visible;

                  .small-pop-up{
                    top: 83px;

                    .container .triangle{
                      left: 36px;
                    }

                    .student-search-input{
                      width: 173px;
                    }
                  }
                }

                &:not(.grey){
                  cursor: pointer;
                }

                .plus-container{
                  font-size: 38px;
                  margin-top: 6px;
                  color: #A8A8A8;
                  text-shadow: 0 1px 0 white, 0 -1px 0 gray;
                }

                &.grey{
                  background: rgba(173, 173, 173, 0.55);

                  .name{
                    background: rgba(173, 173, 173, 0.75);
                  }
                }

                &.hidden{
                  //height: 0;
                  display: none;
                }

                &:not(:nth-child(6n)){
                  margin-right: 26px;
                }

                .img-container{
                  height: 73px;
                  width: 67px;
                  display: inline-block;
                  overflow: hidden;
                  margin-top: 1px;
                  background-size: 67px 73px;

                  .person-avatar-wrapper >div{
                    height: 73px;
                    width: 73px;
                    margin-left: -3px;
                  }
                }

                .name{
                  position: absolute;
                  bottom: 7px;
                  white-space: nowrap;
                  left: 0;
                  right: 0;
                  overflow: hidden;
                  background: rgba(154, 52, 52, 0.8);
                  border-radius: 2px;
                  height: 19px;
                  line-height: 19px;
                  color: white;
                  font-size: 12px;
                  text-decoration: none;
                }
              }
            }

            .admin-attendance{
              .action-bar{
                display: none;

                .start-end-picker{
                  opacity: 0;
                  position: absolute;
                  max-width: 0;
                  padding: 0 !important;
                  z-index: -5;
                }

                &.page-2{
                  .choose-date-icon{
                    cursor: pointer;
                  }
                }

                .choose-date-icon{
                  vertical-align: middle;
                }

                SELECT{
                  width: 90px;
                }

                .chzn-container.chzn-container-single {
                  margin: 3px;

                  &:not(:hover){
                    overflow: hidden;

                    .chzn-single{
                      background: transparent;
                      border: none;
                      box-shadow: none;
                      height: 27px;
                      margin-top: 1px;

                      div{
                        background: transparent;
                        b{
                          background: transparent;
                        }
                      }
                    }
                  }
                }

                &.active-part{
                  display: block;
                }

                .hasDatepicker{
                  width: 77px;
                  vertical-align: middle;
                  padding: 3px 3px 1px;
                  font: normal 11px arial, tahoma, helvetica, sans-serif;
                  color: black;
                  margin: 7px 3px;
                  border: 1px solid #7eadd9;
                }
              }

              .attendance-boxes-admin{
                height: 170px;

                .boxes-container{
                  text-align: center;
                  width: 661px;
                  margin-top: 15px;

                  >DIV{
                    width: 163px;
                    height: 81px;
                    cursor: pointer;

                    &:not(:first-child){
                      margin-left: 36px;
                    }
                  }
                }
              }

              .attendance-box{
                display: inline-block;
                background: url(images/attendance/box-bg.png) 0 0 no-repeat;
                background-size: 100% 100%;
                vertical-align: top;
                text-align: center;
                color: #6c6c6c;
                text-shadow: 0 1px 0 white;
                position: relative;

                .box-container{
                  width: 76px;
                  margin: 0 2px;
                  position: relative;
                  height: 82px;

                  &:first-child{
                    border-bottom: 1px solid #b7b7b7;
                  }

                  &:last-child{
                    border-top: 1px solid #f0f0f0;
                  }

                  .title{
                    padding-bottom: 5px;
                  }
                }

                &.active-part{
                  .number{
                    color: #4e7c9a;
                  }
                }

                .number{
                  font-size: 48px;
                  line-height: 75px;
                  height: 75px;
                  @include transition-duration("0.5s");
                  @include transition-property("all");
                }

                .title{
                  position: absolute;
                  bottom: 5px;
                  font-size: 12px;
                  width: 100%;
                }
              }
              
              .slider-line-container{
                position: relative;
                height: 21px;
                width: 530px;
                margin: 10px 0 0 64px;

                >DIV{
                  display: inline-block;
                }
              }

              .slider-line{
                background: url(images/attendance/slider-bg.png) 0 0 repeat-x;
                //left: 8px;
                width: 514px;
              }

              .slider-left{
                background: url(images/attendance/slider-left.png) 0 0 no-repeat;
                //left: 0;
              }

              .slider-right{
                background: url(images/attendance/slider-right.png) 0 0 no-repeat;
                //right: 0;
              }

              .slider-right, .slider-left{
                width: 8px;
              }

              .slider-right, .slider-left, .slider-line{
                height: 21px;
              }

              .slider-container{
                position: absolute;
                left: 0;
                height: 36px;
                width: 150px;
                text-align: center;
                @include transition-duration("0.5s");
                @include transition-property("all");

                .slider{
                  margin: 1px 1px 0 1px;
                  width: 148px;
                  height: 18px;
                  background: url(images/attendance/slider-button.png) 0 0 no-repeat;
                }

                .active{
                  height: 17px;
                  background: url(images/attendance/slider-active.png) center 0 no-repeat;
                  color: #4e7c9a;
                  font-size: 10px;
                  line-height: 15px;
                }
              }

              .attendance-content{
                .students-statistic{
                  display: none;

                  &.active-part{
                    display: block;
                  }
                }

                H2 {
                  color: #6c6c6c;
                  font-weight: normal;
                  text-shadow: 0 1px 0 white;
                  background: url(images/attendance/header-bg.png) 0 bottom repeat-x;
                  padding-bottom: 2px;
                  margin: 14px 0 18px 0;
                  font-size: 16px;
                }

                .more-container{
                  text-align: center;

                  A{
                    cursor: pointer;
                    font-size: 13px;
                  }
                }

                .all-students{
                  .hidden-students-block{
                    height: 0;
                    overflow: hidden;
                    @include transition-duration("0.5s");
                    @include transition-property("all");
                  }

                  &.absent-from-school{
                    .student:not(.grey){
                      background: #ab9090;

                      .name{
                        background: rgba(90, 29, 29, 0.8);
                      }
                    }
                  }

                  &.attendance-mp{
                    .student:not(.grey){
                      background: rgba(131, 86, 86, 0.55);

                      .name{
                        background: rgba(90, 29, 29, 0.8);
                      }
                    }
                  }
                  //excused
                  &.attendance-4{
                    .student:not(.grey){
                      background: #a0c8d4;

                      .name{
                        background: rgba(57, 137, 161, 0.8);
                      }
                    }
                  }
                  //absent
                  &.attendance-8{
                    .student:not(.grey){
                      background:  #835656;

                      .name{
                        background: rgba(154, 52, 52, 0.8);
                      }
                    }
                  }
                  //late
                  &.attendance-16{
                    .student:not(.grey){
                      background: #f3d5aa;

                      .name{
                        background: rgba(243, 213, 171, 0.6);
                      }
                    }
                  }

                  &.attendance-1{
                    .student:not(.grey){
                      background: rgba(182, 182, 171, 0.6);

                      .name{
                        background: rgba(116, 115, 115, 0.8);
                      }
                    }
                  }
                }
              }
            }
          }
        }

        #main{
          .well-trouble-items{
            >DIV{
              min-height: 25px;
              padding: 6px 10px 4px 10px;
              @include background(linear-gradient(top, #f6f6f6, #e5e5e5));
              border-top: 1px solid white;
              border-bottom: 1px solid #979797;
              @include border-radius(5px);

              P{
                padding-left: 27px;
                font-size: 14px;
                color: #5f5f5f;
                text-shadow: 0 1px 1px white;
                width: 230px;
              }

              .avatar-container{
                background: #F4F4F4;
                padding: 2px;
                border-bottom: 1px solid #ACACAC;
                @include border-radius(0);
                border-width: 0 0 1px 0;
                @include box-shadow(none);
              }

              >DIV, >P{
                display: inline-block;
                vertical-align: middle;
                word-break: break-word;
              }
            }
            >P{
              padding: 5px;
              font-weight: bold;
            }

            IMG{
              margin: -1px;
            }
          }

          #class-attendance-list-panel{

            .row{
              P {
                width: 240px;
              }

              >.right{
                margin-top: 22px;
              }
            }

            .keyboard-suggestion{
              position: absolute;
              z-index: 9999;
              background: url(images/attendance/keyboard-suggestion.png) center center no-repeat;
              width: image-width('attendance/keyboard-suggestion.png');
              height: image-height('attendance/keyboard-suggestion.png');
              top: -21px;
            }

            .student-attendance-container{
              text-shadow: 1px 1px 0 white;
              position: relative;

              &.active{
                .attendance-combo{
                  .current-attendance{
                    height: 29px;
                    background: #ebebeb;
                  }
                }
              }

              .attendance-option{
                display: inline-block;
                padding-right: 25px;
                width: 150px;
                text-align: right;
                font: bold 12px Arial;
                color: #a7a7a7;
              }
              .attendance-text, .attendance-option{
                vertical-align: top;
                height: 27px;
                line-height: 27px !important;
              }
              .attendance-text, .current-attendance{
                font: bold 14px Arial;
              }
              .attendance-text{
                display: inline-block;
                width: 157px;
                text-align: center;

                &.present{
                  color: #276435;
                }

                &.absent{
                  color: #880909;
                }

                &.excused{
                  color: #619bae;
                }

                &.late{
                  color: #c97d11;
                }

                &.n-a{
                  color: #bcbcbc;
                }
              }
              .attendance-combo{
                display: none;
                position: relative;
                width: 157px;

                .left-arrow, .right-arrow{
                  width: 36px;
                  height: 27px;

                  SPAN{
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    display: inline-block;
                  }
                }
                .left-arrow{
                  @include border-radius(3px 0 0 3px);

                  span{
                    border-right: 10px solid #181818;
                  }
                }
                .right-arrow{
                  span{
                    border-left: 10px solid #181818;
                  }
                }
                .current-attendance, .left-arrow, .right-arrow, .combo-list{
                  @include box-shadow(0 1px 2px #a3a3a3);
                  display: inline-block;
                  border-top: 1px solid white;
                  vertical-align: top;
                }
                .current-attendance, .left-arrow, .right-arrow{
                  line-height: 26px;
                  text-align: center;
                  border-width: 1px 0 0 0;
                  color: #2e2e2e;
                  @include background(linear-gradient(top, #f5f5f5, #e0e0e0));

                  &:hover, &:active{
                    @include box-shadow(0 1px 2px #c0c0c0);
                  }
                }
                .current-attendance{
                  height: 26px;
                  min-width: 74px;
                  margin: 0 4px;
                }
                .combo-list{
                  display: none;
                  position: absolute;
                  top: 30px;
                  left: 0;
                  right: 3px;
                  padding-top: 3px;
                  border-radius: 3px;
                  background: #ebebeb;
                  z-index: 1;
                  text-align: center;

                  .connector{
                    position: absolute;
                    height: 3px;
                    background: beige;
                    top: -1px;
                    left: 39px;
                    width: 76px;
                    background: #ebebeb;
                  }

                  .option{
                    padding: 7px 8px;
                    font: normal 12px Arial;
                    color: #383838;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.selected{
                      font: bold 12px Arial;
                      background: #e1e1e1;
                      color: #2f7790;
                    }
                  }
                }
              }
            }

            .row.selected{
              .student-attendance-container{
                .attendance-text{
                  display: none;
                }
                .attendance-combo{
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

#chlk-pop-up-container{
  .daily-pop-up{
    text-align: center;
    margin: 0 -7px;

    h2.popup-title{
      width: 325px;
    }

    .row.time {
      height: 17px;
      border-top: 1px solid white;
      border-bottom: 1px solid #d7d7d7;
      font: normal 13px/15px Arial;

      div {
        width: 108px;
        font-size: 10px;
        text-align: left;
        display: inline-block;
      }
    }

    .attendance-popup-table{
      .row {
        SELECT{
          opacity: 0;
        }

        .chzn-container{
          width: 75px !important;

          .chzn-drop{
            @include border-radius(2px);
            font-size: 11px;

            .chzn-results{
              >LI{
                background: transparent;
                padding: 0;

                &.highlighted{
                  border-radius: 5px;
                  border: 1px solid #c9c9c9 !important;
                  @include background(linear-gradient(top, #ffffff, #dadada));

                  &:not([class*="attendance"]){
                    color: #957633;
                  }
                }
              }
            }
          }

          .chzn-single{
            padding: 0;
            height: 13px;
            overflow: visible;
            @include border-radius(3px);

            >SPAN{
              border: 1px solid #afafaf;
              margin: -1px 13px -1px -1px;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
              font-size: 10px;
              text-align: left;
              padding-left: 5px;
              height: 13px;
              line-height: 13px;
            }

            >DIV{
              width: 13px;

              >B{
                background: url(images/profile/attendance-right-arrow.png) center center no-repeat;
                width: 13px;
                margin: 0;
              }
            }
          }

          .chzn-drop{
            ul{
              li{
                &.attendance-1 {
                  color: gray;
                }
                &.attendance-2 {
                  color: #276435;
                }
                &.attendance-4 {
                  color:  #3989a1;
                }
                &.attendance-8 {
                  color: #860f0f;
                }
                &.attendance-16 {
                  color: #c97d11;
                }
              }
            }
          }
        }

        >div{
          display: inline-block;
          word-break: break-word;
          width: 30%;
          min-height: 21px;
          color: #7c7c7c;
          font-size: 12px;
          text-align: left;
          vertical-align: top;


          &.centered{
            text-align: center;
          }
        }

        &.wide{
          >div{
              width: 24%;
          }

        }

        &.header{
          border-bottom: 1px solid #d7d7d7;
          border-top: 1px solid white;
          font-size: 13px;

          .popup-header-column{
            padding: 0;
            text-align: center;
            &.border-right{
              border-right: 1px solid #d7d7d7;
            }
            &.border-left{
              border-left: 1px solid white;
            }

          }
        }



        &.odd{
          border-top: 1px solid white;
          border-bottom: 1px solid #d7d7d7;
        }
        &.even{
          border-bottom: 1px solid #d7d7d7;
          border-top: 1px solid white;
        }
        &.last{
          border-bottom: 0;
        }

        .attendance-column{
          padding: 0;
          vertical-align: top;
          text-align: center;
          font-size: 12px;




          &.wide{
            input{
              margin-left: -26px;
            }
          }

          input{
              margin-left: -16px;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
              font-family: Arial;
              width: 49px !important;
          }

           &.absent{
            color:  #860f0f;
          }

          &.excused{
            color: #3989a1;
          }

          &.late{
            color: #c97d11;
          }

          &.present{
             color: #276435;
          }
        }
      }
    }
  }
}