BODY {
  DIV.page{
    >DIV#content {
      DIV#content-wrapper{
        #main-wrapper {
          #main{
            .grading-class-summary-grid-page{
              .mps-container .marking-period-container .mp-data .ann-types-container {
                margin-bottom: -30px;
              }
            }

            .autocomplete-list {
              display: none;
              background: #fff;
              position: absolute;
              z-index: 9999;
              border: 1px solid #d1d1d1;

              &.announcement-view{
                margin-top: -10px;

                .autocomplete-item{
                  width: 61px;
                }
              }

              .autocomplete-item{
                line-height: 28px;
                font-size: 13px;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 0 2px;
                width: 72px;
                white-space: nowrap;
                cursor: pointer;
                text-align: center;

                &.hovered{
                  background: #f2f2f2;
                }

                &:not(:last-child){
                  border-bottom: 1px solid #ececec;
                }

                &.see-all{
                  color: #2f7790;
                  text-decoration: underline;
                }
              }
            }

            .chlk-pop-up-container.comment{
              @include border-radius(3px);
              padding: 8px 18px;
              display: none;

              h5{
                font: normal 10px Georgia italic;
                text-align: center;
                margin-bottom: 6px;
              }

              textarea{
                width: 137px;
                min-height: 54px;
              }

              a{
                margin-top: 1px;
              }
            }

            .comment-button{
              display: none;
            }

            .student-grading-summary{

              &.student-grading-class-summary{
                h1{
                  margin-top: 7px;
                }

                .grading-chart-part {
                  margin: 15px 0 0 -14px;

                  .chart-bg2{
                    top: -16px;
                    height: 155px;

                    .chart-container-1{
                      height: 155px;
                    }
                  }
                }
              }

              h1{
                font: bold 18px Arial;
                margin: 30px 27px;
                color: #2f7790;
                text-shadow: 0 1px 0 white;
                border-bottom: 1px solid #c8c8c8;
                position: relative;
                padding-bottom: 2px;

                .avatar-wrapper{
                  margin-right: 9px;
                  display: inline-block;
                  @include border-radius(2px);
                  overflow: hidden;

                  >DIV{
                    width: 39px;
                    height: 39px;
                  }
                }

                .mp-info{
                  text-shadow: 1px 1px 0 white, -1px 0 0 #afafaf;
                  color: #868686;
                  position: absolute;
                  right: 5px;
                  bottom: 5px;
                  font: normal 14px Arial;
                }
              }

              .grading-chart-part{
                margin: 35px 0 54px -12px;

                .chart-container-1{
                  height: 172px;
                  margin-bottom: 20px;
                  overflow: hidden;
                }

                .panel-header{
                  .chzn-container{
                    position: absolute;
                    right: 110px;
                    top: -1px;
                    z-index: 100;

                    .chzn-single SPAN {
                      background: url(images/grading/select-box.png) 0 center no-repeat;
                      padding-left: 15px;
                    }
                  }

                  .student-me{
                    background: url(images/grading/student-me.png) 0 0 no-repeat;
                    position: absolute;
                    right: 43px;
                    top: 7px;
                    width: 42px;
                    height:16px;
                  }
                }

                .chart-bg{
                  width: 654px;
                  height: 184px;
                  background-size: 100% 100%;
                  top: 18px;
                  left: 4px;
                }

                .chart-container{
                  z-index: 10;
                  margin-top: 5px;

                  .chart-triangle{
                    display: inline-block;
                    position: absolute;
                    bottom: -10px;
                    left: 4px;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid white;
                  }
                }
              }
            }

            .grading-summary{
              .students-line{
                position: relative;
                display: none;
                border-top: 1px solid #969696;
                border-bottom: 1px solid #bebebe;
                box-shadow: 0 1px 0 white;
                margin-top: 22px;

                >SPAN{
                  position: absolute;
                  color: #989898;
                  top: 10px;
                  font-size: 12px;

                  &.n-0{
                    left: -1px;
                  }

                  &.n-100{
                    right: -9px;
                  }
                }

                .student-pic-container{
                  position: absolute;
                  text-align: center;
                  top: -13px;

                  .student-pic{
                    display: inline-block;
                    background: url(images/grading/smal-pic-grey.png) 0 0 no-repeat;
                    width: 16px;
                    height: 21px;
                  }

                  .student-triangle{
                    display: none;
                    background: url(images/grading/smal-pic-triangle-grey.png) 0 0 no-repeat;
                    width: 8px;
                    height: 6px;
                    margin: 0 auto;
                    margin-top: -2px;
                  }

                  &.trouble{
                    .student-pic{
                      background-image: url(images/grading/smal-pic-red.png);
                    }

                    .student-triangle{
                      background-image: url(images/grading/smal-pic-triangle-red.png);
                    }
                  }

                  &.well{
                    .student-pic{
                      background-image: url(images/grading/smal-pic-blue.png);
                    }

                    .student-triangle{
                      background-image: url(images/grading/smal-pic-triangle-blue.png);
                    }
                  }

                  &.hovered, &:hover{
                    z-index: 10;
                    .student-triangle{
                      display: block;
                    }
                  }
                }
              }

              .class-block{
                margin-bottom: 35px;

                &.active{
                  h2{
                    .show-less{
                      display: inline-block;
                      text-decoration: none;

                      span{
                        font: bold 14px Arial;
                        display: inline-block;
                        margin-right: 4px;
                      }
                    }
                  }

                  .students-block{
                    .student-item{
                      &:not(.trouble):not(.well){
                        display: inline-block;
                      }
                    }
                  }

                  .students-line{
                    display: block;
                  }

                  .all-button{
                    display: none;
                  }
                }
              }

              h2{
                text-transform: uppercase;
                color: #2f7790;
                text-shadow: 0 1px 0 white;
                font: bold 14px Arial;
                padding-bottom: 5px;
                margin-bottom: 11px;

                .show-less{
                  color: #989898;
                  text-shadow: 1px 1px 0 white;
                  font: normal 12px Arial;
                  text-transform: uppercase;
                  float: right;
                  display: none;
                }
              }

              .with-line{
                border-bottom: 1px solid #c8c8c8;
              }

              .students-block{
                padding-bottom: 4px;
                width: 670px;

                .student-item{
                  &:not(.trouble):not(.well){
                    display: none;
                  }
                }

                >A{
                  display: inline-block;
                  margin: 0 8px 7px 0;
                  vertical-align: top;

                  &:nth-child(11n + 1):not(:nth-child(1)), &:last-child{
                      margin-right: 0;
                  }

                  .person-avatar-m-47, .person-avatar-w-47{
                    width: 49px;
                    height: 49px;
                  }
                }

                .no-grades{
                  font: bold 22px/60px 'Reenie Beanie';
                  text-align: center;
                  height: 60px;
                }

                .all-button{
                  width: 58px;
                  height: 54px;
                  margin-right: 8px;
                }

                .image-container{
                  @include border-radius(2px);

                  &:not(:hover):not(.hovered){
                    @include box-shadow(0 1px 1px grey);

                    &.trouble{
                      @include box-shadow(0 1px 3px #d68383);
                    }

                    &.well{
                      @include box-shadow(0 1px 3px #73b4ca);
                    }
                  }
                }
              }
            }

            .mps-container{
              width: 661px;

              .marking-period-container{
                padding-top: 3px;

                &.open{
                  .collapse{
                    @include transform(rotate(90deg));
                  }

                  .mp-title{
                    .grading-selects{
                      display: block;
                    }
                  }
                }

                &:not(.open){
                  .mp-data{
                    visibility: hidden;
                    height: 0;
                  }
                }

                .lr-toolbar {
                  height: auto;
                  overflow: visible;

                  .paginator{
                    bottom: -11px;
                  }
                }

                .mp-title{
                  font: bold 16px Arial;
                  color: #2f7790;
                  text-align: center;
                  padding: 25px 0 16px;
                  cursor: pointer;
                  background: url(images/grading/mp-title-bg.png);
                  position: relative;
                  height: 20px;

                  >SPAN{
                    min-width: 100px;
                    max-width: 220px;
                    display: inline-block;
                    left: 278px;
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    position: absolute;
                  }

                  .grey-button{
                    position: absolute;
                    right: 72px;
                    top: 13px;
                    padding: 5px 13px 8px;
                    font-size: 12px;
                    color: #3a3a3a;
                  }

                  .grading-selects{
                    position: absolute;
                    display: none;
                    top: 18px;
                    left: 23px;

                    .chzn-container{
                      width: 121px !important;

                      .chzn-single{
                        background: #ededed;
                        color: #3a3a3a;
                        text-shadow: 0 1px 0 white;
                      }

                      &:nth-child(2){
                        margin-right: 6px;
                      }
                    }
                  }

                  .collapse{
                    position: absolute;
                    right: 22px;
                    top: 17px;
                    width: 28px;
                    height: 28px;
                    background: url(images/grading/mp-collapse.png);
                  }
                }

                .mp-data{
                  background: url(images/grading/mp-title-bottom.png) 0px bottom no-repeat;
                  overflow: hidden;
                  padding-bottom: 20px;

                  .ann-types-container{
                    border: 1px solid #c8c8c8;
                    border-width: 0 1px;
                    margin: 0 17px 0 14px;
                    white-space: nowrap;

                    .grid-toolbar{
                      margin-bottom: 30px;
                      width: 462px;

                      .arrow.prev-button {
                        left: -159px;
                      }

                      .paginator{
                        left: -151px;
                      }
                    }

                    .arrow{
                      height: auto;
                      width: 34px;
                      top: 7px;
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-color: rgba(160, 160, 160, 0.2);
                      bottom: 7px;
                      z-index: 2;
                      @include border-radius(3px);

                      &.next-button {
                        right: 8px;
                        background-image: url(images/grading/right-arrow-triangle.png);
                      }

                      &.prev-button {
                        left: 8px;
                        background-image: url(images/grading/left-arrow-triangle.png);
                      }

                      &:hover{
                        opacity: 0.8;
                      }

                      &.disabled{
                        display: none;
                      }
                    }

                    .dotted-container{
                      display: inline-block;
                    }

                    .ann-type-container{
                      display: table-cell;
                      height: 288px;
                    }

                    .ann-type-container, .dotted-container{
                      text-align: center;
                      vertical-align: top;

                      .type-name{
                        font: bold 16px Arial;
                        color: #4d4d4d;
                        position: relative;
                        height: 20px;
                      }

                      .time{
                        font: normal 12px Arial italic;
                        color: #b1b1b1;
                        height: 28px;
                        line-height: 28px;
                      }

                      .dotted-h:not(:last-child), .student-name:not(:last-child) .dotted-h{
                        background: url(images/grading/dot-h.png) 0 bottom repeat-x;
                      }

                      .dotted-h{
                        font-size: 14px;
                        margin-right: 1px;
                        height: 47px;
                        line-height: 46px;
                        position: relative;

                        &.grade-value{
                          cursor: pointer;

                          .with-comment{
                            position: absolute;
                            top: 7px;
                            left: 6px;
                            width: 11px;
                            height: 12px;
                            background: url(images/grading/comment-icon2.png) 0 0 no-repeat;
                            z-index: 2;
                          }

                          &.letter{
                            font-style: italic;
                            font-family: Georgia;
                          }

                          .alert-flag{
                            top: -1px;
                            right: 5px;
                            z-index: 10;
                          }

                          .edit-cell{
                            position: absolute;
                            left: 0;
                            right: 1px;
                            top: 0;
                            bottom: 1px;
                            background: url(images/grading/edit-cell.png) center center no-repeat, #eeeeee;
                            z-index: 0;
                            opacity: 0;

                            &:hover{
                              opacity: 1;
                            }
                          }

                          input{
                            position: absolute;
                            left: -1px;
                            right: 0px;
                            top: -1px;
                            bottom: 0px;
                            width: 66px;
                            @include border-radius(0);
                            border: 1px solid #d1d1d1;
                            display: none;
                            text-align: center;
                            z-index: 3;

                            &.error{
                              border-color: #d16060;
                            }
                          }

                          &.active-cell{
                            input{
                              display: block;
                            }

                            .edit-cell{
                              display: none;
                            }
                          }
                        }

                        &.avg{
                          font-weight: bold;
                        }

                        &:nth-child(2){
                          line-height: 57px;
                        }
                      }

                      .max-score{
                        height: 26px;
                        line-height: normal;
                      }

                      .active-row{
                        background: #f1f1f1;

                        &.dotted-h{
                          background: url(images/grading/dot-h.png) 0 bottom repeat-x, #f1f1f1;
                        }
                      }

                      &.name-container{
                        text-align: left;

                        >DIV{
                          padding-left: 8px;
                          margin-right: 1px;
                          width: 158px;
                          position: relative;

                          .withdrawn{
                            position: absolute;
                            background: #d45151;
                            height: 6px;
                            width: 6px;
                            @include border-radius(3px);
                            top: 21px;
                            right: 15px;
                          }

                          >DIV.dotted-h{
                            padding-right: 25px;
                            margin: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          }
                        }
                      }
                    }

                    .ann-type-container:not(:last-child):not(:nth-child(5n)), .dotted-container{
                      background: url(images/grading/dot.png) right 0 repeat-y;
                    }

                    .dotted-container{
                      min-width: 77px;

                      .type-name{
                        margin: 5px 0 -1px 0;
                      }

                      &.transparent-container{
                        >DIV, .type-name{
                          color: transparent;
                        }

                        .dotted-h.grade-value {
                          cursor: default;
                        }

                        >DIV>DIV, >DIV>FORM{
                          display: none;
                        }

                        &.delay{
                          >*{
                            @include transition-property("all");
                            @include transition-duration("0.5s");
                          }
                        }
                      }
                    }

                    .ann-type-container{
                      min-width: 125px;

                      .type-name{
                        margin: 5px 0 20px 0;
                      }

                      &:not(:last-child):not(:nth-child(5n)){
                        background: url(images/grading/dot.png) right 0 repeat-y;
                      }

                      .announcements-type-item{
                        position: relative;

                        .ann-button{
                          width: 76px;
                          line-height: 35px;
                          border: 1px solid #b3b3b3;
                          @include border-radius(4px);
                          @include background(linear-gradient(top, #f5f5f5, #e0e0e0));
                          @include box-shadow(0 1px 0 0 #fff inset, 0 1px 2px 0px #999);
                          text-align: center;
                          font: bold 12px Arial;
                          display: block;
                          text-decoration: none;
                          color: #3d3d3d;
                          text-shadow: 1px 1px 0 white;
                          padding: 9px 0;
                          margin: 7px auto;

                          &:hover{
                            @include background(linear-gradient(top, #e5e5e5, #d0d0d0));
                          }

                          &.plus-ann{
                            @include background(url(images/grading/plus.png) center center no-repeat,linear-gradient(top, #f5f5f5, #e0e0e0));
                            height: 14px;

                            &:hover{
                              @include background(url(images/grading/plus.png) center center no-repeat,linear-gradient(top, #e5e5e5, #d0d0d0));
                            }
                          }

                          &.dropped{
                            @include box-shadow(0 1px 0 0 #ddaaaa inset, 0 1px 2px 0px #999);
                            @include background(linear-gradient(top, #c57272, #a64e4e));
                            border: 1px solid #8e3e3e;
                            text-shadow: none;
                            color: white;

                            &:hover{
                              @include background(linear-gradient(top, #b56262, #963e3e));
                            }
                          }

                          &.absolute{
                            position: absolute;
                            z-index: -1;
                            margin: 0 25px;
                            height: 16px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.profile{
          #main-wrapper{
            #main{
              .mps-container{
                margin-top: 50px;

                .marking-period-container{
                  .mp-title {
                    background: url(images/grading/mp-title-bg-profile.png) 0 -3px;

                    .collapse {
                      background: url(images/grading/mp-collapse-profile.png);
                    }
                  }

                  .mp-data{
                    background: url(images/grading/mp-title-bottom-profile.png) 0px bottom no-repeat;

                    .ann-types-container {
                      border-color: #bfaa69;

                      .type-name{
                        color: #532f18;
                      }

                      .announcements-type-item{
                        .ann-button:not(.dropped) {
                          border: 1px solid #b3a066;
                          color: #40220f;
                          @include background(linear-gradient(top, #f3efe7, #ded4c1));

                          &:hover{
                            @include background(linear-gradient(top, #e3dfd7, #cec4b1));
                          }

                          &.plus-ann{
                            @include background(url(images/grading/plus-profile.png) center center no-repeat,linear-gradient(top, #f3efe7, #ded4c1));
                            height: 14px;

                            &:hover{
                              @include background(url(images/grading/plus-profile.png) center center no-repeat,linear-gradient(top, #e3dfd7, #cec4b1));
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.ann-grade-pop-up{
  z-index: 10;
  //top: -17px;
  //left: 110px;
  width: 200px;
  padding-left: 0;

  .grading-pop-up{
    text-align: center;
    >DIV.chart-container{
      height: 100px;
      background: url(images/grading/small-chart.png) 26px 8px no-repeat;

      &.small{
        background: url(images/grading/small-chart.png) 20px 8px no-repeat;
        text-align: left;
      }
    }
  }
}
