$color: #957633;

BODY {
  DIV.page{
    #content {
      DIV#content-wrapper.profile{
        h1, h2, .status{
          font-family: Pacifico;
          font-weight: normal;
          color: $color;
        }

        .status{
          #show-buttons-popup{
            margin-left: 10px;
            font-size: 10px;
            display: inline-block;
          }
        }

        h2, .status{
          font-size: 24px;
        }

        h2{
          background: url(images/profile/header-line.png) 0 36px no-repeat;
        }

        h1{
          font-size: 48px;
          margin: 0 0 -11px;
          white-space: nowrap;
        }

        .line{
          background: url(images/profile/header-line.png) 0 28px no-repeat !important;
          //margin-left: 16px;
          height: 36px;
        }

        .profile-page-margin{
          margin: 31px -17px 0 -15px;
        }

        .school-small-img-container{
          @include border-radius(6px);
          overflow: hidden;
          border: 2px solid #888;
          @include box-shadow(0 2px 2px #777);
          display: inline-block;
          background: white;

          IMG{
            margin: 5px;
            float: left;
            width: 64px;
            height: 64px;
          }
        }

        .school-people{
          h1{
            font-size: 42px;
            margin: 19px 10px 0;
          }

          .people-tb{
            .right{
              .chzn-container{
                margin: 4px;
              }

              select{
                width: 150px;
              }
            }
          }
        }
        
        .school-sis{
          .sis-user-info{
            .x-form-field{
              LABEL{
                width: 90px;
                display: inline-block;
              }
            }
          }
          .sis-sync-info{
            margin-top: 20px;
            .x-form-field{
              height: 60px;
              LABEL{
                width: 140px;
                display: inline-block;
              }

            }

          }
        }

        .school-details{
          .school-info{
            margin-left: 34px;
          }
        }
      }
    }
  }
}

.action-buttons-popup{
  .buttons{
    width: 381px;

    .chlk-button{
      margin-bottom: 5px;

      &:nth-child(2n-1){
        margin-right: 5px;
      }

      BUTTON{
        width: 170px;
      }
    }
  }

  #admin-emails{
    width: 200px;
  }
}