$color: #957633;

@mixin profile-font{
  color: $color;
  font-family: Pacifico;
  font-weight: normal;
}
@mixin glace-box-base{
  color: $color;
  display: inline-block;
  vertical-align: top;
  width: 95px;
  height: 109px;
  border-bottom: 1px solid #f9f5e8;
  border-left: 1px solid #d9c594;
  border-right: 1px solid #d9c594;
  background: rgba(149, 118, 51, 0.5);
  text-align: center;
  @include border-radius(11px);
  overflow: hidden;
}

BODY {
  DIV.page{
    >DIV#content {
      DIV#content-wrapper.profile{
        color: $color;

        .pacifico {
          font-family: Pacifico;
          font-weight: normal;
        }

        .info-page{
          h1{
            font-size: 30px;
          }

          input{
            color: #acacac;
            height: 21px;
            font-size: 13px;
            padding-bottom: 3px;
            padding-top: 0px;
            border: none;
            margin-top: 2px;
          }

          textarea{
            background-color: #fff;
            border-color: #9e9e9e transparent transparent transparent;
          }

          input, textarea{
            width: 196px;
          }

          .title{
            .avatar-block{
              width: 150px
            }

            .avatar-block, .name-block{
              display: inline-block;
              vertical-align: top;
            }

            .name-block{
              margin-top: 20px;
            }

            input{
              width: 120px;
              margin: 2px;
            }
          }

          &.edit-mode{
            .info-view{
              display: none;
            }
          }

          &.view-mode{
            .info-edit{
              display: none;
            }
          }

          &.teacher-info{
            h1{
              display: inline-block;
            }
          }

          .info-edit{
            .section-title{
              background-position: 0 28px !important;
            }

            .section-title, .info-title{
              color: #808080 !important;
            }

            .section-buttons{
              .chlk-button{
                margin: 100px 5px 0 0;

                BUTTON{
                  width: 100px;
                }
              }
            }

            #cellService{
              width: 206px;
            }

            #genderSelect{
              width: 80px;
            }

            .chzn-container{
              font-weight: normal;
            }

            .grey-combo-container{
              .month-combo{
                width:75px;
              }

              .day-combo{
                width:60px;
              }

              .year-combo{
                width:65px;
              }
            }

            .add-button{
              cursor: pointer;
              color: #64a5d2;
              text-shadow: 0 1px 0 white;
              font-size: 14px;
              font-weight: normal;

              &.add-address{
                margin-left: 60px;
              }
            }
          }

          .sections {
            margin-top: 30px;

            .sections-info {
              width: 213px;
              overflow: visible;
            }
          }

          .other-section {
            width: 100%;
          }

          .sections-info {
            display: inline-block;
            vertical-align: top;
            font-family: Arial;
            font-weight: bold;
            text-shadow: 0 1px 0 white;
            word-wrap: break-word;

            &:not(:first-child) {
              margin-left: 7px;
            }

            .info-title {
              color: #be8145;
            }

            .big-font-size {
              font-size: 20px;
            }

            .low-font-size {
              font-size: 14px;
            }

            .section-title {
              width: 100%;
              display: inline-block;
              background: url(images/profile/header-line.png) 0 35px no-repeat;
              font-size: 24px;
            }

            .gender-box{
              @include glace-box-base;
              width: 55px !important;
              height: 67px;
              text-align: center;
              font-size: 15px;
              font-family: Pacifico;
              font-weight: normal;

              .gender-img-box{
                display: block;
                height: 71%;

                &.m{
                  background: url(images/profile/gender-img.png) center center no-repeat;
                }

                &.f{
                  background: url(images/profile/gender-female-img.png) center center no-repeat;
                }
              }

              >P{
                position: relative;
                top: -6px;
              }

            }
          }

          #edit-info-button{
            margin-top: 180px;

            BUTTON{
              width: 100px;
            }
          }
        }

        h1, h2, .status{
          font-family: Pacifico;
          font-weight: normal;
          color: $color;
        }

        .status{
          #show-buttons-popup{
            margin-left: 10px;
            font-size: 10px;
            display: inline-block;
          }
        }

        h2, .status{
          font-size: 24px;
        }

        h2{
          background: url(images/profile/header-line.png) 0 36px no-repeat;
        }

        h1{
          font-size: 48px;
          margin: 0 0 -11px;
          white-space: nowrap;
        }

        .line{
          background: url(images/profile/header-line.png) 0 28px no-repeat !important;
          //margin-left: 16px;
          height: 36px;
        }

        .profile-page-margin{
          margin: 31px -17px 0 -15px;
        }

        .school-small-img-container{
          @include border-radius(6px);
          overflow: hidden;
          border: 2px solid #888;
          @include box-shadow(0 2px 2px #777);
          display: inline-block;
          background: white;

          IMG{
            margin: 5px;
            float: left;
            width: 64px;
            height: 64px;
          }
        }

        .school-people{
          h1{
            font-size: 42px;
            margin: 19px 10px 0;
          }

          .people-tb{
            .right{
              .chzn-container{
                margin: 4px;
              }

              select{
                width: 150px;
              }
            }
          }
        }
        
        .school-sis{
          .sis-user-info{
            .x-form-field{
              LABEL{
                width: 90px;
                display: inline-block;
              }
            }
          }
          .sis-sync-info{
            margin-top: 20px;
            .x-form-field{
              height: 60px;
              LABEL{
                width: 140px;
                display: inline-block;
              }

            }

          }
        }

        .school-details{
          .school-info{
            margin-left: 34px;
          }
        }

        .settings{
          .header{
            text-align: left !important;
            font: bold 16px Arial;
            color: #532f18;
            text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
            text-transform: uppercase;
          }
          .general{
            .block{
              padding: 10px;
              height: 123px;
              width: 178px;
              float:left;
              margin-left: 8px;


              .fields{
                margin-top: 10px;

                .field{
                  label{
                    line-height: 30px;
                  }
                }
              }
            }
            margin-left: 18px;

          }
        }
      }
    }
  }
}

.action-buttons-popup{
  .buttons{
    width: 381px;

    .chlk-button{
      margin-bottom: 5px;

      &:nth-child(2n-1){
        margin-right: 5px;
      }

      BUTTON{
        width: 170px;
      }
    }
  }

  #admin-emails{
    width: 200px;
  }
}