BODY {
  $color: #9D9D9D;

  DIV.page{
    >DIV#content {
      DIV#content-wrapper{
        .announcement-type-item{
          height: 53px;
          width: 630px;
          padding: 13px 13px 5px 13px;

          &.disabled{
            opacity: 0.5;
          }

          &:not(:last-child) {
            margin-bottom: 3px;
          }

          .name{
            color: #423a22;
            font: bold 24px Arial;
            text-shadow: 1px 1px 0px white;
            height: 42px;
            overflow: hidden;
            line-height: 36px;
            max-width: 350px;
            text-overflow: ellipsis;
          }

          .announcement-type-weight{
            border: 1px solid #af9c60;
            font: bold 14px Arial;
            color: #423a22;
            height: 30px;
            line-height: 30px;
            padding: 0 6px;
            width: 40px;
            text-align: center;
            @include box-shadow(inset 0 1px 2px #c5c5c5);
          }

          .hint {
            bottom: -20px;
            text-align: center;
            font: normal 11px Arial;
            color: #532f18;
            left: 0;
            right: 0;
            text-shadow: 0 1px 0 white;
          }

          .type-container{
            margin: 0 19px;

            select{
              width: 75px;
            }

            .chzn-container{
              width: 75px;

              .chzn-single{
                height: 31px;
                font: bold 14px/31px Arial;
                text-shadow: 1px 1px 1px white;
                color: #532f18;
                @include background(linear-gradient(top, #f3eee0, #ece1c1));
                @include box-shadow(0 1px 0 0 white);
                border: 1px solid #af9c60;
              }
            }
          }

          .drop-lowest-block{
            margin-top: 6px;
          }
        }

        .setup-page{
          h1{
            text-align: center;
            font: bold 32px "Myriad Pro";
            text-shadow: 1px 1px 1px white;
            color: $color;
            padding: 3px 0 41px 41px;
          }

          #confirm-button{
            margin: 25px 1px;

            BUTTON{
              width: 140px;
            }
          }

          .x-form-field{
            input[type="password"]{
              background: url(images/register/lock-icon.png) 184px 3px no-repeat, #fff;
            }

            input[type="text"], input[type="password"]{
              width: 190px;
              height: 20px;
              font: normal 16px 'Myriad Pro';
              text-shadow: 1px 1px 1px white;
              color: $color;
              padding: 1px 3px 1px 7px;
              border: 1px solid #c0c0c0;
              text-align: center;
              margin-bottom: 0;
              @include border-radius(0);

              &.salutation{
                width: 30px;
              }

              &.first-name, &.last-name{
                width: 115px;
              }

              &.salutation, &.first-name{
                margin-right: 15px;
              }

              &.salutation-label{
                border: 1px solid #b1b1b1;
                @include background(linear-gradient(top, #ffffff, #dadada));
                margin-top: 5px;
                padding: 7px;
                @include border-radius(5px);
                margin-bottom: 39px;
                width: 155px;
                color: #000;
              }
            }

            label{
              width: 253px;
              display: inline-block;
              font: bold 17px "Myriad Pro";
              text-shadow: 1px 1px 1px white;
              text-align: right;
              padding: 0;
              color: #000;
              margin-bottom: 23px;
              margin-right: 15px;

              &#example{
                top: 153px;
                left: 134px;
                background: url(images/register/hint-arrow.png) 120px 3px no-repeat;
                height: 50px;
                padding-top: 19px;
                position: absolute;
                font: normal 13px 'Myriad Pro';
                width: 300px;
              }
            }
          }
        }
      }
    }
  }
}