<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ChalkableConfiguration" type="Chalkable.Common.ApplicationConfiguration,Chalkable.Common" />
    <section name="RaygunSettings" type="Mindscape.Raygun4Net.RaygunSettings, Mindscape.Raygun4Net"/>
  </configSections>
  <appSettings>
    <add key="sti.application.key" value="KhcsgvYi3S937kw9EAAOhNWXBaP8kpE+F3+ldUwgpE6WVrZn5fmLbGndyyxOtPQXXRcuXhh+3lhE9cNerai7Ko6aAOBJO6uHZm84bqbYhBGbYACsHd7ktyR/5iQ5MKPksdZee/Q4+yq/0HYgzCYYBViKW+Bl1L3M6gs+NrWp8kE=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="ChalkableMaster" connectionString="Data Source=me0buyg8np.database.windows.net;Initial Catalog=ChalkableMaster;UID=chalkableadmin;Pwd=Hellowebapps1!;Pooling=false;Connect Timeout=200" />
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=me0buyg8np.database.windows.net;Initial Catalog=ChalkableSchoolTemplate;UID=chalkableadmin;Pwd=Hellowebapps1!;Pooling=false;Connect Timeout=200" />
    <add name="ChalkableSchool" connectionString="Data Source={0};Initial Catalog={1};UID={2};Pwd={3};Pooling=false;Connect Timeout=200" />
  </connectionStrings>
  <RaygunSettings apikey="bQv1lM3oXBupsZQtg3Xhmg==" />
  <ChalkableConfiguration SchoolTemplateDataBase="ChalkableSchoolTemplate" SchoolDbUser="chalkableadmin" SchoolDbPassword="Hellowebapps1!" EmptySchoolsReserved="10" DemoSchoolsReserved="4" TaskProcessorDelay="1000">
    <Servers>
      <add key="DbServer1" value="me0buyg8np.database.windows.net" />
    </Servers>
  </ChalkableConfiguration>
</configuration>