@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";

.attachments-and-applications {
  width: 600px;

  #add-application{
    display: block;
    position: relative;
    margin-left: 24px;

    text-decoration: none;
    color: gray;
    line-height: 30px;
  }

  .announcement-item{
    display: inline-block;
    height: 110px;
    width: 171px;
    position: relative;
    margin-bottom: 25px;
    vertical-align: top;
    text-align: center;
    line-height: 107px;

    &:not(:last-child){
      margin-right: 19px;
    }

    &.attach-file-area{
      border: 6px dashed silver;
      @include border-radius(6px);
      line-height: 40px;
      padding: 14px 0;
      height: 82px;
    }

    &:not(.attach-file-area){
      background: url(images/app/debut_dark.png);
    }

    &.loading {
      background: url(images/img-loader.gif) center center no-repeat,url(images/app/debut_dark.png);
    }

    IMG{
      max-height: 110px;
      max-width: 170px;
      vertical-align: middle;
    }

    &:hover{
      .title{
        max-height: 80px;
      }
      cursor:pointer;
    }

    .title{
      font-size: 14px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      color: white;
      word-wrap: break-word;
      border: 1px solid black;
      @include box-shadow(inset 0 1px -1px 1px #828282);

      overflow: hidden;
      max-height: 0;

      @include transition-property("all");
      @include transition-duration("0.2s");
      bottom: 0;
      left: 0;
      right: 0;
      line-height: 15px;

      >DIV{
        padding: 7px;
        font-size: 14px;
        color: white;
      }
    }
  }
}

.recipients-autocomplete-menu{
  width: 409px !important;
  top: 126px !important;
  left: 379px !important;
}

BODY {
  DIV.page{
    >DIV#content {
      DIV#content-wrapper{
        #main {
          .announcement-form{
            .buttons-container{
              text-align: center;
              width: 413px;
              position: absolute;
              top: 6px;

              button{
                height: 24px;
                padding: 0 5px;
                cursor: pointer;
                @include border-radius(4px);
                border: 1px solid #b9b9b9;
                margin: 0 4px;
                @include box-shadow(0 1px 1px #ccc);

                &:hover{
                  @include background(linear-gradient(top, #f9f9f9, #d0d0d0));
                }
              }
            }

            &.admin-announcement-form{
              TEXTAREA, .text-field{
                width: 405px;
              }

              .ann-form-container{
                padding-top: 41px;

                .left-block {
                  width: 449px;
                }
              }
            }

            .superboxselect{
              ul.super-selectbox-list{
                cursor: text;
                position: relative;

                &:before {
                  position: absolute;
                  left: 3px;
                  top: 5px;
                  content: 'To';
                  font: bold 16px Arial;
                  color: #9D9D9D;
                }

                li.super-selectbox-li{
                  position: relative;
                  padding: 1px 15px 1px 0px;
                  display: inline-block;
                  margin: 0 0 2px 1px;
                  vertical-align: middle;

                  &:first-child{
                    padding-left: 30px;
                  }

                  .super-selectbox-focus{
                    position: absolute;
                    width: 15px;
                    right: 0;
                    height: 100%;
                    border: none;
                    padding: 0;
                    text-align: center;
                    color: black;

                    &.white-input{
                      color: white;
                    }
                  }

                  .super-selectbox-input.new-input{
                    width: 92px;
                    font: normal 13px Arial;
                    height: 23px;
                  }

                  .super-selectbox-select{
                    width: 123px;
                    height: 25px;
                    text-indent: 11px;
                    font-size: 13px;
                    @include border-radius(4px);
                    @include box-shadow(0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1));
                  }

                  .chzn-container{
                    width: 123px !important;

                    .chzn-single {
                      height: 23px;
                      font: normal 13px Arial;

                      SPAN {
                        line-height: 24px;
                      }
                    }
                  }
                }

                INPUT.super-selectbox-search{
                  width: 48px;
                  display: inline-block;
                  margin: 1px 1px 2px 1px;
                  padding: 0;
                  line-height: 18px;
                  border: none;
                  vertical-align: middle;
                }
              }
            }

            .ann-form-container{
              padding: 31px 0 0 4px;

              .attachments-and-applications {
                padding: 41px 0 30px;
              }

              .reminders-container{
                background: url(images/announcement/reminder-bg.png) -11px 20px no-repeat;
                padding-top: 50px;

                .reminder{
                  margin-bottom: 10px;

                  INPUT, SELECT{
                    color: #787878;
                  }

                  INPUT{
                    width: 20px;
                    border-radius: 0;
                    margin-right: 5px;
                    vertical-align: middle;
                    padding: 0;
                  }

                  SELECT{
                    width: 72px;
                  }

                  .chzn-container{
                    >A{
                      height: 20px;
                      font: normal 14px/20px "Myriad Pro";
                    }
                  }

                  .remove-btn{
                    margin-left: 5px;
                    display: inline-block;
                    vertical-align: middle;
                  }
                }

              }

              .left-block, .right-block{
                display: inline-block;
                vertical-align: top;
              }

              #reminders-button{
                margin-top: 10px;
                display: inline-block;
              }

              .left-block{
                width: 416px;
                margin-bottom: 49px;
              }

              .bottom-block{
                .submit-btn{
                  margin-right: 20px;
                }

                BUTTON{
                  text-transform: uppercase;
                }
              }

              .submit-btn{
                BUTTON{
                  width: 100px;
                }
              }
            }

            TEXTAREA, .text-field{
              padding: 4px 4px 8px;
              width: 370px;
              font-size: 14px;
              margin-bottom: 15px;

              &#subject{
                height: 17px;
              }

              &#content{
                height: 133px;
              }
            }

            .new-item-dropdown{
              position: absolute;
              background: white;
              width: 240px;
              z-index: 999;
              border-left: 1px solid #a9a9a9;
              border-right: 1px solid #a9a9a9;
              border-bottom: 1px solid #a9a9a9;
              font-size: 14px;
              font-family: "Arial Narrow", Arial;
              color: #000;

              >DIV{
                height: 20px;
                padding:0 4px;
                overflow: hidden;
                word-wrap: break-word;
              }

              H1{
                background: #e1e2e2;
                margin: 0;
                color: #888;
                padding: 3px;
                color: #8b8b8b;
                height: 20px;
                font-size: 16px;
                font-weight: normal;
              }

              .current{
                background: #eedd68;
              }
            }
          }
        }
      }
    }
  }
}

.choose-class{
  top: 152px;
  width: 210px;
  height: 40px;
  background: url(images/announcement/choose-class.png);
}

.choose-type{
  top: 202px;
  width: 205px;
  height: 45px;
  background: url(images/announcement/choose-type.png);
}

.choose-type, .choose-class{
  position: absolute;
  left: 271px;
  display: block;
}