@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";

$blue-color: #276284;
$red-color: #842727;

.announcement-view{
  div.feed-item{
    @include border-radius(7px 7px 0 0);
  }

  .silver-panel{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d0d0d0;
    padding: 16px;
  }

  .edit-button{
    width: 53px;
  }

  .blue{
    color: $blue-color;
  }

  .red{
    color: $red-color;
  }
  .announcement-details-panel{
    padding-botton: 37px;

    .grades-info{
      TABLE{
        TD{
          width: 90px;
          text-align: center;

          &:not(.small){
            font: bold 34px Arial;
            color: #a5a5a5;
          }

          &.small{
            font-size: 11px;
          }
        }
      }
    }

    .left-block{
      width: 73px;
      .image-container{
        margin: 2px 4px;
      }
    }

    .left-block.attachments{
      height: 100px;
      background: url(images/icons/upload-attachment-icon.png) no-repeat;
    }

    .right-block{
      width: 552px;

      &.center{
        text-align: center;
      }

      h2{
        font-size: 14px;
        word-spacing: -1px;
      }
    }

    .left-block, .right-block{
      display: inline-block;
      vertical-align: top;
    }

    .details-container{
      >DIV{
        display: inline-block;

        &.comment-grade-container{
          margin: 4px 4px 12px 4px;

          .comment-grade{
            padding: 5px 21px 4px 26px;
            background: white;
            @include border-radius(10px);
            border: 1px solid #cbcbcb;
            letter-spacing: 1px;
            word-spacing: 4px;

            >DIV{
              display: inline-block;
              vertical-align: middle;

              &.comment{
                font: bold 16px Arial;
                color: #818181;
                overflow: hidden;
                max-width: 495px;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              &.grade-value{
                font-family: 'Reenie Beanie';
                color: #c81616;
                font-size: 45px;
                margin-left: 30px;
                letter-spacing: 5px;
              }
            }
          }

          .comment-triangle{
            width: 0px;
            height: 0px;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 10px solid #CBCBCB;
            font-size: 0px;
            line-height: 0px;
            margin-left: 15px;

            .white{
              border-top: 10px solid white;
              border-left: 8px solid transparent;
              margin: -11px 0 0 -9px;
            }
          }
        }

        P{
          margin: 2px 0 38px;
          font-weight: bold;
          word-wrap: break-word;
        }
      }
    }
  }
}