@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";

$blue-color: #276284;
$red-color: #842727;

.announcement-view{
  div.feed-item{
    @include border-radius(7px 7px 0 0);
  }

  .silver-panel{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d0d0d0;
    padding: 16px;

    .auto-grade-buttons, .grades-info{
      height: 51px;
    }

    .auto-grade-buttons{
      margin-right: 11px;

      .special-button2{
        margin: 5px;
        >SPAN{
          >SPAN{
            >BUTTON{
              font-size: 12px;
              width: 94px;
            }
          }
        }
      }
    }
  }

  .edit-button{
    width: 53px;
  }

  .blue{
    color: $blue-color;
  }

  .red{
    color: $red-color;
  }
  .announcement-details-panel{
    padding-botton: 37px;

    .grades-info{
      TABLE{
        TD{
          width: 90px;
          text-align: center;

          &:not(.small){
            font: bold 34px Arial;
            color: #a5a5a5;
          }

          &.small{
            font-size: 11px;
          }
        }
      }
    }

    .left-block{
      width: 73px;
      .image-container{
        margin: 2px 4px;
      }
    }

    .left-block.attachments{
      height: 100px;
      background: url(images/icons/upload-attachment-icon.png) no-repeat;
    }

    .right-block{
      width: 552px;

      &.center{
        text-align: center;
      }

      h2{
        font-size: 14px;
        word-spacing: -1px;
      }
    }

    .left-block, .right-block{
      display: inline-block;
      vertical-align: top;
    }

    .details-container{
      >DIV{
        display: inline-block;

        &.comment-grade-container{
          margin: 4px 4px 12px 4px;

          .comment-grade{
            padding: 5px 21px 4px 26px;
            background: white;
            @include border-radius(10px);
            border: 1px solid #cbcbcb;
            letter-spacing: 1px;
            word-spacing: 4px;

            >DIV{
              display: inline-block;
              vertical-align: middle;

              &.comment{
                font: bold 16px Arial;
                color: #818181;
                overflow: hidden;
                max-width: 495px;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              &.grade-value{
                font-family: 'Reenie Beanie';
                color: #c81616;
                font-size: 45px;
                margin-left: 30px;
                letter-spacing: 5px;
              }
            }
          }

          .comment-triangle{
            width: 0px;
            height: 0px;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 10px solid #CBCBCB;
            font-size: 0px;
            line-height: 0px;
            margin-left: 15px;

            .white{
              border-top: 10px solid white;
              border-left: 8px solid transparent;
              margin: -11px 0 0 -9px;
            }
          }
        }

        P{
          margin: 2px 0 38px;
          font-weight: bold;
          word-wrap: break-word;
        }
      }
    }

    .questions-and-answers{
      form{
        margin-bottom: 30px;
      }
      .row{
        margin-top: 15px;
        margin-bottom: 15px;
        .qna{
          margin-left: 15px;
          h2{
            font-size: 14px;
          }
          p{
            font-size: 14px;
          }
          span, a{
            font-size: 10px;
            color: #a5a5a5;
          }
          a{
            margin-left: 10px;
          }
          .chlk-button{
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 80px;
          }
          >INPUT{
            border-color: "#9e9e9e";
            width: 300px;
          }
        }
      }
    }

    .grades-individual{
      .row{
        .top-content{
          &.loading{
            background: url(images/loaders/horizontal-small.gif) right 26px no-repeat
          }
        }

        &.selected{
          .name-block{
            SPAN.container{
              display: inline;
            }
          }

          .grade-block{
            .selected{
              display: block;

              &.dropped{
                display: none;
              }
            }

            .not-selected{
              display: none;

              &.dropped{
                display: block;
              }
            }

            .comment-icon{
              display: none;
            }
          }
        }

        .name-block{
          margin-left: 10px;

          p{
            padding: 20px 0 2px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 328px;
          }

          span.container{
            font-size: 11px;
            display: none;
            position: absolute;
            letter-spacing: 1px;
            word-spacing: 8px;

            .comment-grade{
              position: relative;

              .small-pop-up{
                top: 28px;
                left: -10px;
                position: absolute;
                border: 1px solid #b9b9b9;
                @include border-radius(5px);
                z-index: 100;

                >DIV.container{
                  >DIV{
                    display: table-row;

                    >DIV{
                      display: table-cell;
                      vertical-align: top;
                      IMG{
                        width: 32px;
                        height: 32px;
                        background-repeat: no-repeat;
                        background-position: 3px 2px;
                      }

                      TEXTAREA{
                        width: 230px;
                        margin: 2px 0 10px 5px;
                      }
                    }
                  }
                }
              }
            }

            a, SPAN{
              text-decoration: none;
              cursor: pointer;
              color: #787878;
            }

            SPAN.dot{
              position: relative;
              top: -2px;
              font-size: 20px;
            }
          }
        }

        .grade-block{
          height: 25px;
          font-family: 'Reenie Beanie';
          color: $red-color;
          font-size: 40px;
          overflow: visible;
          position: relative;

          .grade-triangle{
            position: absolute;
            right: 22px;
            top: 5px;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-left: 10px solid #a5a5a5;
            border-bottom: 9px solid transparent;
          }

          .selected{
            display: none;
            text-align: right;
            margin-top: -9px;

            .input-container{
              margin-left: 6px;
            }

            .input-container, .select-container{
              position: relative;
              display: inline-block;
              width: 80px;
              text-align: center;
              vertical-align: top;
            }

            .select-container2{

            }

            SELECT.grade-select{
              display: none;
            }

            A.chzn-single{
              DIV{
                B{
                  background: url(images/grading/select-arrow.png) 5px 13px no-repeat;
                }
              }
            }

            DIV.chzn-container{
              width: 65px!important;

              .chzn-results LI {
                font-family: Arial;
                color: gray;
                text-align: left;
                padding-left: 15px;
              }
            }

            INPUT, A.chzn-single{
              height: 31px;
              line-height: 31px;
              border: 1px solid #BCBCBC;
              @include border-radius(3px);
              background: white;
              text-align: center;
              overflow: hidden;
            }

            A.chzn-single{
              width: 61px;
            }

            INPUT{
              vertical-align: middle;
              width: 65px;
            }

            .letters{
              position: absolute;
              display: block;
              font-size: 10px;
              color: #5F5F5F;
              font-family: Arial;
              left: 26px;
              bottom: -10px;
              letter-spacing: 1px;
            }
          }

          .not-selected{
            display: block;
            padding-left: 90px;
            margin-top: -9px;
            width: 60px;
            text-align: center;
          }

          .comment-icon{
            display: inline-block;
            position: absolute;
            height: 9px;
            width: 11px;
            right: -9px;
            bottom: -5px;
            background: url(images/grading/comment-icon.png) 0 0 no-repeat;
          }
        }
      }
    }
  }
}

DIV.triangle {
 // padding: 0;
  position: absolute;
  width: 16px;
  height: 10px;
  background: url(images/common/window-triangle-top.png) no-repeat;
  //top: -19px;
  //left: 46%;
}

.small-pop-up{
  position: absolute;
  border: 1px solid #b9b9b9;
  @include border-radius(5px);
  z-index: 100;

  >DIV.container{
    border: 1px solid #f6f6f6;
    background: #eeeeee;
    @include border-radius(4px);
    padding: 3px 5px;

    DIV.triangle{
      position: absolute;
      left: 15px;
      top: -10px;
      display: block;
    }

    TEXTAREA, INPUT{
      @include border-radius(0px);
      border: 1px solid #84898f;
      height: 20px;
      line-height: 20px;
    }

    TEXTAREA{
      padding: 2px;
    }

    SPAN{
      position: absolute;
      display: block;
      bottom: 0;
      right: 10px;
      font-size: 9px;
      padding-right: 12px;
      background: url(images/grading/enter.png) right center no-repeat;
    }
  }
}