a.periods-link.item
    .announcement-box
        each announcement,i in self.getAnnouncements()
            div(
                class = "announcement-type-" + announcement.getAnnouncementTypeId(),
                style = "bottom: " + (i*4) + "px;left: " + (20 + i*4) + "px; z-index: " + (97 - i),
                data-tooltip = announcement.getAnnouncementTypeName()
            ).announcement
    .period-box
        dt = new chlk.models.common.ChlkDate(getDate());
        dayText = self.getDate().isSameDay(dt) ? Msg.Today : self.getDate().format('D');
        .day=dayText


