.info-edit
    +ActionForm('account', 'doChangePassword')#info-edit-form.with-ok
        .title
            .name-block

                input(name="oldPassword", class="validate[required]")

                input(name="newPassword", class="validate[required]")

                input(name="newPasswordConfirmation", class="validate[required]")
        .section-buttons
            +Button(type="submit").special-button.blue-button#submit-info-button=Msg.Save
            +Button(type="button").special-button.blue-button#cancell-edit-info-button=Msg.Cancel