-var forms = self.getHealthForms()
-var canVerify = self.isAbleVerifyHealthForms()
.health-forms-grid.chlk-grid.grid-with-border
    .grid-content
        .grid-header.grid-row
            .cell.name Form
            .cell.verified Verified
        each form in forms
            +ActionLink('students', 'verifyHealthFormDialog', self.getId(), form.getId(), !canVerify || !!form.getVerifiedDate()).grid-row.health-form-row
                .cell.name=form.getName()
                .cell.verified=form.getVerifiedDate() ? form.getVerifiedDate().getDate().format('m/d/Y') : '--'