.dialog.edit-groups
    .x-window-header
        h1 Verify Health Form
        .close.close-btn

    .document-container
        +PdfDocument(self.getDocumentUrl())
        .no-items-text.small I have read and fully understand the selected student health form.
    .buttons-container
        BUTTON(type="submit").negative-button.close=Msg.Cancel
        +ActionButton('students', 'verifyHealthForm', self.getRequestId(), self.getStudentId(), self.getHealthFormId()).blue-button Verify