mixin CounterBox(title, value, editable, controller, action)
    .counter(attributes)
        label=title
        span
            input(name='value', value=value)

mixin AppIcon(app, chlkTplObj)
    .app-list-item
        .icon
            pictureUrl = chlkTplObj.getPictureURL(app.getSmallPictureId(), 74, 74)
        img(src=pictureUrl)
        .description
            .name=app.getName()

mixin AppsList(apps, chlkTplObj)
    .apps
        each app in apps
            +AppIcon(app, chlkTplObj)

mixin AppsBudgetPanel(appsBudget, chlkTplObj)
    .apps-budget-info
        h2
            .budget-info
                +CounterBox('Balance', appsBudget.getBalance(), true)
                +CounterBox('School reserve', appsBudget.getReserve(), true)
        +AppsList(appsBudget.getInstalledApps(), chlkTplObj)