//requires: tplObj instanceOf chlk.templates.profile.BaseProfileTpl
mixin ProfileTopBar(tplObj, pressedActionName)
    .action-bar
        .items
            +ActionLinkList(tplObj.buildActionLinkModels(pressedActionName))
            block

//requires: tplObj instanceOf chlk.templates.profile.BaseProfileTpl
mixin UserProfileTopBar(tplObj, pressedActionName)
    +ProfileTopBar(tplObj, pressedActionName)
        .right
            +ActionLink('settings', 'dashboard').settings Settings