schedule = self.getSchedule()
.loader-container
    .loader
    +UserProfileTopBar(self, 'schedule')
    actions = {todayAction: 'monthToodaySchedule', currentAction: 'monthSchedule', day: 'daySchedule', week: 'weekSchedule', month: 'monthSchedule'}
    +Calendar(self, chlk.templates.calendar.announcement.WeekCalendarBodyTpl, self.getCalendar(), self.getControllerName(), actions, [schedule.getId()])