schedule = self.getSchedule()
.loader-container
    .loader
    +UserProfileTopBar(self, 'schedule')
    actions = {todayAction: 'schedule', currentAction: 'daySchedule'}
    if self.getControllerName() == 'students'
        -actions.day= 'daySchedule';
        -actions.week= 'weekSchedule';
        -actions.month= 'monthSchedule';
    +Calendar(self, chlk.templates.calendar.announcement.DayCalendarBodyTpl, self.getCalendar(), self.getControllerName(), actions, [schedule.getId()])