schedule = self.getUser()
.profile-calendar.scheduling-view
    .loader-container
        .loader
        +UserProfileTopBar(self, 'schedule')
        .profile-info.scheduling-view
            .summary-info
                +ShortPersonInfoSection(schedule, 64)
                    label=self.getPersonEnrollmentStatus(self.getUser(), schedule.getClassesNumber())
        calendarData = self.getProfileScheduleTplParams(self.getUser(), self.getCurrentAction())
        .calendar-section
            +Calendar(self, self.bodyTpl, self.calendar, calendarData.controllerName, calendarData.actions, [schedule.getId()])