schedule = self.getUser()
.profile-calendar.scheduling-view
    .loader-container
        .loader
        +UserProfileTopBar(self, 'schedule')
        .profile-info.scheduling-view
            .summary-info
                +ShortPersonInfoSection(schedule, 64)
                    label= 'Currently enrolled in ' + schedule.getClassesNumber() + ' classes'
        actions = {currentAction: 'weekSchedule', day: 'daySchedule', week: 'weekSchedule', month: 'monthSchedule'}
        .calendar-section
            +Calendar(self, chlk.templates.calendar.announcement.WeekCalendarBodyTpl, self.getCalendar(), self.getControllerName(), actions, [schedule.getId()])