user = self.getUser()
.loader-container
    .loader
    +UserProfileTopBar(self, 'apps')
    .profile-info.apps-view
        .summary-info
            .person-info.standard-short-info
                .avarar-container.standard-small-container
                    .img-container
                        +PersonImg(user, 64)
                h1.profile-person-name=user.getDisplayName()
            +AppsBudgetPanel(user.getAppsBudget(), self)
