.teacher-info.info-page.view-mode.loader-container
    .loader
    +UserProfileTopBar(self, 'info')
    +ProfileInfoView(self.getUser())
        //todo rewrite this

    +ProfileInfoForm(self.getControllerName(), self.getUser())