.teacher-info.info-page.view-mode.loader-container
    .loader
    -console.log(self.getUser())
    +ProfileTopBar(self, 'info')
    +ProfileInfoView(self.getUser())
        //todo rewrite this

    +ProfileInfoForm(self.getControllerName(), self.getUser())