user = self.getUser()
.profile-page(class=user.isAvailableNotVerifiedHealthForm() ? 'not-verified-health-form' : '')
    h2.page-title=Msg.Profile
    +UserProfileTopBar(self, self.getUser(), 'details')
    .summary-view
        #top-panel
            #avatar-photo-conainer.left-block.panel-block
                .img-container
                    +PersonImg(user, 140, !self.getUserRole().isStudent())
                    .grades-container
            #student-info-panel.right-block.panel-block.central-block
                displayName =user.getDisplayName() || user.getFullName()
                h1.display-name(data-tooltip=displayName, data-tooltip-type="overflow")=displayName
                .status=self.getCurrentLocation()