.teacher-info.info-page.view-mode.loader-container
    .loader
    +ProfileTopBar(self)
    +ProfileInfoView(self.user)
        //todo parent section
    +ProfileInfoForm('students', self.user)
