.teacher-info.info-page.view-mode.loader-container
    .loader
    +ProfileTopBar(self, 'info')
    +ProfileInfoView(self.getUser())
        //todo parent section
    +ProfileInfoForm('students', self.getUser())

