+ActionLink('class', 'info', self.getId().valueOf()).item.class-button.button-link
    .img-wrapper
        +ClassImg(self, 45, 80)
    SPAN(data-tooltip=self.getFullClassName()).text-container=self.getName()