
DIV.page {
  #content {
    > DIV {
      #main-wrapper {
        #main {
          DIV.app-market{
             .app-screenshots-panel{

             }

            .apps{
              width: 670px;

              .app-icon-link{
                display: inline-block;
                text-decoration: none;
                vertical-align: top;

                .app-list-item{
                  width: 220px;
                  height: 106px;

                  .icon{
                    width: 80px;
                    height: 80px;
                    display: inline-block;
                    background: url(images/app/photo-store-container.png) 0 0 no-repeat;
                    position: relative;

                    >IMG, >DIV{
                      width: 74px;
                      height: 74px;
                      margin: 3px;
                    }
                  }

                  .description{
                    display: inline-block;
                    position: absolute;
                    padding: 3px 7px;
                    width: 126px;
                    overflow: hidden;
                    height: 76px;

                    .name{
                      font-weight: bold;
                      font-size: 16px;
                    }

                    >DIV{
                      word-wrap: break-word;
                      color: #5b5b5b;

                      &.shortdesc{
                        font-weight: bold;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

