$button-height: 63px;
$button-width: 72px;

@mixin background-sprite($left, $top) {
  background-position: (-1) * $left * $button-width (-1) * $top * $button-height - 1px;
  &:hover { background-position: (-1) * $left * $button-width  (-1)  * $top * $button-height - 353px; }
  &.pressed { background-position: (-1) * $left * $button-width  (-1) * $top * $button-height - 353px; }

  &.new{
    &:hover { background-position: (-1) * $left * $button-width (-1) * $top * $button-height - 373px; }
    &.pressed { background-position: (-1) * $left * $button-width (-1) * $top * $button-height - 373px; }
  }
}

@mixin background-pressed($left) {
  background-position: $left $top - 260 !important;
}

BODY {
  DIV.page {
    #sidebar {
      #sidebar-controls {
        .wrapper {
          A, SPAN {
            text-decoration: none;
            background: url(images/common/sidebar_updated2.png) 0 $button-height no-repeat;

            &.new{
              background: url(images/common/sidebar_new.png) 0 $button-height no-repeat;
            }

            position: relative;

            .title{
              font: normal 10px 'Futura Heavy';
              position: absolute;
              left: 0;
              right: 0;
              text-align: center;
              bottom: 5px;
              color: #5d4d39;
              text-shadow: 1px -1px 0 #eee;
            }
          }

          .fullwidth-button.add-new {
            @include background-sprite(0, 0);
          }

          .one-third-button.calendar {
            @include background-sprite(0, 1);
          }

          .one-third-button.statistic {
            @include background-sprite(0, 2);
          }

          .one-third-button.messages {
            @include background-sprite(1, 1);
          }

          .one-third-button.people {
            @include background-sprite(2, 1);
          }

          .one-third-button.classes {
            background-image: url(images/buttons/classes.png) !important;
          }

          .one-third-button.apps {
            @include background-sprite(1, 2);
          }

          .one-third-button.blank {
            background-position: -144px -192px;
            width: 72px;
            margin-left: -4px;
          }

          .one-third-button.settings {
            @include background-sprite(2, 2);
          }

          .one-third-button.attendance {
            @include background-sprite(0, 3);
          }

          .one-third-button.discipline {
            @include background-sprite(1, 3);
          }

          .one-third-button.apps-info {
            @include background-sprite(0, 4);
          }

          .one-third-button.api {
            @include background-sprite(1, 4);
          }

          .one-third-button.docs {
            @include background-sprite(2, 4);
          }
        }
      }
    }
  }
}
