BODY {
  DIV.page{
    >DIV#content{
      DIV#content-wrapper.profile{
        #main{
          .profile-calendar{
            font-family: Pacifico;
            .profile-info{

              .person-info{
                margin-left: 15px;
                padding: 5px;
                margin-top: 15px;
                display: inline-block;

                .avarar-container{
                  padding: 5px;
                  display: inline-block !important;
                  @include border-radius(6px);
                  @include box-shadow(0 2px 2px #777);
                  overflow: hidden;
                  border: 2px solid #888;
                  box-shadow: 0 2px 2px #777;
                  display: inline-block;
                  background: white;
                }
                .profile-person-name{
                  display: inline-block;
                  font-size: 36px;
                  vertical-align: top;
                }
              }
              .profile-drop-down-container{
                color: #957633 !important;
                  .chzn-container{
                    min-width: 90px;
                    color: #957633 !important;
                    top: -2px;

                    .chzn-single, .chzn-drop{
                      border: none;
                      background-image: none;
                      white-space: nowrap;
                      text-shadow: none;
                      text-transform: uppercase;
                      font-family: Pacifico;
                      font-size: 19px;
                      background: transparent;
                      background-color: #F5E9BD;
                      box-shadow: none;

                    }
                    .chzn-single{
                      border-top-left-radius: 7px;
                      border-top-right-radius: 7px;
                      border-bottom-right-radius: 0px;
                      border-bottom-left-radius: 0px;
                      b{
                         background: url(images/profile/down-arrow.png) right center no-repeat;
                      }
                      span{
                        color: #957633 !important;
                      }
                    }
                    .chzn-drop{
                      border-top-left-radius: 0px;
                      border-top-right-radius: 0px;
                      border-bottom-right-radius: 7px;
                      border-bottom-left-radius: 7px;
                    }
                  }
              }
              .glance-section{
                text-align: center;
                margin-top: 35px;
              }
            }

            &.student-discipline-view{
              .profile-info{
                .person-info{
                  lable{
                    display: inline-block;
                    font-size: 18px !important;
                    position: relative;
                    left: 90px;
                    top: -34px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}