<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ChalkableConfiguration" type="Chalkable.Common.ApplicationConfiguration" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ScriptsRoot" value="https://127.0.0.1:444/"/>
    <add key="ScriptsRootIncludeVersion" value="false"/>
    <!--<add key="ScriptsRoot" value="https://az374501.vo.msecnd.net/static-"/>-->
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WindowsAzure.OAuth.SwtSigningKey" value="/C4mMnNlyqjKQgE5uimJM/jjLQ6M14BEcCRMHvaXzo4=" />
    <add key="WindowsAzure.OAuth.RelyingPartyName" value="https://localhost/chalkable" />
    <add key="WindowsAzure.OAuth.RelyingPartyRealm" value="https://localhost/chalkable/" />
    <add key="WindowsAzure.OAuth.ServiceNamespace" value="chalkable-local-access-control" />
    <add key="WindowsAzure.OAuth.ServiceNamespaceManagementUserName" value="ManagementClient" />
    <add key="WindowsAzure.OAuth.ServiceNamespaceManagementUserKey" value="JBWJoVgOgUP0pdPqxrdKO+OqRGyQ2gb2GdN8POvMgRA=" />
    <add key="api.explorer.client-id" value="https://localhost/chalkable" />
    <add key="api.explorer.secret" value="Qwerty1@Local" />
    <add key="api.explorer.redirecturi" value="https://localhost/chalkable" />
    <add key="api.explorer.client-name" value="local-api-explorer" />
    <add key="api.explorer.scope" value="https://localhost/chalkable/" />
    <add key="sti.application.key" value="KhcsgvYi3S937kw9EAAOhNWXBaP8kpE+F3+ldUwgpE6WVrZn5fmLbGndyyxOtPQXXRcuXhh+3lhE9cNerai7Ko6aAOBJO6uHZm84bqbYhBGbYACsHd7ktyR/5iQ5MKPksdZee/Q4+yq/0HYgzCYYBViKW+Bl1L3M6gs+NrWp8kE=" />
  </appSettings>

  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>

  <connectionStrings>
    <!--<add name="ChalkableMaster" connectionString="Data Source=v8xjnk8au1.database.windows.net;Initial Catalog=ChalkableMaster;UID=chalkableadmin;Pwd=Hellowebapps1!"  />
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=v8xjnk8au1.database.windows.net;Initial Catalog=ChalkableSchoolTemplate;UID=chalkableadmin;Pwd=Hellowebapps1!" />-->

    <add name="ChalkableMaster" connectionString="Data Source=me0buyg8np.database.windows.net;Initial Catalog=ChalkableMaster;UID=chalkableadmin;Pwd=Hellowebapps1!"/>
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=me0buyg8np.database.windows.net;Initial Catalog=ChalkableSchoolTemplate;UID=chalkableadmin;Pwd=Hellowebapps1!"/>

    <!--<add name="ChalkableMaster" connectionString="Data Source=pfl0jvxjro.database.windows.net;Initial Catalog=ChalkableMaster;UID=chalkableadmin;Pwd=Hellowebapps1!" />
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=pfl0jvxjro.database.windows.net;Initial Catalog=ChalkableSchoolTemplate;UID=chalkableadmin;Pwd=Hellowebapps1!"/>-->


    <!--<add name="ChalkableMaster" connectionString="Data Source=YURAN-PC\YURAXP;Initial Catalog=ChalkableMaster;UID=sa;Pwd=yurshmir90"/>
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=YURAN-PC\YURAXP;Initial Catalog=ChalkableSchoolTemplate;UID=sa;Pwd=yurshmir90"/>-->

      <!--<add name="ChalkableMaster" connectionString="Data Source=YURAN-PC\YURAXP;Initial Catalog=QaChalkableMaster;UID=sa;Pwd=yurshmir90"/>
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=YURAN-PC\YURAXP;Initial Catalog=ChalkableSchoolTemplate;UID=sa;Pwd=yurshmir90"/>-->
   
    <add name="ChalkableSchool" connectionString="Data Source={0};Initial Catalog={1};UID={2};Pwd={3}" />
  </connectionStrings>
  <ChalkableConfiguration SchoolTemplateDataBase="ChalkableSchoolTemplate" SchoolDbUser="chalkableadmin" SchoolDbPassword="Hellowebapps1!" EmptySchoolsReserved="10"
                          DemoSchoolsReserved="4">

    <!--<ChalkableConfiguration SchoolTemplateDataBase="ChalkableSchoolTemplate" SchoolDbUser="sa" SchoolDbPassword="yurshmir90" EmptySchoolsReserved="10"
                          DemoSchoolsReserved="4">-->

    <Servers>
      <!--<add key="DbServer1" value="YURAN-PC\YURAXP" />-->
      <add key="DbServer1" value="me0buyg8np.database.windows.net" />
      <!--<add key="DbServer1" value="v8xjnk8au1.database.windows.net" />-->
      <!--<add key="DbServer1" value="pfl0jvxjro.database.windows.net" />-->
    </Servers>
  </ChalkableConfiguration>
  
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Chalkable.Web.Extensions" />
      </namespaces>
    </pages>
    <membership defaultProvider="ChalkableMembershipProvider" userIsOnlineTimeWindow="15"></membership>
    <customErrors mode="Off"></customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/User/LogOn" timeout="2880" />
    </authentication>
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81FD7D67775B5787361D0206DAFF1DADCA6" validation="SHA1" validationKey="D7D67775B5787361D0206DAFF1DADCA6D4876DC89DE62168764FF0DCE537184F0535D5D9AD66DEDCD7D67775B5787361D0206DAFF1DADCA6D4876DC897DC1ABF" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--<validation validateIntegratedModeConfiguration="false" />-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>