<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ChalkableMaster" connectionString="Data Source=me0buyg8np.database.windows.net;Initial Catalog=ChalkableMaster;UID=chalkableadmin;Pwd=Hellowebapps1!"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=me0buyg8np.database.windows.net;Initial Catalog=ChalkableSchoolTemplate;UID=chalkableadmin;Pwd=Hellowebapps1!"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ChalkableSchool" connectionString="Data Source={0};Initial Catalog={1};UID={2};Pwd={3}"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ScriptsRoot" value="https://az374501.vo.msecnd.net/static-" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ScriptsRootIncludeVersion" value="true"/>
		<add key="WindowsAzure.OAuth.SwtSigningKey" value="s6L1PpCuOrYHg93h+zszvnbFDSKPIFwwMmWGbfxLc0U=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="WindowsAzure.OAuth.RelyingPartyName" value="dev.chalkable.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="WindowsAzure.OAuth.RelyingPartyRealm" value="https://dev.chalkable.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="WindowsAzure.OAuth.ServiceNamespace" value="chalkable-dev-access-control" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="WindowsAzure.OAuth.ServiceNamespaceManagementUserName" value="ManagementClient" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="WindowsAzure.OAuth.ServiceNamespaceManagementUserKey" value="5e4ner6DWKJqPblD+rrit2FblrM5cAdasvA8XAFu630=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="api.explorer.client-id" value="https://dev.chalkable.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="api.explorer.secret" value="Qwerty1@" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="api.explorer.redirecturi" value="https://dev.chalkable.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="api.explorer.client-name" value="api explorer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="api.explorer.scope" value="https://dev.chalkable.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>

  <system.diagnostics xdt:Transform="Replace">
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type=""/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <ChalkableConfiguration SchoolTemplateDataBase="ChalkableSchoolTemplate" SchoolDbUser="chalkableadmin" SchoolDbPassword="Hellowebapps1!" EmptySchoolsReserved="10" DemoSchoolsReserved="20" xdt:Transform="Replace" xdt:Locator="XPath(/configuration/ChalkableConfiguration)">
    <Servers>
      <add key="DbServer1" value="me0buyg8np.database.windows.net" />
    </Servers>
  </ChalkableConfiguration>
</configuration>