<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ChalkableMaster" connectionString="Data Source=.\sqlexpress;Initial Catalog=ChalkableTestDb;UID=sa;Pwd=mc_z631"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
