<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ChalkableConfiguration" type="Chalkable.Common.ApplicationConfiguration,Chalkable.Common" />
  </configSections>
  <appSettings>
    <add key="sti.application.key" value="KhcsgvYi3S937kw9EAAOhNWXBaP8kpE+F3+ldUwgpE6WVrZn5fmLbGndyyxOtPQXXRcuXhh+3lhE9cNerai7Ko6aAOBJO6uHZm84bqbYhBGbYACsHd7ktyR/5iQ5MKPksdZee/Q4+yq/0HYgzCYYBViKW+Bl1L3M6gs+NrWp8kE="/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ChalkableMaster" connectionString="Data Source=wcc87p1bed.database.windows.net;Initial Catalog=ChalkableMasterTest;UID=chalkableadmin;Pwd=Hellowebapps1!"/>
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=wcc87p1bed.database.windows.net;Initial Catalog=ChalkableSchoolTemplateTest;UID=chalkableadmin;Pwd=Hellowebapps1!"/>
    <add name="ChalkableSchool" connectionString="Data Source={0};Initial Catalog={1};UID=chalkableadmin;Pwd=Hellowebapps1!"/>-->
    <add name="ChalkableMaster" connectionString="Data Source=YURAN-PC\YURAXP;Initial Catalog=ChalkableMasterTest;UID=sa;Pwd=yurshmir90; Pooling=false"/>
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=YURAN-PC\YURAXP;Initial Catalog=ChalkableSchoolTemplateTest;UID=sa;Pwd=yurshmir90; Pooling=false"/>
    <add name="ChalkableSchool" connectionString="Data Source={0};Initial Catalog={1};UID=sa;Pwd=yurshmir90; Pooling=false"/>
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <ChalkableConfiguration SchoolTemplateDataBase="ChalkableSchoolTemplateTest" EmptySchoolsReserved="10">
    <Servers>
      <!--<add key="DbServer1" value="wcc87p1bed.database.windows.net" />-->
      <add key="DbServer1" value="YURAN-PC\YURAXP" />
    </Servers>
  </ChalkableConfiguration>
</configuration>
