<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ChalkableConfiguration" type="Chalkable.Common.ApplicationConfiguration,Chalkable.Common" />
    <section name="CreateDemoDistrictTaskProducer" type="Chalkable.BackgroundTaskProducer.ProducerConfigSection, Chalkable.BackgroundTaskProducer"/>
    <section name="DemoDistrictDeleteTaskProducer" type="Chalkable.BackgroundTaskProducer.ProducerConfigSection, Chalkable.BackgroundTaskProducer"/>
    <section name="EmptySchoolTaskProducer" type="Chalkable.BackgroundTaskProducer.ProducerConfigSection, Chalkable.BackgroundTaskProducer"/>
    <section name="AttendanceNotificationProducer" type="Chalkable.BackgroundTaskProducer.ProducerConfigSection, Chalkable.BackgroundTaskProducer"/>
    <section name="TeacherAttendanceNotification" type="Chalkable.BackgroundTaskProducer.ProducerConfigSection, Chalkable.BackgroundTaskProducer"/>
    <section name="SisImportProducer" type="Chalkable.BackgroundTaskProducer.ProducerConfigSection, Chalkable.BackgroundTaskProducer"/>

  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="ChalkableMaster" connectionString="Data Source=v8xjnk8au1.database.windows.net;Initial Catalog=ChalkableMaster;UID=chalkableadmin;Pwd=Hellowebapps1!"/>
    <add name="ChalkableSchoolTemplate" connectionString="Data Source=v8xjnk8au1.database.windows.net;Initial Catalog=ChalkableSchoolTemplate;UID=chalkableadmin;Pwd=Hellowebapps1!"/>
    <add name="ChalkableSchool" connectionString="Data Source={0};Initial Catalog={1};UID={2};Pwd={3}" />
  </connectionStrings>
  <ChalkableConfiguration SchoolTemplateDataBase="ChalkableSchoolTemplate" SchoolDbUser="chalkableadmin" SchoolDbPassword="Hellowebapps1!" EmptySchoolsReserved="10"
                          DemoSchoolsReserved="4">
    <Servers>
      <add key="DbServer1" value="v8xjnk8au1.database.windows.net" />
    </Servers>
  </ChalkableConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <CreateDemoDistrictTaskProducer interval="20" intervalStart="0" intervalEnd="86400"/>
  <DemoDistrictDeleteTaskProducer interval="20" intervalStart="0" intervalEnd="86400"/>
  <EmptySchoolTaskProducer interval="20" intervalStart="0" intervalEnd="86400"/>
  <AttendanceNotificationProducer interval="86400" intervalStart="79200" intervalEnd="86400"/>
  <TeacherAttendanceNotification interval="1200" intervalStart="0" intervalEnd="86400"/>
  <SisImportProducer interval="600" intervalStart="0" intervalEnd="86400"/>
</configuration>