/*#4985a6;*/
/* line 37, ../assets/sass/screen.scss */
h1, h2, h3, h4, h5, h6, strong {
  color: #2f424b;
}

@font-face {
  font-family: 'Jrhand';
  src: url("fonts/jrhand-webfont.eot");
  src: url("fonts/jrhand-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/jrhand-webfont.woff") format("woff"), url("fonts/jrhand-webfont.ttf") format("truetype"), url("fonts/jrhand-webfont.svg#jrhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue UltraLite';
  src: url("fonts/helveticaneue-ultralight-webfont.eot");
  src: url("fonts/helveticaneue-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneue-ultralight-webfont.woff") format("woff"), url("fonts/helveticaneue-ultralight-webfont.ttf") format("truetype"), url("fonts/helveticaneue-ultralight-webfont.svg#helvetica_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Saginaw Bold';
  src: url("fonts/saginawbold-webfont.eot");
  src: url("fonts/saginawbold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/saginawbold-webfont.woff") format("woff"), url("fonts/saginawbold-webfont.ttf") format("truetype"), url("fonts/saginawbold-webfont.svg#saginaw_bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Heavy';
  src: url("fonts/futura-webfont.eot");
  src: url("fonts/futura-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futura-webfont.woff") format("woff"), url("fonts/futura-webfont.ttf") format("truetype"), url("fonts/futura-webfont.svg#futura_hv_btheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeue.ttf") as "font/ttf";
}

@font-face {
  font-family: 'Myriad Pro';
  src: url(fonts/Myriad.ttf);
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold', Helvetica;
  src: url(fonts/HelveticaNeue-CondensedBold.ttf);
}

/* line 104, ../assets/sass/screen.scss */
.clear {
  clear: both;
}

/* line 106, ../assets/sass/screen.scss */
.left {
  float: left;
}

/* line 109, ../assets/sass/screen.scss */
.right {
  float: right;
}

/* line 113, ../assets/sass/screen.scss */
a, a:visited, a:link {
  color: #155c97;
  outline: none !important;
}

/* line 118, ../assets/sass/screen.scss */
a:active, a:hover {
  color: #1b77c4;
  outline: none !important;
}

/* line 123, ../assets/sass/screen.scss */
HTML {
  background: url(images/common/page-bg.gif);
  height: 100%;
}

/* line 129, ../assets/sass/screen.scss */
#chlk-overlay {
  display: block;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 139, ../assets/sass/screen.scss */
#chlk-overlay.x-hidden {
  display: none;
}

/* line 145, ../assets/sass/screen.scss */
#chlk-dialogs {
  min-width: 800px;
  min-height: 700px;
  position: absolute;
  left: 0;
  right: 0;
  top: -12px;
  bottom: -12px;
}
/* line 154, ../assets/sass/screen.scss */
#chlk-dialogs.x-hidden {
  display: none;
}
/* line 158, ../assets/sass/screen.scss */
#chlk-dialogs .dialog {
  position: absolute;
  visibility: visible;
  z-index: 9003;
}
/* line 163, ../assets/sass/screen.scss */
#chlk-dialogs .dialog .x-window-header {
  color: #5d6d75;
  font-size: 18px;
  margin-left: 25px;
  padding: 5px 0 4px 0;
  font: bold 24px Arial;
}
/* line 171, ../assets/sass/screen.scss */
#chlk-dialogs .dialog .x-window-body {
  padding: 5px 15px 0px 0px;
  text-align: center;
}
/* line 176, ../assets/sass/screen.scss */
#chlk-dialogs .dialog .x-window-body .x-fieldset-header-text {
  font: bold 11px tahoma, arial, helvetica, sans-serif;
  color: #15428b;
  margin-left: 20px;
  text-align: left;
}
/* line 184, ../assets/sass/screen.scss */
#chlk-dialogs .dialog.gray {
  left: 183px;
  top: 75px;
  min-width: 414px;
  min-height: 500px;
  background: #e7e7e7;
  border: 1px solid #adadad;
  border-radius: 15px;
}

/* line 203, ../assets/sass/screen.scss */
BODY {
  background: url(images/common/body-bg.gif) 300px 0 repeat-y;
  color: #51595d;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  margin: 0;
}
/* line 214, ../assets/sass/screen.scss */
BODY.demo > DIV.application-preview-window {
  bottom: 93px !important;
}
/* line 219, ../assets/sass/screen.scss */
BODY #logout-block {
  position: absolute;
  right: 0;
  z-index: 100000;
}
/* line 224, ../assets/sass/screen.scss */
BODY #logout-block .logout-area {
  cursor: pointer;
}
/* line 228, ../assets/sass/screen.scss */
BODY #logout-block > DIV, BODY #logout-block > A {
  margin-right: 1px;
  padding-left: 9px;
  padding-right: 13px;
}
/* line 234, ../assets/sass/screen.scss */
BODY #logout-block > SPAN {
  background: url(images/common/logout-arrow.png) center 10px no-repeat, rgba(255, 255, 255, 0.6);
  width: 19px;
}
/* line 238, ../assets/sass/screen.scss */
BODY #logout-block > SPAN:hover {
  background: url(images/common/logout-arrow.png) center 10px no-repeat, rgba(255, 255, 255, 0.75);
}
/* line 242, ../assets/sass/screen.scss */
BODY #logout-block > SPAN:active {
  background: url(images/common/logout-arrow.png) center 10px no-repeat, rgba(255, 255, 255, 0.9);
}
/* line 247, ../assets/sass/screen.scss */
BODY #logout-block > * {
  padding-top: 5px;
  background: rgba(255, 255, 255, 0.6);
  height: 21px;
  line-height: 21px;
  text-align: center;
  font: normal 13px 'Myriad Pro';
  color: #1c5166;
  text-decoration: none;
}
/* line 258, ../assets/sass/screen.scss */
BODY #logout-block > DIV, BODY #logout-block > SPAN {
  display: inline-block;
  vertical-align: top;
}
/* line 263, ../assets/sass/screen.scss */
BODY #logout-block > SPAN, BODY #logout-block > A {
  display: inline-block;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 269, ../assets/sass/screen.scss */
BODY #logout-block > A.logout {
  margin-top: 1px;
  opacity: 0;
  display: block;
  visibility: hidden;
  text-transform: capitalize;
}
/* line 276, ../assets/sass/screen.scss */
BODY #logout-block > A.logout:hover {
  background: rgba(255, 255, 255, 0.75);
}
/* line 280, ../assets/sass/screen.scss */
BODY #logout-block > A.logout:active {
  background: rgba(255, 255, 255, 0.9);
}
/* line 286, ../assets/sass/screen.scss */
BODY #page-header {
  text-align: right;
  color: #333;
  padding: 1px 7px;
  font-size: 12px;
  font-family: Arial;
  background: #e7e7e7;
  border: 1px solid #adadad;
  border-top: none;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: #cccccc, 0px, 0px;
  -moz-box-shadow: #cccccc, 0px, 0px;
  box-shadow: #cccccc, 0px, 0px;
  position: absolute;
  left: 5px;
  top: 0;
  z-index: 5;
}
/* line 307, ../assets/sass/screen.scss */
BODY DIV.page {
  background: url(images/common/sidebar-bg.gif) 0 0 repeat-y;
  height: 100%;
  display: table;
  text-align: left;
  width: 100%;
}
/* line 317, ../assets/sass/screen.scss */
BODY DIV.page.demo #content, BODY DIV.page.demo #sidebar {
  margin-bottom: 90px;
}
/* line 322, ../assets/sass/screen.scss */
BODY DIV.page #content {
  padding-left: 315px;
  padding-top: 11px;
}
/* line 327, ../assets/sass/screen.scss */
BODY DIV.page #content .new-item #main-top {
  background: url(images/common/paper-bg-top.gif) 1px 0 no-repeat;
}
/* line 331, ../assets/sass/screen.scss */
BODY DIV.page #content .new-item #main-wrapper {
  background: url(images/common/paper-bg-new.gif) 0 0 repeat-y;
}
/* line 335, ../assets/sass/screen.scss */
BODY DIV.page #content .new-item #footer {
  background: url(images/common/paper-bg-bottom.gif) 0 0 no-repeat;
}
/* line 341, ../assets/sass/screen.scss */
BODY DIV.page #content .attendance #main-top {
  background: url(images/attendance/paper-top-bg.png) 0 0 no-repeat;
}
/* line 345, ../assets/sass/screen.scss */
BODY DIV.page #content .attendance #main-wrapper {
  background: url(images/attendance/paper-bg.png) 0 0 repeat-y;
}
/* line 349, ../assets/sass/screen.scss */
BODY DIV.page #content .attendance #footer {
  background: url(images/attendance/paper-bottom-bg.png) 0 0 no-repeat;
}
/* line 354, ../assets/sass/screen.scss */
BODY DIV.page #content > DIV {
  text-align: left;
  width: 802px;
}
/* line 358, ../assets/sass/screen.scss */
BODY DIV.page #content > DIV #main-top {
  height: 11px;
  background: url(images/common/paper-top-bg.png) 0 0 no-repeat;
}
/* line 363, ../assets/sass/screen.scss */
BODY DIV.page #content > DIV #main-wrapper {
  background: url(images/common/paper-bg.gif) 0 0 repeat-y;
  position: relative;
}
/* line 367, ../assets/sass/screen.scss */
BODY DIV.page #content > DIV #main-wrapper #main {
  background: url(images/common/paper-pin.png) 0 0 repeat-y;
  min-height: 700px;
  padding: 32px 74px 32px 61px;
  position: relative;
}
/* line 375, ../assets/sass/screen.scss */
BODY DIV.page #content > DIV #footer {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: url(images/common/paper-top-bottom.gif) 0 -11px no-repeat;
  padding-top: 16px;
  font-size: 12px;
  color: #c8cfd3;
  text-align: center;
  position: relative;
}

/* line 24, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper A, BODY DIV.page #sidebar #sidebar-controls .wrapper SPAN {
  text-decoration: none;
  background: url(images/common/sidebar_updated2.png) 0 63px no-repeat;
  position: relative;
}
/* line 28, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper A.new, BODY DIV.page #sidebar #sidebar-controls .wrapper SPAN.new {
  background: url(images/common/sidebar_new.png) 0 63px no-repeat;
}
/* line 34, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper A .title, BODY DIV.page #sidebar #sidebar-controls .wrapper SPAN .title {
  font: normal 10px 'Futura Heavy';
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5px;
  color: #5d4d39;
  text-shadow: 1px -1px 0 #eee;
}
/* line 46, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .fullwidth-button.add-new {
  background-position: 0px -1px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .fullwidth-button.add-new:hover {
  background-position: 0px -353px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .fullwidth-button.add-new.pressed {
  background-position: 0px -353px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .fullwidth-button.add-new.new:hover {
  background-position: 0px -373px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .fullwidth-button.add-new.new.pressed {
  background-position: 0px -373px;
}
/* line 50, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.calendar {
  background-position: 0px -64px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.calendar:hover {
  background-position: 0px -416px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.calendar.pressed {
  background-position: 0px -416px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.calendar.new:hover {
  background-position: 0px -436px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.calendar.new.pressed {
  background-position: 0px -436px;
}
/* line 54, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.statistic {
  background-position: 0px -127px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.statistic:hover {
  background-position: 0px -479px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.statistic.pressed {
  background-position: 0px -479px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.statistic.new:hover {
  background-position: 0px -499px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.statistic.new.pressed {
  background-position: 0px -499px;
}
/* line 58, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.messages {
  background-position: -72px -64px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.messages:hover {
  background-position: -72px -416px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.messages.pressed {
  background-position: -72px -416px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.messages.new:hover {
  background-position: -72px -436px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.messages.new.pressed {
  background-position: -72px -436px;
}
/* line 62, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.people {
  background-position: -144px -64px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.people:hover {
  background-position: -144px -416px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.people.pressed {
  background-position: -144px -416px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.people.new:hover {
  background-position: -144px -436px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.people.new.pressed {
  background-position: -144px -436px;
}
/* line 66, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.classes {
  background-image: url(images/buttons/classes.png) !important;
}
/* line 70, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps {
  background-position: -72px -127px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps:hover {
  background-position: -72px -479px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps.pressed {
  background-position: -72px -479px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps.new:hover {
  background-position: -72px -499px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps.new.pressed {
  background-position: -72px -499px;
}
/* line 74, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.blank {
  background-position: -144px -192px;
  width: 72px;
  margin-left: -4px;
}
/* line 80, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.settings {
  background-position: -144px -127px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.settings:hover {
  background-position: -144px -479px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.settings.pressed {
  background-position: -144px -479px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.settings.new:hover {
  background-position: -144px -499px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.settings.new.pressed {
  background-position: -144px -499px;
}
/* line 84, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.attendance {
  background-position: 0px -190px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.attendance:hover {
  background-position: 0px -542px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.attendance.pressed {
  background-position: 0px -542px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.attendance.new:hover {
  background-position: 0px -562px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.attendance.new.pressed {
  background-position: 0px -562px;
}
/* line 88, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.discipline {
  background-position: -72px -190px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.discipline:hover {
  background-position: -72px -542px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.discipline.pressed {
  background-position: -72px -542px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.discipline.new:hover {
  background-position: -72px -562px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.discipline.new.pressed {
  background-position: -72px -562px;
}
/* line 92, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps-info {
  background-position: 0px -253px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps-info:hover {
  background-position: 0px -605px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps-info.pressed {
  background-position: 0px -605px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps-info.new:hover {
  background-position: 0px -625px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.apps-info.new.pressed {
  background-position: 0px -625px;
}
/* line 96, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.api {
  background-position: -72px -253px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.api:hover {
  background-position: -72px -605px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.api.pressed {
  background-position: -72px -605px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.api.new:hover {
  background-position: -72px -625px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.api.new.pressed {
  background-position: -72px -625px;
}
/* line 100, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.docs {
  background-position: -144px -253px;
}
/* line 6, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.docs:hover {
  background-position: -144px -605px;
}
/* line 7, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.docs.pressed {
  background-position: -144px -605px;
}
/* line 10, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.docs.new:hover {
  background-position: -144px -625px;
}
/* line 11, ../assets/sass/partials/sidebar/_controls.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.docs.new.pressed {
  background-position: -144px -625px;
}

/* line 3, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week {
  overflow: hidden;
  background: url(images/common/week-calendar.gif) 0 0 no-repeat;
  padding: 6px 0 0;
  width: 230px;
}
/* line 9, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .wrapper {
  background: url(images/common/week-calendar.gif) 0 100% no-repeat;
  padding: 0 7px 11px;
}
/* line 12, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .wrapper > DIV {
  display: block;
  position: relative;
}
/* line 16, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .wrapper > DIV > DIV > LABEL {
  font-weight: bold;
  float: left;
  position: relative;
  top: 2px;
  left: 12px;
  font-size: 18pt;
  font-family: Arial;
  opactity: 0.5;
  z-index: 1;
}
/* line 33, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .wrapper > DIV UL {
  position: relative;
  padding: 5px 5px 10px 50px;
  min-height: 22px;
  z-index: 2;
}
/* line 40, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .wrapper > DIV UL > LI > A {
  text-decoration: none;
}
/* line 49, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week DIV.controls {
  margin-top: 22px;
  position: relative;
  height: 30px;
  overflow: hidden;
  color: #666;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 27px;
}
/* line 62, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week DIV.controls > DIV.week {
  cursor: pointer;
}
/* line 66, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week DIV.controls > A {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
}
/* line 72, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week DIV.controls > A.left-btn {
  left: 0;
}
/* line 76, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week DIV.controls > A.right-btn {
  right: 0;
}
/* line 85, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt, .announcement-week .chlk-gradient-cnt-today {
  background: url(images/common/week-calendar-item-bg.gif) left center repeat-y;
  -webkit-background-size: 1308px 100% !important;
  -moz-background-size: 1308px 100% !important;
  -o-background-size: 1308px 100% !important;
  background-size: 1308px 100% !important;
}
/* line 89, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt > .day-content, .announcement-week .chlk-gradient-cnt-today > .day-content {
  min-height: 20px;
  text-align: left;
  width: 100%;
}
/* line 95, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt > .day-content H2, .announcement-week .chlk-gradient-cnt > .day-content P, .announcement-week .chlk-gradient-cnt-today > .day-content H2, .announcement-week .chlk-gradient-cnt-today > .day-content P {
  margin: 5px;
  font-size: 1.2em;
}
/* line 104, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt-today > .day-content > LABEL {
  color: #ffffff !important;
}
/* line 110, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt-today > .day-content > UL > LI > A {
  color: #ffffff !important;
}
/* line 120, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt > .day-content > LABEL {
  color: #666666;
  text-shadow: 0 1px 0 #f3f1ee, 0 0 1px #b5b4b1;
}
/* line 126, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt > .day-content > UL > LI {
  vertical-align: middle;
  display: inline-block;
}
/* line 130, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt > .day-content > UL > LI > A {
  color: #5c5c5c;
  text-shadow: 0 1px 0 #f3f1ee, -1px 0 0 #b5b4b1;
}
/* line 139, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt-today {
  background: url(images/common/week-calendar-item-bg.gif) -654px center repeat-y;
}
/* line 142, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt-today .chlk-gradient-cnt-top {
  background: url(images/common/week-calendar-item-bg.gif) -1090px top no-repeat;
}
/* line 146, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt-today .chlk-gradient-cnt-bottom {
  background: url(images/common/week-calendar-item-bg.gif) -872px bottom no-repeat;
}
/* line 151, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt-top {
  height: 7px;
  background: url(images/common/week-calendar-item-bg.gif) -436px top no-repeat;
}
/* line 156, ../assets/sass/partials/sidebar/_week.scss */
.announcement-week .chlk-gradient-cnt-bottom {
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url(images/common/week-calendar-item-bg.gif) -218px bottom no-repeat;
}

/* line 8, ../assets/sass/partials/_sidebar.scss */
BODY {
  font-family: Arial, serif;
}
/* line 12, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar {
  float: left;
  width: 202px;
  padding: 154px 47px 0;
  position: relative;
  font-size: 12px;
  color: #ffffff;
}
/* line 23, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar > P {
  margin-bottom: 30px;
  line-height: 16px;
  font-weight: 400;
  font-family: HelveticaNeue, Arial;
  text-shadow: #999 1px 1px 1px;
}
/* line 24, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar > P > IMG {
  margin: 0 7px 3px 0;
}
/* line 36, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar h2 {
  color: #7e684e;
  font-size: 13px;
  text-transform: uppercase;
  text-shadow: white 1px 1px 2px;
  font-family: "HelveticaNeue Bold", Arial;
  margin-bottom: 14px;
}
/* line 45, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #home-logo {
  top: 0;
  left: 0;
  right: 0;
  height: 125px;
  position: absolute;
  background: url(images/common/Chlk-logo-new.png) 0 13px no-repeat;
}
/* line 54, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls {
  width: 230px;
  margin-bottom: 30px;
}
/* line 59, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls > DIV.search-wrapper {
  background: url(images/common/sidebar-controls-bg-top.png) 0 0 no-repeat;
  padding: 7px 0 0;
}
/* line 63, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls > DIV.search-wrapper #search-bar {
  height: 62px;
  position: relative;
}
/* line 67, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls > DIV.search-wrapper #search-bar INPUT {
  position: absolute;
  top: 21px;
  left: 29px;
  background: transparent;
  border: none;
}
/* line 76, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls > DIV.search-wrapper #search-bar IMG {
  background: none;
  position: absolute;
  top: 21px;
  left: 170px;
  width: 30px;
  border: none;
}
/* line 87, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper {
  background: url(images/common/sidebar-controls-bg-bottom.png) 0 100% no-repeat;
  padding: 0 7px 7px;
}
/* line 91, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .buttons-row {
  height: 63px;
}
/* line 94, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .buttons-row:last-child {
  height: 61px;
}
/* line 97, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .buttons-row:last-child .one-third-button {
  height: 61px;
}
/* line 103, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .fullwidth-button {
  display: block;
  height: 63px;
}
/* line 108, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button {
  display: inline-block;
  height: 63px;
  width: 72px;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  text-align: center;
  line-height: 102px;
  font: normal 10px/102px Arial;
  color: #5a4429;
  text-shadow: 1px 1px white;
}
/* line 121, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button:hover, BODY DIV.page #sidebar #sidebar-controls .wrapper .one-third-button.pressed {
  color: white;
  text-shadow: 1px 1px #5a4429;
}
/* line 129, ../assets/sass/partials/_sidebar.scss */
BODY DIV.page #sidebar #schedule {
  background: url(images/mocks/schedule.png) 0px 0 no-repeat;
  height: 364px;
}

/* line 5, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo {
  background: url(images/register/demo-bg.png) 0 0 no-repeat;
  position: relative;
  top: 365px;
  left: 350px;
  height: 0;
  width: 0;
  opacity: 0;
  display: block;
}
/* line 15, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container {
  height: 39px;
  width: 258px;
  position: absolute;
  top: 316px;
  left: 245px;
  display: none;
}
/* line 24, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a {
  float: right;
  height: 39px;
}
/* line 30, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Student {
  width: 85px;
  background: url(images/common/demo-buttons-sprite.png) 0 0 no-repeat;
}
/* line 35, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Student:hover {
  background-position: -258px 0;
}
/* line 40, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Student:active {
  background-position: -516px 0;
}
/* line 46, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Teacher {
  width: 88px;
  background: url(images/common/demo-buttons-sprite.png) -85px 0 no-repeat;
}
/* line 51, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Teacher:hover {
  background-position: -343px 0;
}
/* line 56, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Teacher:active {
  background-position: -601px 0;
}
/* line 62, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Admin {
  width: 85px;
  background: url(images/common/demo-buttons-sprite.png) -173px 0 no-repeat;
}
/* line 67, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Admin:hover {
  background-position: -431px 0;
}
/* line 72, ../assets/sass/partials/_demo.scss */
BODY DIV.page #content #main > SPAN.demo .buttons-container a.Admin:active {
  background-position: -689px 0;
}

/* line 6, ../assets/sass/partials/controls/_grid.scss */
.grid {
  font-size: 12px;
  color: #565656;
}
/* line 10, ../assets/sass/partials/controls/_grid.scss */
.grid .container {
  display: table;
  width: 100%;
}
/* line 13, ../assets/sass/partials/controls/_grid.scss */
.grid .container .head {
  display: table-row;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 17, ../assets/sass/partials/controls/_grid.scss */
.grid .container .head .th {
  display: table-cell;
  text-align: center;
  padding: 8px;
  border: 1px solid #a1a1a1;
}
/* line 22, ../assets/sass/partials/controls/_grid.scss */
.grid .container .head .th:first-child {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
/* line 26, ../assets/sass/partials/controls/_grid.scss */
.grid .container .head .th:last-child {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
/* line 32, ../assets/sass/partials/controls/_grid.scss */
.grid .container .head .th:not(:last-child) {
  border-right: none;
}
/* line 38, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body {
  display: table-row-group;
}
/* line 40, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body .row {
  display: table-row;
}
/* line 43, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body .row:nth-child(even) {
  background-color: #fafafa;
}
/* line 47, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body .row .td {
  padding: 2px 6px;
  display: table-cell;
  vertical-align: middle;
}
/* line 53, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body .row .td.action-links A {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
/* line 59, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body .row .td.action-links A.profile {
  background: url(images/controls/grid/report.png) 0 0 no-repeat;
}
/* line 63, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body .row .td.action-links A.view {
  background: url(images/controls/grid/information.png) 0 0 no-repeat;
}
/* line 67, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body .row .td.action-links A.remove {
  background: url(images/controls/grid/delete.gif) 0 0 no-repeat;
}
/* line 71, ../assets/sass/partials/controls/_grid.scss */
.grid .container .body .row .td.action-links A.persons {
  background: url(images/controls/grid/user.png) 0 0 no-repeat;
}

/* line 1, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container {
  font: normal 11px arial,tahoma, helvetica, sans-serif;
  margin-top: 3px;
}
/* line 5, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container {
  float: left;
}
/* line 8, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container .first-page {
  background: url(images/common/navigation-first.png) 0 0 no-repeat;
}
/* line 12, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container .prev-page {
  background: url(images/common/navigation-prev.png) 0 0 no-repeat;
}
/* line 16, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container .next-page {
  background: url(images/common/navigation-next.png) 0 0 no-repeat;
}
/* line 20, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container .last-page {
  background: url(images/common/navigation-last.png) 0 0 no-repeat;
}
/* line 24, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container .info-container {
  display: inline-block;
  background: url(images/common/notification-total-of.png) 0 0 no-repeat;
  width: 103px;
  height: 33px;
  padding: 0 9px;
}
/* line 31, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container .info-container INPUT {
  width: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px;
  margin: 5px;
  text-align: right;
  margin-left: 14px;
  height: 14px;
}
/* line 41, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container .info-container INPUT[type="submit"] {
  display: none;
}
/* line 47, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container > A {
  height: 33px;
  width: 28px;
  display: inline-block;
}
/* line 52, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container > A.disabled {
  opacity: 0.6;
}
/* line 56, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container > A:not(.disabled) {
  cursor: pointer;
}
/* line 59, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container > A:not(.disabled):hover {
  opacity: 0.8;
}
/* line 65, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .left-container > * {
  vertical-align: top;
  margin-right: 2px;
}
/* line 71, ../assets/sass/partials/controls/_paginator.scss */
.paginator-container .right-container {
  float: right;
  padding-right: 10px;
  font: normal 11px/32px Arial;
}

/* line 12, ../assets/sass/partials/controls/_action-bar.scss */
DIV#content-wrapper.profile .action-bar.buttons .container .action-link:hover, DIV#content-wrapper.profile .action-bar.buttons .container .action-link.pressed {
  color: #957633;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3eedf), color-stop(100%, #e1d3a6));
  background: -webkit-linear-gradient(top, #f3eedf, #e1d3a6);
  background: -moz-linear-gradient(top, #f3eedf, #e1d3a6);
  background: -o-linear-gradient(top, #f3eedf, #e1d3a6);
  background: linear-gradient(top, #f3eedf, #e1d3a6);
}

/* line 26, ../assets/sass/partials/controls/_action-bar.scss */
.action-bar.buttons .container .action-link {
  padding: 0 10px;
  border-left: 1px solid white;
  border-right: 1px solid #d0d0d0;
  color: #828282;
  font-size: 12px;
  font-style: normal;
}
/* line 34, ../assets/sass/partials/controls/_action-bar.scss */
.action-bar.buttons .container .action-link:hover, .action-bar.buttons .container .action-link.pressed {
  color: #2f7790;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #f6f6f6, #d8d8d8);
  background: -moz-linear-gradient(top, #f6f6f6, #d8d8d8);
  background: -o-linear-gradient(top, #f6f6f6, #d8d8d8);
  background: linear-gradient(top, #f6f6f6, #d8d8d8);
}
/* line 40, ../assets/sass/partials/controls/_action-bar.scss */
.action-bar.buttons .container > .left {
  border-right: 1px solid white;
}
/* line 43, ../assets/sass/partials/controls/_action-bar.scss */
.action-bar.buttons .container > .left > .action-link:first-child {
  border-left: none;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 49, ../assets/sass/partials/controls/_action-bar.scss */
.action-bar.buttons .container > .right {
  border-left: 1px solid #d0d0d0;
}
/* line 52, ../assets/sass/partials/controls/_action-bar.scss */
.action-bar.buttons .container > .right > .action-link:last-child {
  border-right: none;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 60, ../assets/sass/partials/controls/_action-bar.scss */
.action-bar .container {
  height: 34px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #a1a1a1;
  border-top: 1px solid white;
}
/* line 66, ../assets/sass/partials/controls/_action-bar.scss */
.action-bar .container .action-link {
  text-decoration: none;
  font: normal 11px/34px arial,tahoma,verdana,helvetica;
  color: #333;
  height: 34px;
  font-style: italic;
  display: inline-block;
  text-shadow: 1px 1px 0 white;
}

/* line 1, ../assets/sass/partials/main/_buttons.scss */
.chlk-add {
  background: url(images/icons/add-item.png) 5px 50% no-repeat;
  padding-left: 25px;
}

/* line 7, ../assets/sass/partials/main/_buttons.scss */
.opacity-button:hover {
  opacity: 0.8;
}
/* line 11, ../assets/sass/partials/main/_buttons.scss */
.opacity-button:active {
  opacity: 0.6;
}

/* line 11, ../assets/sass/partials/_main.scss */
BODY DIV.page #content DIV#content-wrapper.profile #main-top, BODY DIV.page #content DIV#content-wrapper.profile #footer {
  background-image: url(images/profile/paper-top-bottom.png);
}
/* line 15, ../assets/sass/partials/_main.scss */
BODY DIV.page #content DIV#content-wrapper.profile #footer {
  background-position: 0 -50px;
}
/* line 19, ../assets/sass/partials/_main.scss */
BODY DIV.page #content DIV#content-wrapper.profile #main-wrapper {
  background-image: url(images/profile/paper-bg.png);
}
/* line 23, ../assets/sass/partials/_main.scss */
BODY DIV.page #content DIV#content-wrapper.profile #main-wrapper #main .not-transparent {
  background: #baa76e;
}
/* line 27, ../assets/sass/partials/_main.scss */
BODY DIV.page #content DIV#content-wrapper.profile #main-wrapper #main .panel-bg {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3eee0), color-stop(100%, #ece1c1));
  background: -webkit-linear-gradient(top, #f3eee0, #ece1c1);
  background: -moz-linear-gradient(top, #f3eee0, #ece1c1);
  background: -o-linear-gradient(top, #f3eee0, #ece1c1);
  background: linear-gradient(top, #f3eee0, #ece1c1);
}
/* line 35, ../assets/sass/partials/_main.scss */
BODY DIV.page #content DIV#content-wrapper #main .not-transparent {
  background: #c9c9c9;
  border: 1px solid #a1a1a1;
  border-bottom-color: #fbfbfb;
  border-right-color: #fbfbfb;
  padding: 3px;
  margin-bottom: 15px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
/* line 45, ../assets/sass/partials/_main.scss */
BODY DIV.page #content DIV#content-wrapper #main .panel-bg {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e7e7e7));
  background: -webkit-linear-gradient(top, #f5f5f5, #e7e7e7);
  background: -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
  background: -o-linear-gradient(top, #f5f5f5, #e7e7e7);
  background: linear-gradient(top, #f5f5f5, #e7e7e7);
}
