@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

@import "partials/windows/document-viewer";

.x-window {
  border: 1px solid #adadad;

  @include box-shadow(#ccc, 0px, 0px);
  @include border-radius(15px);
}

.x-window .x-tool, .pop-close {
  background: url(images/ui/close-btn.png) 0 0;

  height: 27px;
  width: 28px;
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;

  &.type-2{
    background: url(images/ui/close-btn-2.png) 0 0 no-repeat;
    top: -11px;
    right: -16px;

    &:hover{
      opacity: 0.8;
    }
  }
}

.x-window.dark-close .x-tool{
  background: url(images/ui/close-btn-dark.png) 0 0 no-repeat;
  top: -11px;
  right: -16px;

  &:hover{
    opacity: 0.8;
  }
}

.x-window .x-tool-close-over {
  background-position: 0 -26px;
}

.x-btn.chalkable BUTTON {
  padding-left: 21px !important;
  line-height: 18px !important;
  font-style: italic;
}

.x-window {
  background: #e7e7e7;

  INPUT, TEXTARE {
    background-color: #f1f9fb important;
  }

  .x-window-tl .x-window-header {
    color: #5d6d75;
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;
    padding-left: 25px !important;
    text-align: left;
  }

  .x-window-tc {
    /*background-image: url(../images/default/window/top-bottom.png);*/
    background: none;
    padding: 0px;
  }

  .x-window-tl {
    /*background-image: url(../images/default/window/left-corners.png);*/
    background: none;
    padding: 0px;
  }

  .x-window-tr {
    /*background-image: url(../images/default/window/right-corners.png);*/
    background: none;
    padding: 0px;
  }

  .x-window-bc {
    /*background-image: url(../images/default/window/top-bottom.png);*/
    background: none;
    padding: 6px 0px 0px !important;
  }

  .x-window-bl {
    /*background-image: url(../images/default/window/left-corners.png);*/
    background: none;
    padding: 0px;
  }

  .x-window-br {
    /*background-image: url(../images/default/window/right-corners.png);*/
    background: none;
    padding: 0px;
  }

  .x-window-mc {
    border: none !important;
    /*border-color:#99bbe8;*/
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    /*background-color:#dfe8f6;*/
  }

  .x-window-ml {
    /*background-image: url(../images/default/window/left-right.png);*/
    background: none;
    padding: 0px;
  }

  .x-window-mr {
    /*background-image: url(../images/default/window/left-right.png);*/
    background: none;
    padding: 0px;
  }
}

.x-window-header-text{
  color: #6d6f6e;
  font-size: 24px;
}

.chlk-window-header{
  float:left;

  .star-container{
    padding-top: 17px;

    .window-star{
      height: 18px;
    }
  }

  .class-teacher{
    padding: 0 10px;

    .class-name{
      color: #36819c;
      font-size: 24px;
    }

    .teacher-name{
      color: #a1a1a1;
      font-size: 18px;
    }
  }

  >DIV{
    float:left;
  }
}

.answer-link{
  display: block;
  width: 114px;
  height: 43px;
  background: url(images/announcement/answer.png) no-repeat;
  margin: 20px 0;
}

.window-container1{
  display: table;
  width: 100%;
  
  .announcements-right, .announcement-view{
    display: table-cell;
    vertical-align: top;
  }

  .announcements-right{
    padding-top: 35px;
  }

  .attachments-block {
    //position: absolute;
    //right: -2px;
    //top: 23px;
    position: relative;
    padding: 20px 0 40px 0;
    width: 220px;
    background: url(images/announcement/attachment-box-top.png) no-repeat;

    .attachment-icon{
      background: url(images/announcement/attachment-icon.png) no-repeat;
      position: absolute;
      height: 32px;
      width:24px;
      left: 196px;
      top: 20px;
    }

    >DIV.attachment-bottom{
      background: url(images/announcement/attachment-box-bottom.png) bottom center no-repeat;
      height: 11px;
      padding-top: 0;
    }

    .first-container{
      border: 1px solid #b6b6b6;
    }

    >DIV{
      padding-top: 12px;
      //background: url(images/announcement/attachment-box-bg.png);
      @include background(linear-gradient(left, #f0f0f0, #ddd));

      DIV.file-type {
        verical-align:bottom;
        height: 55px;
        //padding-left: 55px;
        background: 4px 50% no-repeat;
      }

      DIV.file-type.doc {
        //background-image: url(images/file-types/doc.png);
        background-image: url(images/file-types/doc.png);
        background-position: 172px 12px;

        >DIV{
          display: table-cell;
          vertical-align: bottom;
          height: 42px;
          width: 158px;
          word-wrap: break-word;
          max-width: 158px;
          text-align: right;
          color: #666;
          padding-left: 10px;

          a{
            color: #2f2ffb;
          }
        }
      }

      > DIV.file-descr {}
    }
  }
}

/*.announcement-view{
  IFRAME{
    width: 443px !important;
  }
}*/

.attendance-styles-window{
  display: table;
  width: 650px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 25px;

  .attendance-types{
    display: table-row;
    height: 30px;

      >DIV{
        display: table-cell;
        border-bottom: 1px solid black;
        vertical-align:middle
      }

      &.header{
        >DIV{
          background: whiteSmoke;
          border: 1px solid black;
        }
      }
  }
}

.preference-container{
  padding: 20px;

  th{
    width: 200px;
  }
}