.add-message
  width: 450px

  .general-info
    margin-top: -15px

  TEXTAREA
    margin-top: 5px
    display: block
    width: 100%
    min-height: 175px

  .view-dialog & TEXTAREA
    color: #333
    border: transparent
    box-shadow: none

  .subject .text
    font-weight: 600
    font-size: 15px
    line-height: 26px