.file-cabinet-dialog

  .announcement-item.application
    img
      width: 170px
      height: 110px

    .shortdesc
      top: 30px
      .data
        display: inline-block

    .action-button
      display: inline-block !important
      margin-top: 5px !important
      position: relative !important
      top: -48px !important

  .file-search-container
    left: -10px
    position: relative

  .no-documents
    text-align: center
    font-size: 14px