.group-students-filter-dialog, .announcement-edit-groups-dialog
  .dialog
    width: 300px

  .filter-students-form
    max-height: 500px
    overflow-y: auto

  .buttons-container
    text-align: center
    padding: 10px 0
    background: #F5F6F3

  .items-container
    margin-left: 20px

.announcement-edit-groups-dialog
  .dialog
    .close-btn
      top: 10px

  .group-container
    padding: 10px
    position: relative

  .group-name
    width: 245px

    &:not(:focus)
      border: none
      +box-shadow(none)

.announcement-groups-dialog
  .right-triangle
    right: 6px
    top: 16px

  .groups-container
    overflow-x: auto
    height: 366px

  table
    color: #373634

  .name
    overflow: hidden
    text-overflow: ellipsis
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding-left: 12px

    &:hover, &.active
      background-color: #f7f7f5
      color: #437d97
      border-right: 1px solid #d7d7d7

  .column-cell
    position: relative
    height: 30px
    padding: 5px 13px 5px 12px

    a, span
      font: normal 15px/40px Arial

  .dialog
    min-height: 480px
    width: 771px

  h1
    +background(linear-gradient(top, #f4f4f3, #ffffff))
    font-size: 15px

    button
      float: right

  .column-cell
    >*
      vertical-align: middle

  input[type=checkbox].right, .right input[type=checkbox]
    position: absolute
    top: 12px
    right: 12px
    z-index: 2

    &::before
      content: " "
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0

  td
    width: 257px

    &:not(:last-child)
      border-right: 1px solid #d7d7d7

      h1
        border-right: 1px solid #d7d7d7

