.quick-app-install-dialog
  .dialog
    .app-description
      border-bottom: 1px solid #e7e6e2
      margin-bottom: 25px

    .app-description TEXTAREA
      border: none
      background: none
      box-shadow: none
      width: 99%
      min-height: 70px
      resize: none

    .install-btn
      button
        padding: 5px 47px
        font-size: 17px
        text-transform: uppercase

    .transaction-details
      text-align: center
      font-size: 14px
      .text
        color: green
        font-weight: bold
