@import "compass/css3/border-radius";
@import "compass/css3/images";

$border-color: #a1a1a1;

DIV#content-wrapper{
  &.profile{
    .action-bar{
      &.buttons{
        .container{
          .action-link, .action-button{
            &:hover, &.pressed{
              color: #957633;
              @include background(linear-gradient(top, #f3eedf, #e1d3a6));
            }
          }
        }
      }
    }
  }
}

.action-bar{
  &.buttons{
    .container{
      .action-link, .action-button{
        padding: 0 10px;
        border-left: 1px solid white;
        border-right: 1px solid #d0d0d0;
        color: #828282;
        font-size: 12px;
        font-style: normal;
        cursor: pointer;

        &:hover, &.pressed{
          color: #2f7790;
          @include background(linear-gradient(top, #f6f6f6,#d8d8d8));
        }
      }

      >.left{
        border-right: 1px solid white;

        >.action-link:first-child, >.action-button:first-child{
          border-left: none;
          @include border-radius(5px 0 0 5px);
        }
      }

      >.right{
        border-left: 1px solid #d0d0d0;

        >.action-link:last-child, >.action-button:last-child{
          border-right: none;
          @include border-radius(0 5px 5px 0);
        }
      }
    }
  }

  &.not-transparent{
    .container{
      @include border-radius(5px);
    }
  }

  .container{
    height: 34px;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid white;

    .action-link, .action-button{
      text-decoration: none;
      font: normal 11px/34px arial,tahoma,verdana,helvetica;
      color: #333;
      height: 34px;
      font-style: italic;
      display: inline-block;
      text-shadow: 1px 1px 0 white;
    }
  }
}