.ui-autocomplete{
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0,0,0,.15);
  border-radius: 0 0 4px 4px;

  li{
    a{
      color: #6e6e6e;
      font-size: 13px;
      &.ui-state-focus{
        @include background(linear-gradient(#3875d7 20%,#2a62bc 90%));
        color: white;
      }
    }
  }
}