@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";

.avatar-container{

  &:not(.no-overflow){
    overflow: hidden;
  }

  &.with-border{
    border-radius: 6px;
    border: 2px solid #888;
    @include box-shadow(0 2px 2px #777);
  }
  display: inline-block;
  background: white;

  &.white{
    border-top: 1px solid #adadad;
    display: inline-block;
  }

}

.avatar {
  overflow: hidden;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;

  &.white{
    border: 2px solid #fff;
  }

  &.gray{
    border: 2px solid #f4f4f4;
  }

  &.avatar-24 {
    width: 24px;
    height: 24px;
  }

  &.avatar-40 {
    width: 40px;
    height: 40px;
  }

  &.avatar-47 {
    width: 47px;
    height: 47px;

    &.size-41{
      width: 41px;
      height: 41px;
    }
  }

  &.avatar-64 {
    width: 64px;
    height: 64px;
  }

  &.avatar-128 {
    width: 128px;
    height: 128px;
  }

  &.avatar-256 {
    width: 256px;
    height: 256px;
  }

  &.blank{
    margin: 5px;
    float: left;
    width: 64px;
    height: 64px;
  }

}

.photo-conainer{
  padding-top: 7px;

  .photo-avatar{
    background: url(images/profile/avatar-frame.png) no-repeat;
    height: 252px;
    width: 202px;
    padding: 21px 18px 0px;
    .avatar{
      border-width: 0px;
      background: none;
      width: 201px;
      height: 167px;
    }
  }
}

.alerts-pop-up{
  display: none;
  z-index: 99999999999;
  background: rgba(255, 255, 255, 0.9);
  padding: 4px 10px 4px 0px;
  width: 268px;
  position: absolute;
  @include box-shadow(0 0 2px gray);
  @include border-radius(3px);

  .alerts-triangle-container{
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;

    .left-item{
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .alerts-triangle{
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 15px solid rgba(255,255,255,0.9);
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }
  }

  .alert-item{
    text-overflow: ellipsis;
    font: bold 14px Arial;
    color: #532f18;

    &:not(:last-child){
      border-bottom: 1px solid #ebe6d9;
    }

    .alert-icon{
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      width: 61px;
      height: 61px;
      &.internet{
        background-image: url(images/icons/internet-alert.png);
      }

      &.medical{
        background-image: url(images/icons/medical-alert.png);
      }

      &.special{
        background-image: url(images/icons/bubble-alert.png);
      }

      &.sped{
        background-image: url(images/icons/graduating-cap-alert.png);
      }
    }

    .alert-description{
      display: inline-block;
      vertical-align: middle;
      padding: 6px 0;
      width: 202px;
      word-wrap: break-word;
    }


  }
}

.avatar-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.alerts-icon{
  background: url(images/icons/alerts-white.png) 0 0 no-repeat;
  width: 38px;
  height: 37px;
  right: -19px;
  top: -17px;
  position: absolute;
  z-index: 1000;

  &.small{
    background: url(images/attendance/alerts.png) 0 0 no-repeat;
    width: 25px;
    height: 27px;
    right: -13px;
    top: -12px;
  }
}

.person-avatar-m-40, .person-avatar-w-40, .person-avatar-m-47, .person-avatar-w-47, .person-avatar-m-55, .person-avatar-w-55,
.person-avatar-m-64, .person-avatar-w-64, .person-avatar-m-70, .person-avatar-w-70, .person-avatar-m-128, .person-avatar-w-128{
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &:before{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.person-avatar-m-40, .person-avatar-w-40{
  height: 40px;
  width: 40px;
}

.person-avatar-m-40{
  &:before{
    background-image: url(avatars/40/.no-avatar.png);
  }
}

.person-avatar-w-40{
  &:before{
    background-image: url(avatars/40/.no-avatar-female.png);
  }
}

.person-avatar-m-47, .person-avatar-w-47{
  height: 47px;
  width: 47px;
}

.person-avatar-m-47{
  &:before{
    background-image: url(avatars/47/.no-avatar.png);
  }
}

.person-avatar-w-47{
  &:before{
    background-image: url(avatars/47/.no-avatar-female.png);
  }
}

.person-avatar-m-55, .person-avatar-w-55{
  height: 55px;
  width: 55px;
}

.person-avatar-m-55{
  &:before{
    background-image: url(avatars/55/.no-avatar.png);
  }
}

.person-avatar-w-55{
  &:before{
    background-image: url(avatars/55/.no-avatar-female.png);
  }
}

.person-avatar-m-64, .person-avatar-w-64{
  height: 64px;
  width: 64px;
}

.person-avatar-m-64{
  &:before{
    background-image: url(avatars/64/.no-avatar.png);
  }
}

.person-avatar-w-64{
  &:before{
    background-image: url(avatars/64/.no-avatar-female.png);
  }
}

.person-avatar-m-70, .person-avatar-w-70{
  height: 70px;
  width: 70px;
}

.person-avatar-m-70{
  &:before{
    background-image: url(avatars/70/.no-avatar.png);
  }
}

.person-avatar-w-70{
  &:before{
    background-image: url(avatars/70/.no-avatar-female.png);
  }
}

.person-avatar-m-128, .person-avatar-w-128{
  height: 128px;
  width: 128px;
}

.person-avatar-m-128{
  &:before{
    background-image: url(avatars/128/.no-avatar.png);
  }
}

.person-avatar-w-128{
  &:before{
    background-image: url(avatars/128/.no-avatar-female.png);
  }
}
