@import "compass/css3/border-radius";

.glance-container{
  .glance-box:not(:first-child){
    margin-left: 20px;
  }
}

.glance-box {
  text-decoration: none;
  >DIV{
    //position: relative;
    @include transition-property("all");
    @include transition-duration("0.2s");
    @include transition-delay("0.3s");

    .details-container{
      @include transition-property("all");
      @include transition-duration("0.2s");
      @include transition-delay("0.3s");
      height: 80px;
      overflow-y: auto;
      opacity: 0;
      width: 105px;
      text-align: left;
    }
  }

  cursor: pointer;
  color: #957633;
  display: inline-block;
  vertical-align: top;
  width: 84px;
  height: 99px;
  border: 1px solid #b3a066;
  @include box-shadow(0 1px 1px #b3a066);
  background: rgba(240, 233, 212, 0.5);
  border-radius: 5px;
  text-align: center;
  overflow: hidden;

  &.hover-action-box:hover{
    >DIV{
      margin-top: -69px;

      .details-container{
        opacity: 1;
      }
    }
  }

  .glance-title{
    text-align: center;
    font: normal 14px Arial;
    text-shadow: 1px 0px 0px #cdc4b4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 3px;
    color: #40220f;
    margin: 6px 0 0 0;
    &.f-13{
      font-size: 13px;
    }
  }

  .value{
    width: 56px;
    height: 56px;
    margin: 12px auto 1px;
    font: bold 22px Helvetica, Arial;
    color: #fff;
    text-shadow: 0px 1px 1px grey;
    line-height: 56px;
    background: #3d9350;
    @include border-radius(33px);
    overflow: hidden;

    &:not(:first-child){
      margin-left: 20px;
    }
    &.large{
      font-size: 36px;
    }
    &.small{
      font-size: 26px;
    }
    &.red{
      background: #800000;
    }
    &.brown {
      background: #8b6e2f;
    }
  }

  .details{
    margin: 0 11px 0;
    display: inline-block;
    background: url(images/profile/glance-details-bg.png) center 0 no-repeat, #f0e5c4;
    width: 55px;
    min-height: 58px;
    padding: 7px 3px 3px 3px;
    overflow: hidden;
    color: #957633;
    border: 1px solid #6b5841;
    border-width: 3px 1px 2px 1px;
    border-radius: 2px;
    @include box-shadow(inset 1px 1px 0 #bdaf92);

    >DIV{
      font: normal 11px Arial;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      >DIV{
        display: inline-block;
        vertical-align: top;
        overflow: hidden;

      }

      .summary{
        width: 40px;
        text-overflow: ellipsis;
      }

      .total{
        width: 15px;
      }
    }
  }

}

