@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

.lr-toolbar{
  position: relative;
  overflow: hidden;
  height: 101px;

  &.centered{
    .second-container{
      text-align: center;
    }
  }

  .arrow{
    position: absolute;
    top: 2px;
    display: block;
    width: 7px;
    height: 76px;
    margin: 4px 0;
    cursor: pointer;

    &.disabled{
      opacity: 0.5;
    }

    &.prev-button{
      background: url(images/common/classes-left.png) center center no-repeat;
      left: 3px;
    }

    &.next-button{
      background: url(images/common/classes-right.png) center center no-repeat;
      right: 3px;
    }
  }

  &.classes-bar{
    .first-container{
      margin-left: 17px;
      width: 633px;

      .class-button{
        cursor: pointer;
      }
    }
  }

  .paginator{
    z-index: 10;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 12px;
    height: 5px;
    left: 2px;
    right: 0;
    list-style: none;

    A{
      display: inline-block;
      cursor: pointer;
      height: 4px;
      width: 9px;
      margin: 0 4px 0 0;
      background: #748891;
      @include border-radius(2px);

      &.current {
        background: #233036;
      }
    }

    &.rounded{
      A{
        margin: 2px;
        width: 6px;
        height: 7px;
        background: url(images/profile/dots.png) 0 0 no-repeat;

        &.current {
          background-position: -12px 0;
        }
      }
    }
  }

  .first-container{
    white-space: nowrap;
    overflow: hidden;

    .second-container{
      position: relative;
      @include transition-property("all");
      @include transition-duration("0.5s");

      .item{
        height: 82px;
        display: inline-block;
        width: 73px;

        &.class-button{
          background-position: center top;
          color: #b6b6b6;
          text-decoration: none;
          position: relative;
          border: 3px solid #C9C9C9;
          border-radius: 7px;
          margin: 3px;
          text-align: center;
          background: url(images/common/classesbar-controls.png) center top no-repeat;
          background-color: #C9C9C9;
          vertical-align: top;

          >SPAN.admin{
            font: bold 38px Arial;
            padding-top: 17px;
            letter-spacing: -3px;
            display: inline-block;

            >SPAN{
              font: normal 20px Pacifico;
              display: inline-block;
              vertical-align: top;
              padding-top: 6px;
              padding-left: 3px;
              letter-spacing: 0;
            }
          }

          &:hover{
            background-position: center center;
          }

          &.pressed, &:active{
            background-position: center bottom;

            .img-wrapper{
              top: 13px;

              IMG{
                margin-top: -45px;
              }
            }

            .text-container{
              color: #2f7790;
            }

            >SPAN.admin{
              color: #2f7790;
            }
          }

          .img-wrapper{
            background-repeat: no-repeat;
            height: 35px;
            left: 11px;
            position: absolute;
            top: 11px;
            width: 45px;
            overflow: hidden;

            IMG{
              margin-top: -45px;
              width: 45px;
              height: 80px;
            }
          }

          .text-container{
            text-align: center;
            display: inline-block;
            width: 56px;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-top: 35px;
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            font-family: Arial Narrow, Arial, serif;
            white-space: nowrap;
          }
        }

        &.action-link, &.button-link{
          &:not(.no-action-link-styles){
            height: 76px;
            width: 67px;
            overflow: hidden;

            .text-container{
              padding-top:49px;
            }
          }
        }
      }
    }
  }
}

BODY {
  DIV.page{
    >DIV#content {
      DIV#content-wrapper.profile{
        .lr-toolbar{
          .first-container{
            .second-container{
              .item.class-button{
                border-color: #baa76e;
                background-image: url(images/profile/classes.png);
                color: #655421;
                font: normal 12px Georgia;
                font-style: italic;
                text-shadow: 1px 1px 0 white;

                &:hover{
                  background-position: center bottom;
                }
              }
            }
          }
        }
      }
    }
  }
}

BODY {
  DIV.page{
    >DIV#content {
      DIV#content-wrapper.calendar{
        .lr-toolbar{
          .first-container{
            .second-container{
              .item.class-button{
                border-color: #4398ae;
                background-color: #4398ae;
                background-image: url(images/common/classesbar-controls-calendar.png);
                color: #4398ae;
              }
            }
          }
        }
      }
    }
  }
}
