@import "compass/css3/border-radius";
@import "compass/css3/images";

.chzn-container{
  &.chzn-container-single {
    .chzn-single{
      height: 25px;
      font: normal 14px/25px 'Myriad Pro';
      text-shadow: 1px 1px 1px white;
      color: #9D9D9D;
      border: 1px solid #c9c9c9;
      @include background(linear-gradient(top, #ffffff, #dadada));

      div{
        b {
          background: url(images/common/select-arrows.png) no-repeat 9px center;
        }
      }

      SPAN{
        line-height: 26px;
      }
    }

    .chzn-drop{
      border: 1px solid #c9c9c9;
      @include background(linear-gradient(top, #ffffff, #efefef));
    }
  }

  &.white{
    .chzn-single{
      background: white;

      div{
        @include background(linear-gradient(top, #ffffff, #dadada));
      }
    }
  }
}

.chlk-multiple-select{
  position: relative;

  >a{
    >.chlk-multiple-select-text{
      background: transparent;
      border: none;
      cursor: pointer;
      width: 64px;
      padding-left: 15px;
      padding-right: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    cursor: pointer;
  }

  .chlk-multiple-triangle{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #a5a5a5;
    position: absolute;
    top: 13px;
    right: 13px;
    @include transition-property("all");
    @include transition-duration(0.2s);
  }

  &.selected{
    background: #ededed;

    .chlk-multiple-triangle{
      @include transform(rotate(180deg));
      z-index: 1001;
    }

    >a{
      >.chlk-multiple-select-text{
        z-index: 1001;
        background: #ededed;
        position: relative;
      }
    }
  }

  &:not(.selected){
    >a{
      >div{
        color: #4d92a8;
        text-shadow: 0 1px 0 white;
      }
    }

    .chlk-multiple-select-list{
      display: none;
    }
  }

  .chlk-multiple-select-list{
    position: absolute;
    z-index: 1000;
    background: #ededed;
    margin-top: -2px;
    margin-left: -1px;
    @include box-shadow(0 0 18px #aaa);

    .labeled-checkbox{
      display: block;
      text-align: left;
      margin: 5px 9px;
      width: 77px;
    }
  }
}