mixin SmallChart(data, header, chartId)
    configs = self.getChartData(data);
    -console.info(configs);
    .block(attributes)
        .panel-header=header
        .chart-block.relative
            .chart-bg=(data.getStat() ? data.getDisplayNumber() || "0" : "0")
            +Chart()(
                data-options = {
                    backgroundColor: 'transparent',
                    chart: {
                        type: 'area',
                        backgroundColor: 'transparent',
                        width: 206,
                        height: 181,
                        style: {
                            fontFamily: 'Arial',
                            fontSize: '10px',
                            color: '#a6a6a6'
                        }

                    },
                    labels: {
                        style: {
                            color: '#a6a6a6',
                            textOverflow: 'ellipsis',
                            fontSize: '9px'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        categories: configs.categories
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        lineWidth:0,
                        showFirstLabel: false,
                        showLastLabel: false,
                        gridLineDashStyle: 'dot',
                        tickInterval: Math.floor((configs.max + 10) / 30) * 10,
                        max: configs.max + 10
                    },
                    legend:{
                        enabled: false
                    },
                    tooltip: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            marker: {
                                enabled: false,
                                states: {
                                    hover: {
                                        enabled: false
                                    }
                                }
                            }
                        }
                    },
                    colors: ['#d8d8d8'],

                    series: [{
                        name: '',
                        lineWidth: 0,
                        data: configs.data
                    }]
                }
            )(id = chartId)

.admin-home.loader-container
    .loader
    #admin-home-charts.third-blocks-container
        +SmallChart(self.getNotInClassBox(), Msg.Not_In_Class_Now, 'now-chart').first-block
        +SmallChart(self.getAbsentForDay(), Msg.Absent_Today, 'today-chart').second-block
        +SmallChart(self.getAbsentForMp(), Msg.Absent_Average_MP(self.getMarkingPeriodName()), 'mp-chart').third-block
    #admin-second-block.third-blocks-container


