@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary;
  }

  ::-webkit-scrollbar-track {
    background: $secondary;
  }

// For Internet Explorer
  body {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}

#main-wrapper{
  #main{
    .class-disciplines-page{

      .row{
        .triangle{
          width: 0;
          height: 0;
          border-top: 9px solid transparent;
          border-left: 10px solid #a5a5a5;
          border-bottom: 9px solid transparent;
          @include transition-property("all");
          @include transition-duration("0.5s");

          &.down{
            @include transform(rotate(90deg));
          }
        }
        .right{
          margin-right: 35px;
        }

        .saving-block, .saved-block{
          display: none;
          font: bold 12px Arial;
          color: #5d5d5d;
        }

        .saved-block{
          background: url(images/discipline/saved.png) 0 center no-repeat;
          padding-left: 25px;
        }

        .tooltip-container{
          margin-right: 0;

          .with-discipline{
            background: url(images/discipline/width-discipline.png) 0 center no-repeat;
            width:24px;
            height: 21px;
            margin-right: 22px;
          }
        }

        &.saving{
          .saving-block{
            display: block;
          }
        }

        &.saved{
          .saved-block{
            display: block;
          }
        }
      }

      .discipline-form-block{

        .discipline-types, .discipline-desciption-container{
          display: inline-block;
          margin: 20px;
        }
        .discipline-types{
          .column{
            .labeled-checkbox{
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
        .discipline-desciption-container{
          background: #f5f5f5;
          @include box-shadow(0 2px 6px 0px #989897);
          width: 300px;
          height: auto;

          .title, .notes-area{
            margin: 7px 15px 0px 15px;
            width: auto;
            background: none;
          }
          .title{
            color: #5C7684;
            background: none;
          }

          .notes-area-container{
            background: url(images/discipline/new-text-area.png) 0px 0px repeat;
            width: 300px;
          }

          .notes-area{
            border: none;
            width: 260px;
            resize: none;
            overflow-y: scroll;
            line-height: 30px;
            margin-top: 3px !important;
            //
            //::-webkit-scrollbar {
            //  width: 12px;
            //}
            //
            //::-webkit-scrollbar-track {
            //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            //  border-radius: 10px;
            //}
            //
            //::-webkit-scrollbar-thumb {
            //  border-radius: 10px;
            //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            //}
          }
        }
      }
    }
  }
}