
#main-wrapper{
  #main{
    .disciplines{
      .left{
        padding-left: 5px;
        label{
          margin-left: 15px;
          margin-right: 10px;
          font-size: 12px;
        }
        .chlk-button.action-link{
          padding: 0px !important;
          margin-left: 2px;
          button{
            background: none;
            border: none;
            cursor: pointer;
            margin: 0px;
            height: 33px;
          }
        }
      }
    }
  }
}

.admin-discipline{
  .button-block.with-padding{
    margin-bottom: 30px;
  }

  .students-statistic.page-1{
    .chart-container-1{
      margin-top: 29px;
    }
  }
}
