.blobs

    +Grid('storage', 'blobsPage', self.items, [self.containerAddress]).not-transparent
        +GridHead()
            .th Name
            .th Uri
            .th Size
            .th
        +GridBody()
            each item in self.items.getItems()
                +GridRow()
                    .td= item.getName()
                    .td= item.getUri()
                    .td= item.getSize()
                    .td.action-links
                        +ActionLink('storage', 'delete', item.getName()).remove

