.db-maintenance
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                +ActionLink('dbmaintenance', 'listBackups') Backups
                +ActionLink('dbmaintenance', 'updateDb').pressed Update
    +ActionForm('schools', 'addSchool').db-update-form
        .x-form-field
            label Master Update
            textarea#masterSql
        .x-form-field
            label School Update
            textarea#schoolSql
        +Button(type="submit").special-button.blue-button.submit-btn RUN


