.announcement-form.admin-announcement-form.loader-container
    .loader
    +ActionForm('announcement', 'save')(onlySubmitValidate=true)
        .ann-form-container
            +BaseAnnouncementFormContainer(self.getAnnouncement(), null, self.getAdminRecipientId(), self.getAdminRecipients(), self.getUserRole())
    +AddEditReminderForm(self.getAnnouncement(), self.reminders)