-var recipients = self.getRecipients() || []
each recipient in recipients
      .grey-button.same-on-hover.button-like=recipient.getName()
            +ActionLink('announcement', 'removeRecipient', recipient.getAnnouncementId(), recipient.getGroupId()).remove-recipient