-var recipients = self.getRecipients() || []
+ActionLink('announcement', 'showGroups', self.getId()).add-recipients-btn
each group in recipients
      .recipient-item.group-recipient=group.getGroupName()
            +ActionLink('announcement', 'removeRecipient', group.getAnnouncementId(), group.getGroupId()).remove-recipient
each student in self.getAdminAnnouncementStudents() || []
      .recipient-item.student-recipient=student.getDisplayName()
            +ActionLink('announcement', 'removeRecipient', self.getId(), null, student.getId()).remove-recipient
+SearchBox(chlk.services.SearchService, "searchByTypes", chlk.templates.recipients.RecipientsSearchTpl, [chlk.models.search.SearchTypeEnum.STUDENT,chlk.models.search.SearchTypeEnum.GROUP])(
      name="recipient"
      clearAfterSelect = false
      withButton = true,
      listCls = "recipients-search"
).recipient-search
Button(type="submit", name="submitType", value="recipient").x-hidden.recipient-submit.validate-skip
