-var recipients = self.getRecipients() || []
+ActionButton('adminannouncement', 'showGroups', self.getId()).add-recipients-btn.grey-button.same-on-hovere +
each recipient in recipients
      .grey-button.same-on-hover.button-like=recipient.getGroupName()
            +ActionLink('adminannouncement', 'removeRecipient', recipient.getAnnouncementId(), recipient.getGroupId()).remove-recipient