-var recipients = self.getRecipients() || []
+ActionButton('announcement', 'showGroups', self.getId()).add-recipients-btn.grey-button.same-on-hovere +
each group in recipients
      .grey-button.same-on-hover.button-like.group-recipient=group.getGroupName()
            +ActionLink('announcement', 'removeRecipient', group.getAnnouncementId(), group.getGroupId()).remove-recipient
each student in self.getAdminAnnouncementStudents() || []
      .grey-button.same-on-hover.button-like.student-recipient=student.getDisplayName()
            +ActionLink('announcement', 'removeRecipient', self.getId(), null, student.getId()).remove-recipient
