mixin PostCommentForm(announcementId, parentCommentId, commentId, attachments, text)
    -attributes['data-id']=(commentId && commentId.valueOf()) || (parentCommentId && parentCommentId.valueOf())
    -var ids = attachments && attachments.map(function(attachment){return attachment.getId().valueOf()}).join(',')
    +ActionForm('announcementcomment', 'post')(attributes).post-comment-form.no-working
        +Hidden('attachmentIds', ids)(data-value=ids).attachment-id
        +Hidden('announcementid', announcementId)
        +Hidden('id', commentId)
        +Hidden('parentcommentid', parentCommentId)
        .post-comment-text-block.relative
            +TextArea(name="text", placeholder="Type your comment here", data-value=text).comment-value=text
            .imgs-cnt
                if self.getAttachments()
                    +RenderWith(self.getAttachments(), chlk.templates.announcement.AnnouncementCommentAttachmentsTpl)
            br
            .simple-gray-button.download-link.file Attach
                +FileUpload('announcementcomment', 'uploadCommentAttachment', [commentId && commentId.valueOf() ? commentId : parentCommentId])(
                    dropAreaSelector = 'form',
                    multiple = true,
                    value = 'Attach'
                ).add-file-attachment.simple-gray-button
        BUTTON().green-button Post
        BUTTON(type="button").comment-cancel Cancel

-var comments = self.getAnnouncementComments()
-var count = self.getCommentsCount()
.post-comment-block
    +PostCommentForm(self.getId()).new-comment
.comments-block.main-block
    h3.comments-count=  count + (count == 1 ? ' comment' : ' comments')
    +RenderWith(comments, chlk.templates.announcement.AnnouncementCommentTpl)(
        userRole = self.getUserRole(),
        currentUser = self.getCurrentUser()
    )