h1.column-cell=Msg.Schools
.column-cell
    -var allSchoolsStage = self.getAllSchoolsStage()
    +ActionCheckbox('allSchools', allSchoolsStage != 0, false, true, 'group', 'assignAllSchools', 'unAssignAllSchools',
        [self.getGroup().getId()])(containerCls = 'box-checkbox', class = (allSchoolsStage == 1) ? 'partially-checked' : '').all-schools-check
    SPAN
        .text-container All Schools
each school in self.getSchools()
    .school-grade-levels
        .column-cell.school-name
            -var schoolStage = self.getSchoolStage(school)
            +ActionCheckbox('school', schoolStage != 0, false, true, 'group', 'assignSchool', 'unAssignSchool', [self.getGroup().getId(),
                school.getSchoolYearId()])(containerCls = 'box-checkbox', class = (schoolStage == 1) ? 'partially-checked' : '').school-check
            SPAN
                .text-container(data-tooltip = school.getName(), data-tooltip-type="overflow")=school.getName()
        each gradeLevel in self.getGradeLevels()
            -var gradeLevelStage = self.getGradeLevelStage(gradeLevel, school)
                if gradeLevelStage > -1
                    .column-cell.grade-level-name
                        +ActionCheckbox('gradeLevel', gradeLevelStage != 0, false, true, 'group', 'assignGradeLevel', 'unAssignGradeLevel',
                            [self.getGroup().getId(), school.getSchoolYearId(), gradeLevel.getId()])(containerCls = 'right box-checkbox', class = (gradeLevelStage == 1) ? 'partially-checked' : '').grade-level-check
                        +ActionLink('group', 'showGradeLevelMembers', self.getGroup().getId(), school.getSchoolYearId(), gradeLevel.getId())(data-tooltip=gradeLevel.getName(),
                            data-tooltip-type="overflow").grade-level-name.internal.name
                                .text-container(data-tooltip = gradeLevel.getName(), data-tooltip-type="overflow")=gradeLevel.getName()
