standards = self.getItemStandards() || []
    each standard in standards
        .grey-button.same-on-hover
            span=standard.getName()
            +ActionLink('announcement', 'removeStandard', self.getAnnouncementId(), standard.getStandardId()).remove-standard