+ActionForm('announcement', self.getId() ? 'editGroupName' : 'createGroup').group-container
    +Hidden('id', self.getId())
    INPUT(type="text", value = self.getName(), class=self.getId() ? '' : 'temporary', name="name", class='validate[required]').group-name
    if self.getId()
        +ActionLink('announcement', 'tryDeleteGroup', self.getId()).delete-btn
    else
        Button(disabled='disabled').special-button2.blue-button.create-group +
