mixin AttributeAttachDocBtn_(attribute)
    if attribute.getAttributeAttachment() == null
        +ActionButton('announcement', 'fileAttach', attribute.getAnnouncementId(), attribute.getAnnouncementType(), attribute.getId())(
            id="add-attribute-file-attachment" + attribute.getId()
        ).attach-doc  Attach doc
    else
        +ActionButton('announcement', 'attributeAttachmentExists').attach-doc Attach doc

+AttributeAttachDocBtn_(self)



