mixin AttributeAttachDocBtn_(attribute)
    if attribute.getAttributeAttachment() == null
        div.simple-gray-button.file.attach-doc Attach doc
            +FileUpload('announcement', 'addAttributeAttachment', [attribute.getAnnouncementType(), attribute.getAnnouncementId(), attribute.getId()])(id="add-attribute-file-attachment" + attribute.getId(),
            class="simple-gray-button")
    else
        +ActionButton('announcement', 'attributeAttachmentExists').attach-doc Attach doc

+AttributeAttachDocBtn_(self)



