each standard in self.getStandards()
    .standard-item
        input(data-id=standard.getStandardId().valueOf(), value=standard.getGrade()).standard-grade.grey-input
        .standard-name.letters=standard.getName()
.clear-right
