attachments = self.getAnnouncementAttachments() || [];
typesEnum = chlk.models.announcement.AnnouncementTypeEnum;
isAnnouncement = (self.getAnnouncementTypeId() == typesEnum.ANNOUNCEMENT.valueOf() || self.getAnnouncementTypeId() == typesEnum.ADMIN.valueOf());
if self.needButtons
    #attach-file-area.announcement-item.attach-file-area
        if !isAnnouncement
            +ActionLink('announcement', 'attachApp', [self.getId().valueOf()])#add-application.simple-gray-button Attach App
        button.simple-gray-button.file Attach File
            +FileUpload('announcement', 'uploadAttachment', [self.getId().valueOf()])#add-attachment.simple-gray-button
each attachment, i in attachments
    div(data-id=attachment.getId(), data-url="viewurl").announcement-item.attachment
        if self.needDeleteButton
            +ActionLink('announcement', 'deleteAttachment', attachment.getId().valueOf()).close-btn
        +LoadingImage(src=attachment.getThumbnailUrl(), id="loading-image-" + i)
        .title
            div=attachment.getName()


