.dialog.edit-groups
    .x-window-header
        h1 Edit Groups
        .close.close-btn

    .groups-container
        each group in self.getGroups()
            -group.setListRequestId(self.getListRequestId())
            +RenderWith(group, chlk.templates.group.AnnouncementGroupTpl)(
                announcementId = self.getAnnouncementId()
            )
        .new-group
    .buttons-container
        +ActionButton('group', 'addGroup', self.getListRequestId(), self.getAnnouncementId()).special-button2.add.add-group + New Group

