-var text

.dialog.students-filter
    .x-window-header
        h1 Filter Students
        .close.close-btn

    +ActionForm('group', 'filterStudents').filter-students-form
        +Hidden('groupId', self.getGroupId())
        +Hidden('schoolYearId', self.getSchoolYearId())
        +Hidden('gradeLevelId', self.getGradeLevelId())
        +Hidden('classIds', '').class-ids

        if !self.getCourseTypes().length
            .no-items-text.small There are no classes

        each courseType in self.getCourseTypes()
            .main-item
                .column-cell
                    .box-checkbox
                        +Checkbox('courseType', false, false, true)(data-id=courseType.getCourseTypeId().valueOf()).course-type-check
                    SPAN.name
                        .text-container(data-tooltip = courseType.getCourseTypeName())=courseType.getCourseTypeName()
                .items-container
                    each course in courseType.getCourses()
                        .main-item
                            .column-cell
                                .box-checkbox
                                    +Checkbox('course', false, false, true)(data-id=course.getId().valueOf()).course-check
                                SPAN.name
                                    .text-container(data-tooltip = course.getName())=course.getName()
                            .items-container
                                each clazz in course.getClasses()
                                    .main-item
                                        .column-cell
                                            .box-checkbox
                                                +Checkbox('course', false, false, true)(data-id=clazz.getId().valueOf()).class-check
                                            SPAN.name
                                                text = clazz.getClassNumber() + ' ' + clazz.getName()
                                                .text-container(data-tooltip = text)=text

    .buttons-container
        BUTTON(type="button").special-button2.add.clear-all.negative-button Clear All
        BUTTON(disabled="disabled").special-button2.add.filter-button.green-button=Msg.Save

