mixin LessonPlanIcon_(lessonPlan, classId, isAbleToRemove)
   .announcement-item.application
       -var canRemove = isAbleToRemove || lessonPlan.isAnnOwner()
       if canRemove
            +ActionLink('lessonplangallery', 'tryDeleteLessonPlanFromGallery', lessonPlan.getId(), classId).close-btn
       .wrapper
           .attach-assessment.img
           .title(data-tooltip=lessonPlan.getTitle(), data-tooltip-type="overflow")= lessonPlan.getTitle()
           .shortdesc
           +ActionButton('announcement', 'createFromTemplate', lessonPlan.getId(), classId) Open

.lesson-plan-gallery
    h2.page-title Lesson Plan Gallery
    .action-bar
        .items
            +ActionLink('lessonplangallery', 'gallery').pressed Public

        +ActionButton('announcement', 'lessonPlanFromGallery').pressed.right +

    .gallery-view

       -var lessonPlans = self.getLessonPlans()
       +ActionForm('lessonplangallery', 'lessonPlanListFilter')#lp-gallery-filter
           +Hidden('start', lessonPlans.getPageIndex() * lessonPlans.getPageSize())
           +Hidden('count', lessonPlans.getPageSize())
           +Hidden('classId', self.getClassId())
           .buttons.filter
                .left
                    .sort
                        +Select('lpGalleryCategoryType')(id="lpGalleryCategoryType", placeholder = "Category")
                            +Option('', 'Select category', true)
                            each item in self.getCategories()
                                +Option(item.getId().valueOf(), item.getName(), item.getId() == self.getCategoryType())
                        span &nbsp;
                        +Select('lpGallerySortType')#lp-gallery-sort-type
                            -var sortTypeEnum = chlk.models.attachment.SortAttachmentType
                            +Option(sortTypeEnum.NEWEST_UPLOADED.valueOf(), 'Newest Uploaded', sortTypeEnum.NEWEST_UPLOADED == self.getSortType())
                            +Option(sortTypeEnum.OLDEST_UPLOADED.valueOf(), 'Oldest Uploaded', sortTypeEnum.OLDEST_UPLOADED == self.getSortType())
               .right.wrapper
                    .lesson-plan-gallery-search-container
                        input(type="text", placeholder='Search...', name="filter", value=self.getFilter()).lp-gallery-search.search-input
                        .search-glass
               .clear-fix
           .attachments-and-applications
               if !self.isEmpty()
                   each lessonPlan in lessonPlans.getItems()

                       +LessonPlanIcon_(lessonPlan, self.getClassId(), self.isAbleToRemove())
               else
                   .no-lesson-plans No Lesson Plans Uploaded
    .paging
        +Paginator2('lessonplangallery', 'lessonPlanTemplatesList',lessonPlans, [self.getClassId(), self.getCategoryType(),  self.getFilter(), self.getSortType() ])
