+Select('galleryCategoryId')#galleryCategoryId
    +Option('', 'Select category', true)
    each item in self.getCategories()
        +Option(item.getId(), item.getName())
    +Option(-1, 'Add Category')
