standards = self.getItemStandards() || []
if standards.length
    td.name-td
        .standards-names.column
            each standard in standards
                +ActionLink('announcement', 'showStandardsByCategory', self.getClassId(), self.getSubjectId(), standard.getDescription(), standard.getStandardId())(
                    data-id=standard.getStandardId()
                ).standard-name.column-cell
                    .name(data-tooltip=standard.getName(), data-tooltip-type="overflow")=standard.getName()
                    .right-triangle
    td
        .standards-description
else
    td
        .standards-description=self.getDescription()

