mixin StandardColumn(tplObj, standards)
    if standards.length > 0
        td.name-td
            .standards-names.column
                each standard in standards
                    +ActionLink('announcement', 'showStandardsByCategory', tplObj.getClassId(), tplObj.getSubjectId(), standard.getDescription(), standard.getStandardId())(
                    data-id=standard.getStandardId(),
                    class= standard.isSelected() ? 'active' : ''
                    ).standard-name.column-cell
                        .name(data-tooltip=standard.displayNameOrDescription(), data-tooltip-type="overflow")=standard.displayNameOrDescription()
                        .right-triangle

    else
        td
           .standards-description=tplObj.getDescription()


each standardsList in self.getStandardsTable().getStandardsColumns()
    +StandardColumn(self, standardsList)
