$color: #957633;

$brown-text: #532f18;
$txt-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);


BODY {
  DIV.page{
    >DIV#content {
      .profile-toolbar-button{
        background: url(images/profile/small-profile-icon.png) 8px 9px no-repeat !important;
        width: 76px;
      }

      .settings{
        #info-edit-form{
          input{
            width: 150px;
            height: 25px;
            border: 1px solid #b3a066;
            color: #aba07f;
            @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.21));

            &:not(.last-child){
              margin-bottom: 5px;
            }
          }
        }

        .preferences{
          .block{
            text-shadow: $txt-shadow;
            color:$brown-text;
            .header{
              text-align: left !important;
              font: bold 16px Arial;
            }
            .fields{
              .field{
                line-height: 28px;
                border-right: 1px solid #b6a570;
                LABEL{
                  padding-left: 5px;
                  font: normal 14px Arial;
                }
              }
            }
          }
        }

        .grid{
          &.preferences{
            border: 1px solid gray;
              .row{
                .col{
                  display: table-cell;
                  min-width: 100px;
                  font-size: 15px;
                  padding: 3px;
                  border-right: 1px solid #B8B8B8;

                  &:last-child{
                    border:none;
                    min-width: 30px;
                  }


                  &.centered{
                    text-align: center;
                  }

                  input{
                    border-radius: 0;
                  }

                  &.hint{
                    max-width: 190px;
                    min-width: 130px;
                  }
                }

                &.header{
                  .col{
                    border-bottom: 1px solid gray;
                    background: #D5D5D5;

                    text-align: center;
                    font-size: 12px;
                    color: #606060;
                    font-family: Arial;
                    height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
}
