mixin PanoramaFilter(years, standardizedTests, values)
    -attributes = self.prepare(attributes, standardizedTests)
    .panorama-filter-ctn(attributes)
        +Hidden('filterValues', '').filters-value
        .with-line
            -var yearsIds = values ? values.getSchoolYearIds() : []
            +Select('SchoolYearIds')(multiple="true").school-years-select.submit-after-change
                each year in years
                    +Option(year.getId().valueOf(), year.getName(), yearsIds.filter(function(item){return item.getId() == year.getId()}).length > 0)

            BUTTON(type="submit", name="submitType", value="save").right Save
        .filters-block
            .filters-container
                if values
                    each item in values.getStandardizedTestFilters()
                        -var model = new chlk.models.controls.PanoramaFilterBlockViewData(standardizedTests, item.getId(), item.getScoreTypeId(), item.getComponentId())
                        +RenderWith(model, chlk.templates.controls.PanoramaFilterBlockTpl)
            .add-filter-container
                .add-filter-btn +
                span.light-grey Add filter

