.dialog.recipients-window
   .x-window-header
      .close.close-btn.dark
      h1=self.getPageTitle()
   +ActionForm('group', 'submitGroups').recipients-body
      +GroupPeopleSelector(self, self.getRequestId())