-var htmlValue = self.getHighlightedText(self.getDescription())
li(
    data-title = self.getDescription(),
    data-value = self.getRecipientValue(),
    class = self.getItemCls(),
    data-tooltip-type="overflow",
    data-tooltip = self.getDescription()
)
    |!{htmlValue}