-var actions = {currentAction: 'attendanceMonth'}
-var params = [self.getMinDate().format('mm-dd-yy'), self.getMaxDate().format('mm-dd-yy'), self.getStudentId()]

+Calendar(self, chlk.templates.calendar.attendance.StudentAttendanceCalendarBodyTpl, self.getModel(), 'students', actions, params).student-attendance-calendar
