BODY {
  DIV.page {
     #content {
        > DIV {
          #main-wrapper {
            #main {
              DIV.apps-list{
                .head{
                  .th{
                    &.narrow{
                      width: 30px;
                    }


                }

              }
              .td{
                  &.app-state{
                    .btn{
                      margin-right: 5px;
                    }

                  }

                  .app-icon{
                    width: 24px;
                    height: 24px;
                    }
                  }
                }
              }
            }
          }
        }
    }
  }
