clazz = self.getClazz()
teacher = clazz.getTeacher()
.admin-day-calendar-popup
    .calendar-popup
        .class-name
            h3.day-day
                +ActionLink('class', 'info', clazz.getId())=clazz.getName()
        .info
            .img-box
                if teacher
                    +ActionLink('teacher', 'details', teacher.getId())
                        +PersonImg(teacher, 40)
            .title-holder
                p.day-down.teacher-name
                    if teacher
                        +ActionLink('teacher', 'details', teacher.getId())=teacher.getDisplayName()
                div
                    p.day-down
                        +ActionLink('class', 'info', clazz.getId())="RM " + self.getRoomNumber()
                    p.day-down
                        +ActionLink('class', 'info', clazz.getId())="Period " + self.getPeriod().getOrder()
        div.popup-footer
            p.day-down
                +ActionLink('class', 'info', clazz.getId())= self.getStudentsCount() + " students"