gls = self.getGradeLevels()
.inner-conteiner
    .day-names
        each item in gls
            .week
                div=item.getName()
    .items
        groupedItems = self.getGroupedCalendarItems()
        each rowItems in groupedItems
            .calendar-day-row
                each item,i in rowItems
                    .calendar-day-item
                        .calendar-day-item-info
                            if i == 0
                                .period-info=item.getPeriod().getOrder()
                            if item.getClassPeriods()
                                each classPeriod in item.getClassPeriods()
                                    .class-info(data-tool-tip = self.getToolTip(classPeriod))
                                        p.class-name=classPeriod.getClazz().getName()
                                        p.teacher-name.x-hidden=classPeriod.getClazz().getTeacher() ? classPeriod.getClazz().getTeacher().getDisplayName() : ''
