div
    topData = self.gradeLevelsInputData
    topItems = topData.getTopItems()
    selectedIds = topData.getSelectedIds()
    actions = {currentAction: 'week', day: 'day', week: 'week', month: 'month'}
    +LeftRightToolbar(topItems, chlk.templates.grading.GradeLevelForTopBar, 'calendar', 'month', [self.getCurrentDate().format('mm-dd-yy')])(
        selectedId=selectedIds,
        multiple
    ).classes-bar
    +Calendar(self, chlk.templates.calendar.announcement.MonthCalendarBody, self.getModel(), 'calendar', actions, selectedId)

