mixin ActionLinkOrNull_(isActionLink, date, classId)
    if isActionLink
        +ActionLink('calendar', 'showWeekBarPopUp', date, classId)(attributes)
            block
    else
        A(href="javascript:;")(attributes)
            block


.day-calendar-body
    .day-names.day
        each item,i in self.getItems()
            div(class=item.getTodayClassName()).day
                p=item.getDate().format('DD, M d')
    .items-table
        -var lastPeriodOrder = null
        each item in self.groupItemsAsTable()
            .item
                each calendarDayItem, order in item
                    if order == 0
                        .cell: A: .period-info= item.period.getOrder()
                    else if order == 6
                        .cell
                    else
                        .cell(class = calendarDayItem.day.getTodayClassName())
                            each ann in calendarDayItem
                                -var period = ann.getPeriod()
                                -var className = period.getClassName()
                                if className
                                    +ActionLinkOrNull_(period.getStartTime() && self.isMainCalendar(), calendarDayItem.day.getDate().format('mm-dd-yy'), period.getClassId())(
                                            class = period.isCurrentSection() ? 'current-section' : null).period-item.day
                                        .course-icon: +ClassImg(period, 45, 80)
                                        .p-container(data-tooltip=period.getFullClassName())= className