div
    actions = {currentAction: 'day', day: 'day', week: 'week', month: 'month'}
    +Calendar(self, chlk.templates.calendar.announcement.DayCalendarBodyTpl, self.getModel(), 'calendar', actions, [])