div
    actions = {currentAction: 'month', day: 'day', week: 'week', month: 'month'}
    obj = self.getDataForToolBar()
    params = obj.selectedItemId || obj.selectedIds
    toolBarParams = [self.getCurrentDate().format('mm-dd-yy')]
    if(!obj.selectedItemId)
        -toolBarParams.push(null)
    +LeftRightToolbar(obj.data, obj.tpl, 'calendar', 'month', toolBarParams)(
        selectedItemId=obj.selectedItemId,
        selectedIds=obj.selectedIds
        multiple=obj.multiple
    ).classes-bar
    +Calendar(self, chlk.templates.calendar.announcement.MonthCalendarBodyTpl, self.getModel(), 'calendar', actions, params)

