.calendar-popup
    announcements = self.getAnnouncements();
    period = self.getPeriod();
    roomNumber = self.getRoomNumber();
    if announcements.length > 0
        .class-name
            h3.day-day
                +ActionLink('class', 'details', announcements[0].getClassId().valueOf())=announcements[0].getClassName()
    .info
        if roomNumber
            p.day-down
                a Rm #{roomNumber}
            br
        p.day-down
            a #{period.displayPeriodTimeRange()}
        br
        p.day-down
            a=self.getDate().format('DD, MM d')
        br
    if announcements.length > 0
        .announcements-list
            ul.day-announcements
                each item in announcements
                    li.items
                        +ActionLink('announcement', 'view', item.getId())(class="announcement-type-" + item.getChalkableAnnouncementType()).pop-up-announcement
                            div
                                +TooltipWithOverflow(item.getTitle()).item-title
    if !self.getUserRole().isStudent()
        +ActionLink('announcement', 'addViaCalendar', self.getDate().format('mm-dd-yy'), true, self.getSelectedClassId() || '').ann-button.plus-ann



