div
    actions = {currentAction: 'week', day: 'day', week: 'week', month: 'month'}
    obj = self.getDataForToolBar()
    param = obj.selectedItemId || obj.selectedIds
    toolBarParams = [self.getCurrentDate().format('mm-dd-yy')]
    +LeftRightToolbar(obj.data, obj.tpl, 'calendar', 'week', toolBarParams)(
        selectedItemId=obj.selectedItemId,
        selectedIds=obj.selectedIds
        multiple=obj.multiple
    ).classes-bar
    +Calendar(self, chlk.templates.calendar.announcement.WeekCalendarBodyTpl, self.getModel(), 'calendar', actions, param ? [param] : [])
