.calendar-popup.chat-bubble
    announcements = self.getAnnouncements();
    period = self.getPeriod();
    roomNumber = self.getRoomNumber();
    if announcements.length > 0
        .class-name
            h3.day-day
                +ActionLink('class', 'info', announcements[0].getClassId().valueOf())=announcements[0].getClassName()
    .info
        if roomNumber
            .day-down Rm #{roomNumber}
        .day-down #{period.displayPeriodTimeRange()}
        .day-down= self.getDate().format('DD, MM d')
    if announcements.length > 0
        .announcements-list
            .day-announcements
                each item in announcements
                    .items
                        +ActionLink('announcement', 'view', item.getId())(class="announcement-type-" + item.getChalkableAnnouncementType()).pop-up-announcement
                            div
                                +TooltipWithOverflow(item.getTitle()).item-title
    if !self.getUserRole().isStudent()
        +ActionButton('announcement', 'addViaCalendar', self.getDate().format('mm-dd-yy'), true, self.getSelectedClassId() || '').ann-button.plus-ann New item



