div
    actions = {currentAction: 'week', day: 'day', week: 'week', month: 'month'}
    obj = self.getDataForToolBar()
    params = obj.selectedItemId || obj.selectedIds
    +LeftRightToolbar(obj.data, obj.tpl, 'calendar', 'week', [self.getCurrentDate().format('mm-dd-yy')])(
        selectedItemId=obj.selectedItemId,
        selectedIds=obj.selectedIds
        multiple=obj.multiple
    ).classes-bar
    +Calendar(self, chlk.templates.calendar.announcement.WeekCalendarBodyTpl, self.getModel(), 'calendar', actions, params)
