div
    topData = self.getTopData()
    topItems = topData.getTopItems()
    selectedId = topData.getSelectedItemId()
    actions = {currentAction: 'week', day: 'day', week: 'week', month: 'month'}
    +LeftRightToolbar(topItems, chlk.templates.classes.TopBar, 'calendar', 'week', [self.getCurrentDate().format('mm-dd-yy')])(
        selectedItemId=selectedId
    ).classes-bar
    +Calendar(self, chlk.templates.calendar.announcement.WeekCalendarBodyTpl, self.getModel(), 'calendar', actions, selectedId)
