.dialog.gray
    .x-window-header
        span= self.date
        span.close.close-btn

    .x-window-body
        .general-info
            +Button()(type="submit").special-button.blue-button Save


//each discipline in self.getDisciplines
    +Button()(type="submit").special-button.blue-button Save