.attendance-popup
  h1
    font-size: 20px

  table
    width: 300px

    .absent
      color: #d45151

    .late
      color: #f0ca19

    .present
      color: #41b768

  .attendance-type-td, .reason-td
    font-weight: bold