.calendar-popup
  min-width: 100px
  padding-bottom: 17px
  text-align: center

  h2
    font-size: 13px


  UL
    list-style: none
    padding: 0
    margin: 5px 0 10px

    LI
      white-space: nowrap
      text-overflow: ellipsis