#chlk-class-bar-popup-container
  margin-top: -22px
  position: absolute
  z-index: 1000

.class-popup
  .popup-item
    font-weight: bold
    .name
      color: #3f7d96
      padding-right: 5px