.profile-calendar-popup.discipline-popup
  .discipline-table
    display: table
    table-layout: fixed
    width: 640px
    .row
      display: table-row
      padding-bottom: 1em

      .disciplines-text
        width: 95%

      .class-name-td, .discipline-description-td, .disciplines-td, span
        display: table-cell
        vertical-align: top
