.list-new-popup
  z-index: 999
  position: relative

  .list-new
    width: 300px
    +box-shadow(transparentize(#000, .8) 0 0 16px)

    &::before
      left: 50%
      margin-left: 5px

  .image
    padding-right: 16px

  .row
    margin-bottom: 16px