li(data-title = self.firstName + ' ' + self.lastName, data-value = self.id.valueOf(), style="background: white")
    a
        img.avatar.avatar47(class=self.gender, src=self.getPictureURL(self.id, 47))
        div= self.firstName
        div= self.lastName
