.dialog.add-message
    .bg-top
    .bg-middle
        .x-window-header
            span= self.getSender().getFirstName() + self.getSender().getLastName()
        .x-window-body
            .general-info
                div
                    =self.subject
                div
                    =self.body
                br
                .form-buttons
                    +ActionLink('message', 'sendPage', self.id)= self.isReplay() ? 'Replay' : 'Send'
                    +Button.special-button.cancel-button.close=Msg.Cancel

    .bg-bottom



