input#siteSearch{
  outline: none;
}


ul.ui-autocomplete{
  >li{
    display: table;
    width: auto;

    >div.site-search{
      width: 160px;
      height: 60px;
      >a{
        text-decoration: none;
        display: block;
        support: IE7;
        font-weight: normal;
        width: 160px;
        border: 0;
        height: 70px;
        padding: 0;

        >div.site-search-person, >div.site-search-class, >div.site-search-attachment, >div.site-search-announcement{
          margin-top: 10px;
          padding-left: 15px;
          >div.title{
            margin-left: 10px;
            display: inline-block;
            vertical-align: middle;
            color: #2f424b;
            font-size: 11px;
            font-weight: bold;
            width: 80px;
          }
          >div.avatar-wrapper{
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    >div.site-search{
      >a{
        >div.site-search-person{
          >img{
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 40px;
          }
        }

        >div.site-search-class{
          >div.img-wrapper{
            overflow: hidden;
            width: 30px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            >img{
              width: 30px;
              height: 80px;
            }
          }
        }

        >div.site-search-attachment{
          >div.image{
            display: inline-block;
            vertical-align: middle;
            background: url("images/feed/doc-icon.png");
            background-size: 100% 100%;
            width: 30px;
            height: 40px;
          }
        }

        >div.site-search-announcement{
          >div.image{
            display: inline-block;
            vertical-align: middle;
            background-size: 100% 100%;
            width: 30px;
            height: 40px;
          }
        }
      }


    }

    >div.app-market-search{


      .app-market-search-item{
        background: url(images/app/search-divider.png) 0 bottom no-repeat;
        height: 61px;
        padding-top: 3px;
        cursor: pointer;
        padding: 0 5px;
        background-color: #eee;


        &:hover{
          background-color: #fbfbfb;
        }
        .img-container{
          display: table-cell;
          background: url(images/app/photo-search-container.png) 0 bottom no-repeat;
          text-align: center;
          vertical-align: middle;
          height: 51px;
          width: 51px;
          .app-icon{
            width: 47px;
            height: 47px;
            margin: 1px 2px 0 2px;
            display: inline-block;
            vertical-align: middle;
          }
        }

        .app-name{
          padding-left: 10px;
          font-weight: bold;
          font-size: 16px;
          color: #5B5B5B;
          display: table-cell;
          vertical-align: middle;
          >DIV{
            width: 93px;
            overflow: hidden;
            max-height: 40px;
          }
        }
      }
    }

    >div.api-list{
      .api-list-item{
        padding: 8px;
        color: gray;
        font-size: 16px;

        &:hover{
          border-color: #a3bae9;
          border: 1px dotted;
          background-color: #dfe8f6;
        }
      }
    }

  }
}

