.dialog.report-window
    +ActionForm('reporting', 'submitLunchCount').lunch-count-report-form.no-working.report-form
        .x-window-header
            .close.close-btn.dark
            h1 Report

        .x-window-body
            .report-content
                if !self.isAbleDownload()
                    .error=Msg.Report_No_Access_Msg
                TABLE.report-table
                    TR
                        TD(colspan="4").item-4
                            .text-block
                                +Select('reportType', null, 'reporting', 'adminReport').report-type-select
                                    +Option(chlk.controllers.ReportTypeEnum.LUNCH_COUNT.valueOf(), 'Lunch Count', true)
                                    +Option(chlk.controllers.ReportTypeEnum.REPORT_CARD.valueOf(), 'Report Card', false)
                    TR
                        TD(colspan="4").item-4
                            .add-recipients-container
                                .add-recipients
                                    .recipients-list
                                        -var groupsModel = new chlk.models.reports.ReportCardRecipientsViewData([], [], {groups:[], students:[]})
                                        +RenderWith(groupsModel, chlk.templates.reports.ReportCardRecipientsTpl)
                    TR
                        TD(colspan="4").item-4
                            .text-block
                                label Title
                                input(type="text", name="title", placeholder="Lunch Count", maxlength=75).report-title
                    TR
                        TD.item-4
                            h3=Msg.Order_by
                            .order-by
                                +Radio('orderBy', chlk.models.reports.LunchCountOrderBy.BY_CLASS.valueOf(), 'Class', false)
                                +Radio('orderBy', chlk.models.reports.LunchCountOrderBy.MEAL_TYPE.valueOf(), 'Meal Type', false)
                                +Radio('orderBy', chlk.models.reports.LunchCountOrderBy.STUDENT.valueOf(), 'Student', true)

                        TD.item-4
                            h3 Meals
                            .meals
                                +Radio('allActiveMeals', 1, 'All Active', true)
                                +Radio('allActiveMeals', 0, 'With Counts', false)
                        TD.item-4
                            h3=Msg.ID_to_print
                            .id-to-print
                                +Radio('idToPrint', chlk.models.reports.StudentIdentifierEnum.ALT_STUDENT_NUMBER.valueOf(), Msg.Alt_student_number, self.getIdToPrint() == chlk.models.reports.StudentIdentifierEnum.ALT_STUDENT_NUMBER.valueOf())
                                +Radio('idToPrint', chlk.models.reports.StudentIdentifierEnum.STATE_ID_NUMBER.valueOf(), Msg.State_ID_number, self.getIdToPrint() == chlk.models.reports.StudentIdentifierEnum.STATE_ID_NUMBER.valueOf())
                                +Radio('idToPrint', chlk.models.reports.StudentIdentifierEnum.STUDENT_NUMBER.valueOf(), Msg.Student_Number, self.getIdToPrint() == chlk.models.reports.StudentIdentifierEnum.STUDENT_NUMBER.valueOf())
                                +Radio('idToPrint', chlk.models.reports.StudentIdentifierEnum.NONE.valueOf(), Msg.None, self.getIdToPrint() == chlk.models.reports.StudentIdentifierEnum.NONE.valueOf())
                        TD.item-4
                            .dates-cnt
                                .start-date-cnt.i-b
                                    h3 Start Date
                                    +DatePicker('startDate')(data-options={
                                        showOtherMonths: true,
                                        selectOtherMonths: true
                                    }).start-date
                                .end-date-cnt.i-b
                                    h3 Start Date
                                    +DatePicker('endDate')(data-options={
                                        showOtherMonths: true,
                                        selectOtherMonths: true
                                    }).end-date
                            h3 Include
                                +Select('includeOptionValues', 'includeOptions')(multiple).include-select
                                    +Option(chlk.models.reports.LunchCountAdditionalOptions.GROUP_TOTALS.valueOf(), 'Group Totals', false)
                                    +Option(chlk.models.reports.LunchCountAdditionalOptions.GRAND_TOTALS.valueOf(), 'Grand Totals', false)
                                    +Option(chlk.models.reports.LunchCountAdditionalOptions.STUDENTS_ONLY.valueOf(), 'Students Only', false)
                                    +Option(chlk.models.reports.LunchCountAdditionalOptions.SUMMARY_ONLY.valueOf(), 'Summary Only', false)

        .x-window-footer.report-bottom
            BUTTON(type="button").close.chlk-button.grey-button=Msg.Cancel
            BUTTON(type="submit", disabled=!self.isAbleDownload()).chlk-button.blue-button=Msg.Download