mixin ActionLink(controller, action)
    link = self.getLink(ria.__API.clone(arguments))
    -attributes.href=attributes.href || self.getHref(ria.__API.clone(arguments))
    -attributes['data-link'] = link
    A.action-link(attributes)
        block

mixin ActionLinkWithPrepend(controller, action, prependParams)
    args = ria.__API.clone(arguments)
    - [].splice.apply(args, [2, 1].concat(prependParams || []))
    link = self.getLink(args)
    -attributes.href=attributes.href || self.getHref(ria.__API.clone(arguments))
    -attributes['data-link'] = link
    A.action-link(attributes)
        block

// requires: actionLinkModel instanceOf chlk.models.common.ActionLinkModel
mixin ActionLinkWithModel(actionLinkModel)
    -var classesNames = actionLinkModel.getClassesNames() || [];
    -var title = (actionLinkModel.getTitle() || '');
    +ActionLinkWithPrepend(actionLinkModel.getControllerName(), actionLinkModel.getActionName(), actionLinkModel.getArgs()
        )(class=classesNames)(attributes)=title
            block

// requires: actionLinksModel instanceOf ArrayOf(chlk.models.common.ActionLinkModel)
mixin ActionLinkList(actionLinksModel)
    each item in actionLinksModel
        +ActionLinkWithModel(item)(attributes)

mixin  ActionLinkButton(controller, action)
    span.chlk-button.action-button(attributes)
        span
            span
                link = self.getLink(ria.__API.clone(arguments))
                -attributes.href=attributes.href || self.getHref(ria.__API.clone(arguments))
                -delete attributes['class']
                -attributes['data-link'] = link
                a.action-link(attributes).not-blue
                    block