mixin ActionForm(controller, action)
    -attributes['data-controller'] = escape(controller);
    -attributes['data-action'] = escape(action);
    -attributes.action = attributes.action || 'javascript:';
    -self.prepareData(attributes);
    form(attributes)
        block

mixin Hidden(hidName, hidValue)
    input(type="hidden", name=hidName, value=hidValue)