mixin Button()
    value = attributes.value;
    type = attributes.type;
    name = attributes.name;
    attributes = self.processAttrs(attributes);
    isDisabled = (attributes.disabled===true ? "disabled" : undefined);


    span.chlk-button(attributes)
        span
            span
                button(type=type, name=name, value=value, disabled=isDisabled)
                    block
