mixin Button()
    value = attributes.value;
    type = attributes.type;
    name = attributes.name;

    span(class = attributes.disabled ? "disabled" : "").chlk-button(attributes)
        span
            span
                button(type=type, name=name, value=value, disabled=(attributes.disabled===true ? "disabled" : undefined))
                    block
