mixin Carousel()
    -attributes = self.processAttrs(attributes);
    .carousel-wrapper
        .carousel(attributes)
            ul
                block


            .picture-button.picture-left.disabled
            .picture-button.picture-right

mixin CarouselItem()
    li(attributes)
        block