mixin Checkbox(name, val)
    //input(type="hidden", name=name, value="false")
    if val
        input(id=name, type="checkbox", checked)(attributes)
    else
        input(id=name, type="checkbox")(attributes)

