mixin CheckboxList(listName, checkboxPref, defaultVal)
    -self.setParams({name: listName, checkboxPrefix: checkboxPref})
    .checkbox-list
        +Hidden(listName, defaultVal)
        block

