mixin Checkbox(name, val)
    input(type="hidden", name=name, value="false")
    if val
        input(name=name, type="checkbox", checked)(attributes)
    else
        input(name=name, type="checkbox")(attributes)

