mixin Checkbox(name, val)
    -attributes.checked = val;
    -self.prepareData(name, val);
    +Hidden(name, false)(data-value=val, class="hidden-checkbox")
    input(id=name, name = name, type="checkbox")(attributes)

