mixin CloseOpen(title, closed)
    -attributes = self.processAttrs(attributes, closed)
    .close-open-control(attributes).co-finished.co-opened.finished
        h3=title
            .co-open=Msg.Open
            .co-close=Msg.Close
        .close-open-block
            block