mixin DoubleSelect(name, items, copyToYearName, toClassName)
    -attributes = self.processAttrs(attributes);
    -items = self.prepareItems(items)
    .double-select.chosen-container.chosen-container-single(attributes)
        +Hidden(name).selected-value
        +Hidden(copyToYearName || 'copyToYearName').selected-year-name
        +Hidden(toClassName || 'toClassName').selected-class-name
        a.chosen-single
            SPAN.value-text
            DIV
                B
        .chosen-drop
            UL.chosen-results
                each item in items
                    LI(data-items=item.values, data-tooltip-type="overflow", data-tooltip=item.name).active-result.first-result= item.name
        .chosen-drop.second-drop.x-hidden
            UL.chosen-results.second-results

