mixin Grid(controller, action, data, params, noDisplaying)
    .grid(attributes)
        .loader
        .scroller
            .container
                block
    if(controller)
        +Paginator(controller, action, data, params, noDisplaying)

mixin GridHead()
    .head.panel-bg(attributes)
        block

mixin GridBody()
    .body(attributes)
        block

mixin GridRow()
    .row(attributes)
        block