mixin LabeledCheckbox(text, name, val, isReadOnly)
    div(class=(attributes.containerClass + (attributes.withInput ? ' with-input' : ''))).labeled-checkbox
        attributes = self.prepareData(attributes)
        +Checkbox(name, val, isReadOnly)(attributes).checkbox
        if attributes.withInput
            input(placeholder=attributes.placeholder).label-input
        else
            label(for=attributes.id)=text


