mixin LeftRightToolbar(data, tplClass, controller, action, params)
    configs = self.prepareData(data, attributes)
    .lr-toolbar(attributes)
        .A(class=configs.disablePrevButton ? configs.disabledClass : "").prev-button.arrow
        .first-container
            .second-container
                each item,i in data
                    -item.setPressed && item.setPressed(configs.selectedItemId == item.getId().valueOf());
                    -item.setDisabled && item.setDisabled(!configs.pressAfterClick);
                    -item.setIndex && item.setIndex(i);
                    -if(controller){item.setController(controller);item.setAction(action);item.setParams(params || []);}
                    +RenderWith(item, tplClass)
        .A(class=configs.disableNextButton ? configs.disabledClass : "").next-button.arrow
        if(configs.needDots)
            .paginator
                each dot,i in configs.dots
                    A(index=i, class=dot ? "current" : "")

