mixin Logout(controller, action, userName)
    .wrapper
        BUTTON.blue.logout-area= userName
        .logout
            a.inow(href="/User/RedirectToINow.aspx") Go to INOW
            +ActionLink(controller, action) log out
