mixin ScrollBox(formId)
    -attributes.formId = formId
    -self.processAttrs(attributes)
    .chlk-scrollbox.with-scroller(attributes)
        block
        .scrollbox-loader.horizontal-loader.x-hidden




