mixin Select(name)
    -attributes.name = name
    -self.processAttrs(attributes);
    select(attributes)
        block

mixin Option(value, displayName, selected)
    -attributes.value = value
    -attributes.selected = selected
        option(attributes)=displayName
