mixin Select(name, controller, action, params)
    -attributes.name = name
    -self.processAttrs(attributes);
    -attributes['data-controller'] = controller
    -attributes['data-action'] = action
    -attributes['data-params'] = params
    select(attributes)
        block

mixin Option(value, displayName, selected)
    -attributes.value = value
    -attributes.selected = selected
        option(attributes)=displayName
