mixin ShortPayCheck(appId, classId)
    -attributes.appId = appId;
    -attributes.classId = classId;
    -attributes = self.processAttrs(attributes);
    .paycheck
        .container
            .top
                .middle
                    .bottom