mixin SlideCheckbox(name, val, isReadOnly)
    id = attributes.id
    -attributes.id = null
    .slide-checkbox(attributes)
        -attributes.id = id
        -attributes = self.prepareData(attributes, val)
        .wrapper
            -attributes.checked = val
            +Checkbox(name, val)(attributes)
            if !isReadOnly
                label(for=attributes.id)
            else
                label


