.chlk-grid
  .cell:not(.name)
    text-align: center

  .cell
    &.name
      width: 44%
      text-indent: 18px

    &.students
      width: 12%

  .grid-arrow
    vertical-align: middle