.app-market-details-page
  .fixed-width
    width: 820px
    margin: 0 auto

  .close-open-control
    margin-bottom: 25px

  .app-market-details > DIV
    margin-bottom: 24px

  .app-info-details
    width: 100%

    .review-link
      font-style: italic
      color: #aaa

  .app-description
    white-space: pre-wrap

  .side-panel
    width: 225px
    margin-left: 25px
    text-align: right

  .app-price-info
    vertical-align: middle
    line-height: 67px
    margin: 25px 0 15px

    .app-title
      font-style: italic

    A
      color: #2f7790

    b
      display: inline-block
      margin-right: 15px

  .app-description A
    color: #2f7790

  .side-panel
    float: right


  .permissions
    width: 100%

    .row
      display: table-row

      > *
        display: table-cell
        padding-bottom: 16px
        vertical-align: middle

  .permission
    .icon, .description
      display: inline-block
      line-height: 26px
      vertical-align: middle
      margin: 0 5px

    .icon
      width: 24px
      height: 24px
      opacity: .5

    .description
      font-weight: 600

    .permission-role-student
      +icons-24-sprite(students)
    .permission-role-teacher
      +icons-24-sprite(teacher)
    .permission-type-none
      +icons-24-sprite(basic-info, 0, 0, 1px)
    .permission-message
      +icons-24-sprite(basic-info, 0, 0, 1px)
    .permission-grade
      +icons-24-sprite(chart)
    .permission-schedule
      +icons-24-sprite(calendar)
    .permission-attendance
      +icons-24-sprite(attendance)
    .platform-web
      +icons-24-sprite(computer)
    .platform-ios, .platform-android, .permission-discipline
      +icons-24-sprite(basic-info, 0, 0, 1px)

  .group-header
    width: 200px
    padding-right: 25px
    color: #6f6f6f

  .more-button
    display: block
    width: 100%
    border-radius: 4px
    padding: 0 10px 0 14px
    line-height: 35px
    height: 38px
    border: 1px solid #b4b4b4
    text-align: center
    margin-left: 50px
    font-size: 14px
    color: #818181
    background: #f6f6f6
    cursor: pointer

    &:hover
      background: #e6e6e6

  .permission
    display: inline-block
    margin: 0 8px 4px 0
    background: #EDEDED
    border-radius: 5px
    padding: 5px

  .review-link
    vertical-align: top
    line-height: 28px


  .reviews
    margin-right: 8px

    .rating-large
      line-height: 32px

      >*
        vertical-align: middle

    .review-link
      font-weight: bold
      color: #383838
      text-decoration: none
      font-size: 18px

    .rating-avg-title
      display: inline-block
      font-weight: bold
      color: #383838
      font-size: 18px
      margin-left: 15px

    .review-area
      position: relative
      border: 1px solid #C8C7C3
      border-radius: 5px
      margin-bottom: 15px
      padding: 10px 0 40px

    .review-container
      position: absolute
      bottom: 5px
      left: 15px

      .rating-hint
        background: image-url("images2/app/rating-hint.png")
        width: image-width('images2/app/rating-hint.png')
        height: image-height('images2/app/rating-hint.png')
        position: absolute
        left: 130px
        bottom: 10px
        display: none

    .review-text
      min-height: 50px
      resize: none
      padding: 0 15px
      display: block
      width: 100%
      border: none
      box-sizing: border-box
      +box-shadow(none)

    .cancel-btn
      color: #878787
      text-shadow: 0 1px 0 white
      cursor: pointer
      margin-left: 20px
      padding: 0
      text-decoration: underline
      font-size: 12px
      font-weight: bold

    .user-reviews
      margin-top: 15px

      .chat-bubble
        padding-bottom: 15px
        margin-left: 47px + 25px

      .rating-person-item
        margin-bottom: 35px
        p
          margin: 15px 0 5px
          word-wrap: break-word

      .rate-container
        margin: 5px 15px
        zoom: .7

      .rating
        float: right

      .role-avatar
        width: 47px
        height: 47px
        position: relative
        background: #EDEDED
        border-radius: 5px
        float: left

        &::after
          content: ' '
          position: absolute
          left: 12px
          top: 12px
          width: 24px
          height: 24px
          opacity: .75

        &.teacher::after
          +icons-24-sprite(teacher)

    .add-review
      margin-top: 15px

      .btns
        text-align: right

      button
        padding: 0 25px

  .inline-tabs
    margin-bottom: 25px

    .tabs
      position: relative
      margin-bottom: 25px

      &::before
        content: ' '
        position: absolute
        left: 0
        right: 0
        bottom: 0
        height: 1px
        background: #E7E6E2
        z-index: 1

    .tab
      position: relative
      z-index: 0
      border: 1px solid #EDEDED
      border-bottom-width: 0
      background: #EDEDED
      line-height: 36px
      padding: 0 15px 5px
      border-top-left-radius: 4px
      border-top-right-radius: 4px
      display: inline-block
      margin-right: 3px
      min-width: 55px
      text-align: center
      cursor: pointer
      font-weight: 600

      &.active
        z-index: 2
        background: white
        border-color: #E7E6E2
        cursor: default

    .wrapper
      position: relative
      background: inherit

      .content
        position: absolute
        top: 0
        left: 0
        right: 0
        z-index: -1
        opacity: 0

        &.active
          position: relative
          z-index: 1
          opacity: 1
          +single-transition(opacity, .3s, ease-in)

  .ban-app
    margin-bottom: 25px

  .app-install-history
    width: 100%

    .table-row
      height: 35px
      color: #6f6f6f

      &.hidden-row
        display: none

      &.half-header
        height: 15px

    .desc span
      font-weight: 600

    .amount, .balance
      width: 105px
      font-weight: 600

    .half-header
      DIV
        position: relative
        height: 0

      .move-up
        position: relative
        top: -52px