.app-info-page
  .api-key
    position: absolute
    right: 50px
    top: 20px

    input[type=text]
      color: #487389
      font-weight: 600

  .app-name
    padding: 0 3px
    font-weight: 600

  .elem
    margin: 15px 0

    > label
      font-weight: 600
      display: block
      margin: 0 0 3px

    .permission

    .myapps-permission, label.description, .price-elem span
      display: inline-block
      width: 350px

  .upload-img-block
    width: 150px

  .thumbnail
    position: relative
    display: inline-block