.app-general-info
  position: relative
  .table
    margin-top: 25px
  .user-reviews
    .rating-person-item
      margin-bottom: 20px
      border-bottom: 1px solid gray
      p
        margin: 15px 0 5px
        word-wrap: break-word
    .rating
      margin-top: -25px