.class-disciplines-page
  .table
    width: 100%

  .l
    width: 120px
  .r
    width: 120px
    text-align: right

  .title
    position: relative

  .tr
    opacity: 0
    position: absolute
    top: 0
    left: 50%
    margin-left: -130px
    width: 260px
    height: 100%
    z-index: 5
    cursor: pointer

  .discipline-desciption-container
    width: 400px

    textarea
      width: 100%
      height: 100px

  .labeled-checkbox label
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
