.developer-page
  .info
    margin-top: 25px

    div
      margin-top: 5px

    label
      margin-right: 30px
      min-width: 125px
      display: inline-block

  .general
    margin-top: 50px
    h2
      margin: 15px 0