.district-list-page
  .refresh
    position: absolute
    top: 20px
    right: 50px

  .body
    &:nth-child(2n+1)
      background-color: #eee

    .row:first-child
      font-weight: 600

      .td
        padding-top: 5px

    .row:nth-child(2n)
      background-color: transparent
