.feed-list-page, .feed-list-admin-page
  .right-buttons-block
    position: absolute
    right: 0
    top: -100px
    text-align: right

    >*
      text-align: left

  .lesson-plans-check
    margin-bottom: 7px

  .markDoneSelect +DIV
    width: 127px !important

    .chosen-drop
      width: 187px
      margin-left: -60px

  .markDoneSelect+DIV, #sort-select
    li
      line-height: 20px

    .chosen-drop
      margin-top: 0
      border-top: 1px solid #aaa
      border-radius: 4px
      z-index: 999

  #sort-select
    margin-left: 10px

    SPAN
      width: 51px

    .chosen-drop
      width: 170px
      margin-left: -77px

    .active-result:hover
      background: #f1f1f1
      color: #56554f

  #sort-select-input
    position: absolute
    z-index: 1
    width: 85px
    right: 0
    opacity: 0
    cursor: pointer

  .date-range
    text-align: right

    .hasDatepicker
      border: none
      box-shadow: none
      width: 76px
      margin-left: 4px

  .wrapper
    width: 100%

  .chlk-grid
    margin-top: 28px