.class-lunch-form
  .chlk-grid
    .grid-row
      .left-cell
        text-align: left
        padding: 0 20px

      .no-bodrer
        border: none

  .meal-count-input
    width: 100%
    box-sizing: border-box
    height: 100%
    border: none
    text-align: center
    border-radius: 0

    &:not(:focus)
      box-shadow: none
