.panorama-page

  .cell
    &.checks
      width: 5%

    &.name
      width: 25%

    &.ethnicity, &.hispanic, &.iep-active, &.retained
      width: 4%

  h3
    margin-top: 24px

  .chart-content
    height: 300px

  .chart-container
    &:not(.small-chart)
      height: 300px
    width: 100%

  .tab-headers
    margin: -15px -20px