.settings
  .general
    .password-info

      .header
        font-size: 22px
        font-weight: bold

      .text
        font-size: 18px
        padding: 5px

    .inow-btn
      text-align: center
      margin-top: 30px
      font-size: 20px

.messaging-block
  .check-box-container
    .title
      width: 500px
      display: inline-block
      font-size: 15px
      margin: 5px 0

    &.sub
      .title
        font-style: italic
        font-size: 14px