.students-list
  .row
    display: block

  > *, .buttons
    margin-bottom: 25px

  .people-list
    .row
      border: 1px solid #c8c7c3
      border-radius: 5px
      margin: 8px 0 0
      +box-shadow(transparentize(#000, .91) 0 2px 3px)

      padding: 0 24px 0
      position: relative
      line-height: 80px
      vertical-align: middle

    .avatar-wrapper
      display: inline-block
      vertical-align: middle
      margin-right: 24px

    .user-name-container
      font-size: 20px
      font-weight: 700
      color: #2f7790
      +text-shadow(transparentize(#fff, .5) 0 1px 0)
      line-height: 80px
      vertical-align: middle