.loader
input(type="hidden", name="start", value=(self.getStart() || 0))
input(type="hidden", name="count", value=10)
Button(type="submit", class="scroll-start-button x-hidden", name="submitType", value="scroll")
+ListView(self.getUsers())(
    selectedIndex = selectedIndex, infiniteScroll = true,
    goTopButton = true, loadAllButtonTitle = 'LOAD ALL STUDENTS',
    loadAllPopUpTitle = 'Students',
    needGoToButton = true, needLoadAllButton = true).people-list
    +RenderWith(self.getUsers(), chlk.templates.people.UsersForGridTpl)


