mixin UserName(item)
    .user-name-container.i-b.relative
        p.left= item.getFullName()
        if item.isWithdrawn()
            div(data-tooltip=Msg.Withdrawn).withdrawn

each item, i in self.getItems()
    index = item.getIndex ? (item.getIndex() || i) : i
    .row(class=(index == 0 ? 'selected' : ''), index=index)
        if self.canViewInfo(item)
            +ProfileLink(item).left.image-container.white.shadow
                +PersonImg(item, 47)
        else
            .left.image-container.white.shadow
                +PersonImg(item, 47)
        if self.canViewInfo(item)
            +ProfileLink(item)
                +UserName(item)
        else
            +UserName(item)
        .right
            +ActionButton('message', 'sendToPerson', null, item.getId(), item.getFirstName(), item.getLastName()).message-button.blue-button Message
        .clear-fix


    //if self.isHasAccess()



