if self.getStudent()
    .remove-red-btn.remove-student
    student = self.getStudent()
    A(
        data-id=student.getId().valueOf(),
    ).image-container.white.shadow
        if self.getModel().getType() == chlk.models.attendance.AttendanceTypeEnum.ABSENT.valueOf()
            .reason-container
                .reason-text=self.getAttendanceReason().getName()
        +PersonImg(student, 70)
    div(data-tooltip=student.getDisplayName(), data-tooltip-type="overflow").student-seating-name=student.getDisplayName()
    div(class=self.getModel().getTypeName().toLowerCase()).student-seating-type
else
    .empty

