BODY {
  DIV.page{
    >DIV#content{
      DIV#content-wrapper.profile{
        #main{
          .class-profile-attendance-list-page{
            .action-bar{
              .container{
                .left{
                  .tb-date-picker{
                    left: 200px;
                    position: relative;
                  }
                }
              }
            }
            .people-list-container{
              #all-present-link, .attendance-option{
                color: #957633 !important;
              }
              .attendance-combo{
                .left-arrow, .current-attendance, .right-arrow, .combo-list{
                  color: #957633 !important;
                  background: #ECE3C6 !important;

                  .connector{
                    background: #ECE3C6 !important;
                  }
                  .option:not(.selected){
                    color: #957633 !important;
                  }
                  .option.selected{
                    background: #F8F3E4 !important;
                  }
                }
              }
            }
          }
          .container{
            .left{
              .back-btn{
                text-align: right;
                border-left: none;
                width: 50px;
                background: url(images/buttons/back-br.png) 8px 10px no-repeat;
              }
            }
          }
        }
      }
    }
  }
}