.close-open-control
  > h3
    font-size: 18px
    line-height: 36px
    color: #2b2a28
    +text-shadow(transparentize(#fff, .5) 0 1px 1px)
    margin: 0 0 24px

    position: relative
    &::after
      content: ' '
      position: absolute
      left: 0
      right: 0
      bottom: 0
      height: 1px
      background: #e7e6e2

    .open, .close
      float: right
      font-size: 12px
      font-weight: normal
      font-style: italic
      color: #434341
      cursor: pointer

  &.opened
    .open
      display: none

  &:not(.opened)
    >h3
      color: #aba9a5

    .close
      display: none



  .close-open-block
    overflow: hidden
    +transition(height, .2s, easy-in-out)

