.group-selector-dialog
  .dialog
    width: 1020px

.group-people-selector
  .text-filter-cnt
    position: relative

    INPUT
      position: absolute
      top: -35px
      right: 0

  .filters-cnt
    .filter-cnt
      display: inline-block

      &:not(:last-child)
        margin-right: 20px

    LABEL
      font-weight: bold

    .sort-by-cnt
      width: 140px

    .school-cnt
      width: 310px

    .grade-level-cnt
      width: 62px

    .class-cnt
      width: 173px

    .program-cnt
      width: 188px

  .top-info-cnt
    font-weight: bold

  .items-4
    .recipient-item
      padding: 6px 10px
      width: 200px
      height: 48px
      margin-right: 24px

  .items-3
    .recipient-item
      padding: 10px
      width: 270px
      height: 70px

  .body-content:not(.active)
    display: none

  .recipient-item
    display: inline-block
    border: 1px solid #c8c7c3
    position: relative
    margin-top: 17px

    >*
      display: inline-block
      vertical-align: middle

    INPUT[type="checkbox"]
      margin-right: 6px

    .recipient-icon
      margin-right: 13px
      margin-left: 4px

    .recipient-remove
      position: absolute
      top: -3px
      right: -2px
      +icons-24-sprite(small-remove)
      width: 24px
      height: 24px

    .recipient-name
      .main
        font-weight: bold
        font-size: 14px
        color: #2f7790
