.school-details
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                +ActionLink('schools', 'details', console.info(self) + self.getId()).pressed Now
                +ActionLink('schools', 'details', self.getId()) Schedule
                +ActionLink('schools', 'details', self.getId()) People
                +ActionLink('schools', 'details', self.getId()) Data
                +ActionLink('schools', 'details', self.getId()) SIS
    .content
        .left
            .big-img-container
        .right
            h1= self.getName()
            .status #{self.getStatusNumber()}. #{self.getStatus()}
                +Button().special-button2.blue My Button
        .clear

