-var teachers = self.getItems()
-var isNotEmptyStatistic = self.isNotEmptyStatistic()
-var schoolId = teachers[0] && teachers[0].getSchoolId()
-var schoolName = teachers[0] && teachers[0].getSchoolName()
-var sortType = self.getSortType()
-var typesEnum = chlk.models.admin.TeacherSortTypeEnum

input(type="hidden", name="start", value=0)
input(type="hidden", name="sortType", value=sortType)
.grid-with-border
    .grid-top-content
        if teachers.length
            +ListView(teachers)(
                infiniteScroll = true,
                pageSize = 10
            ).district-summary-grid
                Button(type="submit", class="scroll-start-button x-hidden", name="submitType", value="scroll")
                .grid-content
                    .grid-header.grid-row
                        +ActionLink('schools', 'teachersSummary', schoolId, schoolName, (sortType == typesEnum.TEACHER_ASC.valueOf() ? typesEnum.TEACHER_DESC.valueOf() : typesEnum.TEACHER_ASC.valueOf()),self.getSchoolYearId(), self.getFilter()).cell.name=Msg.Teacher
                        .cell.classes=Msg.Classes
                        +ActionLink('schools', 'teachersSummary', schoolId, schoolName, (sortType == typesEnum.STUDENTS_ASC.valueOf() ? typesEnum.STUDENTS_DESC.valueOf() : typesEnum.STUDENTS_ASC.valueOf()), self.getSchoolYearId(), self.getFilter()).cell.students=Msg.Students
                        if isNotEmptyStatistic
                            +ActionLink('schools', 'teachersSummary', schoolId, schoolName, (sortType == typesEnum.ATTENDANCE_ASC.valueOf() ? typesEnum.ATTENDANCE_DESC.valueOf() : typesEnum.ATTENDANCE_ASC.valueOf()), self.getSchoolYearId(), self.getFilter()).cell.attendance=Msg.Attendance+' %'
                            +ActionLink('schools', 'teachersSummary', schoolId, schoolName, (sortType == typesEnum.DISCIPLINE_ASC.valueOf() ? typesEnum.DISCIPLINE_DESC.valueOf() : typesEnum.DISCIPLINE_ASC.valueOf()), self.getSchoolYearId(), self.getFilter()).cell.discipline=Msg.Discipline
                            +ActionLink('schools', 'teachersSummary', schoolId, schoolName, (sortType == typesEnum.GRADES_ASC.valueOf() ? typesEnum.GRADES_DESC.valueOf() : typesEnum.GRADES_ASC.valueOf()), self.getSchoolYearId(), self.getFilter()).cell.grades=Msg.Grade_Avg
                    +RenderWith(self.getModel(), chlk.templates.school.SchoolTeachersStatisticItemsTpl)
        else
            .no-items-text There are no teachers