-var classes = self.getItems()
-var isNotEmptyStatistic = self.isNotEmptyStatistic()

each clazz in classes
    .grid-row
        .cell.name
            .icon
                .pic
                    +ClassImg(clazz, 24, 43)
            +ActionLink('class', 'info', clazz.getId())(data-tooltip = (clazz.getClassNumber() || '') + ' '+  clazz.getName())=clazz.getName()
        .cell.teacher-name=clazz.getPrimaryTeacherName()
        .cell.students=clazz.getStudentsCount()
        if isNotEmptyStatistic
            .cell.attendance
                .circle(
                data-tooltip = clazz.getStudentsCount() + ' Students, ' + clazz.getAbsences() + ' Absent',
                class = clazz.getAbsencesClass()
                )=clazz.getAbsences() && parseInt(clazz.getAbsences(), 10)
            .cell.discipline
                .circle(
                data-tooltip=clazz.getInfractionsCount() + ' Discipline Infractions Today',
                class = clazz.getInfractionsClass()
                )=clazz.getInfractionsCount() && parseInt(clazz.getInfractionsCount(), 10)
            .cell.grades
                .circle(
                data-tooltip=clazz.getAvg() && (clazz.getAvg() + '% Average'),
                class = clazz.getAvgClass()
                )=clazz.getAvg() && parseInt(clazz.getAvg(), 10)