-var classes = self.getItems()
-var isNotEmptyStatistic = self.isNotEmptyStatistic()
-var sortType = self.getSortType()
-var typesEnum = chlk.models.admin.ClassSortTypeEnum
-var teacherId = self.getTeacherId() && self.getTeacherId().valueOf()
input(type="hidden", name="start", value=0)
input(type="hidden", name="sortType", value=sortType)
.grid-with-border
    .grid-top-content
        if classes.length
            +ListView(classes)(
                infiniteScroll = true,
                pageSize = 10
            ).district-summary-grid
                Button(type="submit", class="scroll-start-button x-hidden", name="submitType", value="scroll")
                .grid-content
                    .grid-header.grid-row
                        +ActionLink('schools', 'classesSummary', self.getSchoolId(), self.getSchoolName(), self.getSchoolYearId(), teacherId, sortType == typesEnum.CLASS_ASC.valueOf() ? typesEnum.CLASS_DESC.valueOf() : typesEnum.CLASS_ASC.valueOf(), self.getFilter()).cell.name=Msg.Class
                        +ActionLink('schools', 'classesSummary', self.getSchoolId(), self.getSchoolName(), self.getSchoolYearId(), teacherId, sortType == typesEnum.TEACHER_ASC.valueOf() ? typesEnum.TEACHER_DESC.valueOf() : typesEnum.TEACHER_ASC.valueOf(), self.getFilter()).cell.teacher-name=Msg.Teacher
                        +ActionLink('schools', 'classesSummary', self.getSchoolId(), self.getSchoolName(), self.getSchoolYearId(), teacherId, sortType == typesEnum.STUDENTS_ASC.valueOf() ? typesEnum.STUDENTS_DESC.valueOf() : typesEnum.STUDENTS_ASC.valueOf(), self.getFilter()).cell.students=Msg.Students
                        if isNotEmptyStatistic
                            +ActionLink('schools', 'classesSummary', self.getSchoolId(), self.getSchoolName(), self.getSchoolYearId(), teacherId, sortType == typesEnum.ATTENDANCE_ASC.valueOf() ? typesEnum.ATTENDANCE_DESC.valueOf() : typesEnum.ATTENDANCE_ASC.valueOf(), self.getFilter()).cell.attendance=Msg.Attendance+' %'
                            +ActionLink('schools', 'classesSummary', self.getSchoolId(), self.getSchoolName(), self.getSchoolYearId(), teacherId, sortType == typesEnum.DISCIPLINE_ASC.valueOf() ? typesEnum.DISCIPLINE_DESC.valueOf() : typesEnum.DISCIPLINE_ASC.valueOf(), self.getFilter()).cell.discipline=Msg.Discipline
                            +ActionLink('schools', 'classesSummary', self.getSchoolId(), self.getSchoolName(), self.getSchoolYearId(), teacherId, sortType == typesEnum.GRADES_ASC.valueOf() ? typesEnum.GRADES_DESC.valueOf() : typesEnum.GRADES_ASC.valueOf(), self.getFilter()).cell.grades=Msg.Grade_Avg
                    +RenderWith(self.getModel(), chlk.templates.school.SchoolClassesStatisticItemsTpl)
        else
            .no-items-text There are no classes