.schools
    .action-bar.not-transparent
        .container.panel-bg
            +ActionLink('schools', 'addSchool').chlk-add.opacity-button Add School
    .grid.not-transparent
        +RenderWith(self._model, chlk.templates.school.SchoolsGrid)

