.schools.grid-container.schools-individual
   each school in self.getPaginatedSchools().getItems()
      .row.school-info
         span(class= school.isUpgraded() ? '.saved-icon' : '').title.school-name=school.getName() + ' School'
         span.upgraded-date=school.getStudyCenterEnabledTill() || ''
         +ActionButton('schools', 'upgradeSchool', school.getId()).special-button.blue-button.upgrade-school-btn Upgrade School
         -console.log(school.isUpgraded())
         if school.isUpgraded()
            +ActionButton('schools', 'downgradeSchool', school.getId()).negative-button.special-button.red-button Un-upgrade School