@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transform";

@import "partials/main/_buttons";
@import "partials/main/_images";
@import "partials/main/_profile";

@import "partials/main/_storage";
@import "partials/main/people/_list";
@import "partials/main/feed/_list";
@import "partials/main/announcement/_form";
@import "partials/main/announcement/_view";
@import "partials/main/calendar/_calendar";
@import "partials/main/calendar/_announcement";

BODY {
  DIV.page{
    >DIV#content {
      DIV#content-wrapper{
        &.profile{
          #main-top, #footer {
            background-image: url(images/profile/paper-top-bottom.png);
          }

          #footer{
            background-position: 0 -50px;
          }

          #main-wrapper {
            background-image: url(images/profile/paper-bg.png);

            #main{
              .not-transparent{
                background: #baa76e;
              }

              .panel-bg{
                @include background(linear-gradient(top, #f3eee0, #ece1c1));
              }
            }
          }
        }

        #main {
          .not-transparent{
            background: #c9c9c9;
            border: 1px solid #a1a1a1;
            border-bottom-color: #fbfbfb;
            border-right-color: #fbfbfb;
            padding: 3px;
            margin-bottom: 15px;
            @include border-radius(9px);
          }

          .panel-bg{
            @include background(linear-gradient(top, #f5f5f5,#e7e7e7));
          }
        }
      }
    }
  }
}

INPUT, TEXTAREA{
  @include border-radius(5px);
  background: #fff;
  border-color: #9e9e9e transparent transparent transparent;
  border-width: 1px 0 0 0;
  padding: 5px;
  resize: vertical;
  color: #6e6e6e;
  margin: 0;

  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder {
     color: gray;
  }
}

.close-btn{
  background: url(images/ui/close-btn-2.png) 0 0 no-repeat;
  height: 27px;
  width: 28px;
  position: absolute;
  top: -11px;
  right: -16px;
  cursor: pointer;

  &:hover{
    opacity: 0.7;
  }
}

//LOADERS

.horizontal-loader{
  height: 20px;
  position: absolute;
  background: url(images/loaders/horizontal.gif) center center no-repeat;
  left: 0;
  right: 0;
  bottom: -25px;
}

.loader{
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../content/images/loaders/circular-grey.gif) center center no-repeat, rgba(0,0,0,0.3);
  z-index: 999;
  @include border-radius(5px);
}

#chlk-pop-up-container{
  position: absolute;
  min-height: 85px;
  @include border-radius(6px);
  background: #EEE;
  border-color: #B7B7B7;
  @include box-shadow(0 2px 6px 0px #989897);
  text-shadow: white 0px 1px 1px;
  padding: 7px;

  #pop-up-triangle{
    position: absolute;
    height: 10px;
    background: url(images/common/window-triangle-top.png) center center no-repeat;
  }

  &.popup-bottom, &.popup-top{
    #pop-up-triangle{
      left: 0;
      right: 0;
    }
  }

  &.popup-bottom{
    #pop-up-triangle{
      top: -10px;
    }
  }

  &.popup-top{
    #pop-up-triangle{
      bottom: -10px;
      @include transform(rotate(180deg));
    }
  }

  &.popup-left, &.popup-right{
    #pop-up-triangle{
      width: 16px;
      top: 30px;
    }
  }

  &.popup-left{
    #pop-up-triangle{
      right: -13px;
      @include transform(rotate(90deg));
    }
  }

  &.popup-right{
    #pop-up-triangle{
      left: -13px;
      @include transform(rotate(270deg));
    }
  }
}

.activity-model-wait, .loadind{
  .loader{
    display: block;

    .loader{
      display: none;
    }
  }
}

.loader-container{
  position: relative;
}