@import "compass/css3/border-radius";
@import "compass/css3/images";

@import "partials/main/_buttons";
@import "partials/main/people/_list";

BODY {
  DIV.page{
    #content {
      DIV#content-wrapper{
        &.profile{
          #main-top, #footer {
            background-image: url(images/profile/paper-top-bottom.png);
          }

          #footer{
            background-position: 0 -50px;
          }

          #main-wrapper {
            background-image: url(images/profile/paper-bg.png);

            #main{
              .not-transparent{
                background: #baa76e;
              }

              .panel-bg{
                @include background(linear-gradient(top, #f3eee0, #ece1c1));
              }
            }
          }
        }

        #main {
          .not-transparent{
            background: #c9c9c9;
            border: 1px solid #a1a1a1;
            border-bottom-color: #fbfbfb;
            border-right-color: #fbfbfb;
            padding: 3px;
            margin-bottom: 15px;
            @include border-radius(9px);
          }

          .panel-bg{
            @include background(linear-gradient(top, #f5f5f5,#e7e7e7));
          }
        }
      }
    }
  }
}

.big-img-container{

}