@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.modal-bg
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6;
    z-index:99990;
}

.pop-message{
  position: absolute;
  z-index: 99999;
  color: #6F6F6F;
  font-weight: bold;
  font-size: 16px;
  background-color: #E3E3E3;
  @include border-radius(12px);
  padding: 22px;
  margin: auto auto;
  @include box-shadow(0 10px 25px rgba(0,0,0,0.5));

  &.first-video{
    @include border-radius(0);
    padding: 0;
  }

  &.new-style{
    >DIV{
      display: inline-block;
    }
  }

  &.app-attach-popup{
    >DIV{
      display: inline-block;
      width: 380px;
      height: 106px;

      h2{
        text-align: left;
        font-size: 20px;
        margin-top: -10px;
      }

      #buttons-container{

        >SPAN:not(:last-child){
          margin-right: 30px;
        }

        >SPAN:not(&.not-right-margin){
          margin-right: 20px;
        }

        BUTTON{
          min-width: 130px;
          font-size: 14px;
        }

      }
    }


  }


  &:not(.first-tour){
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

    P{
      font: bold 16px Arial;
    }
  }

  &.centered{
    top: 300px;
    width: 300px;
    bottom: auto;
  }

  &.first-tour{
    z-index: 999999999;
    font-family: 'Saginaw Bold';
    word-spacing: 4px;
    letter-spacing: 1px;
    color: white;
    @include border-radius(10px);
    padding: 40px 15px 15px 15px;
    background: url(images/arrows/blue-left-up-arrow.png) 25px 10px no-repeat, rgba(0, 0, 0, 0.6);

    &.right{
      background: url(images/arrows/blue-right-up-arrow.png) 95% 10px no-repeat, rgba(0, 0, 0, 0.6);
    }

    &.app-name{
      left: 26px !important;
      position: fixed !important;
      background: url(images/app/your-app-name.png) 0 0 no-repeat !important;
      height: 66px !important;
      width: 182px !important;
    }

    h2{
      color: white;
      text-align: center;
    }

    P{
      text-align: center;
      margin: 0;

      SPAN{
        font-size: 12px;
      }
    }
  }

  AUDIO{
    display: none;
    position: absolute;
    bottom: -15px;
    width: 90%;
    left: 0;
    margin-left: 5%;
  }

  &:hover{
    AUDIO{
      display: block;
    }
  }

  H2{
    color: #6F6F6F;
    font-size: 24px;

    &.left{
      text-indent: 10px;
    }
  }

  P{
    margin: 20px 0;
    min-height: 1px;

    &.big{
      font-size: 18px;
    }

    SPAN{
      font-size: 19px;
      font-weight: normal;
      display: block;
    }
  }

  .left{
    text-align: left;
  }

  DIV{
    text-align: center;
  }

  DIV.text{
    padding: 5px 0;
  }

  &.message-bg
  {
    background-color: transparent;
    background-image:url(images/announcement/choose-due-date.png);
    background-repeat:no-repeat;
    width: 250px;
    height: 142px;
  }

  &.autofill{
    width: 303px;
    height: 200px;
  }

  #buttons-container{
    >SPAN:not(:last-child){
      margin-right: 20px;
    }

    >SPAN:not(&.not-right-margin){
      margin-right: 20px;
    }

    BUTTON{
      min-width: 100px;
    }

    &.grading-style-pop{
      >span{
        &#numbers-button, &#chars-button{
          button{
            width: 150px;
          }
        }

        &#numbers-button{
          margin: 0 23px 20px 0;
        }
      }
    }
  }

  .tip{
    font-size: 9px;
    text-align: center;
    margin-top: 9px;
  }
}