div(class="announcement-popup-" + self.getId().valueOf())#chlk-pop-up-container.popup-right.ann-grade-pop-up.popup-bubble
    #pop-up-triangle
    .grading-pop-up
        h3.separator.big-text=self.getTitle()
        .separator.small-text #{Msg.Due}: #{self.getExpiresDate().format('mm/dd/yy')}

        .grading-chart-container.small
            .separator.small-text #{Msg.Class_average}: ...
            .chart-loader
