.mps-container
    each item,i in self.getItems()
        div(class=(i==0) ? "open" : "", data-index=i).marking-period-container
            div(data-tooltip=(item.getAvg() != null ? Msg.Avg + " " + item.getAvg() : 'No grades yet')).mp-title=Msg.Marking_Period + ' ' +  item.getGradingPeriod().getName()
                .collapse
            .mp-data
                .ann-types-container
                    +LeftRightToolbar(item.getItems(), chlk.templates.grading.GradingClassSummaryItemTpl)(
                        needDots = true,
                        roundedDots = true
                    ).big-arrows