div(class="student-standard-popup-" + self.getStudentId().valueOf() + '-' + self.getStandardId().valueOf())#chlk-pop-up-container.popup-bottom.student-standard-popup
    div
        .top.popup-bubble
            .items-cnt