text = self.getId() ? parseInt(self.getName(), 10) : self.getName();
serialPart = self.getSerial(number).slice(number.toString().length)
+ActionLink(self.getController(), self.getAction(), self.getParams(), self.getId())(class=self.isPressed() ? "pressed " : "").item.class-button.button-link
    SPAN.admin=text.toUpperCase()
        if self.getId()
            SPAN=serialPart
