div(data-index=self.getIndex()).ann-type-container
    itemDescription = self.getItemDescription()
    div(
        data-tooltip=(self.getUserRole().isStudent() ? "My avg: " :"Avg: ") + (self.avg ? self.avg : 0) + (self.getPercent ? ("  Worth " + (self.percent ? self.percent : 0) + "%") : "")
    ).type-name=itemDescription.getName()
    announcements = self.getAnnouncements()
    each announcement, i in announcements
        div(data-index=i).announcements-type-item
            +ActionLink('announcement', 'view', announcement.getId())(
                annId = announcement.getId().valueOf(),
                class = announcement.isDropped() ? "dropped" : ""
            ).ann-button
                |#{announcement.getTitle()}
            +ActionLink('grading', 'showChart', announcement.getId()).x-hidden.show-popup
            if i == announcements.length - 1 && itemDescription.isCanCreate && itemDescription.isCanCreate()
                +ActionLink('announcement', 'add', self.getClassId(), itemDescription.getId(), null, true).ann-button.plus-ann
    if announcements.length == 0 && itemDescription.isCanCreate && itemDescription.isCanCreate()
        .announcements-type-item
            +ActionLink('announcement', 'add', self.getClassId(), itemDescription.getId(), null, true).ann-button.plus-ann
