.ann-type-container
    type = self.getType()
    div(data-tooltip="Avg " + (self.avg ? self.avg : 0) + "  Worth " + (self.percent ? self.percent : 0) + "%").type-name=type.getName()
    announcements = self.getAnnouncements()
    each announcement, i in announcements
        .announcements-type-self
            +ActionLink('announcement', 'view', announcement.getId())(
                annId = announcement.getId().valueOf(),
                data-values = JSON.stringify(announcement),
                class = announcement.isDropped() ? "dropped" : ""
            ).ann-button
                |#{announcement.getAnnouncementTypeName()} #{announcement.getOrder()}
            if i == announcements.length - 1 && type.isCanCreate()
                +ActionLink('announcement', 'add', self.getClassId(), type.getId(), null, true).ann-button.plus-ann
    if announcements.length == 0 && type.isCanCreate()
        .announcements-type-self
            +ActionLink('announcement', 'add', self.getClassId(), type.getId(), null, true).ann-button.plus-ann
