-var value = self.displayGrade(self.getGradeValue())
+ActionForm('grading', 'updateStandardGradeFromGrid').grading-form
    +Hidden('standardid', self.getStandardId())
    +Hidden('gradeid', self.getGradeId())
    +Hidden('classid', self.getClassId())
    +Hidden('gradingperiodid', self.getGradingPeriodId())
    +Hidden('comment', self.getComment())(
        data-comment = self.getComment()
    ).comment-value
    +Hidden('studentid', self.getStudentId().valueOf())
    input(value=value, name="gradevalue", data-value=value, class=(value ? "" : "empty-grade" )).grade-autocomplete.value-input
    .grading-input-popup
        .popup-content
            +LabeledCheckbox(Msg.Fill, 'fill', false, (self.getGradeValue() === "" || self.getGradeValue() === null))(addCallBack = true, containerClass = "fill-grade-container").fill-grade