.ann-types-container
    items = self.getByAnnouncementTypes()
    if !items.length
        .no-items-text=Msg.No_grades_yet
    else
        +LeftRightToolbar(items, chlk.templates.grading.GradingClassSummaryItemTpl)(
            itemClass='ann-type-container',
            fixedElementMargin=true,
            fixedElementWidth=false,
            rightPadding=-1,
            elWidth=200
        ).big-arrows