.class-grading
    topData = self.getTopData()
    topItems = topData.getTopItems()
    selectedId = topData.getSelectedItemId()
    +LeftRightToolbar(topItems, chlk.templates.classes.TopBar, 'grading', 'summary')(
        selectedItemId=selectedId
    ).classes-bar
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                .grading-button
                .grading-button
    +RenderWith(self.getSummaryPart(), chlk.templates.grading.GradingClassSummaryPartTpl)
