// This import applies a global reset to any page that imports this stylesheet.
//@import "blueprint/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
//@import "blueprint";

// Import the non-default scaffolding module.
//@import "blueprint/scaffolding";

@import "compass/css3/border-radius";
@import "compass/css3/background-size";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";

// Generate the blueprint framework according to your configuration:
//@include blueprint;

//@include blueprint-scaffolding;

$margin: 15px;
$sidebar-width: 300px;
$column-width: 802px;

$background: #a1d1e8; /*#4985a6;*/
$panel-bg: #ecf6f9;

$button-bg: #ecf6f9;
$button-border: #bfcfdc;

$link-color: #155c97;
$border-color: #a1a1a1;

h1,h2,h3,h4,h5,h6,strong {
  color: #2f424b;
}

@font-face {
    font-family: 'Jrhand';
    src: url('fonts/jrhand-webfont.eot');
    src: url('fonts/jrhand-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jrhand-webfont.woff') format('woff'),
         url('fonts/jrhand-webfont.ttf') format('truetype'),
         url('fonts/jrhand-webfont.svg#jrhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeue UltraLite';
    src: url('fonts/helveticaneue-ultralight-webfont.eot');
    src: url('fonts/helveticaneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-ultralight-webfont.woff') format('woff'),
         url('fonts/helveticaneue-ultralight-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-ultralight-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Saginaw Bold';
    src: url('fonts/saginawbold-webfont.eot');
    src: url('fonts/saginawbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/saginawbold-webfont.woff') format('woff'),
         url('fonts/saginawbold-webfont.ttf') format('truetype'),
         url('fonts/saginawbold-webfont.svg#saginaw_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura Heavy';
    src: url('fonts/futura-webfont.eot');
    src: url('fonts/futura-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura-webfont.woff') format('woff'),
         url('fonts/futura-webfont.ttf') format('truetype'),
         url('fonts/futura-webfont.svg#futura_hv_btheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeue.ttf') as "font/ttf";
}

@font-face {
  font-family: 'Myriad Pro';
  src: url(fonts/Myriad.ttf);
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold', Helvetica;
  src: url(fonts/HelveticaNeue-CondensedBold.ttf);
}

.clear{clear:both;}

.x-window-proxy {;
  display: none !important;
}

.buttons-container{
  height: 39px;
  width: 258px;
  position: absolute;
  top: 316px;
  left: 245px;
  display: none;
}

.with-tooltip{
  position: relative;

  .tooltip-wrapper:hover{
    .tooltip-container{
      .chlk-tooltip{
        display: none;
      }
    };
  }

  &.x-item-disabled{
    &:hover{
      .tooltip-wrapper{
        .tooltip-container{
          .chlk-tooltip{
            display: block;
            color: white !important;

            .tooltip-content{
              color: white !important;
            }
          }
        };
      }
    }
  }
}

.pop-up-window{
  text-align: center;

  .separator{
    background: url(images/common/dialog-separator-br.png) bottom no-repeat;
    color: #7c7c7c;
    text-shadow: 1px 1px 0 white;
    text-align: center;
    padding: 5px 10px;
  }

  .big-text{
    font: bold 16px Arial;
  }

  .small-text{
    font: normal 12px Georgia;
    font-style: italic;
  }

  .grey-button{
    text-align: center;
    min-width: 57px;
    height: 12px;
    padding: 10px;
    margin: 5px auto 0;
    @include border-radius(4px);
    @include background(linear-gradient(top, #f5f5f5, #e0e0e0));
    @include box-shadow(0 1px 0 0 #fff inset, 0 1px 2px 0px #999);
    display: inline-block;
    border: 1px solid #b3b3b3;
    cursor: pointer;

    &:hover{
      @include background(linear-gradient(top, #e5e5e5, #d0d0d0));
    }

    &.disabled{
      opacity: 0.7;
      @include background(linear-gradient(top, #f5f5f5, #e0e0e0));
    }
  }
}

.buttons-container a
{
  float: right;
  height: 39px;
}

.buttons-container a.Student
{
  width: 85px;
  background: url(images/common/demo-buttons-sprite.png) 0 0 no-repeat;
}

.buttons-container a.Teacher
{
  width: 88px;
  background: url(images/common/demo-buttons-sprite.png) -85px 0 no-repeat;
}

.buttons-container a.Admin
{
  width: 85px;
  background: url(images/common/demo-buttons-sprite.png) -173px 0 no-repeat;
}

.buttons-container a.Student:hover
{
  background-position: -258px 0;
}

.buttons-container a.Teacher:hover
{
  background-position: -343px 0;
}

.buttons-container a.Admin:hover
{
  background-position: -431px 0;
}

.buttons-container a.Student:active
{
  background-position: -516px 0;
}

.buttons-container a.Teacher:active
{
  background-position: -601px 0;
}

.buttons-container a.Admin:active
{
  background-position: -689px 0;
}

.ajax-loading{
  padding-bottom: 50px !important;
  background: url(images/loader32.gif) center bottom no-repeat;
}

.ajax-loading-center{
  background: url(images/loader32.gif) center center no-repeat;
}

.container-ajax-loader{
  height: 100%;
  min-height: 95px;
  border: none !important;

  &#main
  {
    background-image: url(images/loader32.gif), url(images/common/paper-pin.png)  !important;
    background-position: center center, 0 0  !important;
    background-repeat: no-repeat, repeat-y  !important ;
  }
  background-image: url(images/loader32.gif) !important;
  background-position: center center !important;
  background-repeat: no-repeat !important ;

  &.no-height{
    min-height: 0px;
  }

  &.bottom{
    background-position: center bottom !important;
  }

  &.action-link-pop-up{
    height: auto;
  }
}

SPAN.container-ajax-loader{
  display: inline-block;
  width: 31px;
  height: 31px;
  min-height: 31px;
}

.x-window-header{
  color: #ADADAD !important;
  font: bold 24px Arial !important;
}

.overflow-visible{
  .x-panel-body{
    overflow: visible;
  }
}

.choose-date-icon{
   display: inline-block;
  width: 30px;
  height: 24px;
  background: url(images/icons/choose-date.png) 0 bottom no-repeat;
}

.new-choose-date{
  INPUT{
    border: none;
    background: transparent;
    margin-left: 22px;
    font: normal 13px Arial !important;
    color: #5d5d5d;
    text-shadow: 0 0 1px #b7b7b7;
  }

  IMG{
    display: inline-block;
    background: url(images/announcement/due-icon.png) 0 center no-repeat !important;
    border: none !important;
    position: absolute !important;
    left: 5px;
  }
}

.chart-tooltip{
  display: inline-block;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  text-align: center;
  min-width: 20px;
}

.new-input, .new-combo INPUT.x-form-field.x-form-text{
  height: 21px !important;
  font: normal 14px 'Myriad Pro';
  text-shadow: 1px 1px 1px white;
  color: #9D9D9D;
  border: 1px solid #c9c9c9;
  @include background(linear-gradient(top, #ffffff, #dadada));

  &.new-input{
     @include border-radius(5px);
  }

  &:not(.new-input){
     @include border-radius(5px 0 0 5px);
  }
}

.new-combo{
  INPUT.x-form-field.x-form-text{
    border-right: none;

    &.white{
      background: white;
    }
  }

  IMG.x-form-trigger{
    background-image: url(images/common/select.png);
    background-position: 0 0 !important;
    border: none;
    height: 28px !important;;
  }
}

.x-grid-panel{
  .grid-modal{
    position: absolute;
    background: url(images/announcement/auto-grade-modal.png) 438px 5px no-repeat, rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    >DIV{
      color: white;
      width: 290px;
      position: absolute;
      font: normal 34px 'Reenie Beanie';
      text-align: center;
      top: 83px;
      left: 293px;
    }

    &.double{
      >DIV{
        top: 1px;
        left: 105px;
      }
    }
  }

  .z-0, .z-10{
    position: relative;
  }

  .z-0{
    z-index: 0;
  }

  .z-10{
    z-index: 10;

    &.x-grid3-row-selected{
      z-index: 11;
    }
  }
}

.combo-register{
  INPUT.x-form-field.x-form-text{
    //height: 34px !important;
    //@include border-radius(5px);
  }

  IMG.x-form-trigger{
    background-image: url(images/profile/down-arrow.png);
    background-position: center center !important;
    border: none;
    height: 34px !important;
    position: relative;
    top: 14px;
    right: 19px;
  }
}

.window-header{
  border-bottom: 1px solid $border-color;
  margin: 0 -3px;

  H1{
    border-bottom: 1px solid #fdfdfd;
    font-weight: bold;
    font-size: 20px;
    color: #adadad;
    display: table;
    width: 615px;
    padding: 15px 0 0 50px;

    >DIV{
      float: right;
      padding: 7px 18px;
      font-weight: normal;
      font-size: 13px;
      color: #8c8c8c;
    }
  }
}

a, a:visited, a:link {
  color: $link-color;
  outline: none !important;
}

a:active, a:hover {
  color: lighten($link-color, 10%);
  outline: none !important;
}

HTML {
  background: url(images/common/page-bg.gif);
  height: 100%;
}

BODY {
  background: url(images/common/body-bg.gif) 300px 0 repeat-y;
  color: #51595d;
  //text-align: center;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;

  &.demo{
    >DIV.application-preview-window{
      bottom: 93px !important;
    }
  }

  .x-toolbar .xtb-sep{
    margin-right: 4px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .x-layer{
    visibility: visible;
  }

  #logout-block{
    position: absolute;
    right: 0;
    z-index: 100000;

    .logout-area{
      cursor: pointer;
    }

    >DIV, >A{
      margin-right: 1px;
      padding-left: 9px;
      padding-right: 13px;
    }

    >SPAN{
      background: url(images/common/logout-arrow.png) center 10px no-repeat, rgba(255, 255, 255, 0.6);
      width: 19px;

      &:hover{
        background: url(images/common/logout-arrow.png) center 10px no-repeat, rgba(255, 255, 255, 0.75);
      }

      &:active{
        background: url(images/common/logout-arrow.png) center 10px no-repeat, rgba(255, 255, 255, 0.9);
      }
    }

    >*{
      padding-top: 5px;
      background: rgba(255, 255, 255, 0.6);
      height: 21px;
      line-height: 21px;
      text-align: center;
      font: normal 13px 'Myriad Pro';
      color: #1c5166;
      text-decoration: none;
    }

    >DIV, >SPAN{
      display: inline-block;
      vertical-align: top;
    }

    >SPAN, >A{
      display: inline-block;
      @include transition-property("all");
      @include transition-duration("0.2s");
    }

    >A.logout{
      margin-top: 1px;
      opacity: 0;
      display: block;
      visibility: hidden;
      text-transform: capitalize;

      &:hover{
        background: rgba(255, 255, 255, 0.75);
      }

      &:active{
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }

  #page-header {
    text-align:right;
    color: #333;
    padding: 1px 7px;
    font-size: 12px;
    font-family: Arial;

    background: #e7e7e7;
    border: 1px solid #adadad;
    border-top: none;

    @include border-bottom-radius(10px);
    @include box-shadow(#ccc, 0px, 0px);

    position: absolute;
    left: 5px;
    top: 0;

    z-index: 5;
  }

  .ext-el-mask {
    background-color: #000;
    -moz-opacity: .3;
    opacity: .3;

    &.black{
      opacity: .85;
      width: auto !important;
      right: 0;
      bottom: 0;
      z-index: 100001 !important;
    }
  }

  DIV.page {
    background: url(images/common/sidebar-bg.gif) 0 0 repeat-y;
    height: 100%;
    display: table;

    text-align: left;
    //padding: $margin 0;
    width: 100%;

    &.demo{
      #content, #sidebar{
        margin-bottom: 90px;
      }
    }

    #content {
      padding-left: $sidebar-width + $margin;
      padding-top: 11px;

      .new-item{
        #main-top {
          background: url(images/common/paper-bg-top.gif) 1px 0 no-repeat !important;
        }

        #main-wrapper {
          background: url(images/common/paper-bg-new.gif) 0 0 repeat-y;
        }

        #footer {
          background: url(images/common/paper-bg-bottom.gif) 0 0 no-repeat !important;
        }
      }

      .attendance{
        #main-top {
          background: url(images/attendance/paper-top-bg.png) 0 0 no-repeat !important;
        }

        #main-wrapper {
          background: url(images/attendance/paper-bg.png) 0 0 repeat-y;
        }

        #footer {
          background: url(images/attendance/paper-bottom-bg.png) 0 0 no-repeat !important;
        }
      }

      > DIV {
        text-align: left;
        width: $column-width;
        //padding-left: 10%;

        #main-top {
          height: 11px;
          background: url(images/common/paper-top-bg.png) 0 0 no-repeat !important;
        }

        #main-wrapper {
          background: url(images/common/paper-bg.gif) 0 0 repeat-y;

          #main {
            background: url(images/common/paper-pin.png) 0 0 repeat-y;
            //overflow:hidden;
            min-height: 700px;
            padding: 32px 74px 32px 61px;

            .transparent-panel{
              background: transparent !important;
              border: none;
            }

            #new-notifications-count{
              display: inline-block;
              background: #E55433;
              border-radius: 3px;
              border: 1px solid #CD4A2D;
              padding: 0 1px;
              text-align: center;
              color: #F8F8F8;
              font: normal 10px Arial;
              margin-left: 18px;
              top: -7px;

            }
          }
        }

        #footer {
          @include border-bottom-radius(10px);

          background: url(images/common/paper-top-bottom.gif) 0 -11px no-repeat;
          padding-top: 16px;
          font-size: 12px;
          color: lighten(#81919a, 25%);
          text-align:center;
          position: relative;
        }
      }
    }
  }
}


#tellfriend {
  position: fixed;
  display: none;
  top: 0;
  margin: 0 auto;
  color: #fff;
  padding: 15px;
  width: 380px;
  z-index: 10000000;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #f2f2f2;
  left: 0;
  right: 0;

  #tellafriend-submit-container{
    margin-top: 10px;
    min-height: 10px !important;
  }
}

#tellfriend a.close {
  position: absolute;
  right: -10px;
  top: -10px;
  background: url(images/ui/close-btn.png) no-repeat;
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-indent: -1000px;
}

#tellfriend form textarea {
  height: 80px;
}

.contact-form {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #f2f2f2;
}

.contact-form form input.std_input {
  margin-bottom: 10px;
}

form label.clear {
  clear: both;
  float: left;
  margin-top: 10px;
}

form label.full {
  width: 99%;
}

form label.required {
  font-weight: bold;
}

form select {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #6e6e6e;
}

form label {
  color: #808080;
  font-size: 14px;
}

form input.std_input,
form textarea {
  border: 1px solid #ccc;
  width: 97%;
  font: 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 5px;
  color: #6e6e6e;
}

form table {
  width: 100%;
}

form table input.std_input {
  width: 93%;
}

form table.three-col input.std_input {
  width: 90%;
}

form input.form_but {
  margin-top: 10px;
  background-color: #93ba31;
  border: 3px solid #afdd39;
  color: #fff;
  font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px 10px;
}

#attachment-add-window{
    width: 276px !important;
}

DIV.x-panel-body {
  overflow: visible;
}

.upload-file-button{
  position: relative !important;

  .x-form-file-wrap{
    position: static !important;
    .x-form-file-text{
      left: 9999px;
    }
  }

  INPUT:not(.x-form-file){
    opacity: 0;
  }

  TABLE{
    //position: absolute !important;
    //top: 0 !important;
    //left: 0 !important;
    //right: 0 !important;
    //bottom: 0 !important;

    *{
      background: transparent !important;
    }
  }
}


/* TODO: MOve following CSS to specific partials */

.rounded-state-button {
  background: url(images/rsb-left.png) left top no-repeat;
  padding: 0;
  padding-left: 8px;
  display: inline-block;
  min-height: 18px;
  text-decoration: none;

  > SPAN {
    background: url(images/rsb-right.png) right top no-repeat;
    padding-right: 8px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    > SPAN {
      background: url(images/rsb-bg.png) left top repeat-x;
      display: inline-block;
      height: 18px;
      line-height: 18px;
      font-size: 14px;
	  >BUTTON{
		background: none;
	  }
    }
  }
}

.rounded-state-button.big {
  background-image: url(images/ui/buttons-left.png) !important;
  min-height: 27px;
  > SPAN {
    background-image: url(images/ui/buttons-right.png) !important;
    min-height: 27px;
    display: block;
    > SPAN {
      background-image: url(images/ui/buttons-center.png) !important;
      min-height: 27px;
      display: block;
      > BUTTON {
        height: 27px;
        font: {
          size: 14px;
        }
      }
    }
  }
}

.rounded-state-button.admin-gray {
  background: url(images/buttons/admin-gray-L.png) left -72px no-repeat;
 // padding: 4px;
  padding-right: 8px;
  display: inline-block;
  min-height: 26px;
  text-decoration: none;
  font-size: 0 !important;
  margin: 0 !important;
  &:hover{
    background-position: left 0px;
  }
  &:active{
    background-position: left -36px;
  }

  > SPAN {
    background: url(images/buttons/admin-gray-R.png) right -72px no-repeat;
    display: inline-block;
    min-height: 26px;
    font-size: 0 !important;
    margin: 0 !important;
    &:hover{
      background-position: right 0px;
    }
    &:active{
      background-position: right -36px;
    }

    > SPAN {
      background: url(images/buttons/admin-gray-mid.png) center -72px repeat-x;
      display: inline-block;
      min-height: 26px;
      font-size: 0 !important;
      margin: 0 !important;
      &:hover{
        background-position: center 0px;
      }
      &:active{
        background-position: center -36px;
      }

      >BUTTON{
        background: none;
        font: normal 13px Arial;
        text-shadow: 1px 0px 0px white;
        color: #9d9d9d !important;
        padding: 3px 0px !important;
        //&.x-btn-txt{
        //  padding-left: 11px !important;
        //  padding-right: 11px !important;
        //}
      }
    }
  }
}

.rounded-state-button.next-button{
  BUTTON{
    padding-right: 27px;
    background: url(images/buttons/next-icon.png) right 13px no-repeat;
  }
}

.rounded-state-button.blue2, .rounded-state-button.grey2, .rounded-state-button.green2, .rounded-state-button.red2 {
  min-height: 33px;
  padding-left:9px;
  width: auto;
  > SPAN {
    min-height: 33px;
    padding-right: 9px;
    display: block;
    > SPAN {
      min-height: 33px;
      > BUTTON {
        height: 30px;
        color: white;
        font: {
          size: 18px;
          family: Arial;
        }
      }
    }
  }
}

.rounded-state-button.blue2{
  background-image: url(images/buttons/xbutton-blue2-left.png) !important;
  > SPAN {
    background: url(images/buttons/xbutton-blue2-right.png) right 0 no-repeat !important;
    > SPAN {
      background-image: url(images/buttons/xbutton-blue2-center.png) !important;
    }
  }
}

.rounded-state-button.grey2{
  background-image: url(images/buttons/xbutton-grey2-left.png) !important;
  > SPAN {
    background-image: url(images/buttons/xbutton-grey2-right.png) !important;
    > SPAN {
      background-image: url(images/buttons/xbutton-grey2-center.png) !important;
    }
  }
}

.rounded-state-button.green2 {
  background-image: url(images/buttons/xbutton-green2-left.png) !important;
  > SPAN {
    background-image: url(images/buttons/xbutton-green2-right.png) !important;
    > SPAN {
      background-image: url(images/buttons/xbutton-green2-center.png) !important;
    }
  }
}

.rounded-state-button.red2 {
  background-image: url(images/buttons/xbutton-red2-left.png) !important;
  > SPAN {
    background-image: url(images/buttons/xbutton-red2-right.png) !important;
    > SPAN {
      background-image: url(images/buttons/xbutton-red2-center.png) !important;
    }
  }
}

.rounded-state-button.green2, .rounded-state-button.grey2 {
  &.toggle{
    background-image: url(images/buttons/xbutton-grey2-left.png) !important;
    > SPAN {
      background-image: url(images/buttons/xbutton-grey2-right.png) !important;
      > SPAN {
        background-image: url(images/buttons/xbutton-grey2-center.png) !important;
      }
    }

    &.x-btn-pressed{
      background-image: url(images/buttons/xbutton-green2-left.png) !important;
      > SPAN {
        background-image: url(images/buttons/xbutton-green2-right.png) !important;
        > SPAN {
          background-image: url(images/buttons/xbutton-green2-center.png) !important;
        }
      }
    }
  }
}

.rounded-state-button.blue2:hover, .rounded-state-button.grey2:hover, .rounded-state-button.green2:hover, .rounded-state-button.red2:hover {
  &:not(.disabled){
    background-position: -0px -42px !important;

    >SPAN {
      background-position: right -42px !important;

      >SPAN{
        background-position: -0px -42px !important;
      }
    }
  }
}

.rounded-state-button.red2.x-btn-click, .rounded-state-button.red2.x-btn-pressed, .rounded-state-button.blue2.x-btn-click
  , .rounded-state-button.blue2.x-btn-pressed, .rounded-state-button.grey2.x-btn-pressed, .rounded-state-button.green2.x-btn-pressed
  , .rounded-state-button.grey2.x-btn-click, .rounded-state-button.green2.x-btn-click, .rounded-state-button.disabled{
  background-position: -0px -85px !important;

  >SPAN {
    background-position: right -85px !important;

    >SPAN{
      background-position: -0px -85px !important;
    }
  }
}

.rounded-state-button.big.special-button {
  min-height: 54px;
  padding-left: 21px;
  width: auto !important;
  > SPAN {
    min-height: 54px;
    padding-right: 21px;
    display: block;
    > SPAN {
      min-height: 54px;
      > BUTTON {
        height: 48px;
        font: {
          weight: bold;
          family: Arial;
        }
      }
    }
  }

  &.next{
    BUTTON{
      background: url(images/common/next-arrow.png) right center no-repeat;
      padding-right: 25px;
    }
  }

  &.small{
    @include background-size(14px 128.5px);
    min-height:40px;
    padding-left: 14px;

    &:hover{
      @include background-size(14px 129px);
    }

    > SPAN {
      min-height: 40px;
      @include background-size(16px 128.5px);
      padding-right: 16px;

      > SPAN {
        min-height: 40px;
        @include background-size(auto 128.5px);

        > BUTTON {
          height: 38px;
        }
      }
    }
  }

  &.green-button{
    background-image: url(images/buttons/xbutton-green-left.png) !important;
    > SPAN {
      background-image: url(images/buttons/xbutton-green-right.png) !important;
      background-position: right -112px;
      > SPAN {
        background-image: url(images/buttons/xbutton-green-center.png) !important;
        > BUTTON {
          color: #126100;
        }
      }
    }

    &.small{
      > SPAN {
        background-position: right -86px;
      }
    }
  }

  &.red-button{
    background-image: url(images/buttons/xbutton-red-left.png) !important;
    background-position: 0 0 !important;
    > SPAN {
      background-image: url(images/buttons/xbutton-red-right.png) !important;
      > SPAN {
        background-image: url(images/buttons/xbutton-red-center.png) !important;
        background-position: 0 0 !important;
        > BUTTON {
          color: white !important;
        }
      }
    }

    &:hover{
      opacity: 0.9;
    }

    &:active{
      opacity: 0.8;
    }
  }

  &.blue-button{
    background-image: url(images/buttons/xbutton-blue-left.png) !important;
    > SPAN {
      background-image: url(images/buttons/xbutton-blue-right.png) !important;
      > SPAN {
        background-image: url(images/buttons/xbutton-blue-center.png) !important;
        > BUTTON {
          color: white !important;
        }
      }
    }

    &.small{
      -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/buttons/xbutton-blue-left.png',sizingMethod='scale')";
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/buttons/xbutton-blue-left.png', sizingMethod='scale');
      background-image: none;
      > SPAN {
        -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/buttons/xbutton-blue-right.png',sizingMethod='scale')";
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/buttons/xbutton-blue-right.png', sizingMethod='scale');
        background-image: none;
        > SPAN {
          -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/buttons/xbutton-blue-center.png',sizingMethod='scale')";
          filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/buttons/xbutton-blue-center.png', sizingMethod='scale');
          background-image: none;
        }
      }
    }
  }
}

.rounded-state-button.green-button:hover {
  background-position: -0px -112px !important;

  >SPAN {
    background-position: right -0px !important;

    >SPAN{
      background-position: -0px -112px !important;
    }
  }

  &.small{
    background-position: -0px -86px !important;

    >SPAN {
      >SPAN{
        background-position: -0px -86px !important;
      }
    }
  }
}

.rounded-state-button.green-button.pressed, .rounded-state-button.green-button.x-btn-click {
  background-position: -0px -56px !important;

  >SPAN {
    background-position: right -56px !important;

    >SPAN{
      background-position: -0px -56px !important;
    }
  }

  &.small{
    background-position: -0px -43px !important;

    >SPAN {
      background-position: right -43px !important;
      >SPAN{
        background-position: -0px -43px !important;
      }
    }
  }
}

.rounded-state-button.blue-button:hover {
  background-position: 0px -113px !important;
  background-size: auto 169px;
  >SPAN {
    background-position: right -57px !important;
    background-size: auto 170px;


    >SPAN{
      background-position: 0px -57px;
      background-size: auto 170px;
    }
  }

  &.small{
    background-position: -0px -86px !important;

    >SPAN {
      background-position: right -43px !important;
      >SPAN{
        background-position: -0px -43px !important;
      }
    }
  }
}

.rounded-state-button.blue-button.pressed, .rounded-state-button.blue-button.x-btn-click {
  background-position: -0px -56px !important;
  background-size: auto !important;
  >SPAN {
    background-position: right -112px !important;
    background-size: auto !important;
    >SPAN{
      background-position: -0px -112px !important;
      background-size: auto !important;
    }
  }

  &.small{
    background-position: -0px -44px !important;
    background-size: auto 135px !important;

    >SPAN {
      background-position: right -86px !important;
      background-size: auto 131px !important;
      >SPAN{
        background-position: -0px -85px !important;
        background-size: auto 130px !important;
      }
    }
  }
}

.generating-preview {
  background: url(images/loader.gif) 0 50% no-repeat;
  padding-left: 18px;
  line-height: 20px;
  font-size: 14px;
  display: inline;
}

.delete-field-popup{
  position: absolute;
  width: 105px;
  height: 38px;
  background: url(images/announcement/delete-field-popup.png);
  top: -77px;
  right: -56px;
  z-index: 999;
  padding: 45px 25px 0 25px;

  .delete-field, .cancel-field{
    width: 43px;
    height: 19px;
    display: block;
    float:left;

    &:hover{
      background-position: 0px -29px;
    }
  }

  .delete-field{
    background: url(images/announcement/delete-field-2.png);
    margin-right: 19px;
  }

  .cancel-field{
    background: url(images/announcement/cancel-field-2.png);
  }
}

.export-btn {
  background-image: url(images/buttons/export.png);
  height: 26px !important;
  width: 28px !important;
}

textarea, input {
  @include border-radius(5px);
  border-color: $border-color;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.chalkable-day-view {
  width: 700px;
  border: 1px solid #ccc;
  border-right: none;
  border-bottom: none;

  DIV.header {
    background: url(images/status-bg.png);
    > DIV {
      width: 100px;
      height: 24px;
      line-height: 24px;
      background: url(images/schedule-bg.gif);
      display: inline-block;
      text-align: center;
      color: #666;
      font-weight: bold;
    }
  }

  DIV.items {
    height: 12 * 60px + 30px;
    position: relative;
    background: url(images/schedule-day-bg.gif);

    DIV.item {
      position: absolute;
      cursor: pointer;

      width: 93px;
      min-height: 19px;

      border: 1px solid #666;
      @include border-radius(8px);
      overflow: hidden;


      > DIV {
        height: 100%;
        @include border-radius(8px);
      }

      EM {
        font-style: italic;
        font-size: 11px;
        letter-spacing: -1px;
        line-height: 12px;
        position: absolute;
        top: 3px;
        left: 15px;
        right: 1px;
      }

      SPAN.remove {
        display: inline-block;
        background: url(images/icons/close-small.png) no-repeat;
        margin: 3px;
        width: 12px;
        height: 12px;
      }

      ul {
        display: block;
        list-style:none;
        margin: 2px;
        padding: 0;

        position: absolute;
        top: 16px;
        left: 1px;
        right: 1px;

        > li {
          display: block;
          float: none;
          
          font-size: 11px;
          letter-spacing: -0.5px;
          line-height: 12px;

          .delete {
            display: inline-block;
            background: url(images/icons/close-small.png) left center no-repeat;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}

.chalkable-day-view.no-delete {
  DIV.items {
    DIV.item {
      SPAN.remove {
        display: none;
      }
    }
  }
}

.chalkable-day-view.add-btn {
  DIV.items {
    DIV.item {
      SPAN.remove {
        background: url(images/icons/add-small.png) no-repeat;
        display: inline-block !important;
      }
    }
  }
}

.class-general-period-items {
  .remove {
    background: url(images/icons/close-small.png) no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}

#class-attendance-list-panel, .chlk-grid{
  .x-grid3 table{
    table-layout: auto !important;
  }

  .x-grid3-scroller{
    overflow: visible;
  }

  .chlk-paginator .x-toolbar-ct {
    background-position: 70px 4px;
  }
}

.alphabet-selector {
  background: #EAF2F4;
  padding: 25px 0;

  DIV.item {
    text-align: center;
    cursor: pointer;
    font-size: 11pt;
    line-height: 12pt;
  }

  DIV.item:hover {
    font-weight: bold;
  }
}

.avatar-container{
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid #888;
  @include box-shadow(0 2px 2px #777);
  display: inline-block;
  background: white;
}

.image-container{
  overflow: hidden;
  display: inline-block;

  &.white{
    border: 2px solid #fff;
    @include box-shadow(0px 3px 3px -2px black);
  }
}

.avatar {
  //border: 3px solid #333;
  overflow: hidden;
  display: block;

  &.white{
    border: 2px solid #fff;
  }

  &.gray{
    border: 2px solid #f4f4f4;
  }
}

.white-avatar-container{
  border-top: 1px solid #adadad;
  display: inline-block;
}

.avatar-47, .avatar-40, .avatar-24, .avatar-64, .avatar-128, .avatar-256{
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.avatar-24 {
  width: 24px;
  height: 24px;
}

.avatar-40 {
  width: 40px;
  height: 40px;
}

.avatar-47 {
  width: 47px;
  height: 47px;

  &.size-41{
    width: 41px;
    height: 41px;
  }
}

.avatar-64 {
  width: 64px;
  height: 64px;
}

.avatar-128 {
  width: 128px;
  height: 128px;
}

.avatar-256 {
  width: 256px;
  height: 256px;
}


.above-modal-bg
{
    z-index: 99991;
}

.x-window-dlg{
    z-index: 99999 !important;
}

.with-tooltip
{
    position:relative;
}

.x-toolbar
{
    overflow: visible !important;
    .chlk-toolbar{
      overflow: visible !important;
      >DIV{
        height: 35px;
        //overflow: hidden;

        .x-toolbar-cell{
          >DIV, >SPAN{
            margin-left: 5px;
          }

          &:last-child{
            >DIV, >SPAN{
              margin-right: 5px;
            }
          }
        }
      }
    }

    .x-tbar-page-first
    {
        background-image:url(images/common/navigation-first.png) !important;
        height: 33px !important;
        width: 30px !important;

    }

    .x-tbar-page-prev
    {
        background-image:url(images/common/navigation-prev.png) !important;
        height: 33px !important;
        width: 30px !important;
        margin-left: -6px;
    }

    .x-tbar-page-next
    {
        background-image:url(images/common/navigation-next.png) !important;
        height: 33px !important;
        width: 28px !important;
        margin-left: -11px;
    }

    .x-tbar-page-last
    {
        background-image:url(images/common/navigation-last.png) !important;
        height: 33px !important;
        width: 28px !important;
        margin-left: -4px;
    }

    padding:0px !important;

    .xtb-sep
    {
        background-image:none !important;
    }

    .x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc
    {
        background:transparent;
    }
}

    .chlk-paginator
    {
      visibility: visible !important;

      .x-toolbar-ct{
        background-image:url(images/common/notification-total-of.png);
        background-repeat: no-repeat;
        background-position: 64px 4px;
        background-size: 117px 32px;
      }

      .xtb-text
      {
        margin-right: 10px;
      }

      .x-btn.x-btn-icon .x-tbar-loading
      {
        display:none;
      }
    }

TABLE.chlk-table{
  text-align: center;
  border-collapse: collapse;

  TBODY{
    border: 1px solid #C3C3C3;

    tr.error{
      color: red;
    }
    tr:nth-child(odd){
      background: #ededed;
    }
    tr:nth-child(even){
      background: #f8f8f8;
    }
    th{
      text-align: center;
      font-size: 12px;
      color: #606060;
      font-family: Arial;
      height: 28px;
      background: #D5D5D5;
      border-right: 1px solid #B8B8B8;
    }
    td{
      height: 27px;
    }
  }
}

.students-data{
  padding: 20px;

  .mapping-top{
    >DIV{
      display:table-cell;
      width: 350px;
    }

    .students-mapping{
      LABEL{
        width:50px;
        display: inline-block;
      }

      SELECT{
        width: 190px;
      }
    }
  }

  .mapping-bottom{
    padding-top: 20px;
    max-height: 500px;
    position: relative;
  }
}

.scroll-container{
  position: absolute;
  height: 26px;
  left: 2px;
  right: 24px;
  bottom: 1px;
  background: url(images/common/scroll-bg.png);
  z-index: 2;

  .left{
    background: url(images/common/scroll-left.png);
    left: 0;
  }

  .right{
    background: url(images/common/scroll-right.png);
    right: 0;
  }

  .left, .right{
    width: 20px;
    position: absolute;
    height: 26px;
  }
}

#mapping-container{
  overflow: auto;
  position: relative;
  border: 1px solid #afafaf;
  width: 638px;
  max-height: 500px;

  #mapping-container_hscrollerbase{
    //top: 341px !important;
    position: absolute;
    //background: #c9c9c9;
    height: 17px;
    width: 599px !important;
    left: 20px;
    z-index: 5;

    >DIV#mapping-container_hscrollerbar{
      background-color: #ECECEC;
      position: absolute;
      top: -1px;
      width: 186px !important;
      @include border-radius(8px);
      height: 14px;
    }
  }
}

#import-button1,#import-button2,#import-button3{
  width: 150px !important;
  height: 27px !important;
  display: block;
  text-align: center;
  margin: 10px;
}

.clear-both{
  clear: both;
}

.chlk-pop-up{
  color: #696868;
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  width: 168px;
  height: 94px;
  position: absolute;
  background: url(images/common/pop-up-bg.png) no-repeat;
  display: none;
  top: -108px;
  right: -74px;
  z-index: 2;
  font-weight: bold;

  a{
    display: block;
    color: white;
    position: absolute;
    top:  57px;
    padding-top: 5px;
    width: 58px;
    height: 20px;
    text-decoration: none;
    font-weight: none;

    &.left{
      left: 19px;
    }

    &.red{
      background: url(images/common/pop-up-red-button.png) no-repeat;
    }

    &.green{
      background: url(images/common/pop-up-green-button.png) no-repeat;
    }

    &.right{
      right: 19px;
    }
  }
}

.no-notifications{
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0;
  color: #959595;
}

.x-toolbar.chlk-paginator{
  background: none;
}

/* Scroll Bar Master Styling Starts Here */
/* All comments can be freely removed from the css */

.scrollgeneric {line-height: 1px;font-size: 1px;position: absolute;top: 0; left: 0;}

.vscrollerbase {
width: 15px;
background: #D7EBDF url(basebarcaps_verticalbarbody.png) 0px 0px repeat-y;
}
.vscrollerbar {
width: 15px;
background: #99CBCB url(basebarcaps_verticalbarbody.png) -15px 0px repeat-y;
}
.hscrollerbase {
height: 15px;
background: #D7EBDF url(horizontalbarbody_cornerjog.png) 0px -15px repeat-x;
}
.hscrollerbar {
height: 15px;
background: #99CBCB url(horizontalbarbody_cornerjog.png) 0px -30px repeat-x;
}
.vscrollerbar, .hscrollerbar {
padding: 10px;
z-index: 2;
}
.vscrollerbarbeg {
background: url(basebarcaps_verticalbarbody.png) -45px -30px no-repeat;
width: 15px;
height: 15px !important;
}
.vscrollerbarend {
background: url(basebarcaps_verticalbarbody.png) -45px 0px no-repeat;
width: 15px;
height: 15px;
}
.hscrollerbarbeg {
background: url(basebarcaps_verticalbarbody.png) -60px -15px no-repeat;
height: 15px;
width: 15px !important;
}
.hscrollerbarend {
background: url(basebarcaps_verticalbarbody.png) -30px -15px no-repeat;
height: 15px;
width: 15px;
}
.scrollerjogbox {
width: 15px;
height: 15px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background: #4E727C url(horizontalbarbody_cornerjog.png) 0px 0px;
}
.vscrollerbasebeg {
background: url(basebarcaps_verticalbarbody.png) -30px -30px no-repeat;
width: 15px;
height: 15px !important;
}
.vscrollerbaseend {
background: url(basebarcaps_verticalbarbody.png) -60px -30px no-repeat;
height: 15px;
width: 15px;
}
.hscrollerbasebeg {
background: url(basebarcaps_verticalbarbody.png) -60px 0px no-repeat;
height: 15px;
width: 15px !important;
}
.hscrollerbaseend {
height: 15px;
width: 15px;
background: url(basebarcaps_verticalbarbody.png) -30px 0px no-repeat;
}
.scrollerjogbox:hover {
background: #5E828C url(basebarcaps_verticalbarbody.png) -45px -15px;
}
/* Scroll Bar Master Styling Ends Here */

BUTTON.chlk-simple-button{
	@include background(linear-gradient(top, #f7f7f7, #e5e5e5));
	border-top: 1px solid #979797;
	border-bottom: none;
	border-left: none;
	border-right: none;
	@include border-radius(5px);
	color: #565656;
	font-size: 13px;

	&:hover{
		@include background(linear-gradient(top, #e7e7e7, #d5d5d5));
	}

	&:active{
		@include background(linear-gradient(top, #d7d7d7, #c5c5c5));
	}
}

.hidden-header{
  .x-grid3-header{
    display: none !important;
  }
  .x-grid3-scroller{
    overflow: hidden;
  }
}

.hidden{
  display: none !important;
}

.x-grid3{
  .x-grid3-header{
    display: block;
    @include background(linear-gradient(top, #f5f5f5, #e7e7e7));
    border: 1px solid $border-color;
    @include border-radius(5px 5px 0 0);
    overflow: hidden;

    .x-grid3-hd{
      height: 31px;

      >DIV.x-grid3-hd-inner{
        text-align: center;
        height: 20px;
        padding-top: 7px;
      }
    }
  }

  .x-grid3-scroller{
    .x-grid3-row-selected{
      @include background(linear-gradient(top, #eaeaea, #c7c7c7));
      //border-top: 1px solid #fff !important;
      //border-left: 1px solid #b1b1b1 !important;
      @include border-radius(5px);
      position: relative;
    }
  }
}

td.x-grid3-hd-over {
  border: none;
  .x-grid3-hd-inner{
    border: none;
    @include background(linear-gradient(top, #f5f5f5, #d8d8d8));
  }
}

td.x-grid3-cell{
  vertical-align: middle;
  font-size: 12px;
  color: #565656;
}

.blue-arrow{
  font: bold 22px 'Saginaw Bold' !important;
  color: #407d9b !important;
  display: inline-block;
  position: absolute;
  word-spacing: 5px;
  text-shadow: 1px -1px 0 white;

  &.left-arrow{
    padding-left: 45px !important;
    background: url(images/arrows/blue-left-arrow.png) left center no-repeat;
    top: -6px;
    margin-left: 30px;
  }
  &.bottom-arrow{
    padding-bottom: 58px !important;
    background: url(images/arrows/blue-bottom-arrow.png) 50px bottom no-repeat;
    top: -42px;
    margin-left: 30px;
  }

  &.right-arrow{
    padding-right: 52px !important;
    background: url(images/arrows/blue-right-arrow.png) right center no-repeat;
    margin-right: 30px;
  }

  &.right-up-arrow{
    padding: 9px 59px 0 0 !important;
	background: url(images/arrows/blue-right-up-arrow.png) right top no-repeat;
	margin-right: 41px;
	min-height: 26px;
  }

  &.left-up-arrow{
    padding: 9px 0 0 59px !important;
	background: url(images/arrows/blue-left-up-arrow.png) left top no-repeat;
	min-height: 26px;
  }

  &.rel{
    position: relative;
  }

  &.div{
    text-align: center;
    display: block;
    position: relative;
	font-size: 30px !important;
	word-spacing: 9px;
    letter-spacing: 2px;
  }

  &.gray{
    color: #7D7D7D !important;
    text-decoration: underline;
    font-size: 23px !important;
  }
}

LABEL.yellow{
  font-size: 12px;
  font-family: HelveticaNeue, Arial;
  color: #7e684e;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  text-shadow: 0 2px 0 white;
}

.input-icon-container.checkbox{
  INPUT{
    vertical-align: middle;
  }
}

.footer-buttons{
  display: none;
  position: absolute;
  top: 14px;
  left: 200px;

  a{
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
  }
}

DIV.input-icon-container{
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  margin-bottom: 18px;

  &.login{
    background-image: url(images/login/login-icon.png);
  }

  &.password{
    background-image: url(images/login/password-icon.png);
  }

  &.checkbox{
    margin-bottom: 14px;
    margin-top: -9px;
  }
}

#keep-text-button{
  margin-right: 35px;
}

.tourRelative{
  position: relative !important;
}

.tourIndex{
  z-index: 99999 !important;
  }

.tourZIndex{
  z-index: auto !important;
  }

.x-toolbar-cell {
   &.tourIndex {
    .x-btn
      {
      background: white;
    }
  }
}

.tourWindow{
  z-index: 99992 !important;
}

.tourModal{
  z-index: 99993 !important;
}

.current .pad {
  /**
   * For cross browser compatibility, this should be an absolute URL
   * In IE the cursor is relative to the HTML document
   * In all other browsers the cursor is relative to the CSS file
   *
   * http://www.useragentman.com/blog/2011/12/21/cross-browser-css-cursor-images-in-depth/
   */
  cursor: url("../Content/cursors/pen.cur"), crosshair;
  /**
   * IE will ignore this line because of the hotspot position
   * Unfortunately we need this twice, because some browsers ignore the hotspot inside the .cur
   */
  cursor: url("cursors/pen.cur") 16 16, crosshair;
}

.x-fieldset-body.x-fieldset-body-noheader.ux-mselect
{
    overflow-y: auto;
}

.hide-last-row .x-grid3-cell-last
{
  display: none;
}


.wrapper
{
    .day-content
    {
       overflow: hidden;
    }
}

.item-type 
{
    .attachment
    {
        overflow:hidden;
    }
}

.chlk-tooltip{
  position: absolute;
  min-width: 55px;

  display: none;

  .tooltip-content{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-shadow: none;
    text-align: center;
    @include border-radius(5px);
    font-size: 13px;
    padding: 3px 5px;
    line-height: 15px;
  }

  .tooltip-triangle{
    height: 7px;
    background: url(images/feed/triangle.png) center 0 no-repeat;
  }
}

.tooltip-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;

  &:hover{
    .tooltip-container{
      .chlk-tooltip{
        //display: block;
      }
    };
  }

  .tooltip-container{
    position: relative;

    .chlk-tooltip{
      bottom: 0;
    }
  };

}

.x-tip {
  z-index: 160000 !important;
}

.new-checkbox{
  padding: 0;
  display: inline-block;

  >DIV{
    width: 80px;
	height: 25px;
	background: #487991;
    border: 1px solid #2A4653;
    @include background(linear-gradient(top, #487991, #5E95B1));
	//margin: 20px auto;
    @include border-radius(5px);
	position: relative;
    //@include box-shadow(inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2));

    &:after {
      content: 'NO';
      font: 12px/26px Arial, sans-serif;
      color: #fff;
      position: absolute;
      right: 10px;
      z-index: 0;
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba(255,255,255,.15);
    }

    &:before {
      content: 'YES';
      font: 12px/26px Arial, sans-serif;
      color: #fff;
      position: absolute;
      left: 10px;
      z-index: 0;
      font-weight: bold;
    }

    >LABEL{
      display: block;
      padding: 0 !important;
      margin: 0;
      width: 40px;
      height: 25px;

      @include border-radius(5px);
      @include transition(left .4s ease);
      cursor: pointer;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      //@include box-shadow(0px 2px 5px 0px rgba(0,0,0,0.3));
      background: #CBCBCB;
      @include background(linear-gradient(top, #CBCBCB, #8E8E8E));
    }

    >input{
      visibility: hidden;

      &[type=checkbox]:checked + label{
        left: 40px;
      }
    }
  }
}

FIELDSET.x-fieldset{
  overflow: visible;

  .x-fieldset-bwrap{
    overflow: visible;

    .x-fieldset-body{
      overflow: visible;
    }
  }
}

.hint-panel{
  font: normal 11px Arial;
  color : #423a22;
  padding: 5px 0 23px;
  text-shadow: 1px 1px 0 #ffffff;
}

.x-form-invalid-tip{
  width: auto !important;
  background-color: transparent !important;

  >DIV.x-tip-tl{
    position: absolute;
    background: none !important;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.8);
    left: -16px;
    top: 12px;

    >DIV{
      display: none;
    }
  }

  >DIV.x-tip-bwrap{
    background: transparent !important;

    >DIV.x-tip-ml{
      background: transparent !important;
      padding: 0 !important;

      >DIV.x-tip-mr{
        background: transparent !important;
        padding: 0 !important;

        >DIV.x-tip-mc{
          >DIV.x-tip-body{
            background-color: rgba(0, 0, 0, 0.8) !important;
            background-image: none !important;
            @include box-shadow(inset 0 1px 0 #828282);
            border: 1px solid black;
            color: white;
            padding: 13px;
            font-size: 14px;
            width: auto !important;
            border-left: none;
          }
        }
      }
    }

    >DIV.x-tip-bl{
      display: none;
    }
  }
}

.hidden{
  display: none;
}

.chlk-checks-view{
  position: relative;

  .checks-container{
    display: inline-block;
    vertical-align: top;
    width: 100%;

    .cheks-column{
      display: inline-block;
      vertical-align: top;

      &:not(:first-child):not(:last-child), &:first-child:last-child{
        text-align: center;
      }

      &:not(:first-child):last-child{
        text-align: right;
      }
    }

    .chlk-check-container{
      text-align: left;
      display: inline-block;
      position: relative;
      padding: 0 5px;
      margin-bottom: 2px;
      width: 119px;
      vertical-align: top;
      height: 26px;

      &.disabled{
        opacity: 0.6;
      }

      INPUT{
        position: relative;
        z-index: 1;
        margin: 7px 0;

        &:checked{

          & + label{
            border: 1px solid #043d53;
            @include box-shadow(inset 0 1px 1px 0 #96c3d8);
            @include background(linear-gradient(top, #4c9cbc, #096485));
            color: white;
            line-height: 23px;
            padding-left: 23px;
          }
        }
      }

      LABEL{
        cursor: pointer;
        font-size: 13px;
        background: #DEDEDE;
        color: #444;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        padding-left: 24px;
        line-height: 25px;
        display: inline-block;
      }
    }
  }
}


#ie-error-popup{
  margin-top: 15px;
  height: 100px;
  .title{
    color:#6F6F6F;
    font-size: 18px;
  }
  .ie-msg{
    margin-top: 50px;
    font-size: 18px;
     IMG{
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px;

    }
  }
  .browser-buttons{
    margin-top: 70px;
     .firefox-download-btn, .chrome-download-btn{
      display: inline-block;
      vertical-align: middle;
      width: 150px;
      height: 50px;
      cursor: pointer;
      IMG{
        display: inline-block;
        vertical-align: middle;
      }
      .text{
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

}

@import "partials/windows";
@import "partials/tour";
@import "partials/modal";
@import "partials/sidebar";
@import "partials/controls";
@import "partials/icons";
@import "partials/main";


