.dialog.add-app
    +ActionForm('apps', 'create')
        input(type="text", name="name", class="validate[required]")
        +Button()(type="submit").special-button2.blue.add Add
        +Button.special-button2.blue.cancel.close Cancel
