+AddStandardDialog(' STANDARDS', 'apps', 'completeStandardsWidget').dialog.add-standards
    +Hidden('requestId', self.getRequestId())
    +Hidden('standardid', null)
    +Hidden('standardsIdsStr', self.getStandardsIds().join(',')).standard-ids
    .standards-list-container
        standardCategories = self.getItems() || []
        table
            tr.standards-row
                td.name-td
                    .standards-names.column
                        each category in standardCategories
                            +ActionLink('apps', 'showStandardsByCategory', category.getId(), category.getName()).standard-name.column-cell
                                .name(data-tooltip=category.getName(), data-tooltip-type="overflow")=category.getName()
                                .right-triangle
                td
                    .standards-description
