.app-market-details
    .action-bar.not-transparent
        .container.panel-bg.buttons-toolbar
            +ActionLink('appmarket', 'list').app-store.toolbar-btn App Store
            +ActionLink('appmarket', 'myApps').my-apps.toolbar-btn My Apps
    .app-screenshots-panel
        +Carousel(self.getScreenshotPictures().getItems())
    .app-price-info
        .app-title
            h1=self.name
            span="By " + self.developerInfo.getName()
        .app-buy
            appPrice = self.getApplicationPrice().getPrice() > 0 ? "$" + self.getApplicationPrice().getPrice() : "Free"

        span.chlk-button.special-button.blue-button
            span
                span
                    +ActionLink('appmarket', 'install', [self.getId().valueOf()])=appPrice

        textarea(name = "app-description", class ="app-description")=self.description
