if self.getStandards() && self.getStandards().length > 0
    .standards-list
        standardCodesStr = (self.getStandardsCodes() || []).join(',')
        +Hidden('standards', standardCodesStr)
        each standard in self.getStandards()
            div(data-tooltip = standard.getDescription()).grey-button.same-on-hover
                span=standard.getStandardCode()
                +ActionLink('apps', 'removeStandard', self.getApplicationId(), standard.getStandardCode()).remove-standard
    +ActionLink('apps', 'removeAllStandards', self.getApplicationId()).remove-all-standards-btn.x-hidden
    .title.add-more-title CLICK TO ADD MORE
else
    .title CLICK TO ADD STANDARD
+ActionLink('apps', 'showStandards', self.getApplicationId()).add-standards-btn.x-hidden