li(data-title = self.name, data-value = self.id.valueOf(), style="background: white")
    +ActionLink('appmarket', 'details', self.id)=self.name
        +Image(src=self.getPictureURL(self.smallPictureId, 74))
