mixin AppMarketToolbar(balance, categories, gradelevels)
    .action-bar.not-transparent
        .container.panel-bg.buttons-toolbar
            .user-balance= "$" + balance
            +ActionLink('appmarket', 'list').app-store.toolbar-btn App Store
            +ActionLink('appmarket', 'myApps').my-apps.toolbar-btn My Apps
            +SearchBox(chlk.services.AppMarketService, "getAppsByFilter", chlk.templates.apps.AppMarketSearchBoxTpl, categories, gradelevels)#app-market-searchbox(name="appMarketSearch")