mixin AppIconLink(app)
    appId = app.getId().valueOf()
    +ActionLink('appmarket', 'details', appId).application
        .wrapper
            img(src=app.getBannerPictureUrl())
            .title=app.getName()
            .shortdesc=app.getShortDescription()
            BUTTON.blue-button Quick Install


each app in self.getApps().getItems()
    +AppIconLink(app)
