li(data-title = self.name, data-value = self.id.valueOf(), style="background: white")
    div.app-market-search
        +ActionLink('appmarket', 'details', self.id).app-market-search-item
            .img-container
                +Image(src=self.getAppPictureURL(self.smallPictureId, 74)).app-icon
            .app-name
                div=self.name

