mixin AppIconLink_(app)
    appId = app.getId().valueOf()
    +ActionLink('appmarket', 'details', appId).application
        .wrapper
            img(src=app.getBannerPictureUrl())
            .title(data-tooltip=app.getName(), data-tooltip-type="overflow")=app.getName()
            .shortdesc=app.getShortDescription()
            +ActionButton('appmarket', 'tryToInstall', appId).blue-button Quick Install


each app in self.getApps().getItems()
    +AppIconLink_(app)
