.schools
    .grid.not-transparent
        .container
            .head.panel-bg
                .th Application Name
                .th Description
                .th isInternal
                .th
            .body
                each item in self.items
                    .row
                        .td= item.getName()
                        .td= item.getShortDescription()
                        .td
                        .td.action-links
                            +ActionLink('apps', 'details', item.getId()).profile
                            +ActionLink('apps', 'delete').remove
        +Paginator('apps', 'list', self)

