mixin AppIconLink_(announcementId, app, iconTooltip)
    -var appId = app.getId().valueOf()
    .announcement-item.application(data-tooltip=iconTooltip)
        .wrapper
            +LoadingImage(src=app.getBannerPictureUrl(), id="loading-image-" + appId)
            .title= app.getName()
            .shortdesc= app.getShortDescription()
            if app.needToInstall()
                +ActionButton('appmarket', 'details', app.getId()) Install
            else
                +ActionButton('apps', 'tryToAttachFromAnnouncement', announcementId, appId, self.getAppUrlAppend()) Attach

teacherId = self.teacherId.valueOf()
announcementId = self.announcementId.valueOf()
.dialog.attach-app
    .x-window-header
        h1 Attach an App
        a.close.close-btn
    .x-window-body
        if self.apps.getItems().length > 0
            .attachments-and-applications
                each app in self.apps.getItems()
                    +AppIconLink_(announcementId, app, self.getAppIconToolTip(app))
            .paging
                +Paginator('announcement', 'attachApp', self.apps, [announcementId, null, self.getAppUrlAppend()])
        else
            .no-apps No Apps Installed, try one now in the App Store