mixin AppIconLink(announcementId, app, iconTooltip)
    -var appId = app.getId().valueOf()
    -var pictureUrl = self.getAppPictureURL(app.getSmallPictureId(), 74, 74)
    .announcement-item.application(data-tooltip=iconTooltip)
        +LoadingImage(src=pictureUrl, id="loading-image-" + appId)
        .title= app.getName()
        .shortdesc= app.getShortDescription()
        if app.needToInstall()
            +ActionButton('appmarket', 'details', app.getId()) Install
        else
            +ActionButton('apps', 'tryToAttach', announcementId, appId) Attach

teacherId = self.teacherId.valueOf()
announcementId = self.announcementId.valueOf()
.dialog.attach-app
    .x-window-header
        h1 Attach an App
        a.close.close-btn
    .x-window-body
        if self.apps.getItems().length > 0
            .attachments-and-applications
                each app in self.apps.getItems()
                    +AppIconLink(announcementId, app, self.getAppIconToolTip(app))
            .paging
                +Paginator('announcement', 'attachApp', self.apps, [announcementId])
        else
            .no-apps No Apps Installed, try one now in the App Store