mixin AppIconLink(announcementId, app, iconTooltip)
   appId = app.getId().valueOf()
   div(data-tooltip=iconTooltip).app-icon-link
       +ActionLink('apps', 'tryToAttach', announcementId, appId).app-link
       .app-list-item
            .icon
                pictureUrl = self.getAppPictureURL(app.getSmallPictureId(), 74, 74)
                img(src=pictureUrl)
            .description
                .name=app.getName()
                .shortdesc=app.getShortDescription()
                if app.needToInstall()
                   +ActionLink('appmarket', 'details', app.getId()).shortdesc Install

teacherId = self.teacherId.valueOf()
announcementId = self.announcementId.valueOf()
.dialog.attach-app
    .x-window-header
        a.close.close-btn
    .x-window-body
        .header Attach an App
        if self.apps.getItems().length > 0
            .apps
                each app in self.apps.getItems()
                    +AppIconLink(announcementId, app, self.getAppIconToolTip(app))
            .paging
                +Paginator('announcement', 'attachApp', self.apps, [announcementId])
        else
            .no-apps No Apps Installed, try one now in the App Store