mixin AppIconLink(app)
   +ActionLink('apps', 'attach').app-icon-link
        .app-list-item
            .icon
                pictureUrl = self.getPictureURL(app.getSmallPictureId(), 74, 74)
                img(src=pictureUrl)
            .description
                .name=app.getName()
                .shortdesc=app.getShortDescription()

.dialog.attach-app
    .x-window-header
        a.close.close-btn
    .x-window-body
        .header Attach an App
        .apps
            each app in self.getItems()
                +AppIconLink(app)
        .paging

