standards = self.getStandards() || []
categories = self.getCategories() || []
if standards.length
    td.name-td
        .standards-names.column
            each standard in standards
                +ActionLink('apps', 'showStandardsByCategory', self.getCategoryId(), standard.getStandardCode(), standard.getId())(
                    data-id=standard.getId().valueOf(),
                    data-description=standard.getDescription()
                ).standard-name.column-cell
                    .name(data-tooltip=standard.getDescription(), data-tooltip-type="overflow")=standard.displayTitle()
                    .right-triangle
    td
        .standards-description
else
    td
        .standards-description=self.getDescription()

