mixin AppIcon(app)
    .icon
        +LoadingImage(src=app.getBannerPictureUrl())

mixin MyAppsIconLink_(app)
    appId = app.getId().valueOf()
    -var isBanned = false
        +ActionLink('apps', 'viewApp', app.getUrl(), app.getMyAppsUrl(), chlk.models.apps.AppModes.MYAPPSVIEW, null, isBanned).application
            .wrapper
                +AppIcon(app)
                .title=app.getName()
                BUTTON Open
.my-apps
    h2.page-title Apps
    .apps
        each app in self.apps.getItems()
            +MyAppsIconLink_(app)
