app = self.getApp()
.dialog.app-market-install.quick-app-install
    .x-window-header
        a.close.close-btn.dark
        h1=app.getName()
    .x-window-body
        .details-info
            .app-screenshots-panel.content
                +Carousel()
                    -videoUrl = app.getVideoDemoUrl() || ''
                    if videoUrl
                        +CarouselItem().img(data-page = 1)
                            +Video(true)(src=videoUrl, width="640", height="390")
                    each picture, index in app.getScreenshotPictures().getItems()
                        +CarouselItem().img(data-page= index + 2)
                            img(src=picture.getPictureUrl())
            .content
                app-info-details
                    .app-description
                        textarea(name = "app-description", class = "app-description", readonly)=app.getDescription()
            +ActionForm('appmarket', 'quickInstall').content
                +Hidden('appId', app.getId().valueOf())
                +Hidden('classes', self.getClassId().valueOf())
                .calculated-price
                    +RenderWith(self.getAppTotalPrice(), chlk.templates.apps.InstallAppPriceTpl)
                .install-info
                    .install-btn
                        +Button(type="submit").special-button.blue-button Install App
        +ActionLinkButton('appmarket', 'quickAppAttach', self.getAnnouncementId(), app.getId().valueOf()).special-button.green-button.open-app-btn.x-hidden Open App
