.suggested-apps-block
    .separator-line
    if self.getSuggestedApps()
        +CloseOpen('Suggested Apps')
            .suggested-apps-container.attachments-and-applications
                each app, i in self.getSuggestedApps()
                    .app-icon-link.announcement-item.application
                        .wrapper
                            -var pictureUrl = app.getBannerPictureUrl()
                            if !app.needToInstall()
                                div(data-tooltip='Attach').attach-icon
                            +LoadingImage(src=pictureUrl, id="loading-image-" + i)
                            .title(data-tooltip=app.getName(), data-tooltip-type="overflow")= app.getName()
                            +ActionButton('apps', 'openSuggestedApp', app.getId(), self.getClassId(), self.getAnnouncementId(), self.getStandardsUrlComponents()) Open
                if !self.getSuggestedApps().length
                    .no-items-text.small There are no recommended apps for the attached standard
    else
        .title No recommended apps