h3 Recommended apps:

.apps-list
    each app in self.getSuggestedApps()
        div.app-icon-link-container
            -var isBanned = app.getBanInfo() && app.getBanInfo().isBanned()
            +ActionLink('apps', 'openSuggestedAppFromExplorer', app.getId(), self.getClassId(), app.getUrl(), app.getMyAppsUrl(), isBanned).app-link
                div(data-tooltip='').icon
                    pictureUrl = self.getAppPictureURL(app.getBigPictureId(), 170, 110)
                img(src=pictureUrl)

if !self.getSuggestedApps().length
    .no-apps No recomended apps