@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

$grey-color: #a5a5a5;
$blue-color: #276284;
$red-color: #842727;

BODY {
  #attachment-form-fields{
    position: absolute;
    width: 116px;
    right: 102px;
    opacity: 0;

    .x-form-file-wrap{
      >INPUT{
        cursor: pointer;
      }
    }
  }

  #student-ann-data{
     .star-container{
       padding-top: 6px;
     }
  }

  .x-form-item.reminders {
    background: url(images/announcement/reminder-bg.png) -11px 20px no-repeat;

    >.x-form-element{
      margin-top: 24px;
    }

    input, select{
      color: #787878;
    }

    .reminder-input{
      width:20px;
      border-radius: 0;
      margin-right: 2px;
    }
  }

  .attachments-and-applications, .attachments-container{
    .announcement-item{
      display: inline-block;
      height: 110px;
      width: 171px;
      position: relative;
      margin-bottom: 25px;
      //cursor: pointer;
      vertical-align: top;
      text-align: center;
      line-height: 107px;

      &:not(.attach-file-area){
        background: url(images/app/debut_dark.png);

        &.loading{
          background: url(images/img-loader.gif) center center no-repeat, url(images/app/debut_dark.png);
        }
      }

      &:not(:last-child){
        margin-right: 19px;
      }

      IMG{
        max-height: 110px;
        max-width: 170px;
        vertical-align: middle;
      }
    }
  }

  .attach-file-area, .attached-files-area{
    display: inline-block;
    vertical-align: top;
  }

  .attach-file-area{
    height: 101px;
    width: 155px;
    border: 6px dashed silver;
    border-radius: 6px !important;
  }

  #add-attachment-form, .add-attachment-form{
    overflow: hidden;

    .upload-file-button{
      .x-form-file-wrap{
        .x-form-file-text{
          left: 199px;
        }
      }
    }

    .attach-app-button BUTTON:hover, .upload-file-button:hover TABLE{
      @include background(linear-gradient(top, #ffffff, #b1b1b1));
    }

    .x-form-item{
      *{
        cursor: pointer !important;
      }
    }

    .x-form-field-wrap{
      height: 30px !important;
    }

    table.x-form-file-btn, .attach-app-button BUTTON{
      height: 30px;
      width: 119px !important;
      //margin: 13px 26px;
      border-radius: 24px;
      border: 1px solid rgb(206, 206, 206);
      cursor: pointer;
      @include background(linear-gradient(top, #ffffff, #d8d8d8));
      @include box-shadow(1px 1px 0px rgba(207, 207, 207, 0.49));
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
      font-size: 15px !important;
      vertical-align: center;
      text-shadow: 0px 1px white;
      color: gray;

      &.hover{
        @include background(linear-gradient(top, #ffffff, #b1b1b1));
      }

      *{
        background: transparent !important;
        border: none !important;
        cursor: pointer !important;
      }

      tbody.x-btn-small.x-btn-icon-small-left{
        button.x-btn-text{
          width: 92%;
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
          font-size: 15px !important;
          vertical-align: center;
          text-shadow: 0px 1px white;
          color: gray;
          padding-left: 8px !important;
        }
      }
    }
  }

  DIV.page {
    #content {
      > DIV {
        .x-date-inner {
          .x-date-selected {
          }
        }
      }

      > DIV#content-wrapper.new-item{
        > DIV#main-wrapper{
          > DIV#main{
            .chlk-toolbar{
              >DIV{
                float: none;
                vertical-align: top;
                height: 35px;
              }
            }
          }
        }
      }

      > DIV#content-wrapper{
        > DIV#main-wrapper{
          > DIV#main{

          .silver-panel{
            background: #eee;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #d0d0d0;
          }

            #announcement-form{
              &.admin{
                #announcement-form-fields{
                  #announcement-form-columns{
                    margin-top: 9px;

                    #announcement-form-main-fields{
                      width: 439px !important;

                      TEXTAREA[name="subject"], TEXTAREA[name="content"], TEXTAREA#recipients-text{
                        width: 405px !important;
                      }

                      TEXTAREA[name="subject"]{
                        margin: -10px 0;
                      }
                    }
                  }
                }
              }

              .announcement-attach-panel{
                display: block !important;
				padding: 41px 0 30px;
                #add-attachment-form{
                  background: transparent;
                  border: none;
                  height: auto;
                  width: auto;
                  margin: 0;
                  text-align: center;
                  margin: 19px 26px;

                  &.admin{
                    margin: 39px 26px;
                  }

                  .x-form-item{
                    margin-top: 10px;
                  }

                  TABLE{
                    left: 0 !important;
                  }

                  .ext-el-mask{
                    background: transparent;
                  }

                }
              }

              .choose-due-date{
                padding: 9px 12px 14px 14px;
                left: -159px;
                top: -4px;
                font-weight: bold;
                font-size: 13px;

                .right-triangle{
                  position: absolute;
                  right: -11px;
                  width: 0;
                  height: 0;
                  border-top: 8px solid transparent;
                  border-bottom: 8px solid transparent;
                  border-left: 10px solid rgba(0, 0, 0, 0.7);
                  top: 11px;
                }
              }

              .small-gray-button, .small-gray-button BUTTON{
                font: normal 13px "Helvetica Neue";
                font-style: italic;
                text-transform: none !important;
                text-decoration: underline;
                color: #797979 !important;
              }

              #reminders-button{
                margin: 0 !important;
                height: auto !important;
                min-height: 0 !important;

                *{
                  height: auto !important;
                  min-height: 0 !important;
                }

                BUTTON{
                  width: auto !important;
                }
              }
            }

            .x-panel-btns{
              padding: 5px 0;

              #post-save-button{
                margin-left: 0 !important;
              }

              #discard-button{
                BUTTON{
                  width: auto !important;
                }
              }
            }

            #announcement-view-page{
              padding-bottom: 6px;

              &.loading{

                >DIV{
                  background: #eee;
                  min-height: 600px;

                  >DIV>DIV:not(:first-child){
                    opacity: 0 !important;
                  }
                }
              }

              #add-attachment-form{
                margin: 41px 23px !important;
                height: 30px;
              }

              .feed-item{
                @include border-radius(7px 7px 0 0 !important);
              }
            }

            #announcement-view-page, #announcement-form{
              .title, .choose-due-date{
                font-size: 14px;
                background: rgba(0, 0, 0, 0.7);
                position: absolute;
                color: white;
                word-wrap: break-word;
                border: 1px solid black;
                @include box-shadow(inset 0 1px -1px 1px #828282);
              }

              .announcement-content {
                div.bullet {
                  div.item-type {
                    div.attachment {
                      h2{
                        padding: 33px 0 0 8px;
                      }
                    }
                  }
                }
              }

              .blue{
                color: $blue-color;
              }

              .red{
                color: $red-color;
              }

              BUTTON{
                cursor: pointer;
                display: block;
              }

              #announcement-details-toolbar{
                border: none !important;
                @include border-radius(0px !important);

                .x-toolbar-right{
                  border-left: 1px solid #CFCFCF;
                }

                .chlk-toolbar{
                  @include border-radius(0px !important);
                  margin: 0;

                  BUTTON{
                    margin: 0 auto;
                  }
                }
              }

              .announcement-grading-top-panel{
                color: #7f7f7f;
                height: 50px;

                .rounded-state-button BUTTON{
                  text-transform: none !important;
                  font-size: 12px;
                  width: 94px !important;
                }

                .grading-filters-container{
                  float: left;
                  background: #dadada;
                  color: #cbcbcb;

                  A{
                    color: #7f7f7f;
                    text-decoration: none;
                    text-transform: uppercase;
                    font: bold 14px Arial;
                    padding: 10px 13px;
                    display: inline-block;
                    border: 1px solid #cbcbcb;
                    @include box-shadow(inset 0 1px -1px 1px white);
                    cursor: pointer;

                    &:hover, &.active{
                      background: #f6f6f6;
                    }
                  }
                }
                .grades-info{
                  float: right;

                  TABLE{
                    TD{
                      width: 90px;
                      text-align: center;

                      &:not(.small){
                        font: bold 34px Arial;
                        color: #a5a5a5;
                      }

                      &.small{
                        font-size: 11px;
                      }
                    }
                  }
                }
              }

              .announcement-details-panel{
                padding-bottom: 37px !important;
              }

              .attachments-and-applications{
                width: 600px;
                margin-bottom: -12px;
              }

              .attachments-and-applications, .attachments-container{
                .announcement-item{
                  .title{
                    line-height: 20px;
                    overflow: hidden;
                    max-height: 0;
                    @include transition-property("all");
                    @include transition-duration("0.2s");
                    bottom: 0;
                    left: 0;
                    right: 0;
                    line-height: 15px;

                    >*{
                      padding: 7px;
                    }
                  }

                  &:hover{
                    .title{
                      max-height: 80px;
                    }
                    cursor:pointer;
                  }
                }
              }

                .attached-files-area{
                  width: 400px;

                  A{
                    display: block;
                  }
                }

              .announcement-qa-panel{
                padding-top: 32px !important;

                .hidden-qas, .update-qa-button, .message-in-box, .answer-qa-button, .ask-qa-button{
                  display: none;
                }

                .message-text{
                  word-break: break-all;
                }

                .right-block{
                  font-size: 14px;
                  color: $grey-color;

                  >*{
                    margin-left: 6px;
                  }

                  h2{
                    color: #383838;
                    margin: 2px 0 2px 4px;
                  }

                  .edit-link-container{
                    font-size: 10px;
                    margin: 3px 0 11px 6px;

                    a{
                      text-decoration: none;
                      color: $grey-color;
                    }
                  }
                 

                  TEXTAREA{
                    margin-left: 4px;
                    width: 268px;
                    border: 1px solid silver;
                    height: 16px;
                    padding: 7px;
                    letter-spacing: -1px;
                    //word-spacing: -3px;
                    color: $grey-color;
                  }
                }
              }

              .rounded-state-button:not(.role-button){
                margin: 10px 4px;

                BUTTON{
                  text-transform: uppercase;
                  width: 104px;
                }
              }

              #show-all{
                border: 1px solid #cbcbcb;
                background: #f6f6f6;
                text-align: center;
                height: 37px;
                width: 480px;
                margin-left: 3px;
                color: $grey-color;
              }

              #hide-qas{
                margin: 10px auto 0;
                color: $grey-color;
              }

              .silver-panel{
                background: #eee;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #d0d0d0;
              }

              .with-padding{
                padding: 16px;
              }

              .left-block{
                width: 73px;


                .image-container{
                  margin: 2px 4px;
                }

                .chlk-tooltip{
                  white-space: nowrap;
                }
              }

              .left-block.attachments{
                height: 100px;
                background: url(images/icons/upload-attachment-icon.png) no-repeat;
              }

              .right-block{
                width: 552px;

                &.center{
                  text-align: center;
                }

                h2{
                  font-size: 14px;
                  word-spacing: -1px;
                }
              }

              .left-block, .right-block{
                display: inline-block;
                vertical-align: top;
              }

              .details-container{
                >DIV{
                  display: inline-block;

                  &.comment-grade-container{
                    margin: 4px 4px 12px 4px;

                    .comment-grade{
                      padding: 5px 21px 4px 26px;
                      background: white;
                      @include border-radius(10px);
                      border: 1px solid #cbcbcb;
                      letter-spacing: 1px;
                      word-spacing: 4px;

                      >DIV{
                        display: inline-block;
                        vertical-align: middle;

                        &.comment{
                          font: bold 16px Arial;
                          color: #818181;
                          overflow: hidden;
                          max-width: 495px;
                          white-space: nowrap;
                          text-overflow: ellipsis;
                        }

                        &.grade-value{
                          font-family: 'Reenie Beanie';
                          color: #c81616;
                          font-size: 45px;
                          margin-left: 30px;
                          letter-spacing: 5px;
                        }
                      }
                    }

                    .comment-triangle{
                      width: 0px;
                      height: 0px;
                      border-left: 9px solid transparent;
                      border-right: 9px solid transparent;
                      border-top: 10px solid #CBCBCB;
                      font-size: 0px;
                      line-height: 0px;
                      margin-left: 15px;

                      .white{
                        border-top: 10px solid white;
                        border-left: 8px solid transparent;
                        margin: -11px 0 0 -9px;
                      }
                    }
                  }

                  P{
                    margin: 2px 0 38px;
                    font-weight: bold;
                    word-wrap: break-word;
                  }
                }
              }
            }

            position: relative;

            .choose-class, .choose-type{
              position: absolute;
              left: 210px;
              display: block;
            }

            .choose-class{
              top: 120px;
              width: 210px;
              height: 40px;
              background: url(images/announcement/choose-class.png);
            }

            .choose-type{
              top: 170px;
              width: 205px;
              height: 45px;
              background: url(images/announcement/choose-type.png);
            }

            > DIV#announcement-form{
              background-color: transparent !important;
              border: none;
              padding: 0;
              position: relative;
              padding: 10px 0 0 4px;

              .x-panel-body{
                overflow: visible !important;
              }

              .x-column-inner{
                overflow: visible;
                display: table;
              }

              #announcement-form-fields{
                TEXTAREA {
                  resize: vertical !important;
                  position: relative;
                }

                #announcement-form-right-fields{
                  overflow: visible;
                  //margin-top: 10px;
                }


                #recipients-combo{
                  float: right;
                }

                ::-webkit-input-placeholder {
                  font-size: 16px !important;
                }
                :-moz-placeholder {
                  font-size: 16px;
                }

                #recipients-text{
                  padding-top: 5px !important;
                  padding-bottom: 0 !important;
                }


                .x-superboxselect{
                  border-radius: 5px;
                  width: 377px !important;
                  margin-top: 5px;
                }

                .title
                {
                    position: absolute;
                    height: 17px;
                    width: 114px;
                    padding: 3px 0 0 3px;
                    opacity: 0.6;
                }

                .chalk-add{
                  color: #9b9b9b !important;
                }

                .x-form-item {
                  label {
                    padding-left: 0
                  }
                }

                #announcement-form-columns {
                  #x-form-el-due-date{
                    width: 170px;
                    IMG{
                      opacity: 0;
                    }
                    #due-date{
                      width: 159px !important;
                      font: bold 16px Arial;
                      padding-left: 6px;
                      color: #808080;
                      height: 27px;
                      line-height: 27px;
                      background: url(images/announcement/due-icon.png) 145px center no-repeat, #fff;
                    }
                  }

                  #announcement-form-main-fields{
                    width: 406px !important;
                    overflow: visible;

                    img.x-form-trigger.x-form-arrow-trigger{
                      background-size: auto 25px !important;
                    }



                    >DIV{
                      overflow: visible;

                      >DIV{
                        overflow: visible;
                        width: auto !important;
                      }
                    }

                    .new-item-dropdown{
                      display: none;
                      position: absolute;
                      background: white;
                      width: 240px;
                      z-index: 999;
                      border-left: 1px solid #a9a9a9;
                      border-right: 1px solid #a9a9a9;
                      border-bottom: 1px solid #a9a9a9;
                      font-size: 14px;
                      font-family: "Arial Narrow", Arial;
                      color: #000;

                      >DIV{
                        height: 20px;
                        padding:0 4px;
                        overflow: hidden;
                        word-wrap: break-word;
                      }

                      H1{
                        background: #e1e2e2;
                        color: #888;
                        padding: 3px;
                        color: #8b8b8b;
                        height: 20px;
                        font-size: 16px;
                        font-weight: normal;
                      }

                      .current{
                        background: #eedd68;
                      }
                    }

                    TEXTAREA[name="subject"], TEXTAREA[name="content"]{
                      padding: 4px 4px 8px;
                      width: 370px !important;
                      min-height: 17px;
                      font-size: 14px;

                      &:not([name="subject"]){
                        min-height: 133px;
                      }

                      &.autofilled{
                        color: #8B8B8B;
                      }
                    }

                    ul{
                      width: 410px !important;

                      LI.x-superboxselect-item{
                        .x-form-field-wrap{
                          margin-right: 14px;
                          width: auto !important;

                          INPUT{
                            width: 85px !important;
                          }
                        }

                        &:first-child{
                          padding-left: 30px !important;
                          &:before{
                            position: absolute;
                            left: 3px;
                            top: 5px;
                            content: 'To';
                            font: bold 16px Arial;
                            color: #9D9D9D;
                          }
                        }
                      }
                    }

                    #x-form-el-recipients-combo{
                      padding-top: 10px;
                      margin-top: -10px;
                      width: 415px !important;
                      .x-form-field-wrap{
                        background: transparent;
                        border: 0;
                      }
                    }

                    .x-form-element{
                      .composite-add{
                        INPUT{
                          width: 126px !important;
                          position: relative;
                          height: 20px;
                          @include border-radius(0);
                          border-width: 1px;
                          border-color: #9E9E9E;
                        }

                        TEXTAREA{
                          left: 0 !important;
                          margin-top: 5px;
                        }

                        TEXTAREA[tabindex]{
                          left: -99999px !important;
                        }

                        SPAN.x-btn{
                          top: 31px !important;
                        }
                      }
                    }

                  .type-name-field
                  {
                      width: 110px !important;
                      left:0px !important;
                      border-radius: 0;
                  }
                  .type-combo
                  {
                      width: 266px !important;
                      left:0px !important;
                      border-radius: 0;
                  }


                    .x-btn.new-item{
                      left: 417px !important;
                      width: 18px;
                    }

                    .x-box-inner{
                      height: auto !important;

                      .x-btn.chalkable BUTTON {
                        padding-left: 35px !important;
                        background-position: 0 0 !important;
                      }
                    }
                  }
                }

                #post-save-button, #preview-button{
                  BUTTON{
                    width: 98px;
                  }
                }

                BUTTON.x-btn-text{
                  font-size: 13px;
                  color: #797979;
                }

                .x-form-field-wrap{
                 // background: white;
                 // width: 436px !important;
                 // @include border-radius(5px);
                 // border: 1px solid #B5B8C8;
                }

                .recipients-panel{
                  position: absolute;
                  top: -14px;
                  padding-left: 42px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#dev-feedback-container{
  float: right;
  margin-top: 15px;

  BUTTON {
    width: 158px;
  }
}

#attachments-preview-panel{
  margin-top: 20px;
  position: relative;
}

.application-preview-window{
  IFRAME{
    width: 100% !important;
    height: 99.5% !important;
  }
  .window-error-message{
    font-size: 40px;
    position: relative;
    top: 300px;
    text-align: center;
    .error-title{
      font-family: Arial;
      color: #ffffff;
    }
    .error-text{
      font-size: 25px;
      font-family: Pacifico;
      color: #ffffff;
    }
  }
}

.new-style-window{
  @include border-radius(3px !important);

  .x-window-bwrap{
    padding: 23px 64px;
  }
}

.new-style-window, #attachment-preview-window, .application-preview-window{
  h1{
    text-align: center;
    font: bold 18px Arial;
    color: #434343;
    margin-bottom: 29px;
  }

  width: auto !important;
  border: none !important;

  &.app-install{
    width: 620px !important;

    .x-window-body, .x-window-body>DIV.x-panel, .x-window-body>DIV.x-panel>DIV>DIV.x-panel-body{
      width: auto !important;
    }
  }

  .x-window-tl{
    .x-window-header{
      padding: 0;
    }
  }

  .x-panel-nofooter{
    .x-window-bc{
      padding: 0 !important;
      height: 0;
    }
  }
}

#attachment-preview-window, .application-preview-window{
  @include box-shadow(inset 0 1px -1px 1px #828282 !important);
  @include border-radius(0);
  background: transparent !important;
  top: 50px !important;
  left: 90px !important;
  right: 90px !important;
  position: fixed !important;
  bottom: 0;
  z-index: 100001 !important;

  .x-window-body, .x-panel, .x-panel-body{
    width: auto !important;
  }

  &.bottom-0{
    .preview-container{
      margin-bottom: 50px;
    }
  }

  .head-toolbar{
    position: absolute;
    left:0;
    top: -37px;

    >DIV, >A{
      display: inline-block;
      padding: 11px 15px 12px 11px;
      background: #070707;
      color: white;
      font: bold 14px Arial;
      word-spacing: 3px;
      @include box-shadow(inset 0px 0 0px 1px #3A3A3A);
      border: 1px solid #070707;
      text-decoration: none;
      cursor: pointer;

      &#add-app{
        display: none;
      }
      &#save-app{
        display: none;
      }

      &:hover{
        opacity: 0.7;
      }
    }
  }

  .x-window-bwrap{
    background: url(images/app/debut_dark.png);
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100% !important;
    //display: table;
    width: 100%;

    .x-window-ml{
      vertical-align: middle;
      //display: table-cell;
      height: 100% !important;

      >DIV.x-window-mr{
        height: 100% !important;

        >DIV.x-window-mc{
          height: 100% !important;

          >DIV.x-window-body{
            height: 100% !important;

            >DIV.x-panel{
              height: 100% !important;

              >DIV.x-panel-bwrap{
                height: 100% !important;

                >DIV.x-panel-body{
                  display: table;
                  width: 100% !important;
                  height: 100% !important;
                }
              }
            }
          }
        }
      }

      IFRAME{
        border: none;
      }
    }
  }

  .x-tool{
    background: url(images/ui/white-close-btn.png) 0 0 no-repeat !important;
    top: -26px !important;
    right: -2px !important;

    &:hover{
      opacity: 0.8;
    }
  }

  &.picture{
    .x-window-ml{
      display: table;
      width: 100%;

      .x-window-mr{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.attachments-window{
  height: 100%;
  @include box-shadow(0 0 5px #333);
  width: 99%;
  margin: 2px 0 0 2px;
}

.preview-container{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;

  IMG{
    display: block;
    margin: 0 auto;
  }
}

.window-container1{
  color: #383838;
  border-top: 1px solid #FCFCFC;
  border-bottom: 1px solid #adadad;

  .window-container2{
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #FCFCFC;
  }
}

.announcements-right{
  .announcement-view-picker{
    display:block;
  }
}

.announcement-view-picker{
  margin-bottom: 15px;
  display: none;

  &.x-item-disabled{
    opacity: 1 !important;
  }

  .x-date-left, .x-date-right{
    display: none;
  }

  .x-date-middle{
    width: 100%;
  }
}

.announcement-view h2, #announcement-form-columns label, .announcementQa-view h2, .ann-details-window label{
  color: #a5a5a5;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}

.announcementQa-view{
  padding: 20px;

  .i-circle{
    display:block;
    height: 9px;
    width: 9px;
    background: url(images/announcement/i.png) no-repeat;
  }

  P{
    color: #383838;
    font-size: 12px;
    margin: 5px 0;
    word-wrap: break-word;
    white-space: pre-wrap;

    B{
      font-size: 14px;
    }
  }
}

.announcement-view{
  padding: 40px 20px 30px;
  width: 443px;
  min-height: 400px;

  .gradient-cnt{
    padding-bottom: 20px;
    font: bold 15px Arial;

    P{
      word-wrap: break-word;
      width: 440px;
      white-space: pre-wrap;
    }

    &.yellow{
      margin-top: -15px;
    }
  }
}

.attachment-container{
  min-height: 74px;
  text-align: center;
  
  #announcement-window-add-attachment{
    position: relative;
    margin: 10px;
    display: block;
    text-align: center;
  }

  .view-attachment{
    margin: 5px 0;
    display: block;
  }
}

.send-container{
  border-top: 1px solid #ADADAD;
  padding-left: 1px;

  >DIV{
    height: 22px;
    display: table-cell;
    width: 218px;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #FDFDFD;
    color: #787878;
    font-family: "Myriad Pro";
    font-size: 11px;
  }
}

.x-date-highlight-0 {
  //background-color: #eee !important;
}

.x-date-highlight-1 {
  //background-color: #bbb !important;
}

.x-date-highlight-2 a{
  //background-color: #888 !important;
  color: #444 !important;
}

.x-date-active.passive a{
  color: #b4b3b3 !important;
}

.x-toolbar:not(.chlk-paginator){
  border-top: 1px solid #a1a1a1 !important;
  border-left: 1px solid #a1a1a1 !important;
  border-right: 1px solid #fafafa !important;
  border-bottom: 1px solid #fafafa !important;
  @include border-radius(7px !important);
}

.chlk-toolbar{

  margin: 3px;
  height: 36px !important;
  width: 659px;

  .xtb-spacer{
    height: 35px;
    border-right: 1px solid #cbcbcb;
  }

  /*.x-toolbar-right{
    border-left: 1px solid #cfcfcf;

    .x-toolbar-right-ct{
      border-left: 1px solid white;
      //padding: 0 8px;
    }
  }*/

  .x-toolbar-cell:not(:last-child){
    table{
      border-right: 1px solid #cfcfcf;
    }
  }

  .x-toolbar-left-row{
    .x-toolbar-cell{
      table{
        border-right: 1px solid #cfcfcf;
      }
    }

    .x-toolbar-cell:last-child{
      table{
        @include box-shadow(1px 0 0 white);
      }
    }
  }

  .x-toolbar-cell:first-child{
    .xtb-spacer, LABEL{
      height: 36px;
      line-height: 36px;
      border-right: 1px solid #cfcfcf;
    }
  }

  .x-toolbar-cell:not(:first-child){
    table{
      border-left: 1px solid white;
    }
  }

  .x-toolbar-right-row{
    .x-toolbar-cell{
      table{
        border-left: 1px solid white;
      }
    }

    .x-toolbar-cell:first-child{
      table{
        @include box-shadow(-1px 0 0 #cfcfcf);
      }
    }
  }

  .x-toolbar-cell{
    //border-left: 1px solid white;
    border-top: 1px solid white;

    table{
      height: 34px !important;

      button{
        padding: 0 7px;
        color: #828282;
        //font-weight: bold;
        font-size: 12px;
      }

      .x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc{
        background: none;
      }

      &.x-btn-pressed, &:hover{
        @include background(linear-gradient(top, #f6f6f6, #d8d8d8));

        button{
          color: #2f7790 !important;
        }
      }
    }
  }

  .x-toolbar-left{
    .x-toolbar-cell:first-child{
      border: none;

      table{
        @include border-radius(5px 0 0 5px);
        border-left: none;
      }
    }
  }
}

/*.app-store{
  .chlk-toolbar{
    .x-toolbar-cell:first-child{
      border-left: 1px solid white;
      border-top: 1px solid white;
  
      table{
        @include border-radius(0);
      }
    }
  }
}*/

.x-date-picker{
  box-shadow: 0 0 5px #c7c7c7;

  >table{
    width:211px !important;
    background: url(images/mini-calendar/header-bg.png) no-repeat;

    thead{
      border-left: 1px solid #BBB;
      border-right: 1px solid #BBB;

      th{
        background: #F4F4F4 !important;
        height: 19px;
        color: #666 !important;
      }
    }

    >tbody{
      >tr:first-child{
        height:35px;

        .x-date-left a, .x-date-right a{
          background: {
            repeat:no-repeat;
            position: center center;
          };
        }

        .x-date-left a{
          background-image: url(images/mini-calendar/arrow-left.png);
        }

        .x-date-right a{
          float:right;
          background-image: url(images/mini-calendar/arrow-right.png);
        }
      }
    }

    button.x-btn-text{
      color: white !important;
      font-family: 'Helvetica';
      font-size: 14px !important;
      font-weight: bold;
    }

    .x-btn-arrow{
      background-image: none !important;
    }

    .x-date-inner{
      width : 210px;
      border-collapse: collapse;

      td {
        border-color: #BBB !important;
        height: 29px !important;
        width: 29px !important;
        background-image: url(images/mini-calendar/active-day.png);

        &.x-date-previous, &.x-date-nextday, &.x-date-prevday, &.x-date-disabled{
          background-image: url(images/mini-calendar/passive-day.png);

          a{
            color: #b4b3b3;
          }
        }

        &.x-date-selected, &.x-date-today{
          a{
            height: 27px;
            background: none;
          }
        }

        &.x-date-today{
          a{
            border: none !important;
            background: #FFA;
          }
        }

        &.x-date-selected{
          background-image: url(images/mini-calendar/current.png);
          a{
            color: #e0e0e0;
            background: none !important;
          }
        }

        a{
          height: 29px;
          display: table-cell;
          width: 29px;
          vertical-align: middle;
          text-align: center;
          padding: 0;
          margin: 0;
          color: #666;

          span{
            font-weight: bold;
          }
        }
      }
    }
  }
}

.feed-wnd-starred-icon {
  background: url(images/feed/star.png) 8px top no-repeat !important;
  padding-left: 35px !important;
  margin-left: -25px;
}

.feed-wnd-unstarred-icon {
  background: url(images/feed/star.png) 8px -18px no-repeat !important;
  padding-left: 35px !important;
  margin-left: -25px;
}

.feed-wnd-loading-icon {
  background: url(images/loader-eaf2f4.gif) 8px 50% no-repeat !important;
  padding-left: 40px !important;
}

.x-date-picker {
  background-color: transparent;
  border-width: 0px;
  overflow: hidden;

  > TABLE {
    //@include border-radius(15px);
    overflow: hidden;

    .x-date-middle, .x-date-left, .x-date-right {
      background: none;
      color: #2f424b;
    }

    .x-date-middle .x-btn .x-btn-text {
      color: #2f424b;
    }

    TD.x-date-previous{
      A.x-date-date{
        color: #aaa;
      }
    }
  }
}

.files-list {
  DIV.item {
    cursor: pointer;
    padding-top: 45px;
    margin: 0 5px;
    background: url(images/file-types/doc.png) 50% 1px no-repeat;

    display: inline-block;
  }
}

.grades-list {
  .attachment {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    @include border-radius(5px);
    background: silver;
  }
}

.attachment-mini17 {
  min-height: 19px;
  line-height: 19px;
  font-style: italic;
  padding-left: 20px;
  background: 0 50% no-repeat;
  margin: 3px;
  max-width: 154px;
  display: inline-block;
}

.attachment-mini17.doc {
  background-image: url(images/file-types/17/doc.png);
}

/* Grade in Announcement details window */
.grade {
  position: absolute;
  right: 30px;
  top: 0px;
  font-size: 35px;
  font-family: 'Saginaw Bold';
  //font-weight: bold;
  width: 140px;
  text-align: center;
  cursor: pointer;
  color: #407d9b !important;
  text-decoration: none;

  &.dropped{
    color: red !important;
  }

  /*&:hover {
    color: red !important;
  }*/
}

.x-form-file-wrap {
  position: relative;
  height: 22px;

  .x-form-file {
    position: absolute;
    right: 0;
    -moz-opacity: 0;
    /*filter:alpha(opacity: 0);*/
    opacity: 0;
    z-index: 2;
    height: 22px;
  }

  .x-form-file-btn {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
  }
}

DIV.recipients-container{
  position: absolute;
  top: 27px;
  width: 434px;
  left: 9px;

  DIV.recipient{
    height: 16px;
    font-size: 12px;
    padding: 0 5px;
    display: inline-block !important;
    background: #DAE2E8;
    @include border-radius(4px);

    SPAN.delete-recipient{
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

//.recipients-combo{
//  border: none;
//  background: white;
//}

.ann-details-window{
  text-shadow: white 0 -1px 1px;

  #attachment-form-fields{
    right: 48px;
  }

  .window-container1{
    border-bottom: none;

    .window-container2{
      border-bottom: none;
    }
  }

  #ask-button{
    BUTTON{
      width: 80px;
    }
  }

  .announcements-right{
    .x-form-item.reminders{
      display:block;
    }
  }

  .x-form-item.reminders{
    display: none;
  }
}

.x-menu-floating{
  z-index: 150000 !important;
}

.grey-list.x-combo-list.super-list:not(.super-combo-list){
  width: 102px !important;

  .x-combo-list-inner{
    width: 102px !important;

    .x-combo-list-item{
      padding-left: 5px !important;
      font: normal 12px Arial !important;
    }
  }
}

.x-superboxselect{
  .x-superboxselect-item{
    background: none;
    border: none;
    padding: 1px 15px 1px 0px !important;

    .x-superboxselect-item-close{
      display: none;
    }

    .x-superboxselect-item-input{
      position: absolute;
      width: 15px;
      right: 0;
      height: 100%;
      border: none;
    }

    .x-form-field-wrap{
      .x-form-trigger{
        width: 12px;
        display: inline-block !important;
      }
    }
  }

  INPUT.new-input, .x-superboxselect-item.new-combo INPUT.x-form-field.x-form-text{
    height: 21px !important;
    line-height: 23px;
    text-align: center;
    text-shadow: 1px 0px 0px white;
    color: #9d9d9d !important;
  }

  INPUT.new-input{
    font: normal 13px Arial;
  }

  .x-superboxselect-item.new-combo INPUT.x-form-field.x-form-text{
    font: normal 12px Arial;
  }
}

.super-combo-list{
  width: 412px !important;
}
