@import "compass/css3/border-radius";

BODY {
  DIV.page{
    .calendar .classes{
      .class-img{
        top: 13px;
        IMG{
          margin-top: -45px !important;
        }
      }
    }

    #content {
      #main {
        .classes {
          height: 101px;
          position: relative;

          //overflow:hidden;

          .class-button {
            height: 76px;
            background: url(images/common/classesbar-controls.png) 5000px 5000px no-repeat;
          }

          .class-button-div {
            margin-left: 17px;
            overflow: visible;
          }

          .class-button-prev, .class-button-next {
            position: absolute;
            top: 2px;
            display: block;
            width: 7px;
          }

          .class-button-prev, .class-button-next{
            height: 76px;
            margin: 4px 0;
          }

          .class-button-prev {
            background: url(images/common/classes-left.png) center center no-repeat;
            left: 3px;
          }

          .class-button-next {
            background: url(images/common/classes-right.png) center center no-repeat;
            right:3px;
          }

          .class-button {
            background-position: center top;
            color: #b6b6b6;
            display: inline-block;
            width: 67px;
            text-decoration: none;
            position: relative;
            border: 3px solid #C9C9C9;
            background-color: #C9C9C9;
            border-radius: 7px;
            margin: 3px;
            text-align: center;

            .class-img{
              background-repeat: no-repeat;
              height: 35px;
              left: 11px;
              position: absolute;
              top: 11px;
              width: 45px;
              overflow: hidden;
            }

            &.x-btn-pressed{
              .class-img{
                top: 13px;
                //background-position: 0 -45px;
                IMG{
                  margin-top: -45px;
                }
              }
            }
            //margin-left: 1px;

            > SPAN {
              text-align: center;
              display: inline-block;
              //width: 100%;
              padding-top: 46px;
              font-size: 12px;
              line-height: 14px;
              font-weight: bold;
              font-family: Arial Narrow, Arial, serif;
              white-space: nowrap;
              //position: relative;

              &.hidden-class-text{
                display: none;
                font-size: 13px;
              }

              &.admin{
                font: bold 38px Arial;
                padding-top: 17px;
                letter-spacing: -3px;

                >SPAN{
                  font: normal 20px Pacifico;
                  display: inline-block;
                  vertical-align: top;
                  padding-top: 6px;
                  padding-left: 3px;
                  letter-spacing: 0;
                }
              }

              .tooltip-announcement{
                top: -33px;
                left: 0;
              }

              &:hover{
                .tooltip-announcement.hovered{
                  display: block;
                  z-index: 10000;
                }
              }
            }

            &.x-btn-pressed {
              background-position: center bottom;
              &:hover {
                background-position: center bottom;
              } 
              > SPAN {
                color: #2f7790;
              }
            }

            &:hover {
              background-position: center center;
            }
          }

          > DIV.pagination {
            z-index: 10;
            display:block;
            text-align:center;
            position:absolute;
            bottom: 12px;
            height: 5px;
            left:2px;
            right:0;
            list-style: none;

            A {
              display: inline-block;
              height: 4px;
              width: 9px;
              margin: 0 4px 0 0;
              background: #748891;

              @include border-radius(2px);
            }

            A.current {
              background: #233036;
            }
          }
        }
      }

      .calendar{
        #main {
          .classes {
            .class-button {
              background-image: url(images/common/classesbar-controls-calendar.png);
            }
          }
        }
      }
    }
  }
}

#course-icon-panel{
  text-align: center;

  IMG{
    border: 1px solod black;
  }
}