@import "compass/css3/border-radius";
@import "compass/css3/images";

$grey-color: #959595;

BODY {
  DIV.page {
    #content {
      > DIV#content-wrapper{
        > DIV#main-wrapper{
          > DIV#main{
            .fund-button{
              @include border-radius(5px);
              width: 75px;
              margin: 0 5px;

              &.accept{
                background: #33bb33;
                border: 1px solid #33bb33;
              }

              &.reject{
                background: #B33;
                border: 1px solid #B33;
              }

              &:hover{
                opacity: 0.8;
              }

              &:active, &[disabled]{
                opacity: 0.6;
              }
            }

          }
        }
      }
    }
  }
}