@import "compass/css3/border-radius";
@import "compass/css3/background-size";
@import "compass/css3/images";
@import "compass/css3/box-shadow";

BODY {

  #cancel-button, .rounded-state-button.link,{
    margin-left: 20px;
    padding: 0 !important;
    background-image: none !important;
    >SPAN{
      background-image: none !important;
      >SPAN{
        background-image: none !important;
        >BUTTON{
          text-decoration: underline;
          font-size: 12px;
          color: #765;
          border: none;
        }
      }
    }
  }

   #private-msg-toggle
      {
      margin: 3px -2px 0px 8px;
      vertical-align: top;
    }

  #pm-details-window, .pm-add-class{
    border-radius: 0;
    border: none;
    background: none;

    .x-window-tl{
      height: 21px;
      background: url(images/private-messages/top-bg.png) 0 0 no-repeat;
    }

    .x-window-bwrap{
      .x-window-ml{
        background: url(images/private-messages/center-bg.png) 0 0 repeat-y;
        padding: 18px 75px 20px 74px;
        @include background-size(543px auto);

        LABEL{
          width: 77px;
          font-size: 13px;
          color: #654a16;
          display: inline-block;
          vertical-align: top;
        }

        .gradient-cnt{

          margin: 20px 0;

          &.sender{
            font: bold 24px Arial;
          }

          &.sender, &.subject, textarea{
            color: #3e4d76;
          }

          &.subject{
            font: normal italic 18px Georgia;
          }

          textarea{
            background: rgba(255, 255, 255, 0.23);
            border: none;
            @include border-radius(0);
            padding: 8px 10px;
            width: 294px;
            border-top: 1px solid #E0C89A;
            font: normal 14px Arial;
            min-height: 100px;
          }

          a#cancel{
            text-decoration: underline;
            font-size: 13px;
            color: #765;
            float: right;
            position: relative;
            top: 13px;
            cursor: pointer;
          }

          &#buttons{
            padding: 0 217px 0 80px;
            
            #send-reply{
              BUTTON{
                width: 70px;
              }
            }
          }
        }
      }

      .x-window-bl{
        height: 20px;
        background: url(images/private-messages/bottom-bg.png) 0 bottom no-repeat;
      }
    }

    &.pm-add-class{
      .x-form-text, textarea.x-form-field{
        @include border-radius(0px);
      }

      #x-form-el-recipient{
        margin: 7px 15px 10px 0px;
      }

      #recipient {
        width: 293px !important;
      }

      #x-form-el-subject{
        margin: 20px 15px 10px 0px;
      }

      #subject, TEXTAREA {
        width: 311px !important;

        &#sent-info{
          background: rgba(255, 255, 255, 0.23);
          border-top: 1px solid #E0C89A;
          border: none;
          color: #3e4d76;
          font: normal 14px Arial;
        }
      }

      #sent-info-label{
        padding: 5px 0;
        padding-left: 87px;
      }

      #x-form-el-body{
        margin-top: 25px;
      }

      .x-window-bwrap{
        .x-window-ml{
          padding-left: 63px;

          LABEL{
            padding-right: 11px;
            padding-top: 0;
          }
        }
      }
    }

    &#pm-details-window{
      .x-window-bwrap{
        .x-window-ml{
          LABEL{
            font: bold 16px Arial;
          }
        }
      }
    }
  }

  DIV.page {
    #content {
      > DIV {
        &.private-messages {
          #main-top, #footer {
            background-image: url(images/private-messages/paper-top-bottom.jpg) !important;
          }

          #main-wrapper {
            background-image: url(images/private-messages/paper-bg.jpg);

            #main {
              > DIV {
                background-color: #c8b088 !important;
                border-color: #a08d6d #f3efe6 #f3efe6 #a08d6d !important;
                border: 1px solid;
                color: #815d38 !important;
                text-shadow: 0 1px 0 white;

                .chlk-toolbar {
                  //background-image: url(images/private-messages/toolbar-bg.gif);
                  @include border-radius(5px);
                  @include background(linear-gradient(top, #f5ebd7, #eadac1));
                  border-top: 1px solid white;
                  border-bottom: 1px solid #968466;
                  color: #3e4d76 !important;

                  INPUT{
                    border-color: #b79f78;
                  }

                  .x-toolbar-right-row{
                    .x-toolbar-cell:first-child{
                      table{
                        @include box-shadow(-1px 0 0 #b79f78);
                      }
                    }

                    .x-toolbar-cell:last-child{
                      TABLE{
                        border: none;

                        .x-btn-tl, .x-btn-ml, .x-btn-bl{
                          width: 0px !important;

                          i{
                            width: 0px !important;
                          }
                        }

                        .x-btn-mr i{
                          width: 6px;
                        }

                        EM{
                          border: 1px solid #b79f78;
                          @include border-radius(0 4px 4px 0);
                          @include background(linear-gradient(top, #f3e9d4, #ddc398));
                          @include box-shadow(inset 0 1px 0 #fefdfb);
                          border-left: none;
                          display: inline-block;

                          &:hover{
                            @include background(linear-gradient(top, #e3d9c4, #cdb388));
                          }

                          BUTTON{
                            background: url(images/private-messages/search.png) center center no-repeat;
                          }
                        }

                        EM, EM BUTTON{
                          height: 24px;
                          width: 24px;
                        }

                        &:hover{
                          background: none;
                        }
                      }
                    }
                  }

                  .x-toolbar-cell{
                    border-top: none;





                    TABLE{
                      height: 36px !important;
                      border-right: 1px solid #b79f78;
                      
                      &.x-btn-pressed, &.x-btn-over{
                        @include background(linear-gradient(top, #f5ead6, #dac6a5));
                      }
                    }

                    BUTTON{
                      color: #3e4d76 !important;
                      font-size: 13px;
                      text-shadow: 0 1px 0 white;

                      &.pm-add{
                        padding-left: 30px;
                      }
                    }
                  }
                }

                &.x-toolbar.chlk-paginator{
                  @include border-radius(7px);

                  .x-btn-small{
                    .x-btn-tr, .x-btn-mr, .x-btn-br{
                      width: 0 !important;

                      i{
                        width: 0!important;
                      }
                    }
                  }

                  .x-toolbar-cell:not(:first-child){
                    .x-btn-small{
                      .x-btn-tl, .x-btn-ml, .x-btn-bl{
                        width: 1px !important;

                        i{
                          width: 1px !important;
                        }
                      }
                    }
                  }

                  .x-toolbar-ct{
                    background-image: url(images/private-messages/navigate-bg.png);
                    background-position: 58px 3px;
                    color: #3e4d76 !important;
                    text-shadow: 0 1px 0 white;
                  }

                  .x-toolbar-left-row{
                    .x-toolbar-cell:nth-child(11){
                      display: none;
                    }

                    .x-toolbar-cell:nth-child(7){
                      SPAN{
                        margin: 0;
                      }
                    }
                  }

                  em{
                    @include background(linear-gradient(top, #f5ebd7, #eadac1));
                    height: 30px !important;
                    width: 26px !important;
                    border-top: 1px solid white;
                    display: inline-block;
                    @include border-radius(6px);
                    margin-bottom: 1px;

                    BUTTON{
                      height: 30px !important;
                      width: 26px !important;
                      margin-left: 0 !important;
                    }

                    .x-tbar-page-first{
                      background-image: url(images/private-messages/navigate-first.png) !important;
                    }

                    .x-tbar-page-prev{
                      background-image: url(images/private-messages/navigate-prev.png) !important;
                    }

                    .x-tbar-page-next{
                      background-image: url(images/private-messages/navigate-next.png) !important;
                    }

                    .x-tbar-page-last{
                      background-image: url(images/private-messages/navigate-last.png) !important;
                    }

                    &:hover{
                      @include background(linear-gradient(top, #f5ead6, #dbc8a7));
                    }
                  }
                }

                .private-messages {
                  > DIV {
                    @include background(linear-gradient(top, #f5ebd7, #eadac1));
                    border-top: 1px solid white;
                    border-bottom: 1px solid #968466;
                    @include box-shadow(0 1px 0 #88785d);
                    height: 82px;
                    display: table;
                    width: 100%;
                    position: relative;

                    &:hover{
                      @include background(linear-gradient(top, #e5dbc7, #dacab1));
                    }

                    &.read {
                      @include background(linear-gradient(top, #ded5c3, #d4c6af));
                      border-top: 1px solid #e8e8e8;

                      &:hover{
                        @include background(linear-gradient(top, #cec5b3, #c4b69f));
                      }
                    }

                    @include border-radius(7px);

                    .chk {
                      display: table-cell;
                      vertical-align: middle;
                      width: 15px;
                      padding-left: 23px;
                    }

                    .av {
                      display: table-cell;
                      vertical-align: middle;
                      width: 57px;
                      padding: 0 19px;

                      .avatar-container{
                        border: none;
                        @include border-radius(0);
                      }
                    }

                    .item {
                      display: table-cell;
                      vertical-align: middle;
                      cursor:pointer;

                      p {
                        font-size: 12pt;
                        word-wrap: break-word;
                        width: 436px;
                        overflow: hidden;
                      }


                      h2 {
                        color: #38456a;
                        font-size: 18px;

                        SMALL{
                          font-style: italic;
                          font-weight: normal;
                        }
                      }
                    }

                    div.sent {
                      background: url(images/private-messages/clock.png) 0 2px no-repeat;
                      padding-left: 15px;
                      position: absolute;
                      bottom: 7px;
                      right: 7px;
                      font-size: 11px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*.x-window.pm-add-class {
  background: url(images/private-messages/send-dlg-bg.jpg);
  width: 541px;
  height: 359px;
  @include border-radius(0px);

  .x-panel-footer {
    height: 75px;
  }

  #x-form-el-recipient{
    margin: 35px 15px 10px 67px;
  }

  #recipient {
    width: 293px !important;
  }

  #subject {
    margin: 11px 15px 10px 67px;
    width: 311px !important;
  }

  #body {
    margin: 11px 15px 10px 67px;
    width: 311px !important;
    height: 107px !important;
  }

  #submit-button{
    width: 146px !important;
    position: absolute;
    left: 163px;
    top: 260px;
    height: 49px;
    opacity: 0;
    padding: 0;

    BUTTON{
      height: 50px;
      width: 147px;
      cursor: pointer;
    }
  }

  #cancel-button{
    position: absolute;
    left: 331px;
    top: 270px;
    width: 40px !important;
    padding: 0 !important;
    background-image: none !important;
    >SPAN{
      background-image: none !important;
      >SPAN{
        background-image: none !important;
        >BUTTON{
          text-decoration: underline;
          font-size: 12px;
          color: #765;
        }
      }
    }
  }

  .x-form-text, textarea.x-form-field{
    @include border-radius(0px);
  }
}*/