@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transition";

$top-font-size: 10px;
$top-font-color: #6c6f73;
$text-color: #2a2d32;
$title-font: normal 48px 'HelveticaNeue UltraLite';
$title-font-family: 'HelveticaNeue UltraLite', Helvetica;
$title-font-size: 48px;
$text-font: normal 13px HelveticaNeue !important;
$text-font-size: 13px !important;
$text-font-family: 'HelveticaNeue', Helvetica;
$hint-color: #c3c6ca;
$input-bg: linear-gradient(top, #ffffff, #f1f1f1);
$input-border-color: #c3c3c3;
$clip-image: "app/po-clip.png";
$btn-image: "app/confirm-button2.png";
$bg-image: "app/po-bg.png";
$scissors-image: "app/po-bottom.png";

BODY {
  #purchase-order{
    background: url(images/app/po-bg.png) center center no-repeat !important;
    width: image-width($bg-image) !important;
    height: image-height($bg-image) !important;
    position: relative;
    border: none !important;
    @include border-radius(0px);


    .x-window-bwrap, .x-window-body{
      overflow: visible;
    }

    .x-panel-body{
      width: 452px !important;
    }

    .po-container{
      padding: 38px 21px 32px;
      color: $text-color;
      font-size: $text-font-size;
      font-family: $text-font-family;

      .clip{
        background: url(images/app/po-clip.png) 0 0 no-repeat;
        height: image-height($clip-image);
        width: image-width($clip-image);
        position: absolute;
        left: 0;
        right: 0;
        top: 5px;
        margin: 0 auto;
      }

      >DIV{
        >DIV{
          display: inline-block;
          vertical-align: top;
        }

        &:not(.top-container){
          text-align: center;
        }

        &.top-container, .sigNav A{
          color: $top-font-color;
          font-size: $top-font-size;
        }

        &.top-container, &.first-po{
          >DIV{
            width: 50%;

            &.right{
              text-align: right;
            }
          }
        }

        &.fourth-po{
          margin-top: 12px;
          >DIV{
            width: 20%;
          }
        }

        &.first-po{
          margin: 31px 0;
        }

        &.second-po{
          margin-top: 37px;

          H2{
            margin-bottom: 10px;
          }
        }

        &.third-po{
          margin-top: 13px;
          padding-bottom: 43px;
          background: url(images/app/po-bottom.png) center bottom no-repeat;

          .sigNav{
            position: relative;
            top: 15px;
            left: 116px;
            color: $top-font-color;
            z-index: 5;

            A{
              background: url(images/app/clear.png) 0 center no-repeat;
              padding-left: 10px;
              display: inline-block;
              text-decoration: none;
            }
          }

          .hint{
            width: 267px;
            position: absolute;
            top: 57px;
            color: $hint-color;
            font-size: $top-font-size;
            left: 0;
            right: 0;
            margin: 0 auto;
          }

          .sigWrapper{
            display: block;
            position: relative;
          }
        }

        &.second-po{
          >DIV{
            width: 25%;
          }
        }
      }

      H1{
        font-size: $title-font-size;
        font-family: $title-font-family;
        text-align: center;
        font-weight: normal;
        margin: 13px 0;
      }

      INPUT, CANVAS{
        @include border-radius(4px);
        border: 1px solid $input-border-color;
        @include background($input-bg);
      }

      CANVAS{
        width: 267px;
        height: 68px;
      }

      INPUT{
        padding: 5px;
        height: 28px;
        text-align: center;

        &.small{
          width: 58px;
        }

        &.big{
          width: 183px;
        }
      }

      #order-confirm-btn{
        background: url(images/app/confirm-button2.png) 0 0 no-repeat;
        height: image-height($btn-image);
        width: image-width($btn-image);
        border: none;
        margin-top: 11px;
        cursor: pointer;

        &:hover{
          opacity: 0.8;
        }

        &:active{
          opacity: 0.6;
        }
      }

      #order-confirm-btn[disabled]{
        opacity: 0.5 !important;
      }
    }
  }
}