@import "compass/css3/border-radius";
@import "compass/css3/images";

$grey-color: #959595;

BODY {
  DIV.page {
    #content {
      > DIV#content-wrapper{
        > DIV#main-wrapper{
          > DIV#main{
            #final-grades-panel, .teacher-final-classes{
              label.blue-arrow.div{
                font: bold 30px Jrhand !important;
                margin-top: 45px;
                letter-spacing: 0;
                word-spacing: 0px;
              }

              .percents-count{
                position: relative;

                &.error{
                  color: #a70e0e;
                }
              }

              .tooltip-announcement{
                display: inline-block;
                font: normal 11px Arial;
                letter-spacing: 0;
                word-spacing: 0;
                top: -18px;
                min-width: 70px;

                .tooltip-content{
                  white-space: nowrap;
                }
              }
            }

            .teacher-setup-classes, .teacher-final-classes{

              #settings-step1{
                text-align: center;

                #tell-button{
                  margin-top: 45px;
                }
              }

              #setup-schedule-view{
                font: normal 12px Georgia;
                font-style: italic;
                color: $grey-color;
                text-shadow: 1px 1px 1px #fafafa;
                position: relative;

                #mistake{
                  position: absolute;
                  bottom: 2px;
                  right: 4px;
                  color: #a5a5a5;
                  text-shadow: 1px 1px 1px #fafafa;
                  font: normal 11px Arial;
                  text-decoration: underline;
                  cursor: pointer;
                }

                h1, h2, h3, h4, h5, h6{
                  color: $grey-color;
                  text-shadow: 1px 1px 1px #fafafa;
                  font-weight: normal;
                }

                h1{
                  font-size: 24px;
                }

                h3{
                  font-size: 18px;
                  border-bottom: 1px solid white;
                  height: 23px;
                  padding-top: 10px;
                }

                #schedule-container{
                  padding: 10px 10px 20px 10px;

                  >DIV{
                    display: table-cell;

                    .course-room{
                      padding-left:25px;
                      float: left;
                    }

                    .top{
                      border-bottom: 1px solid #ffffff;
                    }

                    .bottom{
                      border-top: 1px solid #c2c2c2;
                    }

                    &:first-child{
                      padding: 0 10px 0 30px;
                      vertical-align: top;

                      H1{
                        word-wrap: break-word;
                        max-width: 250px;
                      }

                      .img-container{
                        display: inline-block;
                        width: 45px;
                        height: 28px;
                        overflow: hidden;

                        IMG{
                          width: 37px;
                        }
                      }
                    }

                    &.left{
                      width: 232px;
                      text-align: left;

                      >DIV{
                        display: inline-block;
                      }
                    }

                    &.right{
                      text-align: center;
                      >DIV{
                        float: left;
                        min-width: 70px;

                        >DIV{
                          height: 30px;
                        }

                        P{
                          font-size: 10px;
                        }
                      }
                    }
                  }
                }
              }
            }

            .video-chalkable{
              text-align: center;
              margin: 100px 0 50px 0;
              &.setup-page{
                 margin: 27px 0 50px 0;
              }
            }

            .form-ok{
              width: 20px;
              height: 16px;
              background: url(images/register/ok.png);
              margin-left: 5px;
              display: inline-block;
              vertical-align: top;
              position: relative;
              top: 3px;
            }

            .x-form-field-trigger-wrap{
              .form-ok{
                margin-left: 16px;
              }
            }

            #setup-hello-panel{
              .x-form-text {
                width: 190px !important;
                height: 20px !important;
                font: normal 16px 'Myriad Pro';
                text-shadow: 1px 1px 1px white;
                color: #9D9D9D;
                padding-left: 7px;
                border: 1px solid #c0c0c0;
                box-shadow: #333333 0px 0px 5px false true;

                &.x-form-invalid{
                    border: 1px solid #a91f1f;
                    background: #fff;
                }

                text-align: center;
                margin-bottom: 0;
                border-radius: 0;
                &#salutation-label{
                  border: 1px solid #b1b1b1;
                  @include background(linear-gradient(top, #ffffff, #dadada));
                  margin-top: 5px;
                  padding: 7px;
                  border-radius: 5px;
                  margin-bottom: 35px;
                  width: 155px !important;
                  color: #000;

                  &.simple-preview{
                    margin-top: -38px;
                    border: 0;
                    margin-bottom: 0px;
                    background: none;
                  }
                }
                &.password-field{
                  background-image: url(images/register/lock-icon.png);
                  background-repeat: no-repeat;
                  background-position: 184px 3px;
                }
              }

              #x-form-el-salutation-label{
                .form-ok{
                  display: none;
                }
              }
              .x-panel-body{
                padding-left: 35px;

                #form-title{
                  text-align: center !important;
                   font: bold 32px "Myriad Pro";
                  text-shadow: 1px 1px 1px white;
                  color: #9D9D9D;
                  margin-left: 190px;

                }
              }

               #person-name{
                  margin-top: 40px;
                  margin-left: 130px;
                  margin-bottom: 20px;

                 &.simple-preview{
                   margin-bottom: 0px;
                 }

                 .x-form-valid:nth-of-type(3){
                   .form-ok{
                     display :block;
                   }
                 }

                 .form-ok{
                    right: 40px;
                    position: absolute;
                    top: 3px;
                 }
              }

              #person-name-hint{
                  font: bold 17px "Myriad Pro";
                  text-shadow: 1px 1px 1px white;
                  text-align: right;
                  padding: 0;
                  top: 0px;
                  color: #000;
                  margin-bottom: 25px;
                  margin-right: 15px;

              }

              #salutation-field{

                width: 30px !important;
                margin-right: 15px;
              }

              #firstname-field{
                width: 115px !important;
                margin-right: 15px;
              }

              #lastname-field{
                width: 115px !important;
              }

              #confirm-info-btn{
                margin-left: 230px;
                margin-top: 25px;

                BUTTON{
                  width: 140px;
                }

              }
              
              .x-form-element{
                padding-left: 224px !important;
              }

              .x-form-item{
                position: relative;

                label{
                  width: 215px !important;
                  font: bold 17px "Myriad Pro";
                  text-shadow: 1px 1px 1px white;
                  color: #000;
                  text-align: right;
                  padding: 0;
                  top: 0px;
                  margin-bottom: 19px;
                  margin-right: 15px;
                }
              }

              label#example, LABEL[for="notifications"]{
                position: absolute;
                font: normal 13px 'Myriad Pro';
                width: 300px !important;
                text-shadow: 1px 1px 1px white;
                color: #000;
                text-align: right;
                padding: 0;
              }

              label#example{
                top: 150px;
                left: 130px;
                background: url(images/register/hint-arrow.png) 120px 3px no-repeat;
                height: 50px;
                padding-top: 19px;
              }

              LABEL[for="notifications"]{
                left: 136px;
                top: -2px;
              }

              LABEL.div{
                margin-top: 133px;
                font-size: 35px !important;
                word-spacing: 11px;
              }
            }
          }
        }
      }
    }
  }
}

.grey-list.x-combo-list, .yellow-list.x-combo-list{
  z-index: 99999999 !important;
  max-height: 350px;
  overflow-y: auto;
  border-radius: 5px;
  height: auto !important;

  .x-combo-list-inner{
    background: transparent;
    height: auto !important;

    .x-combo-list-item{
      border: none;
    }
  }
}

.grey-list.x-combo-list {
  border: 1px solid #c9c9c9;
  margin-top: 2px;
  @include background(linear-gradient(top, #ffffff, #efefef));

  &.carrier{
    width: 260px !important;

    .x-combo-list-inner{
      width: 260px !important;
    }
  }

  .x-combo-list-inner{
    .x-combo-list-item{
      color: #9D9D9D;
      padding-left: 15px;
      font: normal 16px 'Myriad Pro';

      &.x-combo-selected{
        border-radius: 5px;
        border: 1px solid #c9c9c9 !important;
        @include background(linear-gradient(top, #ffffff, #dadada));
      }
    }
  }

  &.list-register{
    background-image: url(images/index/textfield_brown.png) !important;
    background-size: 100% 100% !important;
    width: 387px !important;

    .x-combo-list-inner{
      .x-combo-list-item{
        font: 500 24px Helvetica, Arial, "Lucida Grande", sans-serif  !important;
        color: #564d40;
      }
    }
  }
}

.yellow-list.x-combo-list {
  @include border-radius(0 0 5px 5px) ;
  border: 1px solid #af9c60;
  background: #efe6ce;
  overflow: hidden;

  .x-combo-list-inner{
    border-top: 1px solid white;

    .x-combo-list-item{
      font: bold 14px Arial;
      color: #532f18;
      text-align: center;

      &:first-child{
        margin-top: 4px;
      }

      &:last-child{
        border-radius: 0 0 5px 5px;
      }

      &.x-combo-selected{
        border: none !important;
        background: white;
      }
    }
  }
}

#admin-invite{
  padding: 10px;

  .teachers-container{
    height: 210px;
    overflow-y: auto;

    .teacher-item{
      display: inline-block;
      margin: 0 10px 10px 0;
      width: 162px;
      height: 42px;
      overflow: hidden;
      font-size: 10px;
      cursor: pointer;
      position: relative;
      vertical-align: top;
      @include background(linear-gradient(top, #edf3f6, #d3e4eb));
      @include border-radius(6px);
      border: 1px solid #acced8;
      padding: 8px 7px;
      color: #165268;
      font: normal 14px Arial;

      &:hover{
        @include background(linear-gradient(top, #dde3e6, #c3d4db));
      }

      &.pressed{
        @include background(linear-gradient(top, #cdd3d6, #b3c4cb));
      }

      >IMG{
        display: inline-block;
        margin-right: 8px;
      }

      >DIV{
        display: inline-block;
        vertical-align: top;
        height: 45px;
        width: 110px;

        >A{
          display: inline-block;
          min-height: 20px;
          vertical-align: middle;
          width: 110px;
          font-size: 14px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &.email{
            font-size: 11px;
          }
        }
      }
    }
  }
}