.dialog.add-school.gray
    .x-window-header
        span Add/Edit School
    .x-window-body
        .general-info
            span.x-fieldset-header-text General Information
            +ActionForm('sysadmin', 'schools')
