@import "_app_wrapper";
@import "_app_error";

#chlk-dialogs{
  .base-attachment-dialog{
      width: auto;
      border: none;

      @include box-shadow(inset 0 1px -1px 1px #828282);
      @include border-radius(0);

      background: transparent;

      top: 50px;
      left: 90px;
      right: 90px;
      position: fixed;
      bottom: 10px;

      .window-error-message{
        font-size: 40px;
        position: relative;
        text-align: center;
        .error-title{
          font-family: Arial;
          color: #ffffff;
        }
        .error-text{
          font-size: 25px;
          font-family: Pacifico;
          color: #ffffff;
        }
      }

      h1{
        text-align: center;
        font: bold 18px Arial;
        color: #434343;
        margin-bottom: 29px;
      }

      &.app-install{
        width: 620px;
      }


    .x-window-header{
      .x-close-btn{
        background: url(images/ui/white-close-btn.png) 0 0 no-repeat !important;
        display: inline-block;
        width: 24px;
        height: 24px;
        float: right;
        cursor: pointer;

        &:hover{
          opacity: 0.8;
        }
      }

      .toolbar{
        position: absolute;
        left:0;
        top: -16px;

        >DIV, >A{
          display: inline-block;
          padding: 11px 15px 12px 11px;
          background: #070707;
          color: white;
          font: bold 14px Arial;
          word-spacing: 3px;
          @include box-shadow(inset 0px 0 0px 1px #3A3A3A);
          border: 1px solid #070707;
          text-decoration: none;
          cursor: pointer;

          &#add-app{
          }
          &#save-app{
          }

          &:hover{
            opacity: 0.7;
          }
        }
      }
    }

    .iframe-wrap{
      background: url(images/app/debut_dark.png);
      border: 1px solid black;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100% !important;
      width: 100%;
      display: table;

      .picture-container{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      iframe{
        border: 0;
        width: 100% !important;
        height: 99.5% !important;
      }
    }


  }
}