.alerts-pop-up
  display: none
  padding: 4px 10px 4px 0
  z-index: 99999999999
  width: 268px
  @include box-shadow(0 0 2px gray)
  text-align: left

  .alert-item
    text-overflow: ellipsis

    &:not(:last-child)
      border-bottom: 1px solid #ebe6d9

    .alert-icon
      display: inline-block
      vertical-align: middle
      background-repeat: no-repeat
      background-position: center
      width: 61px
      height: 61px
      &.internet
        background-image: image_url('images/icons/internet-alert.png')

      &.medical
        background-image: image_url('images/icons/medical-alert.png')

      &.special
        background-image: image_url('images/icons/bubble-alert.png')

      &.sped
        background-image: image_url('images/icons/graduating-cap-alert.png')

    .alert-description
      display: inline-block
      vertical-align: middle
      padding: 6px 0
      width: 202px
      white-space: normal