.ui-autocomplete
  +box-shadow(transparentize(#000, .7) 0 2px 8px)
  z-index: 100000 !important

  li
    a
      color: #6e6e6e
      font-size: 13px
//      &.ui-state-focus
//        @include background(linear-gradient(#3875d7 20%,#2a62bc 90%))
//        color: white
    
  

