.popup-bubble
  position: absolute
  +box-shadow(transparentize(#000, .7) 0 2px 16px)
  text-align: center
  z-index: 99

  > *
    white-space: nowrap
    margin: 5px 0

.chat-bubble
  position: relative

  >*
    word-break: break-all

.chat-bubble, .popup-bubble
  padding: 17px 19px 34px
  border-radius: 3px

  &, &::before
    background: #fff
    border: 1px solid #c8c7c3

  &::before
    content: ' '
    position: absolute
    +rotate(-135deg)
    top: 17px
    left: -7px
    width: 12px
    height: 12px
    pointer-events: none
    border-width: 1px 1px 0 0


  &.right::before
    +rotate(45deg)
    right: -7px
    left: auto

  &.top
    &::before
      +rotate(-45deg)
      top: -7px
      left: 17px

    &.right::before
      right: 10px
      left: auto

  &.bottom::before
    +rotate(135deg)
    top: auto
    bottom: -7px
    left: 17px

  &.centered::before
    left: 50%
    margin-left: -3px
