.combo-list
  display: none
  position: absolute
  top: 30px
  left: 0
  right: 3px
  padding-top: 3px
  border-radius: 3px
  z-index: 1
  text-align: left

  .connector
    position: absolute
    height: 3px
    top: -1px
    left: 39px
    width: 76px


  .option
    overflow: hidden
    text-overflow: ellipsis
    display: block

    &.selected
      font-weight: 600
  

