.feed-item
  border: 1px solid #c8c7c3
  border-radius: 5px
  margin: 8px 0 0
  +box-shadow(transparentize(#000, .91) 0 2px 3px)

  padding: 0 24px 0 63px
  position: relative

  .star
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 63px

    &::before
      content: ' '
      position: absolute
      left: 15px
      top: 24px
      height: 32px
      width: 32px
      +icons-sprite(todo)
      opacity: .75

    &:hover::before
      opacity: 1

    &.complete
      display: none

      &::before
        +icons-sprite(done)

  &.complete
    .star
      display: none

    .star.complete
      display: block

  .announcement-link
    padding-left: 42.5%
    position: relative
    display: block
    text-decoration: none

    .title
      left: 0
      top: 27px
      width: 41%
      position: absolute
      white-space: nowrap
      vertical-align: middle
      text-overflow: ellipsis
      overflow: hidden

      font-size: 20px
      line-height: 25px
      font-weight: 700
      color: #2f7790
      +text-shadow(transparentize(#fff, .5) 0 1px 0)

      letter-spacing: -1px

    .date
      left: 0
      top: 56px
      width: 262px
      position: absolute

      font-size: 11px
      line-height: 15px
      color: #7b7974
      +text-shadow(transparentize(#fff, .25) 0 1px 0)

  .attachment, .grades, .visible
    padding-right: 32px
    position: relative

    &::before
      content: ' '
      position: absolute
      right: -8px
      top: 24px
      height: 32px
      width: 32px

  .attachment::before
    +icons-sprite(attachment)

  .grades::before
    +icons-sprite(grades)

  .visible::before
    +icons-sprite(invisible)

  &.no-attachments .attachment, &.no-attachment-icon .attachment, &.non-gradable .grades, &.visible-for-students .visible
    padding-right: 0
    &::before
      display: none

  .content
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    word-break: break-all
    font-size: 13px
    line-height: 80px
    color: #2b2a28
    +text-shadow(transparentize(#fff, .5) 0 1px 0)