mixin DemoRoleButton(name, title, notReady)
    BUTTON.demo-role-button(data-rolename=name)(attributes)= title ? title : name

-apps = self.getDeveloperApps()
-currentAppId = self.getCurrentAppId()

+AppsList('dev-apps-list', apps, currentAppId)#dev-apps-list.left
#roles-buttons
    +DemoRoleButton('Teacher')
    +DemoRoleButton('Student')
    +DemoRoleButton('Admin', null, true).coming
    +DemoRoleButton('Parent', null, true).coming
    +DemoRoleButton('District', null, true).coming