#classes-bar-container
  margin: 0 -1px

.classes-bar
  margin: 0 -5px 16px

  .item
    position: relative
    display: inline-block
    width: 80px
    border-radius: 3px
    border: 1px solid #c8c7c3
    +box-shadow(transparentize(#000, 0.74) 0 1px 3px)
    background: #ffffff

    margin: 0 5px

    color: #7b7974
    text-align: center
    text-decoration: none
    line-height: 32px
    padding-top: 48px
    font-size: 12px
    font-weight: 300
    +text-shadow(transparentize(#fff, .5) 0 1px 0px)

    cursor: pointer
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

    .img-wrapper
      position: absolute
      top: 8px
      left: 17px
      height: 40px
      width: 45px
      opacity: .75
      overflow: hidden

      IMG
        position: absolute
        top: 0
        left: 0
        border: 0

        //-webkit-filter: invert(100%)
        //filter: invert(100%)

    &:hover
      color: #7b7974
      .img-wrapper
        opacity: 1


    &.pressed
      &, &:hover
        background-color: #56554f
        color: #ffffff
        +text-shadow(transparentize(#000, .5) 0 1px 0px)
        .img-wrapper
          opacity: 1

        IMG
          //-webkit-filter: invert(0%)
          //filter: invert(0%)


