.dialog
  position: absolute
  z-index: 1000
  background: #fff
  border-radius: 5px
  +box-shadow(transparentize(#000, .8) 0 0 5px)
  padding: 25px

  .x-window-body


#chlk-dialogs
  position: absolute
  top: 70px
  left: 6%
  right: 6%
  height: 0
  z-index: 1000


#chlk-overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 999
  background: transparentize(#2f7790, .2)
