#page
  width: 88%
  min-width: 960px
  margin: 0 auto

header
  margin: 0 -1px 22px
  padding: 0 1px
  background: image-url("images2/chalkable.png") 1px 0 no-repeat
  height: 69px
  line-height: 69px
  vertical-align: middle
  text-align: right

  *
    display: inline

footer
  line-height: 76px
  font-size: 12px
  font-weight: 300
  color: #a3a29e

#content
  background: #ffffff
  border: 1px solid #c8c7c3
  +box-shadow(transparentize(#000, .82) 0 2px 5px)

  vertical-align: top