#sidebar
  width: 81px
  display: table-cell
  background: #e7e6e2

  position: relative
  &::after
    content: ' '
    position: absolute
    right: 1px
    width: 3px
    top: 0
    bottom: 0
    z-index: 1
    +background-image(linear-gradient(left, transparentize(#000, 1) 0%, transparentize(#000, .95) 100%))

  &::before
    content: ' '
    position: absolute
    right: 0
    width: 1px
    top: 0
    bottom: 0
    z-index: 1
    background: #c8c7c3

  > A
    display: block
    width: 80px
    color: #a19f9c
    border: solid #c8c7c3
    border-width: 1px 1px 1px 0
    border-top-color: #f3f3f1
    border-right-color: transparent

    text-align: center
    text-decoration: none
    line-height: 42px
    padding: 32px 0 4px
    font-size: 12px
    font-weight: 300

    &:hover
      background-color: #f1f0ee
      &::before
        opacity: 1

    &.active
      z-index: 2
      &, &:hover
        border-top-color: #ffffff
        border-right-color: #ffffff
        background-color: #ffffff
        &::before
          opacity: 1

    position: relative
    &::before
      content: ' '
      position: absolute
      top: 14px
      left: 24px
      width: 32px
      height: 32px
      opacity: .75

  @each $button in inbox, new-item, apps, messages, people, grades, discipline, attendance, calendar
    .#{$button}::before
      +icons-sprite($button)