.text-filter-cnt
    INPUT(name="filter", placeholder="Search Group Names...", value=self.getFilter()).groups-filter.top-filter.submit-on-change
.top-info-cnt
    .left-block.i-b
        .box-checkbox.circle
            +Checkbox('allGroups', false, false, true).all-groups-check.all-items-check
        LABEL.text All
    .right-block.i-b.right
        +ActionLink('group', 'create') Group
.groups-cnt.items-cnt
    .items-cnt-2
        +RenderWith(self.getModel(), chlk.templates.controls.group_people_selector.GroupsListItemsTpl)(
            userRole = self.getUserRole(),
            selected = self.getSelected()
        )