each student in self.getModel().getItems()
    .recipient-item.student-item
        .recipient-check-cnt.box-checkbox.circle
            +Checkbox('personCheck', false, false, true)(
                data-id=student.getId().valueOf()
            ).recipient-check.student-check
        .recipient-icon.student-icon
            +PersonImg(student, 47)
        .recipient-name=student.getDisplayName()