.text-filter-cnt
    .search-with-right-icon-cnt
        INPUT(name="filter", type="text", placeholder="Search first or last name", value=self.getFilter(), data-value=self.getFilter()).students-filter.top-filter
        .icon
.filters-cnt
    .filter-cnt.sort-by-cnt
        LABEL.filter-label Sort by
        +Select("byLastName").by-last-name.submit-on-change
            +Option(0, "First Name", !self.isByLastName())
            +Option(1, "Last Name", self.isByLastName())
    if self.getUserRole().isAdmin()
        .filter-cnt.school-cnt
            LABEL.filter-label School
            +Select("schoolId")(firstEmpty = true).school-id
                +Option('', "", !self.getSchoolId())
                each school in self.getSchools() || []
                    +Option(school.getId().valueOf(), school.getName(), school.getId() == self.getSchoolId())
    else
        +Hidden('classId').school-id
    .filter-cnt.grade-level-cnt
        LABEL.filter-label Grade
        +Select("gradeLevelId")(firstEmpty = true).grade-level-id
            +Option('', "", !self.getGradeLevelId())
            each grade in self.getGradeLevels() || []
                +Option(grade.getId().valueOf(), grade.getName(), grade.getId() == self.getGradeLevelId())
    if self.getUserRole().isAdmin()
        .filter-cnt.class-cnt
            LABEL.filter-label Class
            +Select("classId")(firstEmpty = true).class-id.submit-on-change
                +Option('', "", !self.getClassId())
                each clazz in self.getClasses() || []
                    +Option(clazz.getId().valueOf(), clazz.getName() + " " + clazz.getClassNumber(), clazz.getId() == self.getClassId())
    else
        +Hidden('classId').class-id
    .filter-cnt.program-cnt
        LABEL.filter-label Program
        +Select("programId")(firstEmpty = true).program-id.submit-on-change
            +Option('', "", !self.getProgramId())
            each program in self.getPrograms() || []
                +Option(program.getId().valueOf(), program.getName(), program.getId() == self.getProgramId())
.top-info-cnt
    .left-block.i-b
        if self.getSelectorMode() != chlk.models.recipients.SelectorModeEnum.VIEW_WITH_GROUPS
            .box-checkbox.circle.v-m
                +Checkbox('allPersons', false, false, true).all-persons-check.all-items-check
            LABEL.text.v-m All
        else if self.isHasAccessToLE()
            +ActionLink('teachers', 'giveLECredits', self.getClassId()).le-link LEARNING EARNINGS
    .right-block.i-b.right
        .results-count=self.getCountText()
.persons-cnt.items-cnt
    +Hidden('start', 0).start-value
    .items-cnt-2
        +RenderWith(self.getUsers(), chlk.templates.controls.group_people_selector.PersonItemsTpl)(
            userRole = self.getUserRole(),
            currentUser = self.getCurrentUser(),
            selected = self.getSelected(),
            hasAccessToLE = self.isHasAccessToLE(),
            selectorMode = self.getSelectorMode(),
            messagingDisabled = self.isMessagingDisabled()
        )