mixin TooltipWithOverflow(text)
    -attributes['data-tooltip'] = text
    -attributes['data-tooltip-type'] = 'overflow'
    p(attributes)=text

mixin Calendar(data, bodyTpl, bodyModel, controller, actions, params)
    h2.page-title Calendar
    -var currentAction = actions.currentAction
    -var todayAction = actions.todayAction || actions.currentAction
    if actions.day && actions.week && actions.month
        -params.unshift(bodyModel.getCurrentDate().format('mm-dd-yy'))
        .action-bar
            .items
                +ActionLinkWithPrepend(controller, actions.day, params)(class = actions.day == currentAction ? 'pressed' : '')= Msg.Day
                +ActionLinkWithPrepend(controller, actions.week, params)(class = actions.week == currentAction ? 'pressed' : '')= Msg.Week
                +ActionLinkWithPrepend(controller, actions.month, params)(class = actions.month == currentAction ? 'pressed' : '')= Msg.Month
        -params.shift()
    .buttons
        block
    .chlk-calendar(attributes)
        .header
            +CalendarHeader(data, controller, bodyModel, actions, params)
        .calendar-body
            +RenderWith(bodyModel, bodyTpl)(
                userRole = data.getUserRole()
                mainCalendar = true
            )

mixin CalendarHeader(data, controller, bodyModel, actions, params)
    -var currentAction = actions.currentAction
    -var todayAction = actions.todayAction || actions.currentAction

    .calendar-today-container.x-hidden
        -params.unshift('')
        +ActionLinkWithPrepend(controller, todayAction, params).calendar-today.week=Msg.Today
        -params.shift()
    .prev-month-container
        if bodyModel.getPrevDate()
            -params.unshift(bodyModel.getPrevDate().format('mm-dd-yy'))
            +ActionLinkWithPrepend(controller, currentAction, params).prev-month.week.teacher &lt;
            -params.shift()
        else
            A.prev-month.week.teacher
    .current-month-container
        label.current-month=bodyModel.getCurrentTitle()
    .next-month-container
        if bodyModel.getNextDate()
            -params.unshift(bodyModel.getNextDate().format('mm-dd-yy'))
            +ActionLinkWithPrepend(controller, currentAction, params).next-month.week &gt;
            -params.shift()
        else
            A.next-month.week
