.header
        .header-container
            .buttons-container
                .buttons
                    .calendar-today-container
                        +ActionLink('calendar', 'month', null, selectedId).calendar-today
                    .prev-month-container
                        if self.getPrevDate()
                            +ActionLink('calendar', 'month', self.getPrevDate().format('mm-dd-yy'), selectedId).prev-month
                        else
                            A.prev-month
                    .current-month-container
                        label.current-month=self.getCurrentTitle()
                    .next-month-container
                        if self.getNextDate()
                            +ActionLink('calendar', 'month', self.getNextDate().format('mm-dd-yy'), selectedId).next-month
                        else
                            A.next-month
                    .calendar-day-container
                        +ActionLink('calendar', 'day').calendar-day
                            span.tooltip
                    .calendar-week-container
                        +ActionLink('calendar', 'week').calendar-week
                            span.tooltip
                    .calendar-month-container
                        +ActionLink('calendar', 'month').calendar-month.pressed
                            span.tooltip
    .day-names
        div
           p Sunday
        div
            p Monday
        div
            p Tuesday
        div
            p Wednesday
        div
            p Thursday
        div
            p Friday
        div
            p Saturday
    .items