
+LeftRightToolbar(self.getTopData().getTopItems(), chlk.templates.classes.TopBar)(
    disabledClass = 'x-hidden'
).classes-bar
.error-container
    .text=self.getText()
    +ActionLinkButton('feed','doToList').return-btn.blue-gradient-btn=Msg.Return_to_Homepage
