.settings
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .items
                a.action-link.pressed Messaging

    +ActionForm('settings', 'updateMessagingSettings').messaging-block.no-working
        .check-box-container
            label(for="settings-studentmessagingenabled").title Allow student to student messaging
            +SlideCheckbox('studentmessagingenabled', self.isAllowedForStudents(), false).all-students
        .check-box-container.sub
            label(for="settings-studenttoclassmessagingonly").title Only allow students in the same classes to message each other
            +SlideCheckbox('studenttoclassmessagingonly', self.isAllowedForStudentsInTheSameClass(), false, !self.isAllowedForStudents())(disabled = !self.isAllowedForStudents()).sudents-in-same-class
        .check-box-container
            label(for="settings-teachertostudentmessaginenabled").title Allow teacher to student messaging
            +SlideCheckbox('teachertostudentmessaginenabled', self.isAllowedForTeachersToStudents(), false).teachers-to-students
        .check-box-container.sub
            label(for="settings-teachertoclassmessagingonly").title Only allow teachers to message students in their classes
            +SlideCheckbox('teachertoclassmessagingonly', self.isAllowedForTeachersToStudentsInTheSameClass(), false, !self.isAllowedForTeachersToStudents())(disabled = !self.isAllowedForTeachersToStudents()).teachers-in-same-class
