mixin ResetPasswordBlock_(withOldPasswordField)
    .block
        h2.header Change Password
        .fields
            +Button().special-button.yellow-button#changePasswordLink(href='javascript:')
                |Change Password
        .x-hidden#changePasswordForm
            +ActionForm('account', 'changePassword')#info-edit-form.with-ok
                .title
                    .name-block
                        .row
                            +Hidden('withOldPassword', withOldPasswordField)
                            if withOldPasswordField
                                input(name="oldPassword", type="password", class="validate[required] padding-1-3", placeholder=Msg.Old_Password)
                        .row
                            input(name="newPassword", id="newPassword", type="password", class="validate[required,minSize[6]] padding-1-3 text", placeholder=Msg.New_Password)
                        .row
                            input(name="newPasswordConfirmation", id="newPasswordConfirmation", type="password", class="validate[required, equals[newPassword]] padding-1-3 text", placeholder=Msg.New_Password_Confirm)
                .section-buttons
                    +Button()(type="submit").special-button.yellow-button#submit-pwd-button=Msg.Save
                    +Button()(type="button").special-button.settings.cancel-button#cancell-edit-pwd-button=Msg.Cancel


.settings
    .general
        +ResetPasswordBlock_(self.isWithOldPassword())