.settings
    .row

        .ActionLink('a', 'b').blue-gradient-btn Change password
         if self.IsPreferencesVisible()
             .ActionLink('a', 'b').blue-gradient-btn Preferences
         if self.IsAppCategoriesVisible()
             .ActionLink('a', 'b').blue-gradient-btn Application categories


    .row
        .ActionLink('a', 'b').blue-gradient-btn Departments
        .ActionLink('a', 'b').blue-gradient-btn Storage monitor
        .ActionLink('a', 'b').blue-gradient-btn Background task monitor



