.settings
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                +ActionLink('settings', 'dashboard').pressed General
            .right
                +ActionLink('account', 'profile', self.developerId) Profile
    .row
        +ActionLinkButton('developer', 'paypalSettings').special-button.yellow-button PayPal
    .row
        id = self.currentAppId ? self.currentAppId.valueOf() : null
        appName = self.getCurrentAppName() || ''
        if id
            +ActionLinkButton('apps', 'tryDeleteApplication', id, appName).special-button.yellow-button Delete application
    .row
        +ActionLinkButton('developer', 'viewChangePassword').special-button.yellow-button Change Password