.settings
    .developer
    .search-wrapper
        #search-bar
    .wrapper
        .row
            +ActionLink('account', 'profile') Profile
        .row
            +ActionLink('account', 'resetPassword') Delete application




