+SchoolPersonSettings()
    .left
        +ActionLink('settings', 'generalStudent').pressed General
    .right
        +ActionLink('students', 'details', self.personId).profile-toolbar-button Profile