+SchoolPersonSettings()
    .items
        +ActionLink('settings', 'generalStudent').pressed General
        +ActionLink('reporting', 'studentComprehensiveProgressReport')=Msg.Reports
        +ProfileLink(self, 'student', self.personId, true).profile-toolbar-button Profile