+SchoolPersonSettings()
    .left
        +ActionLink('settings', 'generalStudent').pressed General
    .right
        +ProfileLink(self, 'student', self.personId, true).profile-toolbar-button Profile