+SchoolPersonSettings()
    .left
        +ActionLink('settings', 'generalTeacher').pressed General
    .right
        +ProfileLink(self, 'teacher', self.personId, true).profile-toolbar-button Profile