+SchoolPersonSettings()
    .left
        +ActionLink('settings', 'generalTeacher').pressed General
    .right
        +ActionLink('teachers', 'details', self.personId).profile-toolbar-button Profile