+SchoolPersonSettings()
    .items
        +ActionLink('settings', 'generalTeacher').pressed General
        +ActionLink('setup', 'categoriesSetup')=Msg.Setup
        +ProfileLink(self, 'teacher', self.personId, true).profile-toolbar-button Profile
