+SchoolPersonSettings()
    .left
        +ActionLink('settings', 'generalTeacher').pressed General
        //+ActionLink('grading', 'teacherSettings') Grading
    .right
        +ActionLink('teachers', 'info', self.personId).profile-toolbar-button Profile