@using Chalkable.Web.Common
@using Chalkable.Web.Models
@model IList<RoleViewData>

@{
    Layout = "~/Views/Shared/_BasicDemoLayout.cshtml";
    ViewBag.Title = "Demo";
}

@section BottomScripts {

    <script type="text/javascript">

        var errorMessage = HtmlEncode('@ViewData.GetValueOrNull(ViewConstants.ERROR_MESSAGE_KEY)');
        var demoPrefix = '@ViewData.GetValueOrNull(ViewConstants.DEMO_PREFIX_KEY)';
        
        jQuery(document).ready(function () {
            /*if (thisBrowser.isIE) {
                var ffIcon = joinUrls(WEB_SITE_ROOT, "/Content/images/common/firefox-icon.png");
                var chrIcon = joinUrls(WEB_SITE_ROOT, "/Content/images/common/chrome-icon.png");
                var ieIcon = joinUrls(WEB_SITE_ROOT, "/Content/images/common/ie-icon.png");
                addMessage({
                    html:
                           '<div id = "ie-error-popup">' +
                                  '<h3 class="title">For better experience we recommend:</h3>' +
                                  '<div class ="browser-buttons">' +
                                      '<a href="https://www.google.com/chrome"  class="chrome-download-btn"><img src="' + chrIcon + '"><span class="text">Chrome&nbsp;&gt;&gt;</span></a>' +
                                      '<a href="http://download.mozilla.org/?lang=en-US&product=firefox-18.0.2&os=win" class="firefox-download-btn"><img src="' + ffIcon + '"><span class="text">Firefox&nbsp;&gt;&gt;</span></a>' +
                                      '<div class="ie-msg">You are currently using <img src="' + ieIcon + '">Internet Explorer</div>' +
                                  '</div>' +
                           '</div>',

                    width: 530,
                    height: 245,
                    close: true
                });
            };*/

            jQuery('body').addClass('login');
            jQuery('.demo').animate({
                height: '701px',
                width: '730px',
                top: '0',
                left: '0',
                opacity: '1',
                backgroundPosition: '0 0',
                borderRadius: '1px !important'
            }, 500, function () {
                jQuery('.buttons-container').fadeIn();
            });
            jQuery('#home-logo').attr('href', WEB_SITE_ROOT);

            if (errorMessage) {
                alert(errorMessage);
                window.location.href = WEB_SITE_ROOT + '#start';
            }
        });
    </script>
}

@Html.ValidationSummary(true, "Looks like that's an incorrect email and password. If you're having trouble, click 'Forgot Info' below.")

    <span class="demo">
        <div class="buttons-container">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    switch (item.Name) 
                        {
                        case "AdminGrade": <a class="Admin" href="javascript:void(0)"></a>; break;
                        case "Teacher":
                        case "Student": <a class="@item.Name" href='LogOnIntoDemo.json?rolename=@item.Name&prefix=@ViewData[ViewConstants.DEMO_PREFIX_KEY]'></a>; break;
                        }
                }
            }
        </div>
    </span>