if self.getType() == chlk.models.standard.ItemType.SEARCH
    .breadcrumb-item.search-breadcrumb-item=self.getName()
else
    +ActionLink('standard', 'showForBreadcrumb', self.getType(), self.getName(), self.getSubjectId(), self.getStandardId(), self.getAuthorityId(), self.getDocumentId(),
        self.getSubjectDocumentId(), self.getGradeLevelCode(), self.getABStandardId()).breadcrumb-item=self.getName()