+ActionLink('apps', 'list').apps(title="View Applications") Apps
+ActionLink('apps', 'assessment-settings').assessment(title="Assessment") Assessment
+ActionLink('settings', 'dashboard').settings(title="View Settings") Settings