+ActionLink('apps', 'general').apps(title="My Apps") My Apps
+ActionLink('apps', 'add').new-item(title="New App") New App
+ActionLink('developer', 'api').api(title="API") API Explorer
+ActionLink('developer', 'docs').docs(title="Docs") Docs
+ActionLink('settings', 'dashboard').settings(title="View Settings") Settings