+ActionLink('apps', 'details')#home-logo
#sidebar-controls
    .search-wrapper
        #search-bar
    .wrapper
        .buttons-row
            +ActionLink('apps', 'details').one-third-button.apps-info(title="App info") App Info
            +ActionLink('messages', 'list').one-third-button.api(title="API") API Explorer
            +ActionLink('people', 'list').one-third-button.docs(title="Docs") Docs
        .buttons-row
            +ActionLink('settings', 'dashboard').one-third-button.settings(title="View Settings") Settings