+ActionLink('feed', 'doToList').inbox(title="View Feed") Feed
+ActionLink('announcement','add').add-new.new-item(title="Add new item") New Item
//+ActionLink('funds', 'view').people(title="View Funds") Funds
//+ActionLink('settings', 'dashboardAdmin').settings(title="View Settings") Settings
