+ActionLink('feed', 'doToList')#home-logo
    div#home-logo-link
#sidebar-controls
    .search-wrapper
        #search-bar
            +SearchBox(chlk.services.SearchService, "search", chlk.templates.search.SiteSearch)#siteSearch(name="siteSearch")

    .wrapper
        .buttons-row
            +ActionLink('calendar', 'month').one-third-button.calendar(title="View Calendar") Calendar
            +ActionLink('message', 'page', false, true).one-third-button.messages(title="View Messages") Messages
            +ActionLink('students', 'my').one-third-button.people(title="View People") People
        .buttons-row
            +ActionLink('grading', 'summaryAll').one-third-button.statistic(title="View Grades") Grades
            +ActionLink('appmarket', 'list').one-third-button.apps(title="View Apps") Apps
            +ActionLink('settings', 'dashboardStudent').one-third-button.settings(title="View Settings") Settings
+ListForWeekCalendar()