+ActionLink('feed', 'list')#home-logo
#sidebar-controls
    .search-wrapper
        #search-bar
            +SearchBox(chlk.services.SearchService, "search", chlk.templates.search.SiteSearch)#siteSearch(name="siteSearch")

    .wrapper
        .buttons-row
            +ActionLink('calendar', 'month').one-third-button.calendar(title="View Calendar") Calendar
            +ActionLink('message', 'page').one-third-button.messages(title="View Messages") Messages
            +ActionLink('students', 'all').one-third-button.people(title="View People") People
        .buttons-row
            +ActionLink('grading', '').one-third-button.statistic(title="View Grades") Grades
            +ActionLink('app-market', 'list').one-third-button.apps(title="View Apps") Apps
            +ActionLink('settings', 'dashboardAdmin').one-third-button.settings(title="View Settings") Settings