+ActionLink('feed', 'doToList').inbox(title="View Feed") Feed
+ActionLink('appmarket', 'list').apps(class= self.isAppStoreEnabled == true ? "" : "disabled" title="View Apps") Apps
+ActionLink('calendar', 'month').calendar(title="View Calendar") Calendar
+ActionLink('grading', 'summaryAll').statistic.grades(title="View Grades") Grades
+ActionLink('message', 'page', false, true).messages(title="View Messages") Messages
+ActionLink('students', 'my').people(title="View People") People
+ActionLink('settings', 'dashboardStudent').settings(title="View Settings") Settings
