a#home-logo Home
#sidebar-controls
    .search-wrapper
        #search-bar
    .wrapper
        .buttons-row
            +ActionLink('schools', 'view').one-third-button.peoples.pressed(title="View Schools") Schools
            +ActionLink('applications', 'index').one-third-button.apps(title="View Applications") Apps
            +ActionLink('settings', 'dashboard').one-third-button.settings(title="View System Types") Settings
        .buttons-row
            +ActionLink('funds', 'list').one-third-button.statistic(title="View Purchase Order") Purchase Order
            +ActionLink('settings', 'signup').one-third-button.settings(title="View Signups") Signups
#invite-button-container