+ActionLink('district', 'list').people(title="View Districts") Districts
+ActionLink('apps', 'list').apps(title="View Applications") Apps
+ActionLink('settings', 'dashboard').settings(title="View System Types") Settings
