+ActionLink('feed', 'doToList').inbox(title="View Inbox") Inbox
+ActionLink('announcement','add').add-new.new-item(title="Add new item") New Item
+ActionLink('appmarket', 'list').apps(title="View Apps") Apps
+ActionLink('message', 'page', false, true).messages(title="View Messages") Messages
+ActionLink('students', 'my').people(title="View People") People
+ActionLink('grading', 'summary').statistic.grades(title="View Grades") Grades
+ActionLink('discipline', 'list').discipline(title="View Discipline") Discipline
+ActionLink('attendance', 'summary').attendance(title="View Attendance") Attendance
+ActionLink('calendar', 'month').calendar(title="View Calendar") Calendar
+ActionLink('settings', 'dashboardTeacher').settings(title="View Settings") Settings
